@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: bold inherit '微軟正黑體';
  vertical-align: baseline;
<<<<<<< HEAD
=======
  -webkit-box-sizing: border-box;
>>>>>>> a627b91288355714767ff29dcba4947141b18acb
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 900;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-size: 16px;
  font-weight: bold;
  font-family: '微軟正黑體';
  text-decoration: none;
}

h1, h2, h3, h4, h5, p {
  font-weight: 900;
}

body {
  overflow-x: hidden;
  position: relative;
}

.about_wrap {
  width: 100vw;
  height: 100vh;
}

#about_scene1 {
  width: 100vw;
  height: 100%;
  border: 5px solid green;
  position: relative;
  overflow: hidden;
}

#about_scene1 .about_street {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../images/about/house.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#about_scene1 .people {
  position: absolute;
  height: 200px;
}

#about_scene1 .about_people1 {
  bottom: 50px;
  right: 35vw;
}

#about_scene1 .about_people2 {
  bottom: 40px;
  right: 30vw;
  animation: walk2 28s linear infinite;
}

#about_scene1 .about_people3 {
  bottom: 55px;
  right: 25vw;
}

#about_scene1 .about_people4 {
  bottom: 30px;
  right: 50vw;
  animation: walk1 30s linear infinite;
}

#about_scene1 .about_people5 {
  bottom: 60px;
  right: 85vw;
}

#about_scene1 .about_people6 {
  bottom: 40px;
  animation: bike 15s linear infinite;
}

@keyframes bike {
  0% {
    right: -10vw;
    bottom: 40px;
  }
  100% {
    right: 110vw;
    bottom: 40px;
  }
}

@keyframes walk1 {
  0% {
    right: 60vw;
  }
  8% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  58% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    right: -10vw;
  }
}

@keyframes walk2 {
  0% {
    right: 30vw;
  }
  8% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  58% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    right: 110vw;
  }
}

#about_scene1 .about_street_end {
  opacity: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#about_scene1 .about_street_end img {
  width: 100%;
  height: 100%;
}

.about_shopInfo {
  width: 80%;
  max-width: 550px;
  height: auto;
  padding: 40px;
  color: #172852;
  position: fixed;
  top: 50%;
<<<<<<< HEAD
  transform: translateY(-50%);
=======
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
>>>>>>> a627b91288355714767ff29dcba4947141b18acb
  background-color: rgba(255, 255, 255, 0.9);
  font-weight: 900;
  line-height: 30px;
  font-size: 16px;
<<<<<<< HEAD
  box-shadow: 0px 0px 20px #555;
=======
  -webkit-box-shadow: 0px 0px 20px #555;
          box-shadow: 0px 0px 20px #555;
>>>>>>> a627b91288355714767ff29dcba4947141b18acb
  display: none;
}

.about_history {
  left: 10%;
}

.about_brand {
  right: 10%;
}

#about_scene2 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#about_scene2 .about_farmerDetail_box {
  width: 70%;
  height: 60%;
  background-color: #ccc;
  position: fixed;
  top: 50%;
  left: 50%;
<<<<<<< HEAD
  transform: transalte(-50%, -50%);
=======
  -webkit-transform: transalte(-50%, -50%);
          transform: transalte(-50%, -50%);
>>>>>>> a627b91288355714767ff29dcba4947141b18acb
}

.about_island {
  -webkit-transform: scaleY(0.7);
          transform: scaleY(0.7);
}

.about_taiwan {
  opacity: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../../images/about/aboutUs_bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
}

.about_taiwan img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.about_taiwan_end {
  opacity: 1;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: relative;
}

.about_taiwan_end img {
  width: 100%;
  height: 100%;
}

.about_place1, .about_place2, .about_place3, .about_place4 {
  position: fixed;
  top: 50%;
<<<<<<< HEAD
  transform: translateY(-50%);
=======
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
>>>>>>> a627b91288355714767ff29dcba4947141b18acb
  width: 600px;
  height: 220px;
  padding: 40px 50px;
  display: none;
}

.about_place1 h1, .about_place2 h1, .about_place3 h1, .about_place4 h1 {
  width: 150px;
  height: 40px;
  padding: 5px 20px;
  background-color: #172852;
  color: #fff;
  position: absolute;
  text-align: center;
  line-height: 30px;
  font-weight: 900;
  font-size: 26px;
  left: 10px;
  top: 10px;
}

.about_place1 div, .about_place2 div, .about_place3 div, .about_place4 div {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px 20px;
<<<<<<< HEAD
  box-shadow: 0px 0px 20px #555;
=======
  -webkit-box-shadow: 0px 0px 20px #555;
          box-shadow: 0px 0px 20px #555;
>>>>>>> a627b91288355714767ff29dcba4947141b18acb
}

.about_place1 div h3, .about_place2 div h3, .about_place3 div h3, .about_place4 div h3 {
  color: #172852;
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 20px;
}

.about_place1 div p, .about_place2 div p, .about_place3 div p, .about_place4 div p {
  color: #172852;
  font-weight: 900;
}

.about_place1 a, .about_place2 a, .about_place3 a, .about_place4 a {
  width: 150px;
  padding: 8px 20px;
  background-color: #bb866a;
  position: absolute;
  right: 50px;
  bottom: 5px;
  color: #fff;
  text-align: center;
  border-radius: 25px;
  font-weight: 900;
}

.about_place1 {
  left: 30%;
}

.about_place2 {
  right: 5%;
}

.about_place3 {
  right: 20%;
}

.about_place4 {
  left: 25%;
}

.about_farmerDetail_bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
}

.about_farmerDetail_bg .about_farmerDetail_box {
  width: 60%;
  max-width: 1000px;
  height: auto;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  padding: 50px;
}

.about_farmerDetail_bg .about_farmerDetail_box img {
  width: 180px;
  height: 180px;
  float: left;
}

.about_farmerDetail_bg .about_farmerDetail_box .about_farmerDetail_title {
  display: inline-block;
  height: 180px;
  width: 220px;
  position: relative;
  margin-left: 20px;
}

.about_farmerDetail_bg .about_farmerDetail_box .about_farmerDetail_title h2 {
  font-size: 24px;
  color: #bb866a;
  margin-bottom: 10px;
}

.about_farmerDetail_bg .about_farmerDetail_box .about_farmerDetail_title h3 {
  color: #cba89a;
}

.about_farmerDetail_bg .about_farmerDetail_box .about_farmerDetail_title p {
  color: #172852;
  position: absolute;
  left: 0;
  bottom: 0;
}

.about_farmerDetail_bg .about_farmerDetail_box i.fa-times {
  font-size: 24px;
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
}

.about_farmerDetail_bg .about_farmerDetail_box .about_farmerDetail_text {
  color: #172852;
  margin-top: 30px;
  font-weight: 900;
}
/*# sourceMappingURL=about.css.map */