@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "微軟正黑體";
}

.cart_cartBoard {
  /* border: 1px solid red; */
  background-color: #ffffff;
  font-size: 0;
  width: 600px;
  height: 100vh;
  z-index: 991;
  position: fixed;
  right: -600px;
  top: 0;
  -webkit-transition: .5s all linear;
  transition: .5s all linear;
}

.cart_cartBoard img {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .cart_cartBoard {
    width: 100%;
  }
}

.cart_cart {
  /* border: 1px solid red; */
  margin: 0 auto;
  width: 500px;
}

@media screen and (max-width: 600px) {
  .cart_cart {
    width: 90%;
  }
}

.cart_cartTitle {
  /* border: 1px solid green; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0 18px;
}

.cart_cartTitle > p {
  /* border: 1px solid blue; */
  font-size: 28px;
  font-weight: bold;
  margin: 0;
  display: inline-block;
}

.cart_cartTitle > div {
  /* border: 1px solid blue; */
  width: 25px;
  height: 25px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  /* margin-right: 18px; */
  cursor: pointer;
  position: relative;
}

.cart_left {
  background-color: #bb866a;
  border-radius: 5px;
  width: 25px;
  height: 4px;
  position: absolute;
  top: calc((25px - 4px) / 2);
  left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cart_right {
  background-color: #bb866a;
  border-radius: 5px;
  width: 25px;
  height: 4px;
  position: absolute;
  top: calc((25px - 4px) / 2);
  left: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

/* ========== 商品細項 ========== */
.cart_itemList {
  border-top: 2px solid #bb866a;
  border-bottom: 2px solid #bb866a;
  list-style: none;
  padding: 0 0 5px;
  height: calc(100vh - 86px - 70px - 47px - 60px);
  overflow: auto;
  text-align: center;
}

.cart_item {
  border-bottom: 2px dashed #bb866a;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart_customization {
  border-bottom: 2px dashed #bb866a;
  padding: 30px 0;
}

.cart_customizationItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart_itemCB {
  border: solid 2px #172852;
  background-color: #ffffff;
  border-radius: 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.cart_choose {
  background-color: #172852;
}

.cart_itemImg {
  /* border: 1px solid blue; */
  width: 70px;
  height: 70px;
  margin: auto 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart_itemText {
  /* border: 1px solid red; */
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.cart_itemText > p {
  /* border: 1px solid red; */
  text-align: left;
  margin: 0;
  color: #172852;
  font-size: 14px;
  font-weight: bold;
}

.cart_itemText span {
  /* border: 1px solid; */
  color: #172852;
  text-align: center;
}

.cart_itemQuantity {
  /* border: 1px solid red; */
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart_itemQuantity > input[type="text"] {
  border: 1.5px solid #172852;
  border-right: none;
  border-left: none;
  font-weight: bold;
  font-size: 16.5px;
  width: 50px;
  height: 25px;
  color: #172852;
  text-align: center;
  outline: none;
}

.cart_itemQuantity > button:nth-child(1) {
  border: 1.5px solid #172852;
  background-color: #c4c4c4;
  color: #172852;
  font-weight: bold;
  font-size: 16px;
  padding: 0;
  width: 25px;
  height: 25px;
  cursor: pointer;
  padding: 0px 1px 2px;
}

.cart_itemQuantity > button:nth-child(3) {
  border: 1.5px solid #172852;
  background-color: #ffffff;
  color: #172852;
  font-weight: bold;
  font-size: 16px;
  padding: 0;
  width: 25px;
  height: 25px;
  cursor: pointer;
  padding: 0px 1px 2px;
}

.cart_itemRight {
  /* border: 1px solid blue; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart_itemDelete {
  /* border: 1px solid blue; */
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
}

.cart_leftD {
  background-color: #172852;
  border-radius: 5px;
  width: 20px;
  height: 3px;
  position: absolute;
  top: calc((20px - 3px) / 2);
  left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cart_rightD {
  background-color: #172852;
  border-radius: 5px;
  width: 20px;
  height: 3px;
  position: absolute;
  top: calc((20px - 3px) / 2);
  left: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.cart_detailBtn {
  border-radius: 15px;
  background-color: #bb866a;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  height: 30px;
  font-size: 12px;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

/* ========== 禮盒明細 ========== */
.cart_detailBorder {
  display: none;
}

.cart_detail {
  /* border: 1px solid red; */
  margin-top: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart_detailItem {
  /* border: 1px solid green; */
  color: #172852;
  margin-right: 5px;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}

.cart_detailQuantity {
  /* border: 1px solid orange; */
  font-size: 14px;
  font-weight: bold;
  color: #172852;
}

/* ========== 刪除多個按鈕 ========== */
#cart_deleteMany {
  /* background-color: #a3a3a3; */
  color: #ffffff;
  border-radius: 15px;
  width: 100px;
  height: 30px;
  padding: 5px 20px;
  margin: 10px 0 30px;
  font-size: 14px;
  cursor: default;
}

/* ========== 購物車無商品 ========== */
.cart_NoItem {
  /* border: 1px solid red; */
  display: inline-block;
  margin-top: calc((100% - 104px) / 3);
  display: none;
}

.cart_NoItem > div {
  /* border: 1px solid green; */
  width: 60px;
  margin: 0 auto;
}

.cart_NoItem > p {
  /* border: 1px solid green; */
  font-size: 18px;
  font-weight: bold;
  color: #a3a3a3;
  margin: 20px 0 0;
  cursor: default;
}

/* ========== 小計 ========== */
.cart_total {
  /* border: 1px solid blue; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

.cart_total > p {
  /* border: 1px solid green; */
  margin: 0;
  font-weight: bold;
  color: #172852;
  position: relative;
}

.cart_total > p:nth-child(1) {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.cart_total > p:nth-child(2) {
  font-size: 24px;
}

.cart_total span {
  color: #172852;
}

/* ========== 前往結帳 ========== */
.cart_checkout {
  background-color: #172852;
  width: 600px;
  height: 60px;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

@media screen and (max-width: 600px) {
  .cart_checkout {
    width: 100%;
  }
}

/* ================================== 不用複製 =================================== */
/*# sourceMappingURL=cart.css.map */