@charset "UTF-8";
.navbar {
  width: 100%;
  height: 100px;
  position: relative;
  top: 0px;
  left: 0;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  z-index: 900;
}

.navbar .navbar-logo {
  margin-left: 10px;
  width: 60px;
  height: 60px;
}

.navbar .navbar-logo img {
  width: 100%;
  height: 100%;
}

.navbar .navbar-icon {
  display: flex;
  justify-content: flex-start;
  margin: 0 20px 0 0px;
}

.navbar .navbar-icon a {
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
}

.navbar .navbar-icon i {
  color: #bb866a;
  font-size: 28px;
}

.navbar .ham_container {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 10;
}

.navbar .ham_container .ham_bar {
  width: 30px;
  height: 4px;
  background-color: #bb866a;
  border-radius: 10px;
  margin: 6px 0;
  transition: 0.4s;
}

.navbar .ham_change .ham_bar1 {
  background-color: white;
  transform: rotate(-45deg) translate(-6px, 5px);
}

.navbar .ham_change .ham_bar2 {
  opacity: 0;
}

.navbar .ham_change .ham_bar3 {
  background-color: white;
  transform: rotate(45deg) translate(-8px, -8px);
}

.navbar .ham_overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 0;
  top: 0;
  right: 0;
  background-color: #b48164;
  overflow: hidden;
  transition: 0.5s;
}

.navbar .ham_overlay .ham_overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin: 10px auto;
}

.navbar .ham_overlay .ham_jelly {
  width: 300vw;
  height: 290vw;
  position: absolute;
  top: -302vw;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 45%;
  background-color: #cba89a;
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, 0) rotateZ(0deg);
  }
  50% {
    transform: translate(-50%, -2%) rotateZ(180deg);
  }
  100% {
    transform: translate(-50%, 0%) rotateZ(360deg);
  }
}

.navbar .ham_overlay .ham_select {
  margin: 0 auto;
  text-align: left;
  width: 200px;
}

.navbar .ham_overlay a {
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
  display: block;
  letter-spacing: 2px;
  opacity: 0;
  transition: all .5s;
}

.navbar .ham_overlay a:hover {
  color: #fad689;
}

.navbar .ham_overlay a:hover:before {
  background-color: #fad689;
}

.navbar .ham_overlay a::before {
  content: "\A";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 20px;
  background-color: transparent;
  transition: all .3s;
}

* {
  box-sizing: border-box;
  font-family: "微軟正黑體";
  color: #bb866a;
}

body {
  margin: 0;
  background-image: url("../../images/cart/bg.png");
  background-size: cover;
  background-attachment: fixed;
}

img {
  width: 100%;
}

.checkout_container {
  width: 80%;
  max-width: 1200px;
  margin: 100px auto;
}

/* ========== 訂單處理階段 ========== */
.checkout_stage {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.checkout_step {
  text-align: center;
  font-size: 0;
}

.checkout_payment > div, .checkout_confirm > div {
  width: 40px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  color: #a3a3a3;
  border: solid 3px #a3a3a3;
  background-color: #ffffff;
  border-radius: 50%;
  line-height: 35px;
}

.checkout_payment > p, .checkout_confirm > p {
  margin: 5px 0 0;
  font-size: 18px;
  font-weight: bold;
  color: #a3a3a3;
}

.checkout_payment {
  margin: 0 100px;
}

.checkout_orderData > div:first-child {
  width: 40px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  color: #f7c242;
  border: solid 3px #f7c242;
  background-color: #ffffff;
  border-radius: 50%;
  line-height: 35px;
}

.checkout_orderData > p {
  margin: 5px 0 0;
  font-size: 18px;
  font-weight: bold;
  color: #f7c242;
}

.checkout_orderData > div:first-child, .checkout_payment > div:first-child {
  position: relative;
}

.checkout_line1 {
  background-color: #a3a3a3;
  width: 135px;
  height: 2px;
  position: absolute;
  top: 18px;
  right: -138px;
}

.checkout_line2 {
  background-color: #a3a3a3;
  width: 135px;
  height: 2px;
  position: absolute;
  top: 18px;
  right: -138px;
}

/* ========== 訂單內容大標 ========== */
.checkout_orderTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* ========== 訂單內容 ========== */
.checkout_orderContent {
  display: flex;
}

/* ========== 左邊 ========== */
.checkout_left {
  width: 60%;
}

/* 標題 */
.checkout_contentTitle {
  padding: 10px 0 10px 40px;
  font-size: 0;
}

.checkout_contentTitle > p {
  display: inline-block;
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  color: #cba89a;
}

.checkout_contentTitle > p:nth-child(1) {
  width: 50%;
}

.checkout_contentTitle > p:nth-child(2), .checkout_contentTitle > p:nth-child(3) {
  width: 25%;
}

/* 商品細項 */
.checkout_list {
  border-top: 2px solid #cba89a;
  border-bottom: 2px solid #cba89a;
  list-style: none;
  padding: 0 0 5px;
  margin: 0;
  height: 400px;
  overflow: auto;
}

.checkout_item {
  border-bottom: 2px dashed #cba89a;
  display: flex;
  font-size: 0;
  padding: 15px 0;
}

.checkout_customization {
  border-bottom: 2px dashed #cba89a;
  font-size: 0;
  padding: 15px 0;
}

.checkout_customizationItem {
  display: flex;
}

.checkout_itemCB {
  border: solid 2px #172852;
  background-color: #ffffff;
  border-radius: 5px;
  align-self: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.checkout_choose {
  background-color: #172852;
}

.checkout_itemImg {
  width: 100px;
  height: 100px;
  margin: 0 20px;
  display: flex;
}

.checkout_itemName {
  width: 165px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 5px;
}

.checkout_itemName > p {
  margin: 0;
  font-size: 16px;
  color: #172852;
  font-weight: bold;
  word-break: break-word;
}

.checkout_detailBtn {
  border-radius: 15px;
  background-color: #bb866a;
  color: #ffffff;
  display: flex;
  width: 120px;
  height: 30px;
  font-size: 12px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* ========== 禮盒明細 ========== */
.checkout_detailBorder {
  display: none;
}

.checkout_detail {
  margin-top: 15px;
  justify-content: center;
  display: flex;
}

.checkout_detailItem {
  color: #172852;
  margin-right: 5px;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}

.checkout_detailQuantity {
  font-size: 14px;
  font-weight: bold;
  color: #172852;
}

.checkout_quantity {
  width: 142px;
  margin: auto 0;
  display: flex;
}

.checkout_quantity > input[type="text"] {
  border: 1.5px solid #172852;
  border-right: none;
  border-left: none;
  font-weight: bold;
  font-size: 16.5px;
  width: 50px;
  height: 25px;
  color: #172852;
  text-align: center;
  outline: none;
}

.checkout_quantity > button:nth-child(1) {
  border: 1.5px solid #172852;
  background-color: #c4c4c4;
  color: #172852;
  font-weight: bold;
  font-size: 16px;
  padding: 0;
  width: 25px;
  height: 25px;
  cursor: pointer;
  padding: 0px 1px 2px;
}

.checkout_quantity > button:nth-child(3) {
  border: 1.5px solid #172852;
  background-color: #ffffff;
  color: #172852;
  font-weight: bold;
  font-size: 16px;
  padding: 0;
  width: 25px;
  height: 25px;
  cursor: pointer;
  padding: 0px 1px 2px;
}

.checkout_unitPrice {
  width: 110px;
  margin: auto;
  font-size: 14px;
  font-weight: bold;
  color: #172852;
}

.checkout_unitPrice > span {
  font-size: 16px;
  font-weight: bold;
  color: #172852;
}

.checkout_delete {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  margin: auto;
}

.checkout_leftD {
  background-color: #172852;
  border-radius: 5px;
  width: 20px;
  height: 3px;
  position: absolute;
  top: calc((20px - 3px) / 2);
  left: 0;
  transform: rotate(45deg);
}

.checkout_rightD {
  background-color: #172852;
  border-radius: 5px;
  width: 20px;
  height: 3px;
  position: absolute;
  top: calc((20px - 3px) / 2);
  left: 0;
  transform: rotate(135deg);
}

.checkout_deleteMany {
  color: #ffffff;
  border-radius: 15px;
  width: 120px;
  height: 30px;
  margin-top: 15px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout_right {
  width: calc(40% - 30px);
  margin-left: 30px;
}

.checkout_discountBorder {
  box-shadow: 0 0 24px 0 rgba(25, 28, 54, 0.15);
  background-color: #ffffff;
  padding: 15px;
}

.checkout_discountBorder > p {
  margin: 0 0 15px;
  font-weight: bold;
  font-size: 16px;
  color: #cba89a;
}

.checkout_discount {
  display: flex;
  justify-content: space-between;
}

#checkout_discountNumber {
  border: none;
  border-radius: 5px;
  background-color: #f0ebe9;
  width: 240px;
  height: 30px;
  outline: none;
  padding: 10px;
  color: #172852;
  font-weight: bold;
}

::placeholder {
  color: #cba89a;
}

.checkout_discount > input:focus {
  border: 2px solid #172852;
}

.checkout_send {
  border: none;
  background-color: #a3a3a3;
  border-radius: 5px;
  color: #ffffff;
  width: 70px;
  height: 30px;
  font-weight: bold;
  cursor: default;
}

.checkout_moneyDetail {
  box-shadow: 0 0 24px 0 rgba(25, 28, 54, 0.15);
  background-color: #ffffff;
  margin-top: 30px;
  padding: 15px;
}

.checkout_money, .checkout_discountMoney {
  display: flex;
  justify-content: space-between;
}

.checkout_discountMoney {
  margin-top: 15px;
}

.checkout_money > p, .checkout_Total > p, .checkout_discountMoney > p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.checkout_money > p:first-child, .checkout_Total > p:first-child, .checkout_discountMoney > p:first-child {
  color: #cba89a;
}

.checkout_money > p:last-child, .checkout_Total > p:last-child, .checkout_money span, .checkout_Total span {
  color: #172852;
}

.checkout_discountMoney > p:last-child, .checkout_discountMoney span {
  color: #dc3838;
}

.checkout_removeDiscount {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.checkout_none {
  display: none;
}

.checkout_removeDiscount > div {
  background-color: #cba89a;
  color: #ffffff;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 25px;
}

.checkout_Total {
  border-top: 2px solid #cba89a;
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  padding-top: 15px;
}

.checkout_checkout {
  background-color: #172852;
  box-shadow: 0 0 24px 0 rgba(25, 28, 54, 0.15);
  color: #ffffff;
  display: block;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  padding: 20px 0;
  text-decoration: none;
}

.checkout_maybe {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 30px;
}

.checkout_maybe > p {
  margin: 0;
  color: #172852;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.checkout_maybe > a {
  background-color: #cba89a;
  color: #ffffff;
  border-radius: 15px;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  width: 200px;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout_pushItemBorder {
  display: flex;
}

.checkout_pushItemSlider {
  width: 90%;
  overflow: hidden;
}

.checkout_pushItemList {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 1365px;
  position: relative;
}

.checkout_pushItem {
  width: 120px;
  text-align: center;
  margin-right: 75px;
  float: left;
}

.checkout_pushItem > p {
  margin: 0;
  color: #172852;
  font-size: 14px;
  font-weight: bold;
}

.checkout_pushItem > div {
  background-color: #bb866a;
  border-radius: 15px;
  color: #ffffff;
  font-size: 14px;
  padding: 3px 0;
  margin-top: 15px;
  cursor: pointer;
}

.checkout_pushItemBtn {
  width: 5%;
  display: inline-flex;
}

.checkout_pushItemBtnL {
  width: 25px;
  margin: auto 0;
  font-size: 0;
  cursor: pointer;
}

.checkout_pushItemBtnR {
  width: 25px;
  margin: auto 0;
  font-size: 0;
  margin-left: calc(100% - 25px);
  cursor: pointer;
}
/*# sourceMappingURL=checkout.css.map */