@charset "UTF-8";
.navbar {
  width: 100%;
  height: 100px;
  position: relative;
  top: 0px;
  left: 0;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 900;
}

.navbar .navbar-logo {
  margin-left: 10px;
  width: 60px;
  height: 60px;
}

.navbar .navbar-logo img {
  width: 100%;
  height: 100%;
}

.navbar .navbar-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
}

.navbar .navbar-icon a {
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
}

.navbar .navbar-icon i {
  color: #bb866a;
  font-size: 28px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "微軟正黑體";
  color: #bb866a;
}

body {
  margin: 0;
  background-image: url("../../images/cart/bg.png");
  background-size: cover;
  background-attachment: fixed;
}

img {
  width: 100%;
}

.checkout_container {
  border: 1px solid black;
  width: 80%;
  max-width: 1200px;
  margin: 100px auto;
}

/* ========== 訂單處理階段 ========== */
.checkout_stage {
  border: 1px solid red;
<<<<<<< HEAD
  display: flex;
  justify-content: center;
=======
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
>>>>>>> a627b91288355714767ff29dcba4947141b18acb
  margin-bottom: 30px;
}

.checkout_step {
  border: 1px solid blue;
  text-align: center;
  font-size: 0;
}

.checkout_payment > div, .checkout_confirm > div {
  width: 40px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  color: #a3a3a3;
  border: solid 3px #a3a3a3;
  background-color: #ffffff;
  border-radius: 50%;
  line-height: 35px;
}

.checkout_payment > p, .checkout_confirm > p {
  margin: 5px 0 0;
  font-size: 18px;
  font-weight: bold;
  color: #a3a3a3;
}

.checkout_payment {
  margin: 0 100px;
}

.checkout_orderData > div {
  width: 40px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  color: #f7c242;
  border: solid 3px #f7c242;
  background-color: #ffffff;
  border-radius: 50%;
  line-height: 35px;
}

.checkout_orderData > p {
  margin: 5px 0 0;
  font-size: 18px;
  font-weight: bold;
  color: #f7c242;
}

/* ========== 訂單內容大標 ========== */
.checkout_orderTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* ========== 訂單內容 ========== */
.checkout_orderContent {
  border: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* ========== 左邊 ========== */
.checkout_left {
  width: 60%;
}

/* 標題 */
.checkout_contentTitle {
  padding: 10px 0 10px 40px;
  font-size: 0;
}

.checkout_contentTitle > p {
  display: inline-block;
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  color: #cba89a;
}

.checkout_contentTitle > p:nth-child(1) {
  width: 50%;
}

.checkout_contentTitle > p:nth-child(2), .checkout_contentTitle > p:nth-child(3) {
  width: 25%;
}

/* 商品細項 */
.checkout_list {
  border-top: 2px solid #cba89a;
  border-bottom: 2px solid #cba89a;
  list-style: none;
  padding: 0 0 5px;
  margin: 0;
}

.checkout_item {
  border-bottom: 2px dashed #cba89a;
<<<<<<< HEAD
=======
  display: -webkit-box;
  display: -ms-flexbox;
>>>>>>> a627b91288355714767ff29dcba4947141b18acb
  display: flex;
  font-size: 0;
  padding: 15px 0;
}

.checkout_customization {
  border-bottom: 2px dashed #cba89a;
  font-size: 0;
  padding: 15px 0;
}

.checkout_customizationItem {
<<<<<<< HEAD
=======
  display: -webkit-box;
  display: -ms-flexbox;
>>>>>>> a627b91288355714767ff29dcba4947141b18acb
  display: flex;
}

.checkout_itemCB {
  border: solid 2px #172852;
  background-color: #ffffff;
  border-radius: 5px;
<<<<<<< HEAD
  align-self: center;
=======
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
>>>>>>> a627b91288355714767ff29dcba4947141b18acb
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.checkout_choose {
  background-color: #172852;
}

.checkout_itemImg {
  width: 100px;
  margin: 0 20px;
}

.checkout_itemName {
  width: 165px;
<<<<<<< HEAD
  display: flex;
  flex-direction: column;
  justify-content: space-around;
=======
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
>>>>>>> a627b91288355714767ff29dcba4947141b18acb
  padding-right: 5px;
}

.checkout_itemName > p {
  margin: 0;
  font-size: 16px;
  color: #172852;
  font-weight: bold;
  word-break: break-word;
}

.checkout_detailBtn {
  border-radius: 15px;
  background-color: #bb866a;
  color: #ffffff;
<<<<<<< HEAD
=======
  display: -webkit-box;
  display: -ms-flexbox;
>>>>>>> a627b91288355714767ff29dcba4947141b18acb
  display: flex;
  width: 120px;
  height: 30px;
  font-size: 12px;
  font-weight: bold;
<<<<<<< HEAD
  align-items: center;
  justify-content: center;
=======
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
>>>>>>> a627b91288355714767ff29dcba4947141b18acb
  cursor: pointer;
}

/* ========== 禮盒明細 ========== */
.checkout_detailBorder {
  border: 1px solid blue;
}

.checkout_detail {
  margin-top: 15px;
<<<<<<< HEAD
  justify-content: center;
=======
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
>>>>>>> a627b91288355714767ff29dcba4947141b18acb
  display: flex;
}

.checkout_detailItem {
  color: #172852;
  margin-right: 5px;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}

.checkout_detailQuantity {
  font-size: 14px;
  font-weight: bold;
  color: #172852;
}

.checkout_quantity {
  width: 142px;
  margin: auto 0;
<<<<<<< HEAD
=======
  display: -webkit-box;
  display: -ms-flexbox;
>>>>>>> a627b91288355714767ff29dcba4947141b18acb
  display: flex;
}

.checkout_quantity > input[type="text"] {
  border: 1.5px solid #172852;
  border-right: none;
  border-left: none;
  font-weight: bold;
  font-size: 16.5px;
  width: 50px;
  height: 25px;
  color: #172852;
  text-align: center;
  outline: none;
<<<<<<< HEAD
}

.checkout_quantity > button:nth-child(1) {
  border: 1.5px solid #172852;
  background-color: #c4c4c4;
  color: #172852;
  font-weight: bold;
  font-size: 16px;
  padding: 0;
  width: 25px;
  height: 25px;
  cursor: pointer;
  padding: 0px 1px 2px;
}

.checkout_quantity > button:nth-child(3) {
  border: 1.5px solid #172852;
  background-color: #ffffff;
  color: #172852;
  font-weight: bold;
  font-size: 16px;
  padding: 0;
  width: 25px;
  height: 25px;
  cursor: pointer;
  padding: 0px 1px 2px;
}

=======
}

.checkout_quantity > button:nth-child(1) {
  border: 1.5px solid #172852;
  background-color: #c4c4c4;
  color: #172852;
  font-weight: bold;
  font-size: 16px;
  padding: 0;
  width: 25px;
  height: 25px;
  cursor: pointer;
  padding: 0px 1px 2px;
}

.checkout_quantity > button:nth-child(3) {
  border: 1.5px solid #172852;
  background-color: #ffffff;
  color: #172852;
  font-weight: bold;
  font-size: 16px;
  padding: 0;
  width: 25px;
  height: 25px;
  cursor: pointer;
  padding: 0px 1px 2px;
}

>>>>>>> a627b91288355714767ff29dcba4947141b18acb
.checkout_unitPrice {
  width: 110px;
  margin: auto;
  font-size: 14px;
  font-weight: bold;
  color: #172852;
}

.checkout_unitPrice > span {
  font-size: 16px;
  font-weight: bold;
  color: #172852;
}

.checkout_delete {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  margin: auto;
}

.checkout_leftD {
  background-color: #172852;
  border-radius: 5px;
<<<<<<< HEAD
=======
  width: 20px;
  height: 3px;
  position: absolute;
  top: calc((20px - 3px) / 2);
  left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.checkout_rightD {
  background-color: #172852;
  border-radius: 5px;
>>>>>>> a627b91288355714767ff29dcba4947141b18acb
  width: 20px;
  height: 3px;
  position: absolute;
  top: calc((20px - 3px) / 2);
  left: 0;
<<<<<<< HEAD
  transform: rotate(45deg);
}

.checkout_rightD {
  background-color: #172852;
  border-radius: 5px;
  width: 20px;
  height: 3px;
  position: absolute;
  top: calc((20px - 3px) / 2);
  left: 0;
  transform: rotate(135deg);
=======
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
>>>>>>> a627b91288355714767ff29dcba4947141b18acb
}
/*# sourceMappingURL=checkout.css.map */