@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-size: 16px;
  font-family: '微軟正黑體';
  font-weight: 900;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  background-image: url("../images/customized/bg.png");
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.navbar {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0px;
  left: 0;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  z-index: 900;
}

.navbar .navbar-logo {
  margin-left: 10px;
  width: 60px;
  height: 60px;
}

.navbar .navbar-logo img {
  width: 100%;
  height: 100%;
}

.navbar .navbar-icon {
  display: flex;
  margin-right: 10px;
}

.navbar .navbar-icon a {
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
}

.navbar .navbar-icon i {
  color: #bb866a;
  font-size: 28px;
}

.mediacolumn {
  position: fixed;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  z-index: 900;
}

.mediacolumn::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 15vh;
  background-color: #bb866a;
  left: 30px;
  top: -15vh;
}

.mediacolumn::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 15vh;
  background-color: #bb866a;
  left: 30px;
  bottom: -15vh;
}

.mediacolumn a {
  display: block;
  width: 60px;
  text-align: center;
  margin-top: 10px;
}

.mediacolumn a:nth-child(1) {
  margin-top: 12px;
}

.mediacolumn a:nth-child(3) {
  margin-bottom: 12px;
}

.mediacolumn a i {
  color: #bb866a;
  font-size: 28px;
}

.custom_waterMark {
  position: fixed;
  z-index: 0;
  opacity: .8;
}

.custom_waterMark img {
  width: 100%;
  height: 100%;
}

.waterMark1 {
  width: 510px;
  height: 310px;
  top: -100px;
  left: 35%;
  opacity: .5;
}

.waterMark2 {
  width: 400px;
  height: 400px;
  top: 20%;
  left: -100px;
}

.waterMark3 {
  width: 450px;
  height: 450px;
  right: -100px;
  top: 80%;
}

.cus-wrap {
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}

.custom_sideNode {
  width: 20px;
  height: 200px;
  position: fixed;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.custom_sideNode .custom_sideNode_node {
  width: 8px;
  height: 8px;
  border: 1px solid #cba89a;
  background-color: #cba89a;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}

.custom_sideNode .sideBar {
  width: 3px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.custom_sideNode .custom_sideNode_backBar {
  height: 100%;
  background-color: #cba89a;
}

.custom_sideNode .custom_sideNode_frontBar {
  height: 0%;
  background-color: #f7c242;
}

.custom_sideNode .custom_sideNode_node:nth-child(3) {
  border: 2px solid #f7c242;
  background-color: #fff;
}

.custom_sideNode .current_node {
  border: 2px solid #f7c242;
  background-color: #fff;
}

.custom_sideNode .before_node {
  border: 2px solid #f7c242;
  background-color: #f7c242 !important;
}

.cus-step1-txt {
  text-align: center;
  padding-top: 50px;
  width: 90%;
  position: relative;
}

.cus-step1-txt h3 {
  color: #bb866a;
  font-size: 24px;
  margin-bottom: 15px;
}

.cus-step1-txt h2 {
  color: #bb866a;
  font-size: 32px;
}

.cus-step1 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selectedBox {
  opacity: .5;
}

.cus-step1-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  width: 100%;
  position: relative;
  top: 10%;
  justify-items: center;
  align-items: center;
}

.cus-step1-box p {
  margin-top: 15px;
  color: #bb866a;
  font-weight: 900;
  font-size: 18px;
}

.cus-step1-box img {
  cursor: pointer;
  transition: .3s;
}

.cus-step1-box img:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 10px #888;
  opacity: 1;
}

.cus-step1-box img:hover ~ p {
  color: #172852;
}

.cus-step1-box .box1 {
  width: 165px;
  height: auto;
}

.cus-step1-box .box2, .cus-step1-box .box3 {
  width: 240px;
  height: auto;
}

.custom_btn {
  display: block;
  padding: 8px 10px;
  width: 120px;
  border-radius: 25px;
  background: #172852;
  border: 3px solid #172852;
  color: #fff;
  text-align: center;
  font-weight: 900;
}

.custom_btn:hover {
  background-color: #2e447c;
  color: #fff;
  border: 3px solid #2e447c;
}

.custom_btn_p1Next {
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
}

.custom_gridBox {
  width: 95%;
  height: 95%;
  cursor: pointer;
  position: relative;
}

.cus-box img {
  width: 100%;
  height: 100%;
  filter: brightness(70%);
}

.cus-box img:hover {
  filter: brightness(100%);
}

.choosenBox img {
  filter: brightness(100%);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px #f7c242;
}

.four-grid {
  background-image: url("../images/customized/four_boxBody.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  height: 200px;
  width: 200px;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  align-self: center;
  justify-self: center;
  transition: .3s;
  padding: 15px;
}

.six-grid {
  background-image: url("../images/customized/six_boxBody.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  height: 200px;
  width: 300px;
  grid-template-columns: 1fr 1fr 1fr;
  align-self: center;
  justify-self: center;
  transition: .3s;
  padding: 15px;
}

.nine-grid {
  background-image: url("../images/customized/nine_boxBody.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  width: 300px;
  height: 300px;
  grid-template-columns: 1fr 1fr 1fr;
  align-self: center;
  justify-self: center;
  transition: .3s;
  padding: 15px;
}

.fa-chevron-right {
  margin-left: 10px;
}

.cus-step2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 100vh;
}

.cus-step2 .cus-step2-txt {
  text-align: center;
  padding-top: 50px;
  width: 90%;
  position: relative;
  margin-bottom: 50px;
}

.cus-step2 .cus-step2-txt h3 {
  color: #bb866a;
  font-size: 24px;
  margin-bottom: 15px;
}

.cus-step2 .cus-step2-txt h2 {
  color: #bb866a;
  font-size: 32px;
}

.cus-step2 .prep {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: transparent;
  color: #a3a3a3;
  border: none;
  text-align: center;
}

.cus-step2 .prep i {
  margin-right: 10px;
}

.cus-step2 .prep:hover {
  color: #333;
}

.cus-step2 .prep:hover::after {
  background-color: #333;
}

.cus-step2 .prep::after {
  content: '';
  width: 80px;
  height: 2px;
  background-color: #a3a3a3;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.cus-step2 .next {
  position: absolute;
  right: 0;
  bottom: 0;
}

.cus-step2 .next i {
  margin-left: 10px;
}

.cus-step2 .cus-product-category a {
  display: inline-block;
  padding: 5px 10px;
  width: 90px;
  border-radius: 20px;
  border: 3px solid #bb866a;
  background-color: #fff;
  color: #bb866a;
  text-align: center;
  margin: 50px 5px;
}

.cus-step2 .cus-product-category a:hover {
  background-color: #bb866a;
  color: #fff;
}

.cus-step2 .selected_item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cus-step2 .cus-product-contianer {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
  width: 100%;
}

.cus-step2 .cus-product-contianer .cus-item {
  margin-top: 20px;
  position: relative;
  text-align: center;
  margin-bottom: 50px;
}

.cus-step2 .cus-product-contianer .cus-item .cus-item-img {
  width: 180px;
  margin: 0 auto;
  position: relative;
}

.cus-step2 .cus-product-contianer .cus-item .cus-item-img img {
  width: 100%;
  height: auto;
}

.cus-step2 .cus-product-contianer .cus-item .cus-item-txt {
  position: absolute;
  left: 50%;
  top: 180px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin: 0 auto;
  background-color: #999;
  text-align: center;
  transform: translate(-50%, -20px);
  display: none;
}

.cus-step2 .cus-product-contianer .cus-item .cus-item-txt p {
  position: absolute;
  left: 50%;
  top: 30px;
  transform: translateX(-50%);
}

.cus-step2 .cus-product-contianer .cus-item .cus-item-txt a.cus-add {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  height: 30px;
  line-height: 30px;
}

.cus-step2 .cus-product-contianer .cus-item .cus-item-txt a.cus-add i.fa-plus {
  font-size: 22px;
}

.cus-step2 .custom_itemConfirm_List {
  width: 400px;
  background-color: #fff;
  margin: 100px auto;
  padding: 20px;
  display: none;
}

.cus-step2 .custom_itemConfirm_List h2 {
  font-size: 20px;
  color: #bb866a;
  width: 100%;
  border-bottom: 3px solid #bb866a;
  padding: 10px 0;
  margin-bottom: 10px;
}

.cus-step2 .custom_itemConfirm_List img {
  width: 60px;
  height: 60px;
}

.cus-step2 .custom_itemConfirm_List div {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-content: center;
  align-items: center;
  border-bottom: 2px dashed #bb866a;
  padding: 5px;
}

.cus-step2 .custom_itemConfirm_List div p {
  color: #172852;
  font-weight: 900;
}

.cus-step2 .cus-confirm-btn {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  display: none;
  justify-content: space-between;
}

.cus-step2 .cus-giftcard-btn {
  width: 100%;
  position: absolute;
  top: 70vh;
  left: 0;
  display: flex;
  display: none;
  justify-content: space-between;
}

.cus-step2 .cus-giftcard-btn a {
  display: block;
  margin: 0 15%;
}

.cus-step2 .cus-giftbox {
  width: 345px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: -300px;
  transform: translate(-50%, 0%);
  opacity: 0;
  background: url("../images/customized/nine_boxHead.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.cus-step2 .cus-bag-card {
  width: 345px;
  height: 210px;
  border: 3px solid green;
  position: absolute;
  bottom: -210px;
  left: 50%;
  transform: translate(-50%, 0%);
  transition: .5s;
  display: none;
}

.cus-step2 .cus-bag-card .choose-card, .cus-step2 .cus-bag-card .choose-bag {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  cursor: pointer;
}

.cus-step2 .cus-bag-card pre {
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scaleX(-1);
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
  line-height: 40px;
  white-space: pre-wrap !important;
  word-wrap: break-word;
  font-size: 18px;
  border: 2px solid pink;
}

.cus-step2 .cus-bag-card .choose-bag {
  top: 0;
  left: 0;
  display: none;
}

.cus-step2 .cus-bag-card .card1 {
  z-index: 2;
  top: 0;
  left: 0;
  display: none;
}

.cus-step2 .cus-bag-card .card2 {
  top: 30px;
  left: -50px;
  display: none;
}

.cus-step2 .cus-bag-card .card3 {
  top: 30px;
  left: 50px;
  display: none;
}

.cus-step2 .custom_chooseCard_btn {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  display: none;
  justify-content: space-between;
}

.cus-step2 .choosenCard {
  box-shadow: 0px 0px 15px #555;
}

.cus-step2 .custom_card_textArea {
  width: 35%;
  height: 60%;
  border: 2px solid blue;
  padding: 10px;
  position: absolute;
  top: 55%;
  right: 5%;
  transform: translate(0%, -50%);
  display: none;
  background-color: #fff;
}

.cus-step2 .custom_card_textArea form {
  width: 100%;
  height: 100%;
}

.cus-step2 .custom_card_textArea textarea {
  width: 100%;
  height: 100%;
  line-height: 45px;
  background-color: transparent;
  font-family: '微軟正黑體';
  font-size: 22px;
  border: 0;
  resize: none;
}

.cus-step2 .custom_card_textArea textarea:focus {
  outline: 0;
}

.cus-step2 .custom_card_textArea .custom_card_iconList {
  width: 100%;
  height: 100%;
  border: 2px solid red;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px;
  overflow-y: scroll;
  display: none;
}

.cus-step2 .custom_card_textArea .custom_card_iconList img {
  width: 100%;
  height: auto;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
}

.cus-step2 .custom_card_textArea .custom_card_iconList .choosen_icon {
  border: 2px solid #cba89a;
}

.cus-step2 .cus-cardcontent-btn {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  justify-content: space-between;
}

.cus-step2 .cus-cardIcon-btn {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  justify-content: space-between;
}

.cus-step2 .custom_card_IconOnCard {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 10;
  cursor: pointer;
}

.cus-step2 .custom_card_IconOnCard img {
  width: 100%;
  height: auto;
}

.cus-step2 .cus-cardConfirm-btn {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  justify-content: space-between;
}

.cus-step2 .cus-cardConfirm-btn .cus-cardConfirm-nextstep::before {
  content: '添加到購物車';
  position: absolute;
  font-size: 14px;
  width: 120px;
  text-align: center;
  top: -60%;
  left: 50%;
  transform: translateX(-50%);
  color: #172852;
}

.custom_backHome {
  background-color: #a3a3a3;
  border: 3px solid #a3a3a3;
}

.custom_bag {
  width: 400px;
  height: 300px;
  position: absolute;
  left: 50%;
  bottom: -50%;
  background: url("../images/customized/testBag.png");
  background-position: center;
  background-size: 120% cover;
  transition: 2s;
  transform: translate(-50%, 50%);
}

.custom_popUp {
  width: 300px;
  height: 340px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 10px 32px rgba(23, 40, 82, 0.6);
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px;
  z-index: 999;
}

.custom_popUp img {
  width: 80px;
  height: auto;
}

.custom_popUp h2 {
  color: #172852;
  font-size: 28px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.custom_popUp p {
  color: #172852;
  margin-bottom: 45px;
  font-size: 14px;
}

.custom_popUp div {
  display: flex;
  justify-content: center;
}

.custom_cart {
  width: 400px;
  height: 320px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 10px 32px rgba(23, 40, 82, 0.6);
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px;
  z-index: 999;
}

.custom_cart img {
  width: 80px;
  height: auto;
}

.custom_cart h2 {
  color: #172852;
  font-size: 28px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.custom_cart p {
  color: #172852;
  margin-bottom: 45px;
  font-size: 14px;
}

.custom_cart div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.custom_popUp_bg {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 991;
  display: none;
  background-color: rgba(255, 255, 255, 0.6);
}
/*# sourceMappingURL=customized.css.map */