@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: bold inherit '微軟正黑體';
  vertical-align: baseline;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 900;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-size: 16px;
  font-family: '微軟正黑體';
  font-weight: 900;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-image: url("../images/customized/bg.png");
  background-size: cover;
  overflow-y: hidden;
  position: relative;
}

.navbar {
  width: 100%;
  height: 100px;
  position: relative;
  top: 0px;
  left: 0;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  z-index: 900;
  position: fixed;
}

.navbar .navbar-logo {
  margin-left: 10px;
  width: 60px;
  height: 60px;
}

.navbar .navbar-logo img {
  width: 100%;
  height: 100%;
}

.navbar .navbar-icon {
  display: flex;
  justify-content: flex-start;
  margin: 0 20px 0 0px;
}

.navbar .navbar-icon a {
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
}

.navbar .navbar-icon a:hover {
  color: #f7c242;
}

.navbar .navbar-icon i {
  color: #bb866a;
  font-size: 28px;
}

.navbar .navbar-icon i:hover {
  color: #f7c242;
}

.navbar .ham_container {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 10;
}

.navbar .ham_container:hover .ham_bar {
  background-color: #f7c242;
}

.navbar .ham_container .ham_bar {
  width: 30px;
  height: 4px;
  background-color: #bb866a;
  border-radius: 10px;
  margin: 6px 0;
}

.navbar .ham_change .ham_bar1 {
  background-color: white;
  transform: rotate(-45deg) translate(-6px, 5px);
}

.navbar .ham_change .ham_bar2 {
  opacity: 0;
}

.navbar .ham_change .ham_bar3 {
  background-color: white;
  transform: rotate(45deg) translate(-8px, -8px);
}

.navbar .ham_overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 0;
  top: 0;
  right: 0;
  background-color: #b48164;
  overflow: hidden;
  transition: 0.5s;
}

.navbar .ham_overlay .ham_overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin: 10px auto;
}

.navbar .ham_overlay .ham_jelly {
  width: 300vw;
  height: 290vw;
  position: absolute;
  top: -302vw;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 45%;
  background-color: #cba89a;
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, 0) rotateZ(0deg);
  }
  50% {
    transform: translate(-50%, -2%) rotateZ(180deg);
  }
  100% {
    transform: translate(-50%, 0%) rotateZ(360deg);
  }
}

.navbar .ham_overlay .ham_select {
  margin: 0 auto;
  text-align: left;
  width: 200px;
}

.navbar .ham_overlay a {
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
  display: block;
  letter-spacing: 2px;
  opacity: 0;
  transition: all .5s;
}

.navbar .ham_overlay a:hover {
  color: #fad689;
}

.navbar .ham_overlay a:hover:before {
  background-color: #fad689;
}

.navbar .ham_overlay a::before {
  content: "\A";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 20px;
  background-color: transparent;
  transition: all .3s;
}

.mediacolumn {
  position: fixed;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  z-index: 900;
}

.mediacolumn::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 15vh;
  background-color: #bb866a;
  left: 30px;
  top: -15vh;
}

.mediacolumn::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 15vh;
  background-color: #bb866a;
  left: 30px;
  bottom: -15vh;
}

.mediacolumn a {
  display: block;
  width: 60px;
  text-align: center;
  margin-top: 10px;
}

.mediacolumn a:nth-child(1) {
  margin-top: 12px;
}

.mediacolumn a:nth-child(3) {
  margin-bottom: 12px;
}

.mediacolumn a i {
  color: #bb866a;
  font-size: 28px;
}

.mediacolumn a i:hover {
  color: #f7c242;
}

@media (max-width: 575px) {
  .mediacolumn {
    display: none;
  }
}

.custom_waterMark {
  position: fixed;
  z-index: 0;
  opacity: .8;
}

.custom_waterMark img {
  width: 100%;
  height: 100%;
}

.waterMark1 {
  width: 510px;
  height: 310px;
  top: -100px;
  left: 35%;
  opacity: .5;
}

.waterMark2 {
  width: 400px;
  height: 400px;
  top: 20%;
  left: -100px;
}

.waterMark3 {
  width: 450px;
  height: 450px;
  right: -100px;
  top: 80%;
}

.custom_reminder {
  width: 200px;
  height: 70px;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 25px;
  background-color: #bb866a;
  text-align: center;
  line-height: 70px;
  color: #fff;
  z-index: 100;
  display: none;
}

.cus_wrap {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}

.custom_sideNode {
  width: 20px;
  height: 200px;
  position: fixed;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.custom_sideNode .sideBar {
  width: 3px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.custom_sideNode .custom_sideNode_backBar {
  height: 100%;
  background-color: #cba89a;
}

.custom_sideNode .custom_sideNode_frontBar {
  height: 0%;
  background-color: #f7c242;
}

@media (max-width: 575px) {
  .custom_sideNode {
    display: none;
  }
}

.cus_step1 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cus_step1 .cus_step1_txt {
  text-align: center;
  padding-top: 50px;
  width: 90%;
  position: relative;
  padding-bottom: 50px;
}

.cus_step1 .cus_step1_txt h3 {
  color: #bb866a;
  font-size: 24px;
  margin-bottom: 15px;
}

.cus_step1 .cus_step1_txt h2 {
  color: #bb866a;
  font-size: 32px;
}

@media (max-width: 575px) {
  .cus_step1 .cus_step1_txt {
    padding-top: 80px;
    width: 100%;
  }
  .cus_step1 .cus_step1_txt h3 {
    font-size: 20px;
  }
  .cus_step1 .cus_step1_txt h2 {
    font-size: 24px;
  }
}

.selectedBox {
  opacity: .5;
}

.cus_step1-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  width: 100%;
  position: relative;
  top: 35%;
  transform: translateY(-50%);
  justify-items: center;
  align-items: center;
  z-index: 5;
}

.cus_step1-box p {
  margin-top: 15px;
  color: #bb866a;
  font-weight: 900;
  font-size: 18px;
}

.cus_step1-box img {
  cursor: pointer;
  transition: .3s;
}

.cus_step1-box img:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 10px #888;
  opacity: 1;
}

.cus_step1-box img:hover ~ p {
  color: #172852;
}

.cus_step1-box .box1 {
  width: 165px;
  height: auto;
}

.cus_step1-box .box2, .cus_step1-box .box3 {
  width: 240px;
  height: auto;
}

@media (max-width: 960px) {
  .cus_step1-box .box1 {
    width: 120px;
    height: auto;
  }
  .cus_step1-box .box2, .cus_step1-box .box3 {
    width: 180px;
    height: auto;
  }
}

@media (max-width: 767px) {
  .cus_step1-box {
    width: 100%;
  }
  .cus_step1-box .box1 {
    width: 100px;
    height: auto;
  }
  .cus_step1-box .box2, .cus_step1-box .box3 {
    width: 150px;
    height: auto;
  }
}

@media (max-width: 575px) {
  .cus_step1-box {
    display: flex;
    flex-direction: column;
  }
  .cus_step1-box .cus_box_container {
    margin-bottom: 30px;
  }
  .cus_step1-box .cus_box_container p {
    margin-top: 10px;
  }
  .cus_step1-box .box1 {
    width: 80px;
    height: auto;
  }
  .cus_step1-box .box2, .cus_step1-box .box3 {
    width: 120px;
    height: auto;
  }
}

.custom_btn {
  display: block;
  padding: 8px 10px;
  width: 120px;
  border-radius: 25px;
  background: #172852;
  border: 3px solid #172852;
  color: #fff;
  text-align: center;
  font-weight: 900;
  cursor: pointer;
}

.custom_btn:hover {
  background-color: #2e447c;
  color: #fff;
  border: 3px solid #2e447c;
}

@media (max-width: 575px) {
  .custom_btn {
    width: 100px;
    font-size: 12px;
    border-radius: 15px;
    padding: 5px;
  }
  .custom_btn i {
    display: none;
  }
}

.custom_btn_p1Next {
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
}

.custom_gridBox {
  width: 95%;
  height: 95%;
  cursor: pointer;
  position: relative;
}

.cus_box img {
  width: 100%;
  height: 100%;
  filter: brightness(70%);
}

.cus_box img:hover {
  filter: brightness(100%);
}

.choosenBox img {
  filter: brightness(100%);
  border-radius: 10px;
<<<<<<< HEAD
<<<<<<< HEAD
  animation: flash 3s linear infinite;
}

@keyframes flash {
  0% {
    box-shadow: 0px 0px 10px 5px #f7c242;
  }
  25% {
    box-shadow: 0px 0px 10px 5px transparent;
  }
  50% {
    box-shadow: 0px 0px 10px 5px #f7c242;
  }
  75% {
    box-shadow: 0px 0px 10px 5px transparent;
  }
  100% {
    box-shadow: 0px 0px 10px 5px #f7c242;
  }
}

.cus_reminderWord {
  font-size: 12px;
  color: #bb866a;
  margin-top: 5px;
=======
  -webkit-box-shadow: 0px 0px 10px 5px #f7c242;
          box-shadow: 0px 0px 10px 5px #f7c242;
>>>>>>> dev
=======
  box-shadow: 0px 0px 10px 5px #f7c242;
>>>>>>> wei
}

.four_grid {
  background-image: url("../images/customized/four_boxBody.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  height: 200px;
  width: 200px;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  align-self: center;
  justify-self: center;
  transition: .3s;
  padding: 15px;
}

@media (max-width: 575px) {
  .four_grid {
    margin-top: 40px;
  }
}

.six_grid {
  background-image: url("../images/customized/six_boxBody.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  height: 200px;
  width: 300px;
  grid-template-columns: 1fr 1fr 1fr;
  align-self: center;
  justify-self: center;
  transition: .3s;
  padding: 15px;
}

@media (max-width: 575px) {
  .six_grid {
    margin-top: 40px;
  }
}

.nine_grid {
  background-image: url("../images/customized/nine_boxBody.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  width: 300px;
  height: 300px;
  grid-template-columns: 1fr 1fr 1fr;
  align-self: center;
  justify-self: center;
  transition: .3s;
  padding: 15px;
}

@media (max-width: 575px) {
  .nine_grid {
    margin-top: 40px;
  }
}

.fa-chevron-right {
  margin-left: 10px;
}

.cus_step2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 100vh;
  padding-bottom: 50px;
}

.cus_step2 .cus_step2_txt {
  text-align: center;
  padding-top: 50px;
  width: 90%;
  position: relative;
  padding-bottom: 50px;
}

.cus_step2 .cus_step2_txt h3 {
  color: #bb866a;
  font-size: 24px;
  margin-bottom: 15px;
}

.cus_step2 .cus_step2_txt h2 {
  color: #bb866a;
  font-size: 32px;
}

@media (max-width: 575px) {
  .cus_step2 .cus_step2_txt {
    padding-top: 80px;
    width: 100%;
  }
  .cus_step2 .cus_step2_txt h3 {
    font-size: 20px;
  }
  .cus_step2 .cus_step2_txt h2 {
    font-size: 24px;
  }
}

.cus_step2 .prep {
  position: absolute;
  left: 0;
  bottom: 10px;
  background-color: transparent;
  color: #a3a3a3;
  border: none;
  text-align: center;
}

.cus_step2 .prep i {
  margin-right: 10px;
}

.cus_step2 .prep:hover {
  color: #333;
}

.cus_step2 .prep:hover::after {
  background-color: #333;
}

.cus_step2 .prep::after {
  content: '';
  width: 80px;
  height: 2px;
  background-color: #a3a3a3;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

@media (max-width: 575px) {
  .cus_step2 .prep::after {
    width: 50px;
  }
}

.cus_step2 .next {
  position: absolute;
  right: 0;
  bottom: 10px;
}

.cus_step2 .next i {
  margin-left: 10px;
}

.cus_step2 .cus_product_category a {
  display: inline-block;
  padding: 5px 10px;
  width: 90px;
  border-radius: 20px;
  border: 3px solid #bb866a;
  background-color: #fff;
  color: #bb866a;
  text-align: center;
  margin: 50px 5px;
}

.cus_step2 .cus_product_category a:hover {
  background-color: #bb866a;
  color: #fff;
}

.cus_step2 .cus_product_category .categoryChoose {
  background-color: #bb866a;
  color: #fff;
}

@media (max-width: 800px) {
  .cus_step2 .cus_product_category {
    width: 100%;
    margin-top: 10px;
    text-align: center;
  }
  .cus_step2 .cus_product_category a {
    margin: 10px 2.5px;
    width: 85px;
    font-size: 14px;
  }
}

.cus_step2 .selected_item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cus_step2 .cus_product_contianer {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
  width: 100%;
}

@media (max-width: 1000px) {
  .cus_step2 .cus_product_contianer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .cus_step2 .cus_product_contianer {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 15px;
  }
}

@media (max-width: 600px) {
  .cus_step2 .cus_product_contianer {
    grid-template-columns: 1fr 1fr;
  }
}

.cus_step2 .cus_product_contianer .cus-item {
  margin-top: 20px;
  position: relative;
  text-align: center;
  margin-bottom: 50px;
}

.cus_step2 .cus_product_contianer .cus-item .cus_item_img {
  width: 150px;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 400px) {
  .cus_step2 .cus_product_contianer .cus-item .cus_item_img {
    width: 130px;
  }
}

.cus_step2 .cus_product_contianer .cus-item .cus_item_img img {
  width: 100%;
  height: auto;
}

.cus_step2 .cus_product_contianer .cus-item .cus_item_txt {
  position: absolute;
  left: 50%;
  top: 150px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  background-color: #cba89a;
  text-align: center;
  transform: translate(-50%, -70px);
  display: none;
  padding-top: 20px;
}

.cus_step2 .cus_product_contianer .cus-item .cus_item_txt p {
  position: absolute;
  left: 50%;
  top: 60px;
  transform: translateX(-50%);
  color: #fff;
}

.cus_step2 .cus_product_contianer .cus-item .cus_item_txt a.cus_add {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  height: 30px;
  line-height: 30px;
}

.cus_step2 .cus_product_contianer .cus-item .cus_item_txt a.cus_add i.fa-plus {
  font-size: 22px;
  color: #fff;
}

@media (max-width: 400px) {
  .cus_step2 .cus_product_contianer .cus-item .cus_item_txt {
    transform: translate(-50%, -90px);
  }
}

.cus_step2 .custom_itemConfirm_List {
  width: 35%;
  max-width: 400px;
  min-width: 320px;
  background-color: #fff;
  margin: 100px auto;
  padding: 20px;
  display: none;
}

.cus_step2 .custom_itemConfirm_List h2 {
  font-size: 20px;
  color: #bb866a;
  width: 100%;
  border-bottom: 3px solid #bb866a;
  padding: 10px 0;
  margin-bottom: 10px;
}

.cus_step2 .custom_itemConfirm_List img {
  width: 60px;
  height: 60px;
}

.cus_step2 .custom_itemConfirm_List div {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-content: center;
  align-items: center;
  border-bottom: 2px dashed #bb866a;
  padding: 5px;
}

.cus_step2 .custom_itemConfirm_List div p {
  color: #172852;
  font-weight: 900;
  margin-left: 5px;
}

.cus_step2 .cus_confirm_btn {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  display: none;
  justify-content: space-between;
}

.cus_step2 .cus_giftcard_btn {
  width: 100%;
  position: absolute;
  top: 70vh;
  left: 0;
  display: flex;
  display: none;
  justify-content: space-between;
}

.cus_step2 .cus_giftcard_btn a {
  display: block;
  margin: 0 15%;
}

.cus_step2 .cus_giftbox {
  width: 280px;
  height: 160px;
  position: absolute;
  left: 50%;
  top: -300px;
  transform: translate(-50%, 0%);
  opacity: 0;
  background: url("../images/customized/nine_boxHead.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.cus_step2 .cus_bag_card {
  width: 280px;
  height: 160px;
  max-width: 360px;
  max-height: 200px;
  position: absolute;
  bottom: -210px;
  left: 50%;
  transform: translate(-50%, 0%);
  transition: .5s;
  display: none;
  border-radius: 15px;
}

@media (max-width: 976px) {
  .cus_step2 .cus_bag_card {
    width: 240px;
    height: 140px;
  }
}

.cus_step2 .cus_bag_card .choose-card, .cus_step2 .cus_bag_card .choose-bag {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  cursor: pointer;
  border-radius: 15px;
}

.cus_step2 .cus_bag_card pre {
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scaleX(-1);
  position: absolute;
  border-radius: 25px;
  top: 0;
  left: 0;
  padding: 15px;
  line-height: 40px;
  white-space: pre-wrap !important;
  word-wrap: break-word;
  font-size: 16px;
  color: #bb866a;
}

.cus_step2 .cus_bag_card .choose-bag {
  height: 180%;
  top: 0;
  left: 0;
  display: none;
}

.cus_step2 .cus_bag_card .card1 {
  z-index: 2;
  top: 0;
  left: 0;
  display: none;
}

.cus_step2 .cus_bag_card .card2 {
  top: 30px;
  left: -50px;
  display: none;
}

.cus_step2 .cus_bag_card .card3 {
  top: 30px;
  left: 50px;
  display: none;
}

.cus_step2 .custom_chooseCard_btn {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  display: none;
  justify-content: space-between;
}

.cus_step2 .choosenCard {
  box-shadow: 0px 0px 15px #555;
}

.cus_step2 .custom_card_textArea {
  width: 35%;
  height: 70%;
  min-width: 280px;
  position: absolute;
  top: 60%;
  right: 10%;
  transform: translate(0%, -50%);
  display: none;
  padding: 10px;
}

.cus_step2 .custom_card_textArea .custom_cardBg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 575px) {
  .cus_step2 .custom_card_textArea .custom_cardBg {
    height: auto;
  }
}

.cus_step2 .custom_card_textArea form {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 5;
}

.cus_step2 .custom_card_textArea form textarea {
  width: 100%;
  height: 90%;
  line-height: 45px;
  background-color: transparent;
  font-family: '微軟正黑體';
  font-size: 18px;
  color: #bb866a;
  border: 0;
  padding: 40px;
  padding-left: 50px;
  resize: none;
}

.cus_step2 .custom_card_textArea form textarea:focus {
  outline: 0;
}

.cus_step2 .custom_card_textArea .custom_card_iconList {
  padding: 20px;
  width: auto;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 70px 70px 70px 70px;
  gap: 10px;
  padding: 10px;
  display: none;
  position: relative;
  z-index: 5;
  padding: 30px 0 0 30px;
}

.cus_step2 .custom_card_textArea .custom_card_iconList img {
  width: auto;
  height: 100%;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
}

.cus_step2 .custom_card_textArea .custom_card_iconList .choosen_icon {
  border: 2px solid #cba89a;
}

@media (max-width: 575px) {
  .cus_step2 .custom_card_textArea .custom_card_iconList {
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50px 50px 50px 50px;
    padding: 20px 20px 20px 30px;
  }
}

@media (max-width: 575px) {
  .cus_step2 .custom_card_textArea {
    position: absolute;
    top: 85%;
    right: 50%;
    transform: translate(50%, -50%);
    background-position: top;
  }
}

.cus_step2 .cus-cardcontent-btn {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  justify-content: space-between;
}

.cus_step2 .cus-cardIcon-btn {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  justify-content: space-between;
}

.cus_step2 .custom_card_IconOnCard {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 10;
  cursor: pointer;
}

.cus_step2 .custom_card_IconOnCard img {
  width: 100%;
  height: auto;
}

.cus_step2 .cus-cardConfirm-btn {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  justify-content: space-between;
}

.cus_step2 .cus-cardConfirm-btn .cus_cardConfirm_nextstep::before {
  content: '添加到購物車';
  position: absolute;
  font-size: 14px;
  width: 120px;
  text-align: center;
  top: -60%;
  left: 50%;
  transform: translateX(-50%);
  color: #172852;
}

@media (max-width: 575px) {
  .cus_step2 .cus-cardConfirm-btn .cus_cardConfirm_nextstep::before {
    top: 120%;
  }
}

.custom_backHome {
  background-color: #a3a3a3;
  border: 3px solid #a3a3a3;
}

.custom_bag {
  width: 45%;
  height: 45%;
  max-width: 400px;
  max-height: 300px;
  min-width: 300px;
  min-height: 225px;
  position: absolute;
  left: 50%;
  bottom: -50%;
  display: none;
  transform: translate(-50%, 50%);
  transition: 1s;
}

.custom_bag img {
  width: 100%;
  height: auto;
}

.custom_popUp {
  width: 25%;
  height: 340px;
  max-width: 300px;
  max-height: 340px;
  min-width: 290px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 10px 32px rgba(23, 40, 82, 0.6);
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px;
  z-index: 999;
  display: none;
}

.custom_popUp img {
  width: 80px;
  height: auto;
}

.custom_popUp h2 {
  color: #172852;
  font-size: 28px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.custom_popUp p {
  color: #172852;
  margin-bottom: 45px;
  font-size: 14px;
}

.custom_popUp div {
  display: flex;
  justify-content: center;
}

@media (max-width: 575px) {
  .custom_popUp {
    padding: 40px 20px;
  }
}

.custom_cart {
  width: 33%;
  height: 320px;
  max-width: 400px;
  max-height: 320px;
  min-width: 290px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 10px 32px rgba(23, 40, 82, 0.6);
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px;
  z-index: 999;
  display: none;
}

.custom_cart img {
  width: 80px;
  height: auto;
}

.custom_cart h2 {
  color: #172852;
  font-size: 28px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.custom_cart p {
  color: #172852;
  margin-bottom: 45px;
  font-size: 14px;
}

.custom_cart div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 575px) {
  .custom_cart {
    padding: 40px 20px;
  }
}

.custom_popUp_bg {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 991;
  background-color: rgba(255, 255, 255, 0.6);
  display: none;
}
/*# sourceMappingURL=customized.css.map */