@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: bold inherit '微軟正黑體';
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 900;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  /*font-family: MicrosoftJhengHeiBold , Arial, sans-serif*/
  font-family: '微軟正黑體';
  text-decoration: none;
}

.navbar {
  width: 100%;
  height: 100px;
  position: relative;
  top: 0px;
  left: 0;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 900;
  position: fixed;
}

.navbar .navbar-logo {
  margin-left: 10px;
  width: 60px;
  height: 60px;
}

.navbar .navbar-logo img {
  width: 100%;
  height: 100%;
}

.navbar .navbar-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 20px 0 0px;
}

.navbar .navbar-icon a {
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
}

.navbar .navbar-icon a:hover {
  color: #f7c242;
}

.navbar .navbar-icon i {
  color: #bb866a;
  font-size: 28px;
}

.navbar .navbar-icon i:hover {
  color: #f7c242;
}

.navbar .ham_container {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 10;
}

.navbar .ham_container:hover .ham_bar {
  background-color: #f7c242;
}

.navbar .ham_container .ham_bar {
  width: 30px;
  height: 4px;
  background-color: #bb866a;
  border-radius: 10px;
  margin: 6px 0;
}

.navbar .ham_change .ham_bar1 {
  background-color: white;
  -webkit-transform: rotate(-45deg) translate(-6px, 5px);
          transform: rotate(-45deg) translate(-6px, 5px);
}

.navbar .ham_change .ham_bar2 {
  opacity: 0;
}

.navbar .ham_change .ham_bar3 {
  background-color: white;
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
          transform: rotate(45deg) translate(-8px, -8px);
}

.navbar .ham_overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 0;
  top: 0;
  right: 0;
  background-color: #b48164;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar .ham_overlay .ham_overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin: 10px auto;
}

.navbar .ham_overlay .ham_jelly {
  width: 300vw;
  height: 290vw;
  position: absolute;
  top: -302vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 45%;
  background-color: #cba89a;
  -webkit-animation: rotate 15s linear infinite;
          animation: rotate 15s linear infinite;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: translate(-50%, 0) rotateZ(0deg);
            transform: translate(-50%, 0) rotateZ(0deg);
  }
  50% {
    -webkit-transform: translate(-50%, -2%) rotateZ(180deg);
            transform: translate(-50%, -2%) rotateZ(180deg);
  }
  100% {
    -webkit-transform: translate(-50%, 0%) rotateZ(360deg);
            transform: translate(-50%, 0%) rotateZ(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: translate(-50%, 0) rotateZ(0deg);
            transform: translate(-50%, 0) rotateZ(0deg);
  }
  50% {
    -webkit-transform: translate(-50%, -2%) rotateZ(180deg);
            transform: translate(-50%, -2%) rotateZ(180deg);
  }
  100% {
    -webkit-transform: translate(-50%, 0%) rotateZ(360deg);
            transform: translate(-50%, 0%) rotateZ(360deg);
  }
}

.navbar .ham_overlay .ham_select {
  margin: 0 auto;
  text-align: left;
  width: 200px;
}

.navbar .ham_overlay a {
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
  display: block;
  letter-spacing: 2px;
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
}

.navbar .ham_overlay a:hover {
  color: #fad689;
}

.navbar .ham_overlay a:hover:before {
  background-color: #fad689;
}

.navbar .ham_overlay a::before {
  content: "\A";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 20px;
  background-color: transparent;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.navbar .navbar-icon .fas {
  color: #fff;
}

.navbar .navbar-icon .fas:hover {
  color: #f7c242;
}

.navbar .navbar-icon .index_navChange {
  color: #bb866a;
}

.navbar .navbar-icon .index_navChange:hover {
  color: #f7c242;
}

.navbar .ham_container .ham_bar {
  background-color: #fff;
}

.navbar .ham_container .ham_bar:hover {
  background-color: #f7c242;
}

.navbar .index_hamChange .ham_bar {
  background-color: #bb866a;
}

.navbar .index_hamChange .ham_bar:hover {
  background-color: #f7c242;
}

.mediacolumn {
  position: fixed;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 900;
  visibility: hidden;
}

.mediacolumn::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 15vh;
  background-color: #bb866a;
  left: 30px;
  top: -15vh;
}

.mediacolumn::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 15vh;
  background-color: #bb866a;
  left: 30px;
  bottom: -15vh;
}

.mediacolumn a {
  display: block;
  width: 60px;
  text-align: center;
  margin-top: 10px;
}

.mediacolumn a:nth-child(1) {
  margin-top: 12px;
}

.mediacolumn a:nth-child(3) {
  margin-bottom: 12px;
}

.mediacolumn a i {
  color: #bb866a;
  font-size: 28px;
}

.mediacolumn a i:hover {
  color: #f7c242;
}

@media (max-width: 575px) {
  .mediacolumn {
    display: none;
  }
}

.psychotest {
  position: fixed;
  width: 80px;
  height: 80px;
  right: 30px;
  bottom: 30px;
  z-index: 2;
  cursor: pointer;
  display: none;
}

.psychotest:hover img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.psychotest:hover p {
  font-size: 14px;
  top: 12px;
}

.psychotest img {
  width: 100%;
  height: 100%;
  -webkit-transition: .2s;
  transition: .2s;
}

.psychotest p {
  position: absolute;
  top: 16px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fff;
  font-weight: 900;
  width: 130px;
  text-align: center;
  font-size: 12px;
  -webkit-transition: .2s;
  transition: .2s;
}

@media (max-width: 575px) {
  .psychotest {
    right: 10px;
    bottom: 10px;
  }
}

@media (max-width: 575px) {
  .fp-right {
    display: none;
  }
}

.pagepoint {
  position: fixed;
  right: 10px;
  width: 105px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
  -webkit-transition: .2s;
  transition: .2s;
  opacity: 0;
}

.pagepoint a {
  display: block;
  font-size: 14px;
  color: #bb866a;
  -webkit-transform: translate(-30px -1px);
          transform: translate(-30px -1px);
  margin: 14px;
}

/* ==================第一面================== */
.index_intro {
  width: 100vw;
  height: 100vh;
  background-color: #bb866a;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1200;
}

.index_intro .intro_container {
  width: 250px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 48px 48px 48px 48px;
      grid-template-columns: 48px 48px 48px 48px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  position: relative;
  top: 15vh;
}

.index_intro .intro_container .intro_word {
  font-size: 36px;
  margin: 0;
  padding: 0;
  color: #bb866a;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.index_intro .intro_container p.intro_add {
  opacity: 0;
  -webkit-animation-name: intro_opac;
          animation-name: intro_opac;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.index_intro .intro_container p.intro_add2 {
  opacity: 0;
  -webkit-animation-name: intro_opac;
          animation-name: intro_opac;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.index_intro .intro_container p.intro_add3 {
  opacity: 0;
  -webkit-animation-name: intro_opac;
          animation-name: intro_opac;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.index_intro .intro_container p.intro_add4 {
  opacity: 0;
  -webkit-animation-name: intro_opac;
          animation-name: intro_opac;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes intro_opac {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes intro_opac {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ==================第二面================== */
.index_p2_container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.index_p2_container .iindex_p2_right {
  width: 50%;
  height: 100%;
  background: url("../images/index/banner_monaka_bg.png");
  background-size: cover 120%;
  background-repeat: no-repeat;
  background-position: center;
}

.index_p2_container .iindex_p2_right-mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.index_p2_container .index_p2_left {
  width: 50%;
  height: 100%;
  background-color: #f1ca96;
}

.index_p2_container .index_p2_pic {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 280px;
  height: 260px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.index_p2_container .index_p2_pic img {
  width: 100%;
  height: 100%;
}

.index_p2_container .index_p2_button {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 100%;
  text-align: center;
  overflow: hidden;
}

.index_p2_container .index_p2_button h2 {
  color: #fff;
  margin-top: 15px;
  font-size: 36px;
  font-family: arial;
}

@media (max-width: 575px) {
  .index_p2_container .index_p2_button h2 {
    margin-top: 90px;
  }
}

.index_p2_container .index_p2_button a {
  color: #fff;
  border: 2px solid #fff;
  padding: 5px 20px;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 80px;
  font-weight: 900;
  width: 140px;
}

.index_p2_container .index_p2_button a:hover {
  background-color: #2e447c;
}

.index_p2_container .index_p2_ticker {
  position: absolute;
  top: 45%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  height: 40px;
}

.index_p2_container .index_p2-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background-color: #fff;
}

.index_p2_container .index_p2-progress .iindex_p2-progressSolid {
  width: 60%;
  height: 5px;
  background-color: #bb866a;
}

/* ==================GAP================== */
.gap {
  width: 100%;
  height: 350px;
  background: url("../images/index/bg.png");
  background-size: cover;
}

/* ==================第三面================== */
.index_page3 {
  position: relative;
  overflow-x: hidden;
  background: url("../images/index/bg.png");
  background-size: cover;
}

.index_page3 .index_p3_container {
  height: 100vh;
  width: 100%;
  max-width: 1400px;
  max-height: 850px;
  margin: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.index_page3 .index_p3_container .index_p3_txt {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 50px;
}

.index_page3 .index_p3_container .index_p3_txt h1 {
  font-size: 24px;
  color: #bb866a;
  margin-top: 180px;
  line-height: 0.7em;
  margin-bottom: 12px;
}

.index_page3 .index_p3_container .index_p3_txt h3 {
  font-size: 18px;
  color: #bb866a;
  line-height: 0.9em;
  margin-bottom: 30px;
}

.index_page3 .index_p3_container .index_p3_txt p {
  width: 60%;
  color: #bb866a;
  font-size: 16px;
  margin-bottom: 24px;
  line-height: 30px;
  font-weight: 900;
}

.index_page3 .index_p3_container .index_p3_txt a {
  background-color: #172852;
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  width: 140px;
  height: 35px;
  z-index: 2;
  position: relative;
}

.index_page3 .index_p3_container .index_p3_txt a:hover {
  background-color: #2e447c;
}

@media (max-width: 767px) {
  .index_page3 .index_p3_container .index_p3_txt {
    width: 70%;
    height: 60%;
    padding-left: 0;
    margin: 0 auto;
    position: relative;
    top: 40%;
  }
  .index_page3 .index_p3_container .index_p3_txt h1 {
    margin-top: 30px;
  }
  .index_page3 .index_p3_container .index_p3_txt p {
    width: 100%;
  }
  .index_page3 .index_p3_container .index_p3_txt p:nth-child(even) {
    text-align: center;
    margin-top: 30px;
  }
}

.index_page3 .index_p3_bg {
  position: absolute;
  top: 0px;
  right: 0;
  width: 55%;
  height: 100%;
}

.index_page3 .index_p3_bg img {
  width: 100%;
  height: 140%;
}

@media (max-width: 960px) {
  .index_page3 .index_p3_bg img {
    height: 120%;
  }
}

@media (max-width: 767px) {
  .index_page3 .index_p3_bg {
    position: absolute;
    width: 100%;
    height: 40%;
    top: 0;
    left: 0px;
  }
  .index_page3 .index_p3_bg img {
    content: url("../../images/about/aboutus_rightbg_rotate-1.png");
    width: 130%;
    height: 90%;
  }
}

.p3-watermark {
  position: absolute;
}

.p3-watermark img {
  width: 100%;
  height: 100%;
}

.p3-mark1 {
  width: 390px;
  height: 400px;
  left: -20px;
  top: -220px;
}

.p3-mark2 {
  width: 310px;
  height: 290px;
  left: 280px;
  bottom: 10px;
}

/* ==================第四面================== */
.index_page4 {
  position: relative;
  overflow-x: hidden;
  background: url("../images/index/bg.png");
  background-size: cover;
}

.index_page4 .index_p4_container {
  height: 100vh;
  width: 100%;
  max-width: 1400px;
  max-height: 850px;
  margin: auto;
  position: relative;
}

.index_page4 .index_p4_container .p4-txt {
  width: 100%;
  height: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 45%;
}

.index_page4 .index_p4_container .p4-txt h1 {
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: #bb866a;
  margin-top: 135px;
  line-height: 0.7em;
  margin-bottom: 12px;
}

.index_page4 .index_p4_container .p4-txt h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #bb866a;
  margin-bottom: 20px;
  line-height: 0.9em;
}

.index_page4 .index_p4_container .p4-txt p {
  width: 70%;
  color: #bb866a;
  font-size: 16px;
  margin-bottom: 28px;
  line-height: 30px;
  font-weight: 900;
}

.index_page4 .index_p4_container .p4-txt a {
  background-color: #172852;
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  display: block;
  width: 140px;
  height: 35px;
  text-align: center;
  line-height: 15px;
  font-weight: 900;
}

.index_page4 .index_p4_container .p4-txt a:hover {
  background-color: #2e447c;
}

@media (max-width: 900px) {
  .index_page4 .index_p4_container .p4-txt {
    padding-left: 0%;
    padding: 0 30px;
  }
  .index_page4 .index_p4_container .p4-txt .index_p4btn {
    margin: 0 auto;
  }
  .index_page4 .index_p4_container .p4-txt h1 {
    margin-top: 120px;
  }
}

.index_page4 .index_p4_container .index_p4_bigPic {
  position: absolute;
  bottom: 18vh;
  left: 13%;
  width: 36%;
  height: 60%;
  max-width: 450px;
  max-height: 410px;
  z-index: 2;
}

.index_page4 .index_p4_container .index_p4_bigPic .index_p4_bigPic_img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-animation: resize 10s linear infinite;
          animation: resize 10s linear infinite;
}

.index_page4 .index_p4_container .index_p4_bigPic .index_p4_bigPic_img img {
  width: 100%;
  height: 100%;
}

.index_page4 .index_p4_container .index_p4_bigPic .index_p4_bigPic img {
  width: 100%;
  height: 100%;
}

.index_page4 .index_p4_container .index_p4_bigPic .index_p4_bigPic_info {
  position: absolute;
  left: 0;
  width: 190px;
  height: 140px;
  bottom: -5%;
  padding: 20px;
  background: url("/images/index/product_explanatorytext02.png");
  background-size: 150%;
  background-position: center;
  overflow: hidden;
  -webkit-animation: resize_small 5s linear infinite;
          animation: resize_small 5s linear infinite;
  text-align: center;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.index_page4 .index_p4_container .index_p4_bigPic .index_p4_bigPic_info p {
  font-size: 18px;
  color: #172852;
}

@media (max-width: 900px) {
  .index_page4 .index_p4_container .index_p4_bigPic {
    left: 50%;
    bottom: 5vh;
    -webkit-transform: translate(-60%, 0px);
            transform: translate(-60%, 0px);
  }
  .index_page4 .index_p4_container .index_p4_bigPic .index_p4_bigPic_img {
    width: 130%;
  }
}

@media (max-width: 575px) {
  .index_page4 .index_p4_container .index_p4_bigPic {
    display: none;
  }
}

@-webkit-keyframes resize {
  0% {
    border-radius: 50% 50% 54% 46% / 49% 50% 50% 51%;
  }
  33% {
    border-radius: 69% 31% 67% 33% / 48% 66% 48% 52%;
  }
  66% {
    border-radius: 46% 54% 25% 75% / 70% 37% 63% 30%;
  }
  100% {
    border-radius: 50% 50% 54% 46% / 49% 50% 50% 51%;
  }
}

@keyframes resize {
  0% {
    border-radius: 50% 50% 54% 46% / 49% 50% 50% 51%;
  }
  33% {
    border-radius: 69% 31% 67% 33% / 48% 66% 48% 52%;
  }
  66% {
    border-radius: 46% 54% 25% 75% / 70% 37% 63% 30%;
  }
  100% {
    border-radius: 50% 50% 54% 46% / 49% 50% 50% 51%;
  }
}

@-webkit-keyframes resize_small {
  0% {
    border-radius: 46% 54% 35% 65% / 47% 37% 63% 53%;
  }
  33% {
    border-radius: 66% 34% 65% 35% / 64% 49% 51% 36%;
  }
  66% {
    border-radius: 44% 56% 60% 40% / 41% 58% 42% 59%;
  }
  100% {
    border-radius: 46% 54% 35% 65% / 47% 37% 63% 53%;
  }
}

@keyframes resize_small {
  0% {
    border-radius: 46% 54% 35% 65% / 47% 37% 63% 53%;
  }
  33% {
    border-radius: 66% 34% 65% 35% / 64% 49% 51% 36%;
  }
  66% {
    border-radius: 44% 56% 60% 40% / 41% 58% 42% 59%;
  }
  100% {
    border-radius: 46% 54% 35% 65% / 47% 37% 63% 53%;
  }
}

.index_p4_itemList {
  width: 100%;
  height: 40%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0%;
  bottom: 0;
}

.p4-item {
  width: 150px;
  height: 150px;
  margin: 60px 25px;
}

.index_p4_itemPic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.index_p4_itemPic img {
  width: 100%;
  height: 100%;
}

.index_p4_itemTxt {
  text-align: center;
  margin-top: 10px;
}

.p4-watermark {
  position: absolute;
}

.p4-watermark img {
  width: 100%;
  height: 100%;
}

.p4-mark1 {
  width: 300px;
  height: 270px;
  left: 80px;
  top: 50%;
}

.p4-mark2 {
  width: 430px;
  height: 430px;
  left: 480px;
  top: -250px;
}

.p4-mark3 {
  width: 480px;
  height: 465px;
  right: -100px;
  bottom: 200px;
}

/* ==================第五面================== */
.index_page5 {
  position: relative;
  overflow-x: hidden;
  background: url("../images/index/bg.png");
  background-size: cover;
}

.index_page5 .index_p5_container {
  height: 100vh;
  width: 100%;
  max-width: 1400px;
  max-height: 850px;
  margin: auto;
  position: relative;
}

.index_page5 .index_p5_container .index_p5_txt {
  width: 50%;
  height: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  padding-left: 150px;
}

.index_page5 .index_p5_container .index_p5_txt h1 {
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: #bb866a;
  margin-top: 90px;
  line-height: 0.7em;
  margin-bottom: 12px;
  /* border: 1px solid green; */
}

.index_page5 .index_p5_container .index_p5_txt h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #bb866a;
  margin-bottom: 30px;
  line-height: 0.9em;
  /* border: 1px solid green; */
}

.index_page5 .index_p5_container .index_p5_txt p {
  width: 100%;
  color: #bb866a;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 900;
  line-height: 30px;
}

@media (max-width: 575px) {
  .index_page5 .index_p5_container .index_p5_txt p {
    margin-bottom: 0px;
  }
}

.index_page5 .index_p5_container .index_p5_txt a {
  background-color: #172852;
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  display: block;
  width: 140px;
  height: 35px;
  text-align: center;
  line-height: 15px;
  font-weight: 900;
}

.index_page5 .index_p5_container .index_p5_txt a:hover {
  background-color: #2e447c;
}

@media (max-width: 767px) {
  .index_page5 .index_p5_container .index_p5_txt {
    padding-left: 100px;
  }
}

@media (max-width: 575px) {
  .index_page5 .index_p5_container .index_p5_txt {
    width: 85%;
    margin: 0 auto;
    padding-left: 0px;
    z-index: 2;
  }
  .index_page5 .index_p5_container .index_p5_txt .index_p5btn {
    margin: 0 auto;
  }
  .index_page5 .index_p5_container .index_p5_txt h1 {
    margin-top: 12vh;
  }
  .index_page5 .index_p5_container .index_p5_txt h3 {
    margin-bottom: 3vh;
  }
}

.index_page5 .index_p5_container .index_p5_bigPic {
  width: 38vw;
  height: 33vw;
  max-width: 450px;
  max-height: auto;
  position: absolute;
  left: 55%;
  top: 15vh;
  background: url("/images/index/product_explanatorytext02.png");
  background-size: cover;
  background-position: center;
  -webkit-animation: resize1 8s linear infinite;
          animation: resize1 8s linear infinite;
}

.index_page5 .index_p5_container .index_p5_bigPic .index_p5_bigPic_box {
  width: 80%;
  height: auto;
}

.index_page5 .index_p5_container .index_p5_bigPic .index_p5_bigPic_fourItem {
  width: 48%;
  height: auto;
  position: absolute;
  right: 30px;
  top: 35%;
}

@media (max-width: 575px) {
  .index_page5 .index_p5_container .index_p5_bigPic {
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%, -15vh);
            transform: translate(-50%, -15vh);
    width: 180px;
    height: auto;
    min-width: 180px;
    min-height: 155px;
  }
}

.index_page5 .index_p5_container .index_p5_manual {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 100px;
  padding-top: 100px;
  position: relative;
  z-index: 2;
}

.index_page5 .index_p5_container .index_p5_manual .index_p5_manualItem {
  width: 200px;
  margin: 0 10px;
}

.index_page5 .index_p5_container .index_p5_manual .index_p5_manualItem h3 {
  text-align: center;
  margin-bottom: 10px;
  color: #172852;
}

.index_page5 .index_p5_container .index_p5_manual .index_p5_manualItem p {
  font-size: 14px;
  color: #172852;
  font-weight: 900;
  line-height: 25px;
}

.index_page5 .index_p5_container .index_p5_manual .index_p5_manual-pic {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.index_page5 .index_p5_container .index_p5_manual img {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .index_page5 .index_p5_container .index_p5_manual {
    width: 81%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    padding-left: 0px;
    padding-top: 70px;
  }
  .index_page5 .index_p5_container .index_p5_manual .index_p5_manualTxt p {
    width: 75%;
    margin: 0 auto;
  }
  .index_page5 .index_p5_container .index_p5_manual .index_p5_manualTxt h1 {
    margin-top: 120px;
  }
  .index_page5 .index_p5_container .index_p5_manual .index_p5_manualTxt h3 {
    font-size: 14px;
  }
}

@media (max-width: 575px) {
  .index_page5 .index_p5_container .index_p5_manual {
    width: 85%;
    padding-top: 2vh;
  }
  .index_page5 .index_p5_container .index_p5_manual .index_p5_manual-pic {
    width: 60px;
    height: 60px;
  }
  .index_page5 .index_p5_container .index_p5_manual .index_p5_manualTxt p {
    display: none;
  }
  .index_page5 .index_p5_container .index_p5_manual .index_p5_manualTxt h1 {
    margin-top: 120px;
  }
  .index_page5 .index_p5_container .index_p5_manual .index_p5_manualTxt h3 {
    font-size: 14px;
  }
}

.p5-watermark {
  position: absolute;
}

.p5-watermark img {
  width: 100%;
  height: 100%;
}

.p5-mark1 {
  width: 280px;
  height: 355px;
  left: 0px;
  bottom: 0px;
}

.p5-mark2 {
  width: 270px;
  height: 260px;
  right: 10%;
  bottom: 0px;
}

.p5-mark3 {
  width: 460px;
  height: 520px;
  right: -20px;
  top: -30%;
}

@-webkit-keyframes resize1 {
  0% {
    border-radius: 43% 57% 38% 62% / 50% 45% 55% 50%;
  }
  33% {
    border-radius: 69% 31% 67% 33% / 48% 66% 48% 52%;
  }
  66% {
    border-radius: 46% 54% 25% 75% / 70% 37% 63% 30%;
  }
  100% {
    border-radius: 43% 57% 38% 62% / 50% 45% 55% 50%;
  }
}

@keyframes resize1 {
  0% {
    border-radius: 43% 57% 38% 62% / 50% 45% 55% 50%;
  }
  33% {
    border-radius: 69% 31% 67% 33% / 48% 66% 48% 52%;
  }
  66% {
    border-radius: 46% 54% 25% 75% / 70% 37% 63% 30%;
  }
  100% {
    border-radius: 43% 57% 38% 62% / 50% 45% 55% 50%;
  }
}

/* ==================第六面================== */
.index_page6 {
  position: relative;
  overflow-x: hidden;
  background: url("../images/index/bg.png");
  background-size: cover;
}

.index_page6 .index_p6_container {
  height: 100vh;
  width: 100%;
  max-width: 1400px;
  max-height: 850px;
  margin: auto;
  position: relative;
}

.index_page6 .index_p6_container .index_p6_txt {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index_page6 .index_p6_container .index_p6_txt h1 {
  width: 300px;
  text-align: center;
  font-size: 24px;
  color: #bb866a;
  margin-top: 90px;
  line-height: 0.7em;
  margin-bottom: 12px;
}

.index_page6 .index_p6_container .index_p6_txt h3 {
  width: 300px;
  text-align: center;
  font-size: 18px;
  color: #bb866a;
  margin-bottom: 30px;
  line-height: 0.9em;
}

.index_page6 .index_p6_container .index_p6_card {
  width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .index_page6 .index_p6_container .index_p6_card {
    width: 350px;
    height: 350px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }
}

.index_page6 .index_p6_container .index_p6_card .index_p6_cardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.index_page6 .index_p6_container .index_p6_card .index_p6_cardContainer .index_p6_cardbg {
  width: 20%;
  height: 40%;
  margin: 0 20px;
  border-radius: 10px;
  background: url("../images/index/news_hoverbg.png");
  background-size: cover;
}

.index_page6 .index_p6_container .index_p6_card .index_p6_cardContainer .index_p6_cardbg .index_p6_cardItem {
  width: 100%;
  height: 100%;
  position: relative;
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: #999 0px 0px 10px;
          box-shadow: #999 0px 0px 10px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.index_page6 .index_p6_container .index_p6_card .index_p6_cardContainer .index_p6_cardbg .index_p6_cardItem:hover {
  -webkit-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
}

.index_page6 .index_p6_container .index_p6_card .index_p6_cardContainer .index_p6_cardbg .index_p6_cardItem .index_p6_itemImg {
  width: 100%;
  height: 45%;
  overflow: hidden;
}

.index_page6 .index_p6_container .index_p6_card .index_p6_cardContainer .index_p6_cardbg .index_p6_cardItem .index_p6_itemImg img {
  width: 100%;
  height: 100%;
  vertical-align: top;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.index_page6 .index_p6_container .index_p6_card .index_p6_cardContainer .index_p6_cardbg .index_p6_cardItem .index_p6_itemTxt {
  width: 100%;
  height: 55%;
  text-align: left;
  padding: 20px;
  background-color: #fff;
  border-radius: 0px 0px 10px 10px;
}

.index_page6 .index_p6_container .index_p6_card .index_p6_cardContainer .index_p6_cardbg .index_p6_cardItem .index_p6_itemTxt h3 {
  font-size: 14px;
  margin-bottom: 5px;
  color: #bb866a;
}

.index_page6 .index_p6_container .index_p6_card .index_p6_cardContainer .index_p6_cardbg .index_p6_cardItem .index_p6_itemTxt p {
  font-size: 14px;
  color: #bb866a;
  font-weight: 900;
  line-height: 25px;
}

.index_page6 .index_p6_container .index_p6_card .index_p6_cardContainer .index_p6_cardbg .index_p6_cardItem .index_p6_itemTxt h4 {
  color: #f7c242;
  margin-bottom: 10px;
}

.index_page6 .index_p6_container .index_p6_card .index_p6_cardContainer .index_p6_cardbg .index_p6_cardItem .index_p6_cardBtn {
  margin-top: 5%;
  display: block;
  text-align: right;
  font-size: 14px;
  color: #172852;
  position: relative;
}

.index_page6 .index_p6_container .index_p6_card .index_p6_cardContainer .index_p6_cardbg .index_p6_cardItem .index_p6_cardBtn i {
  margin-left: 5px;
}

@media (max-width: 1030px) {
  .index_page6 .index_p6_container .index_p6_card .index_p6_cardContainer .index_p6_cardbg {
    width: 25%;
    margin: 0 10px;
  }
  .index_page6 .index_p6_container .index_p6_card .index_p6_cardContainer .index_p6_cardbg .index_p6_itemTxt h4 {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .index_page6 .index_p6_container .index_p6_card .index_p6_cardContainer {
    margin-top: 100px;
  }
}

@media (max-width: 575px) {
  .index_page6 .index_p6_container .index_p6_card .index_p6_cardContainer {
    width: 1050px;
    margin: 0 auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: relative;
    top: 10px;
    left: 0;
  }
  .index_page6 .index_p6_container .index_p6_card .index_p6_cardContainer .index_p6_cardbg {
    margin: 0 45px;
  }
}

.index_p6_carousel {
  width: 100px;
  margin: 10px auto 50px auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.index_p6_carousel .index_p6_carousel_point {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: #ccc;
  cursor: pointer;
}

.index_p6_carousel .index_p6_carousel_point:nth-child(1) {
  background-color: #172852;
}

@media (max-width: 767px) {
  .index_p6_carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.index_p6-btn {
  width: 100%;
}

.index_p6-btn a {
  background-color: #172852;
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  display: block;
  width: 140px;
  height: 35px;
  text-align: center;
  line-height: 15px;
  font-weight: 900;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.index_p6-btn a:hover {
  background-color: #2e447c;
}

.p6-watermark {
  position: absolute;
}

.p6-watermark img {
  width: 100%;
  height: 100%;
}

.p6-mark1 {
  width: 420px;
  height: 400px;
  left: -2%;
  top: -30%;
}

.p6-mark2 {
  width: 250px;
  height: 230px;
  left: 10%;
  bottom: -18%;
}

.p6-mark3 {
  width: 400px;
  height: 520px;
  right: -5%;
  bottom: -15%;
}

/* ==================第七面================== */
.index_page7 {
  position: relative;
  overflow-x: hidden;
  background: url("../images/index/bg.png");
  background-size: cover;
}

.index_page7 .index_p7_container {
  height: 100vh;
  width: 100%;
  max-width: 1400px;
  max-height: 850px;
  margin: auto;
  position: relative;
}

.index_page7 .index_p7_container .index_p7_txt {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index_page7 .index_p7_container .index_p7_txt h1 {
  width: 300px;
  text-align: center;
  font-size: 24px;
  color: #bb866a;
  margin-top: 90px;
  line-height: 0.7em;
  margin-bottom: 12px;
}

.index_page7 .index_p7_container .index_p7_txt h3 {
  width: 300px;
  text-align: center;
  font-size: 18px;
  color: #bb866a;
  margin-bottom: 40px;
  line-height: 0.9em;
}

.index_page7 .index_p7_container .index_p7_txt h2 {
  color: #bb866a;
  font-size: 22px;
  position: relative;
  font-weight: 900;
  height: 20px;
  margin-bottom: 50px;
}

.index_page7 .index_p7_container .index_p7_txt h2::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -20px;
  display: block;
  width: 100%;
  height: 10px;
  border-bottom: 2px solid #bb866a;
}

.index_page7 .index_p7_container .index_p7_info .index_p7_shopInfo {
  width: 30%;
  position: relative;
  left: 20%;
}

.index_page7 .index_p7_container .index_p7_info .index_p7_shopInfo h2 {
  color: #bb866a;
  font-size: 22px;
  position: relative;
}

.index_page7 .index_p7_container .index_p7_info .index_p7_shopInfo h2::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #bb866a;
}

.index_page7 .index_p7_container .index_p7_info .index_p7_shopInfo .p7-servicehour, .index_page7 .index_p7_container .index_p7_info .index_p7_shopInfo .p7-dayoff, .index_page7 .index_p7_container .index_p7_info .index_p7_shopInfo .p7-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.index_page7 .index_p7_container .index_p7_info .index_p7_shopInfo .p7-servicehour p, .index_page7 .index_p7_container .index_p7_info .index_p7_shopInfo .p7-dayoff p, .index_page7 .index_p7_container .index_p7_info .index_p7_shopInfo .p7-tel p {
  color: #bb866a;
  font-weight: 900;
}

.index_page7 .index_p7_container .index_p7_info .index_p7_shopInfo .p7-servicehour p:nth-child(1), .index_page7 .index_p7_container .index_p7_info .index_p7_shopInfo .p7-dayoff p:nth-child(1), .index_page7 .index_p7_container .index_p7_info .index_p7_shopInfo .p7-tel p:nth-child(1) {
  width: 80px;
  color: #bb866a;
}

.index_page7 .index_p7_container .index_p7_info .index_p7_shopInfo .index_p7_address {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80px 250px;
      grid-template-columns: 80px 250px;
  width: 100%;
  margin-top: 20px;
}

.index_page7 .index_p7_container .index_p7_info .index_p7_shopInfo .index_p7_address p {
  color: #bb866a;
}

.index_page7 .index_p7_container .index_p7_info .index_p7_shopInfo .index_p7_address .index_p7_address_detailed a {
  background-color: #172852;
  color: #fff;
  font-size: 12px;
  padding: 10px 20px;
  border-radius: 25px;
  display: block;
  width: 120px;
  height: 30px;
  text-align: center;
  line-height: 10px;
  font-weight: 900;
  margin-top: 5px;
}

.index_page7 .index_p7_container .index_p7_info .index_p7_shopInfo .index_p7_address .index_p7_address_detailed a:hover {
  background-color: #2e447c;
}

.index_page7 .index_p7_container .index_p7_info .index_p7_shopBtn {
  width: 360px;
  padding-top: 10px;
  position: relative;
  left: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.index_page7 .index_p7_container .index_p7_info .index_p7_shopBtn a {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: #172852;
  border-radius: 50%;
  text-align: center;
  margin-left: 10px;
}

.index_page7 .index_p7_container .index_p7_info .index_p7_shopBtn a:hover {
  background-color: #2e447c;
}

.index_page7 .index_p7_container .index_p7_info .index_p7_shopBtn .index_p7_shopBtn-left {
  background-color: #fff;
  border: 2px solid #172852;
}

.index_page7 .index_p7_container .index_p7_info .index_p7_shopBtn .index_p7_shopBtn-left .fa-chevron-left {
  font-size: 20px;
  color: #172852;
  line-height: 60px;
}

.index_page7 .index_p7_container .index_p7_info .index_p7_shopBtn .index_p7_shopBtn-left:hover {
  background-color: #2e447c;
}

.index_page7 .index_p7_container .index_p7_info .index_p7_shopBtn .index_p7_shopBtn-left:hover i {
  color: #fff;
}

.index_page7 .index_p7_container .index_p7_info .index_p7_shopBtn .fa-chevron-right {
  font-size: 20px;
  color: #fff;
  line-height: 60px;
}

.index_page7 .index_p7_container .index_p7_bigPic {
  width: 30vw;
  height: 45vh;
  min-width: 140px;
  min-height: 140px;
  position: absolute;
  left: 55%;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
}

.index_page7 .index_p7_container .index_p7_bigPic img {
  width: 100%;
  height: auto;
  -webkit-animation: resize2 10s linear infinite;
          animation: resize2 10s linear infinite;
}

@media (max-width: 920px) {
  .index_page7 .index_p7_container .index_p7_shopInfo {
    width: 50%;
    left: 15%;
  }
  .index_page7 .index_p7_container .index_p7_shopInfo .p7-servicehour, .index_page7 .index_p7_container .index_p7_shopInfo .p7-dayoff, .index_page7 .index_p7_container .index_p7_shopInfo .p7-tel {
    margin-top: 5px;
  }
  .index_page7 .index_p7_container .index_p7_shopBtn {
    margin-left: 100px;
  }
}

@media (max-width: 768px) {
  .index_page7 .index_p7_container h1 {
    margin-top: 60px;
  }
  .index_page7 .index_p7_container .index_p7_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    position: relative;
    top: 40%;
    z-index: 1;
  }
  .index_page7 .index_p7_container .index_p7_info .index_p7_shopInfo {
    left: 0%;
    width: 50%;
    margin: 0 auto;
  }
  .index_page7 .index_p7_container .index_p7_info .index_p7_shopInfo h2 {
    font-size: 18px;
  }
  .index_page7 .index_p7_container .index_p7_info .index_p7_shopBtn {
    display: none;
  }
  .index_page7 .index_p7_container .index_p7_bigPic {
    width: 40%;
    height: auto;
    top: 22%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (max-width: 575px) {
  .index_page7 .index_p7_container .index_p7_info {
    top: 20%;
  }
  .index_page7 .index_p7_container .index_p7_info .index_p7_shopInfo {
    width: 80%;
  }
  .index_page7 .index_p7_container .index_p7_bigPic {
    width: 150px;
  }
}

@-webkit-keyframes resize2 {
  0% {
    border-radius: 47% 53% 36% 64% / 50% 41% 59% 50%;
  }
  33% {
    border-radius: 41% 59% 42% 58% / 43% 49% 51% 57%;
  }
  66% {
    border-radius: 58% 42% 52% 48% / 50% 41% 59% 50%;
  }
  100% {
    border-radius: 47% 53% 36% 64% / 50% 41% 59% 50%;
  }
}

@keyframes resize2 {
  0% {
    border-radius: 47% 53% 36% 64% / 50% 41% 59% 50%;
  }
  33% {
    border-radius: 41% 59% 42% 58% / 43% 49% 51% 57%;
  }
  66% {
    border-radius: 58% 42% 52% 48% / 50% 41% 59% 50%;
  }
  100% {
    border-radius: 47% 53% 36% 64% / 50% 41% 59% 50%;
  }
}

.p7-watermark {
  position: absolute;
}

.p7-watermark img {
  width: 100%;
  height: 100%;
}

.p7-mark1 {
  width: 400px;
  height: 400px;
  left: 5px;
  top: -220px;
}

.p7-mark2 {
  width: 250px;
  height: 250px;
  left: 170px;
  bottom: -140px;
}

.p7-mark3 {
  width: 450px;
  height: 450px;
  right: -120px;
  bottom: -50px;
}

.index_p5btn:hover, .index_p3btn:hover, .index_p4btn:hover {
  background-color: #2e447c;
}

/* ==================footer================== */
.footer {
  width: 100%;
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 50px auto 0 auto;
  padding: 60px 0 20px 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.footer a,
.footer p {
  color: #bb866a;
}

.footer .footer-logo {
  display: none;
}

.footer .footer-media {
  display: none;
}

.footer .footer-left {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 200px;
}

.footer .footer-left a {
  font-weight: 900;
  margin: 0px 10px;
}

.footer .footer-left .footer-policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 200px;
}

.footer .footer-right {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 100px;
}

.footer .footer-right p {
  font-size: 8px !important;
  opacity: .8;
}

@media (max-width: 960px) {
  .footer .footer-left {
    padding-left: 100px;
  }
}

@media (max-width: 767px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer-left {
    padding-left: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10px;
  }
  .footer .footer-right {
    width: 90%;
    padding-right: 0px;
  }
}

@media (max-width: 575px) {
  .footer {
    padding-top: 25px;
    background-color: #bb866a;
  }
  .footer a,
  .footer p {
    color: #fff;
  }
  .footer .footer-media {
    display: block;
    margin-bottom: 10px;
  }
  .footer .footer-media a {
    margin: 0 5px;
  }
  .footer .footer-media i {
    font-size: 20px;
    color: #fff;
  }
  .footer .footer-right {
    opacity: .6;
    line-height: 12px;
  }
}
/*# sourceMappingURL=index.css.map */