*{
    box-sizing: border-box;
}

body{
    margin: 0;
    min-width: 1199px;
    /* border: 1px solid red; */
}

.header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: url('../images/loginbg.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 120% 100%;
    padding: 20px 30px;
    margin-bottom: 30px;
}

.logo{
    flex-grow: 2;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.logo img{
    width: 60px;
}

.logo p{
    font-size: 30px;
    color: #bb866a;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.logout{
    display: flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
}

.logout p{
    font-size: 16px;
    color: #172852;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    justify-content: flex-start;
    padding: 0 60px;
}

.left{
    display: flex;
    flex-direction: column;
    width: 15%;
}

.left > a{
    text-decoration: none;
    font-size: 18px;
    color: #172852;
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    width: 144px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
    border: 1px solid #f4ece5;
    background-color: #f4ece5;
}

.left > a:nth-child(7){
    background-color: #f7c242;
}

.left > a:hover{
    background-color: #f7c242;
}

.right{
    /* border: 1px solid red; */
    width: 85%;
}

.right > div{
    border: 1px solid #bb866a;    
}

.right form{
    /* border: 1px solid blue; */
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.right form p{
    font-size: 22px;
    color: #bb866a;
    font-weight: bold;
    margin: 0;
    padding: 0;
    border-bottom: 3px solid #b48164;
}

.faqbtn{
    /* border: 1px solid red; */
    width: 280px;
    margin-left: 40px;
    display: flex;
    column-gap: 40px;
    align-items: flex-end;
}

.faqbtn button{
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #6599e8;
    padding: 0px 25px;
    margin: 0;
    border: 1px solid #6599e8;
    border-radius: 5px;
    cursor: pointer;
    width: 120px;
    height: 28px;
}

.faqbtn .delete{    
    background-color: #a3a3a3;
    border: 1px solid #a3a3a3;    
}

.faqbtn .delete::before{
    content: url('../images/delete.png');
    position: relative;
    right: 5px;
    top: 2px;
}

.faqbtn .add::before{
    content: url('../images/add.png');
    position: relative;
    right: 5px;
    top: 2px;
}


.right form section{
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
    align-items: flex-end;
}

.right form section label{
    border: 1px solid #a3a3a3;
    width: 80px;
    height: 28px;
    background-color: #a3a3a3;
    border-radius: 5px;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 28px;
}

.right form section input{
    border: 1px solid #cba89a;
    width: 216px;
    height: 28px;
    border-radius: 5px;
    font-size: 16px;
    color: #cba89a;
    font-weight: bold;
    margin: 0;
    padding: 0;
    /* text-align: center; */
    line-height: 28px;
    padding-left: 5px;
}

.right form section input::placeholder{
    color: #cba89a;
    font-weight: bold;
}

.title{
    /* border: 1px solid #cba89a; */
    margin: 0;
    padding: 10px;
    list-style: none;
    display: grid;
    grid-template-columns: .3fr 1fr 1fr 2fr 4fr 1fr;
    column-gap: 10px;
    background-color: #cba89a;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold; 
}

.faq{
    /* border: 1px solid #cba89a; */
    margin: 0;
    padding: 10px;
    list-style: none;
    display: grid;
    grid-template-columns: .3fr 1fr 1fr 2fr 4fr 1fr;
    column-gap: 10px;
    background-color: #ffffff;
    font-size: 16px;
    color: #172852;
    font-weight: bold; 
    align-items: center;
}

.faq li:last-child{
    background-color: #6599e8;
    border-radius: 15px;
    text-align: center;
    color: #ffffff;
}

.faq li:last-child:hover{
    cursor: pointer;
}

.footer{
    padding-right: 60px;
}

.footer ul{
    /* border: 1px solid #bb866a; */
    margin: 0;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: flex-end;    
    margin-top: 15px;
}

.footer ul li{
    border: 1px solid #bb866a;
    border-left: none;
    margin: 0;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #bb866a;
}

.footer ul li:hover{
    background-color: #bb866a;
    color: #ffffff;
    cursor: pointer;
}

.footer ul li:nth-child(2){
    background-color: #bb866a;
    color: #ffffff;
}

.footer ul li:first-child{
    border-left: 1px solid #bb866a;
}


/* 編輯 */

.edit{
    width: 800px;
    /* height: 500px; */
    border: 1px solid red;
    display: grid;
    grid-template-rows: 44px 300px 54px;
    border-radius: 10px;
    overflow: hidden;
    /* position: relative;
    left: 20%; */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: #ffffff;
    /* overflow-y: scroll; */

}

.edit > p{
    margin: 0;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background-color: #bb866a;   
    position: sticky;
    top: 0;
    z-index: 3;
}

.edit ul{
    margin: 0;
    padding: 20px;
    list-style: none;
    display: grid;
    grid-template-rows: 1fr 1fr 5fr;
    justify-items: flex-start;
    align-items: center;
    row-gap: 15px;
}

.edit ul li{
    font-size: 16px;
    color: #172852;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.edit ul li:last-child{
    display: flex;
    column-gap: 3px;
}




.edit select{
    font-size: 16px;
    color: #172852;
    font-weight: bold;
    width: 130px;
    padding-left: 10px;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;

    appearance: none;  
    outline: none;
    background: none;
    background-image: url("../images/select.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    border: 1.5px solid #cba89a;
} 

.edit input{
    font-size: 16px;
    color: #172852;
    font-weight: bold;
    border: 1.5px solid #cba89a;
    width: 655px;
}

.edit textarea{
    font-size: 16px;
    color: #172852;
    font-weight: bold;
    border: 1.5px solid #cba89a;
    resize: none;
}





.editbtn{
    display: flex;
    justify-content: center;
    column-gap: 30px;
    height: 54px;
    /* border: 1px solid red; */
}

.editbtn button{
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #172852;
    padding: 5px 25px;
    margin: 0;
    border: 1px solid #172852;
    border-radius: 10px;
    cursor: pointer;
    height: 34px;
}

.editbtn .close{    
    background-color: #a3a3a3;
    border: 1px solid #a3a3a3;    
}





#hide{
    background-color: black;
    opacity: .5;
    position: fixed;
    top: 0;
    left: 0;
    /* display: none; */
    width: 100%;
    height: 100%;
}

.right form section label.-active{
    background: #172852;
}

.-active2{
    color: #a3a3a3;
}




