*{
    box-sizing: border-box;
    font-family: '微軟正黑體';
}

body{
    margin: 0;
    background-color: #cba89a;   
}

.n-login_header{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding-top: 100px;
    padding-bottom: 70px;
    background-image: url('../images/backend/loginbg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110% 100%;
}

img{
    width: 100px;
}

p{
    font-size: 28px;
    font-weight: bold;
    color: #bb866a;
    margin: 0;
    padding: 0;
}

form{
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    width: 300px;

    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

input{
    padding: 7px 5px;
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #172852;
}

input::placeholder{
    font-size: 16px;
    font-weight: bold;
    color: #cba89a;
}

label{
    margin-top: 20px;
}

label:first-child{
    margin-top: -30px;
}

button{
    width: 125px;
    align-self: center;
    background-color: #a3a3a3;
    color: #ffffff;
    border: 1px solid #a3a3a3;
    border-radius: 5px;
    padding: 5px;
    margin-top: 20px;
    font-weight: bold;
}

#login.-active{
    background: #172852;
}





