@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: bold inherit '微軟正黑體';
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 900;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: '微軟正黑體';
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(../images/news/news_bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.navbar {
  width: 100%;
  height: 100px;
  position: relative;
  top: 0px;
  left: 0;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 900;
}

.navbar .navbar-logo {
  margin-left: 10px;
  width: 60px;
  height: 60px;
}

.navbar .navbar-logo img {
  width: 100%;
  height: 100%;
}

.navbar .navbar-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 20px 0 0px;
}

.navbar .navbar-icon a {
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
}

.navbar .navbar-icon a:hover {
  color: #f7c242;
}

.navbar .navbar-icon i {
  color: #bb866a;
  font-size: 28px;
}

.navbar .navbar-icon i:hover {
  color: #f7c242;
}

.navbar .ham_container {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 10;
}

.navbar .ham_container:hover .ham_bar {
  background-color: #f7c242;
}

.navbar .ham_container .ham_bar {
  width: 30px;
  height: 4px;
  background-color: #bb866a;
  border-radius: 10px;
  margin: 6px 0;
}

.navbar .ham_change .ham_bar1 {
  background-color: white;
  -webkit-transform: rotate(-45deg) translate(-6px, 5px);
          transform: rotate(-45deg) translate(-6px, 5px);
}

.navbar .ham_change .ham_bar2 {
  opacity: 0;
}

.navbar .ham_change .ham_bar3 {
  background-color: white;
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
          transform: rotate(45deg) translate(-8px, -8px);
}

.navbar .ham_overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 0;
  top: 0;
  right: 0;
  background-color: #b48164;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar .ham_overlay .ham_overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin: 10px auto;
}

.navbar .ham_overlay .ham_jelly {
  width: 300vw;
  height: 290vw;
  position: absolute;
  top: -302vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 45%;
  background-color: #cba89a;
  -webkit-animation: rotate 15s linear infinite;
          animation: rotate 15s linear infinite;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: translate(-50%, 0) rotateZ(0deg);
            transform: translate(-50%, 0) rotateZ(0deg);
  }
  50% {
    -webkit-transform: translate(-50%, -2%) rotateZ(180deg);
            transform: translate(-50%, -2%) rotateZ(180deg);
  }
  100% {
    -webkit-transform: translate(-50%, 0%) rotateZ(360deg);
            transform: translate(-50%, 0%) rotateZ(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: translate(-50%, 0) rotateZ(0deg);
            transform: translate(-50%, 0) rotateZ(0deg);
  }
  50% {
    -webkit-transform: translate(-50%, -2%) rotateZ(180deg);
            transform: translate(-50%, -2%) rotateZ(180deg);
  }
  100% {
    -webkit-transform: translate(-50%, 0%) rotateZ(360deg);
            transform: translate(-50%, 0%) rotateZ(360deg);
  }
}

.navbar .ham_overlay .ham_select {
  margin: 0 auto;
  text-align: left;
  width: 200px;
}

.navbar .ham_overlay a {
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
  display: block;
  letter-spacing: 2px;
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
}

.navbar .ham_overlay a:hover {
  color: #fad689;
}

.navbar .ham_overlay a:hover:before {
  background-color: #fad689;
}

.navbar .ham_overlay a::before {
  content: "\A";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 20px;
  background-color: transparent;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.navbar .ham_overlay .navbar_logOut {
  display: none;
}

.footer {
  width: 100%;
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 50px auto 0 auto;
  padding: 60px 0 20px 0;
}

.footer a,
.footer p {
  color: #bb866a;
}

.footer .footer-logo {
  display: none;
}

.footer .footer-media {
  display: none;
}

.footer .footer-left {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 200px;
}

.footer .footer-left a {
  font-weight: 900;
  margin: 0px 10px;
}

.footer .footer-left .footer-policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 200px;
}

.footer .footer-right {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 100px;
}

.footer .footer-right p {
  font-size: 8px !important;
  opacity: .8;
}

@media (max-width: 960px) {
  .footer .footer-left {
    padding-left: 100px;
  }
}

@media (max-width: 767px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer-left {
    padding-left: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10px;
  }
  .footer .footer-right {
    width: 90%;
    padding-right: 0px;
  }
}

@media (max-width: 575px) {
  .footer {
    padding-top: 25px;
    background-color: #bb866a;
  }
  .footer a,
  .footer p {
    color: #fff;
  }
  .footer .footer-media {
    display: block;
    margin-bottom: 10px;
  }
  .footer .footer-media a {
    margin: 0 5px;
  }
  .footer .footer-media i {
    font-size: 20px;
    color: #fff;
  }
  .footer .footer-right {
    opacity: .6;
    line-height: 12px;
    display: none;
  }
}

.mediacolumn {
  position: fixed;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 500;
}

.mediacolumn::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 15vh;
  background-color: #bb866a;
  left: 30px;
  top: -15vh;
}

.mediacolumn::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 15vh;
  background-color: #bb866a;
  left: 30px;
  bottom: -15vh;
}

.mediacolumn a {
  display: block;
  width: 60px;
  text-align: center;
  margin-top: 10px;
}

.mediacolumn a:nth-child(1) {
  margin-top: 12px;
}

.mediacolumn a:nth-child(3) {
  margin-bottom: 12px;
}

.mediacolumn a i {
  color: #bb866a;
  font-size: 28px;
}

.mediacolumn a i:hover {
  color: #f7c242;
}

@media (max-width: 575px) {
  .mediacolumn {
    display: none;
  }
}

.newsAll_title, .newsAll_classification {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  /* border: 1px solid red; */
}

/* 滑動效果 */
.newsChoosenBar2, .newsAll_classificationTitle h4 {
  -webkit-transition: all 0.8s cubic-bezier(0.6, 0, 0.4, 1);
  transition: all 0.8s cubic-bezier(0.6, 0, 0.4, 1);
}

/* 大標 */
.newsAll_title > p {
  font-size: 14px;
  color: #bb866a;
  padding-bottom: 5px;
  border-bottom: 2px solid #bb866a;
  display: inline-block;
  margin: 0px 0 30px 0;
}

.newsAll_title > h2 {
  font-size: 28px;
  color: #bb866a;
  margin: 0 0 30px 0;
}

/* 標題 */
.newsAll_classificationTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.newsAll_classificationTitle h4 {
  /* border: 1px solid orange; */
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  text-align: center;
  margin: 0;
  color: #cba89a;
  font-size: 16px;
  cursor: pointer;
}

.newsAll_classificationTitle h4:first-child {
  color: #172852;
}

/* 標題下方選擇提示條 */
.newsUnderLine {
  position: relative;
}

.newsUnderLine .newsChoosenBar {
  width: 100%;
  height: 2px;
  background-color: #cba89a;
  /* display: block; */
}

.newsUnderLine .newsChoosenBar2 {
  width: 20%;
  height: 2px;
  background-color: #172852;
  position: absolute;
  top: 0;
  left: 0;
}

.newsUnderLine .newsChoosenBar2::before {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50px;
  background-color: #172852;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* 消息區域 */
.newsPart1 {
  /* border: solid 1px red; */
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
}

.newsPart2, .newsPart3, .newsPart4, .newsPart5 {
  /* border: solid 1px red; */
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: none;
  margin-top: 50px;
}

/* 消息佈局 */
.news_blockarray {
  /* border: solid 1px blue; */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* 消息樣式 */
.news_blockbg {
  /* border: solid 1px #172852; */
  position: relative;
  width: 250px;
  height: 320px;
  border-radius: 10px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  z-index: 1;
  -webkit-transition: .2s;
  transition: .2s;
}

.news_blockpic {
  /* border: solid 1px green; */
  width: 100%;
  height: 48%;
  border-radius: 10px 10px 0px 0px;
  background-color: #882929;
  overflow: hidden;
}

.news_blockpic > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.news_blockStitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 10px;
  font-weight: bold;
  color: #cba89a;
}

.news_blockStitle > h3:first-child {
  margin: 0px;
  margin-right: 10px;
}

.news_blockStitle > h3:last-child {
  margin: 0px;
}

.news_blockText {
  padding: 20px;
  width: 100%;
  height: 52%;
}

.news_blockText > h4 {
  margin: 0px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #f7c242;
  text-align: left;
}

.news_blockText > p {
  margin: 0px;
  margin-top: 10px;
  font-size: 12px;
  font-weight: bold;
  color: #bb866a;
  text-align: left;
}

.news_blockmore {
  position: absolute;
  right: 20px;
  bottom: 20px;
  text-decoration: none;
  color: #172852;
  font-size: 12px;
  font-weight: bold;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news_blockmore > svg {
  width: 15px;
  margin-left: 5px;
}

.news_blocklink {
  /* border: solid 1px yellow; */
  text-decoration: none;
  display: block;
  width: 250px;
  height: 320px;
  position: relative;
  margin: auto;
  margin-bottom: 30px;
}

.news_blocklink > img {
  width: 250px;
  height: 320px;
  position: absolute;
  border-radius: 10px;
  top: 0px;
}

/* hover樣式 */
.news_blocklink:hover .news_blockmore {
  color: #647bb5;
}

.news_blockbg:hover {
  -webkit-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
}

/* 顯示更多消息btn */
.loadingMore > a {
  margin: 20px auto 90px;
  background-color: #172852;
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  display: block;
  width: 140px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.mainbtn:hover {
  background-color: #2e447c;
}

@media (max-width: 1380px) {
  .news_blockarray {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1010px) {
  .news_blockarray {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 767px) {
  .newsAll_classification {
    overflow-x: auto;
    height: 40px;
    width: 100%;
  }
  .newsAll_classification > div > h4 {
    white-space: nowrap;
    border-bottom: 2px solid #cba89a;
    padding-bottom: 7px;
    margin-right: 15px;
    margin-left: 5%;
    margin-right: 5%;
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
  }
  .newsAll_classification h4:first-child {
    margin-left: 10%;
  }
  .newsAll_classification h4:last-child {
    margin-right: 10%;
  }
  .newsAll_classification .newsUnderLine {
    display: none;
  }
  .newsAll_classification .thisClicked {
    border-bottom: 2px solid #172852;
  }
  .newsAll_classification::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 700px) {
  .news_blockarray {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
