@charset "UTF-8";
.navbar {
  width: 100%;
  height: 100px;
  position: relative;
  top: 0px;
  left: 0;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  z-index: 900;
}

.navbar .navbar-logo {
  margin-left: 10px;
  width: 60px;
  height: 60px;
}

.navbar .navbar-logo img {
  width: 100%;
  height: 100%;
}

.navbar .navbar-icon {
  display: flex;
  justify-content: flex-start;
  margin: 0 20px 0 0px;
}

.navbar .navbar-icon a {
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
}

.navbar .navbar-icon i {
  color: #bb866a;
  font-size: 28px;
}

.footer {
  width: 100%;
  max-width: 1400px;
  display: flex;
  position: relative;
  margin: 50px auto 0 auto;
  padding: 60px 0 20px 0;
}

.footer a, .footer p {
  color: #bb866a;
}

.footer .footer-logo {
  display: none;
}

.footer .footer-media {
  display: none;
}

.footer .footer-left {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 200px;
}

.footer .footer-left a {
  font-weight: 900;
  margin: 0px 10px;
}

.footer .footer-left .footer-policy {
  display: flex;
  justify-content: center;
  min-width: 200px;
}

.footer .footer-right {
  width: 60%;
  display: flex;
  align-items: center;
  padding-right: 100px;
}

.footer .footer-right p {
  font-size: 8px !important;
  opacity: .8;
}

@media (max-width: 960px) {
  .footer .footer-left {
    padding-left: 100px;
  }
}

@media (max-width: 767px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer .footer-left {
    padding-left: 0px;
    justify-content: center;
    margin-bottom: 10px;
  }
  .footer .footer-right {
    width: 90%;
    padding-right: 0px;
  }
}

@media (max-width: 575px) {
  .footer {
    padding-top: 25px;
    background-color: #bb866a;
  }
  .footer a, .footer p {
    color: #fff;
  }
  .footer .footer-media {
    display: block;
    margin-bottom: 10px;
  }
  .footer .footer-media a {
    margin: 0 5px;
  }
  .footer .footer-media i {
    font-size: 20px;
  }
  .footer .footer-right {
    opacity: .6;
    line-height: 12px;
  }
}

* {
  box-sizing: border-box;
  font-family: "微軟正黑體";
  color: #bb866a;
}

body {
  margin: 0;
  background-image: url("../../images/orderConfirmation/bg.png");
  background-size: cover;
  background-attachment: fixed;
}

img {
  width: 100%;
}

.OC_container {
  width: 80%;
  max-width: 1200px;
  margin: auto;
}

/* ========== 訂單處理階段 ========== */
.OC_stage {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.OC_step {
  text-align: center;
  font-size: 0;
}

.OC_payment {
  margin: 0 100px;
}

.OC_confirm > div:first-child {
  width: 40px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  color: #f7c242;
  border: solid 3px #f7c242;
  background-color: #ffffff;
  border-radius: 50%;
  line-height: 35px;
  position: relative;
}

.OC_confirm > p {
  margin: 5px 0 0;
  font-size: 18px;
  font-weight: bold;
  color: #f7c242;
}

.OC_orderData > div, .OC_payment > div {
  width: 40px;
  height: 40px;
  display: inline-flex;
  border: solid 3px #f7c242;
  background-color: #f7c242;
  border-radius: 50%;
}

.OC_check {
  width: 20px;
  margin: auto;
}

.OC_orderData > p, .OC_payment > p {
  margin: 5px 0 0;
  font-size: 18px;
  font-weight: bold;
  color: #f7c242;
}

.OC_orderData > div:first-child, .OC_payment > div:first-child {
  position: relative;
}

.OC_line1 {
  background-color: #f7c242;
  width: 135px;
  height: 2px;
  position: absolute;
  top: 18px;
  right: -138px;
}

.OC_line2 {
  background-color: #f7c242;
  width: 135px;
  height: 2px;
  position: absolute;
  top: 18px;
  right: -137px;
}

.OC_orderContent {
  display: flex;
}

.OC_left {
  width: 60%;
}

.OC_title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

.OC_purchaser {
  color: #172852;
  font-size: 18px;
  font-weight: bold;
  margin-right: 30px;
}

.OC_data {
  display: flex;
  margin-top: 15px;
}

.OC_data > div {
  color: #172852;
  font-size: 16px;
  font-weight: bold;
  margin-right: 68px;
  display: flex;
  align-items: center;
}

.OC_data > input {
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #f0ebe9;
  width: 400px;
  height: 35px;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #172852;
}

.OC_transport, .OC_payMoney {
  display: flex;
  margin: 20px 0 10px;
}

.OC_transport > div:first-child, .OC_payMoney > div:first-child {
  color: #172852;
  font-size: 16px;
  font-weight: bold;
  margin-right: 35px;
  display: flex;
  align-items: center;
}

.OC_transport > div:last-child, .OC_payMoney > div:last-child {
  color: #172852;
  font-size: 16px;
  font-weight: bold;
}

.OC_credit {
  margin-top: 20px;
}

.OC_cardNumber, .OC_cardDate, .OC_cardCode {
  display: flex;
  margin-bottom: 10px;
  font-size: 25px;
  color: #172852;
  align-items: center;
}

.OC_00 {
  color: #172852;
  font-size: 16px;
  font-weight: bold;
  margin-right: 18px;
  display: flex;
  align-items: center;
}

.OC_01 {
  color: #172852;
  font-size: 16px;
  font-weight: bold;
  margin-right: 5px;
  display: flex;
  align-items: center;
}

.OC_cardDate > div:last-child {
  color: #172852;
  font-size: 16px;
  font-weight: bold;
}

.OC_cardNumber > input, .OC_cardCode > input {
  background-color: #f0ebe9;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #172852;
  padding: 10px;
  width: 95px;
  height: 35px;
  border: none;
  outline: none;
  text-align: center;
}

.OC_right {
  background-color: #ffffff;
  box-shadow: 0 0 24px 0 rgba(25, 28, 54, 0.15);
  width: 40%;
  height: 540px;
  margin-left: 30px;
  padding: 20px 15px;
}

.OC_cartTitle {
  font-weight: bold;
  font-size: 18px;
  color: #cba89a;
}

.OC_detail {
  border-top: 1.5px solid #cba89a;
  border-bottom: 1.5px solid #cba89a;
  list-style: none;
  margin: 10px 0;
  height: 300px;
  padding: 0;
  overflow: auto;
}

.OC_item {
  border-bottom: 2px dashed #cba89a;
  display: flex;
  padding: 10px 0;
}

.OC_itemImg {
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

.OC_itemData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.OC_itemData > p {
  margin: 0;
  color: #172852;
  font-size: 14px;
  font-weight: bold;
}

.OC_itemQuantity {
  margin-right: 10px;
  font-weight: bold;
  margin: auto;
  color: #172852;
}

.OC_moneyDetail, .OC_discount {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.OC_moneyDetail > div:first-child, .OC_discount > div:first-child {
  color: #cba89a;
  font-weight: bold;
  font-size: 14px;
}

.OC_moneyDetail > div:last-child {
  color: #172852;
  font-weight: bold;
  font-size: 14px;
}

.OC_discount > div:last-child {
  color: #dc3838;
  font-weight: bold;
  font-size: 14px;
}

.OC_totalPrice {
  border-top: 1.5px solid #cba89a;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

.OC_totalPrice > div:first-child {
  color: #cba89a;
  font-size: 18px;
  font-weight: bold;
}

.OC_totalPrice > div:last-child, .OC_totalPrice span {
  color: #172852;
  font-size: 18px;
  font-weight: bold;
}

.OC_page {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 5px;
  margin-top: 50px;
}

.OC_previous {
  display: flex;
  margin-right: 100px;
  text-decoration: none;
}

.OC_previousImg {
  width: 10px;
  height: 15px;
  margin-right: 10px;
  display: flex;
  margin-top: 5px;
}

.OC_previousText {
  border-bottom: 1.5px solid #a3a3a3;
  padding-bottom: 5px;
  color: #a3a3a3;
  font-size: 18px;
  font-weight: bold;
}

.OC_next {
  display: flex;
  border-radius: 25px;
  background-color: #172852;
  width: 130px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.OC_nextText {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}

.OC_nextImg {
  width: 10px;
  height: 15px;
  margin-left: 10px;
  display: flex;
  margin-top: 3px;
}

.OC_terms {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.OC_itemCB {
  border: solid 2px #172852;
  background-color: #ffffff;
  border-radius: 5px;
  align-self: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 5px;
}

.OC_choose {
  background-color: #172852;
}

.OC_terms > p {
  margin: 0;
  font-weight: bold;
  color: #172852;
}

.OC_terms a {
  color: #dc3838;
  font-weight: bold;
  text-decoration: none;
  margin: 0 5px;
}
/*# sourceMappingURL=orderConfirmation.css.map */