@charset "UTF-8";
.navbar {
  width: 100%;
  height: 100px;
  position: relative;
  top: 0px;
  left: 0;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  z-index: 900;
}

.navbar .navbar-logo {
  margin-left: 10px;
  width: 60px;
  height: 60px;
}

.navbar .navbar-logo img {
  width: 100%;
  height: 100%;
}

.navbar .navbar-icon {
  display: flex;
  justify-content: flex-start;
  margin: 0 20px 0 0px;
}

.navbar .navbar-icon a {
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
}

.navbar .navbar-icon i {
  color: #bb866a;
  font-size: 28px;
}

* {
  box-sizing: border-box;
  font-family: "微軟正黑體";
  color: #bb866a;
}

body {
  margin: 0;
  background-image: url("../../images/payment/bg.png");
  background-size: cover;
  background-attachment: fixed;
}

img {
  width: 100%;
}

.payment_container {
  border: 1px solid black;
  width: 80%;
  max-width: 1200px;
  margin: 100px auto;
}

/* ========== 訂單處理階段 ========== */
.payment_stage {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.payment_step {
  text-align: center;
  font-size: 0;
}

.payment_confirm > div {
  width: 40px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  color: #a3a3a3;
  border: solid 3px #a3a3a3;
  background-color: #ffffff;
  border-radius: 50%;
  line-height: 35px;
}

.payment_confirm > p {
  margin: 5px 0 0;
  font-size: 18px;
  font-weight: bold;
  color: #a3a3a3;
}

.payment_payment {
  margin: 0 100px;
}

.payment_payment > div:first-child {
  width: 40px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  color: #f7c242;
  border: solid 3px #f7c242;
  background-color: #ffffff;
  border-radius: 50%;
  line-height: 35px;
}

.payment_payment > p {
  margin: 5px 0 0;
  font-size: 18px;
  font-weight: bold;
  color: #f7c242;
}

.payment_orderData > div {
  width: 40px;
  height: 40px;
  display: inline-flex;
  border: solid 3px #f7c242;
  background-color: #f7c242;
  border-radius: 50%;
}

.payment_check {
  width: 20px;
  margin: auto;
}

.payment_orderData > p {
  margin: 5px 0 0;
  font-size: 18px;
  font-weight: bold;
  color: #f7c242;
}

.payment_orderData > div:first-child, .payment_payment > div:first-child {
  position: relative;
}

.payment_line1 {
  background-color: #f7c242;
  width: 135px;
  height: 2px;
  position: absolute;
  top: 18px;
  right: -138px;
}

.payment_line2 {
  background-color: #a3a3a3;
  width: 135px;
  height: 2px;
  position: absolute;
  top: 18px;
  right: -138px;
}

.payment_orderContent {
  border: 1px solid red;
  display: flex;
}

.payment_left {
  border: 1px solid green;
  width: 60%;
}

.payment_title {
  font-size: 24px;
  font-weight: bold;
}

.payment_orderInformation {
  border: 1px solid red;
}

.payment_same {
  display: flex;
  align-items: center;
}

.payment_same > div:first-child {
  color: #172852;
  font-size: 18px;
  font-weight: bold;
  margin-right: 30px;
}

.payment_same > div:last-child {
  display: flex;
}

.payment_same > div:last-child > p {
  margin: 0;
  color: #172852;
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
  display: flex;
}

.payment_itemCB {
  border: solid 2px #172852;
  background-color: #ffffff;
  border-radius: 5px;
  align-self: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.payment_choose {
  background-color: #172852;
}
/*# sourceMappingURL=payment.css.map */