@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "微軟正黑體";
}

.cart_mask {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 991;
  display: none;
}

.fixed_window {
  overflow-x: hidden;
  overflow-y: hidden;
}

.cart_cartBoard {
  /* border: 1px solid red; */
  background-color: #ffffff;
  font-size: 0;
  color: #bb866a;
  width: 600px;
  height: 100vh;
  z-index: 992;
  position: fixed;
  right: -600px;
  top: 0;
  -webkit-transition: .5s all linear;
  transition: .5s all linear;
}

.cart_cartBoard img {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .cart_cartBoard {
    width: 100%;
  }
}

.cart_cart {
  /* border: 1px solid red; */
  margin: 0 auto;
  width: 500px;
}

@media screen and (max-width: 600px) {
  .cart_cart {
    width: 90%;
  }
}

.cart_cartTitle {
  /* border: 1px solid green; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0 18px;
}

.cart_cartTitle > p {
  /* border: 1px solid blue; */
  font-size: 28px;
  font-weight: bold;
  margin: 0;
  display: inline-block;
}

.cart_cartTitle > div {
  /* border: 1px solid blue; */
  width: 25px;
  height: 25px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  /* margin-right: 18px; */
  cursor: pointer;
  position: relative;
}

.cart_left {
  background-color: #bb866a;
  border-radius: 5px;
  width: 25px;
  height: 4px;
  position: absolute;
  top: calc((25px - 4px) / 2);
  left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cart_right {
  background-color: #bb866a;
  border-radius: 5px;
  width: 25px;
  height: 4px;
  position: absolute;
  top: calc((25px - 4px) / 2);
  left: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

/* ========== 商品細項 ========== */
.cart_itemList {
  border-top: 2px solid #bb866a;
  border-bottom: 2px solid #bb866a;
  list-style: none;
  padding: 0 0 5px;
  height: calc(100vh - 86px - 70px - 47px - 60px);
  overflow: auto;
  text-align: center;
}

.cart_item {
  border-bottom: 2px dashed #bb866a;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart_customization {
  border-bottom: 2px dashed #bb866a;
  padding: 30px 0;
}

.cart_customizationItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart_itemCB {
  border: solid 2px #172852;
  background-color: #ffffff;
  border-radius: 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.cart_choose {
  background-color: #172852;
}

.cart_itemImg {
  /* border: 1px solid blue; */
  width: 85px;
  height: 85px;
  margin: auto 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 576px) {
  .cart_itemImg {
    margin: auto 20px;
  }
}

.cart_itemText {
  /* border: 1px solid red; */
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.cart_itemText > p {
  /* border: 1px solid red; */
  text-align: left;
  margin: 0;
  color: #172852;
  font-size: 14px;
  font-weight: bold;
}

.cart_itemText span {
  /* border: 1px solid; */
  color: #172852;
  text-align: center;
}

.cart_itemQuantity {
  /* border: 1px solid red; */
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart_itemQuantity > input[type="text"] {
  border: 1.5px solid #172852;
  border-right: none;
  border-left: none;
  font-weight: bold;
  font-size: 16.5px;
  width: 50px;
  height: 25px;
  color: #172852;
  text-align: center;
  outline: none;
}

.cart_itemQuantity > button:nth-child(1) {
  border: 1.5px solid #172852;
  background-color: #c4c4c4;
  color: #172852;
  font-weight: bold;
  font-size: 16px;
  padding: 0;
  width: 25px;
  height: 25px;
  cursor: pointer;
  padding: 0px 1px 2px;
}

.cart_itemQuantity > button:nth-child(3) {
  border: 1.5px solid #172852;
  background-color: #ffffff;
  color: #172852;
  font-weight: bold;
  font-size: 16px;
  padding: 0;
  width: 25px;
  height: 25px;
  cursor: pointer;
  padding: 0px 1px 2px;
}

.cart_itemRight {
  /* border: 1px solid blue; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart_itemDelete {
  /* border: 1px solid blue; */
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
}

.cart_leftD {
  background-color: #172852;
  border-radius: 5px;
  width: 20px;
  height: 3px;
  position: absolute;
  top: calc((20px - 3px) / 2);
  left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cart_rightD {
  background-color: #172852;
  border-radius: 5px;
  width: 20px;
  height: 3px;
  position: absolute;
  top: calc((20px - 3px) / 2);
  left: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.cart_detailBtn {
  border-radius: 15px;
  background-color: #bb866a;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  height: 30px;
  font-size: 12px;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.cart_detailBtn:hover {
  background-color: #cba89a;
}

@media screen and (max-width: 576px) {
  .cart_detailBtn {
    width: 90px;
  }
}

/* ========== 禮盒明細 ========== */
.cart_detailBorder {
  display: none;
}

.cart_detail {
  /* border: 1px solid red; */
  margin-top: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart_detailItem {
  /* border: 1px solid green; */
  color: #172852;
  margin-right: 5px;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}

.cart_detailQuantity {
  /* border: 1px solid orange; */
  font-size: 14px;
  font-weight: bold;
  color: #172852;
}

/* ========== 刪除多個按鈕 ========== */
#cart_deleteMany {
  /* background-color: #a3a3a3; */
  color: #ffffff;
  border-radius: 15px;
  width: 100px;
  height: 30px;
  padding: 5px 20px;
  margin: 10px 0 30px;
  font-size: 14px;
  cursor: default;
  line-height: 20px;
}

/* ========== 購物車無商品 ========== */
.cart_NoItem {
  /* border: 1px solid red; */
  display: inline-block;
  margin-top: calc((100% - 104px) / 3);
  display: none;
}

.cart_NoItem > div {
  /* border: 1px solid green; */
  width: 60px;
  margin: 0 auto;
}

.cart_NoItem > p {
  /* border: 1px solid green; */
  font-size: 18px;
  font-weight: bold;
  color: #a3a3a3;
  margin: 20px 0 0;
  cursor: default;
}

/* ========== 小計 ========== */
.cart_total {
  /* border: 1px solid blue; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

.cart_total > p {
  /* border: 1px solid green; */
  margin: 0;
  font-weight: bold;
  color: #172852;
  position: relative;
}

.cart_total > p:nth-child(1) {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.cart_total > p:nth-child(2) {
  font-size: 24px;
}

.cart_total span {
  color: #172852;
}

/* ========== 前往結帳 ========== */
.cart_checkout {
  background-color: #a3a3a3;
  width: 600px;
  height: 60px;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 60px;
  cursor: default;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
}

@media screen and (max-width: 600px) {
  .cart_checkout {
    width: 100%;
  }
}

.cart_loginCheckBg {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 991;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 1200;
}

.cart_loginCheck {
  width: 25%;
  height: 340px;
  max-width: 300px;
  max-height: 340px;
  min-width: 290px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0px 10px 32px rgba(23, 40, 82, 0.6);
          box-shadow: 0px 10px 32px rgba(23, 40, 82, 0.6);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 40px;
  z-index: 999;
  position: fixed;
}

.cart_loginCheck img {
  width: 80px;
  height: auto;
}

.cart_loginCheck h2 {
  color: #172852;
  font-size: 28px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.cart_loginCheck p {
  color: #172852;
  margin-bottom: 45px;
  font-size: 14px;
  font-weight: 900;
}

.cart_loginCheck div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 575px) {
  .cart_loginCheck {
    padding: 40px 20px;
  }
}

.cart_loginCheck .mainBtn {
  display: block;
  padding: 8px 10px;
  width: 120px;
  border-radius: 25px;
  background: #172852;
  border: 3px solid #172852;
  color: #fff;
  text-align: center;
  font-weight: 900;
  cursor: pointer;
  text-decoration: none;
}

.cart_loginCheck .mainBtn:hover {
  background-color: #2e447c;
  color: #fff;
  border: 3px solid #2e447c;
}

.cart_loginCheck .fa-times {
  position: absolute;
  font-size: 22px;
  top: 15px;
  right: 20px;
  color: #000;
}

/* ================================== 不用複製 =================================== */
.navbar {
  width: 100%;
  height: 100px;
  position: relative;
  top: 0px;
  left: 0;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 900;
}

.navbar .navbar-logo {
  margin-left: 10px;
  width: 60px;
  height: 60px;
}

.navbar .navbar-logo img {
  width: 100%;
  height: 100%;
}

.navbar .navbar-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 20px 0 0px;
}

.navbar .navbar-icon a {
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
}

.navbar .navbar-icon a:hover {
  color: #f7c242;
}

.navbar .navbar-icon a i {
  color: #bb866a;
  font-size: 28px;
}

.navbar .navbar-icon a i:hover {
  color: #f7c242;
}

.navbar .ham_container {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 10;
}

.navbar .ham_container:hover .ham_bar {
  background-color: #f7c242;
}

.navbar .ham_container .ham_bar {
  width: 30px;
  height: 4px;
  background-color: #bb866a;
  border-radius: 10px;
  margin: 6px 0;
}

.navbar .ham_change .ham_bar1 {
  background-color: white;
  -webkit-transform: rotate(-45deg) translate(-6px, 5px);
          transform: rotate(-45deg) translate(-6px, 5px);
}

.navbar .ham_change .ham_bar2 {
  opacity: 0;
}

.navbar .ham_change .ham_bar3 {
  background-color: white;
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
          transform: rotate(45deg) translate(-8px, -8px);
}

.navbar .ham_overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 0;
  top: 0;
  right: 0;
  background-color: #b48164;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar .ham_overlay .ham_overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin: 10px auto;
}

.navbar .ham_overlay .ham_jelly {
  width: 300vw;
  height: 290vw;
  position: absolute;
  top: -302vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 45%;
  background-color: #cba89a;
  -webkit-animation: rotate 15s linear infinite;
          animation: rotate 15s linear infinite;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: translate(-50%, 0) rotateZ(0deg);
            transform: translate(-50%, 0) rotateZ(0deg);
  }
  50% {
    -webkit-transform: translate(-50%, -2%) rotateZ(180deg);
            transform: translate(-50%, -2%) rotateZ(180deg);
  }
  100% {
    -webkit-transform: translate(-50%, 0%) rotateZ(360deg);
            transform: translate(-50%, 0%) rotateZ(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: translate(-50%, 0) rotateZ(0deg);
            transform: translate(-50%, 0) rotateZ(0deg);
  }
  50% {
    -webkit-transform: translate(-50%, -2%) rotateZ(180deg);
            transform: translate(-50%, -2%) rotateZ(180deg);
  }
  100% {
    -webkit-transform: translate(-50%, 0%) rotateZ(360deg);
            transform: translate(-50%, 0%) rotateZ(360deg);
  }
}

.navbar .ham_overlay .ham_select {
  margin: 0 auto;
  text-align: left;
  width: 200px;
}

.navbar .ham_overlay a {
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
  display: block;
  letter-spacing: 2px;
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
}

.navbar .ham_overlay a:hover {
  color: #fad689;
}

.navbar .ham_overlay a:hover:before {
  background-color: #fad689;
}

.navbar .ham_overlay a::before {
  content: "\A";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 20px;
  background-color: transparent;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.navbar .ham_overlay .navbar_logOut {
  display: none;
}

.footer {
  width: 100%;
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 50px auto 0 auto;
  padding: 60px 0 20px 0;
}

.footer a,
.footer p {
  color: #bb866a;
}

.footer a:hover {
  color: #cba89a;
}

.footer .footer-logo {
  display: none;
}

.footer .footer-media {
  display: none;
}

.footer .footer-left {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 200px;
}

.footer .footer-left a {
  font-weight: 900;
  margin: 0px 10px;
}

.footer .footer-left .footer-policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 200px;
}

.footer .footer-right {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 100px;
}

.footer .footer-right p {
  font-size: 8px !important;
  opacity: .8;
}

@media (max-width: 960px) {
  .footer .footer-left {
    padding-left: 100px;
  }
}

@media (max-width: 767px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer-left {
    padding-left: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10px;
  }
  .footer .footer-right {
    width: 90%;
    padding-right: 0px;
  }
}

@media (max-width: 575px) {
  .footer {
    padding-top: 25px;
    background-color: #bb866a;
  }
  .footer a,
  .footer p {
    color: #fff;
  }
  .footer .footer-media {
    display: block;
    margin-bottom: 10px;
  }
  .footer .footer-media a {
    margin: 0 5px;
  }
  .footer .footer-media i {
    font-size: 20px;
    color: #fff;
  }
  .footer .footer-right {
    opacity: .6;
    line-height: 12px;
    display: none;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "微軟正黑體";
  color: #bb866a;
  text-decoration: none;
  font-weight: 900;
}

body {
  margin: 0;
  background-image: url("../images/payment/bg.png");
  background-size: cover;
  background-attachment: fixed;
}

.payment_container {
  width: 80%;
  max-width: 1200px;
  margin: auto;
}

.payment_container img {
  width: 100%;
}

@media screen and (max-width: 576px) {
  .payment_container {
    width: 90%;
  }
}

/* ========== 訂單處理階段 ========== */
.payment_stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.payment_step {
  text-align: center;
  font-size: 0;
}

.payment_confirm > div {
  width: 40px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  color: #a3a3a3;
  border: solid 3px #a3a3a3;
  background-color: #ffffff;
  border-radius: 50%;
  line-height: 35px;
  position: relative;
}

.payment_confirm > p {
  margin: 5px 0 0;
  font-size: 18px;
  font-weight: bold;
  color: #a3a3a3;
}

.payment_payment {
  margin: 0 100px;
}

.payment_payment > div:first-child {
  width: 40px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  color: #f7c242;
  border: solid 3px #f7c242;
  background-color: #ffffff;
  border-radius: 50%;
  line-height: 35px;
}

.payment_payment > p {
  margin: 5px 0 0;
  font-size: 18px;
  font-weight: bold;
  color: #f7c242;
}

.payment_orderData > div {
  width: 40px;
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: solid 3px #f7c242;
  background-color: #f7c242;
  border-radius: 50%;
}

.payment_check {
  width: 20px;
  margin: auto;
}

.payment_orderData > p {
  margin: 5px 0 0;
  font-size: 18px;
  font-weight: bold;
  color: #f7c242;
}

.payment_orderData > div:first-child, .payment_payment > div:first-child {
  position: relative;
}

.payment_line1 {
  background-color: #f7c242;
  width: 135px;
  height: 2px;
  position: absolute;
  top: 18px;
  right: -138px;
}

.payment_line2 {
  background-color: #a3a3a3;
  width: 135px;
  height: 2px;
  position: absolute;
  top: 18px;
  right: -138px;
}

.payment_orderContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 992px) {
  .payment_orderContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.payment_left {
  width: 60%;
}

@media screen and (max-width: 992px) {
  .payment_left {
    width: 80%;
    margin: 50px auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media screen and (max-width: 576px) {
  .payment_left {
    width: 100%;
    margin: 50px 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.payment_title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

@media screen and (max-width: 992px) {
  .payment_title {
    display: none;
  }
}

.payment_same {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.payment_same > div:first-child {
  color: #172852;
  font-size: 18px;
  font-weight: bold;
  margin-right: 30px;
}

.payment_same > div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.payment_same > div:last-child > p {
  margin: 0;
  color: #172852;
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.payment_itemCB {
  border: solid 2px #172852;
  background-color: #ffffff;
  border-radius: 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.payment_choose {
  background-color: #172852;
}

.payment_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

.payment_data > div {
  color: #172852;
  font-size: 16px;
  font-weight: bold;
  margin-right: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 576px) {
  .payment_data > div {
    display: none;
  }
}

.payment_data > input {
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #f0ebe9;
  width: 400px;
  height: 35px;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #172852;
}

@media screen and (max-width: 1200px) {
  .payment_data > input {
    width: 300px;
  }
}

@media screen and (max-width: 992px) {
  .payment_data > input {
    width: 400px;
  }
}

@media screen and (max-width: 768px) {
  .payment_data > input {
    width: 100%;
  }
}

::-webkit-input-placeholder {
  color: #cba89a;
}

:-ms-input-placeholder {
  color: #cba89a;
}

::-ms-input-placeholder {
  color: #cba89a;
}

::placeholder {
  color: #cba89a;
}

.payment_data > input:focus {
  border: 2px solid #172852;
}

.payment_receiver {
  border: solid 2px #d6ceca;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 15px;
  width: 400px;
  margin-bottom: 20px;
  display: none;
}

@media screen and (max-width: 768px) {
  .payment_receiver {
    width: 350px;
  }
}

@media screen and (max-width: 576px) {
  .payment_receiver {
    width: 330px;
  }
}

.payment_receiverTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.payment_receiverTitle > p {
  margin: 0;
  color: #172852;
  font-weight: bold;
  margin-right: 30px;
}

.payment_receiverTitle > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.payment_receiverTitle > div > p {
  margin: 0;
  color: #172852;
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.payment_receiverData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

.payment_receiverData > div {
  color: #172852;
  font-weight: bold;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 576px) {
  .payment_receiverData > div {
    display: none;
  }
}

.payment_receiverData > input[type="text"] {
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #f0ebe9;
  width: 305px;
  height: 35px;
  padding: 15px;
  font-size: 14px;
  font-weight: bold;
  color: #172852;
}

@media screen and (max-width: 768px) {
  .payment_receiverData > input[type="text"] {
    width: 250px;
  }
}

@media screen and (max-width: 576px) {
  .payment_receiverData > input[type="text"] {
    width: 100%;
  }
}

.payment_shop {
  border: solid 2px #d6ceca;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 15px;
  width: 400px;
  margin-bottom: 20px;
  display: none;
}

@media screen and (max-width: 768px) {
  .payment_shop {
    width: 350px;
  }
}

@media screen and (max-width: 576px) {
  .payment_shop {
    width: 330px;
  }
}

.payment_shop > p {
  margin: 0;
  color: #172852;
  font-weight: bold;
}

.payment_shop > div:nth-child(2) {
  background-color: #bb866a;
  border-radius: 15px;
  color: #ffffff;
  margin-top: 15px;
  padding: 5px;
  width: 110px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.payment_shopMapData {
  display: none;
}

.payment_shopData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

.payment_shopData > div {
  color: #172852;
  font-weight: bold;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 576px) {
  .payment_shopData > div {
    display: none;
  }
}

.payment_shopData > input[type="text"] {
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #f0ebe9;
  width: 276px;
  height: 35px;
  padding: 15px;
  font-size: 14px;
  font-weight: bold;
  color: #172852;
}

@media screen and (max-width: 768px) {
  .payment_shopData > input[type="text"] {
    width: 220px;
  }
}

@media screen and (max-width: 576px) {
  .payment_shopData > input[type="text"] {
    width: 300px;
  }
}

.payment_transport, .payment_payMoney {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0 10px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 576px) {
  .payment_transport, .payment_payMoney {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.payment_transport > div:first-child, .payment_payMoney > div:first-child {
  color: #172852;
  font-size: 16px;
  font-weight: bold;
  margin-right: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 576px) {
  .payment_transport > div:first-child, .payment_payMoney > div:first-child {
    margin-bottom: 10px;
  }
}

.payment_radioBorder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: bold;
}

.payment_radioBorder2 {
  font-weight: bold;
  color: #cba89a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.payment_radio label {
  color: #cba89a;
  cursor: pointer;
}

.payment_radio4 > label {
  margin-right: 40px;
}

input[type="radio"] {
  opacity: 0;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

input[type="radio"]:checked + label {
  color: #172852;
}

/* ========== 假的按鈕顏色 ========== */
.payment_fake1, .payment_fake2, .payment_fake3, .payment_fake4, .payment_fake5 {
  border: 1.5px solid #bb866a;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  position: relative;
  top: -17px;
  left: 4.5px;
}

/* 中間點點顏色 */
.payment_fakeClick1, .payment_fakeClick2, .payment_fakeClick3, .payment_fakeClick4, .payment_fakeClick5 {
  background-color: #172852;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  margin: 1.5px auto;
  display: none;
}

.payment_credit {
  display: none;
}

.payment_cardNumber, .payment_cardDate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  font-size: 25px;
  color: #172852;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1200px) {
  .payment_cardNumber, .payment_cardDate {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.payment_00 {
  color: #172852;
  font-size: 16px;
  font-weight: bold;
  margin-right: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.payment_enterCard, .payment_turn {
  background-color: #f0ebe9;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #172852;
  padding: 10px;
  width: 95px;
  height: 35px;
  border: none;
  outline: none;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .payment_enterCard, .payment_turn {
    width: 70px;
  }
}

.payment_enterCard:focus, .payment_turn:focus {
  border: 2px solid #172852;
}

.payment_year, .payment_month {
  border: none;
  border-radius: 5px;
  background-color: #f0ebe9;
  width: 95px;
  height: 35px;
  border: none;
  outline: none;
  margin-right: 10px;
  color: #172852;
  font-weight: bold;
  padding: 0 15px;
}

.payment_cardDate option {
  color: #172852;
  font-weight: bold;
}

.payment_01 {
  color: #172852;
  font-size: 16px;
  font-weight: bold;
  margin-right: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.payment_right {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 24px 0 rgba(25, 28, 54, 0.15);
          box-shadow: 0 0 24px 0 rgba(25, 28, 54, 0.15);
  width: 40%;
  height: 540px;
  margin-left: 30px;
  padding: 20px 15px;
}

@media screen and (max-width: 992px) {
  .payment_right {
    width: 80%;
    margin: auto;
  }
}

@media screen and (max-width: 576px) {
  .payment_right {
    width: 100%;
  }
}

.payment_cartTitle {
  font-weight: bold;
  font-size: 18px;
  color: #cba89a;
}

.payment_detail {
  border-top: 1.5px solid #cba89a;
  border-bottom: 1.5px solid #cba89a;
  list-style: none;
  margin: 10px 0;
  height: 300px;
  padding: 0;
  overflow: auto;
}

.payment_item {
  border-bottom: 2px dashed #cba89a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
}

.payment_itemImg {
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

.payment_itemData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.payment_itemData > p {
  margin: 0;
  color: #172852;
  font-size: 14px;
  font-weight: bold;
}

.payment_itemQuantity {
  margin-right: 10px;
  font-weight: bold;
  margin: auto;
  color: #172852;
}

.payment_moneyDetail, .payment_discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.payment_moneyDetail > div:first-child, .payment_discount > div:first-child {
  color: #cba89a;
  font-weight: bold;
  font-size: 14px;
}

.payment_moneyDetail > div:last-child {
  color: #172852;
  font-weight: bold;
  font-size: 14px;
}

.payment_discount > div:last-child {
  color: #dc3838;
  font-weight: bold;
  font-size: 14px;
}

.payment_totalPrice {
  border-top: 1.5px solid #cba89a;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.payment_totalPrice > div:first-child {
  color: #cba89a;
  font-size: 18px;
  font-weight: bold;
}

.payment_totalPrice > div:last-child, .payment_totalPrice span {
  color: #172852;
  font-size: 18px;
  font-weight: bold;
}

.payment_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 5px;
  margin-top: 100px;
}

.payment_previous {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 100px;
  text-decoration: none;
}

.payment_previousImg {
  width: 10px;
  height: 15px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
}

.payment_previousText {
  border-bottom: 1.5px solid #a3a3a3;
  padding-bottom: 5px;
  color: #a3a3a3;
  font-size: 18px;
  font-weight: bold;
}

.payment_next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 25px;
  background-color: #172852;
  width: 130px;
  height: 35px;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.payment_next:hover {
  background-color: #2e447c;
}

.payment_nextText {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}

.payment_nextImg {
  width: 10px;
  height: 15px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3px;
}

.payment_cardImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  position: relative;
}

.payment_cardFront {
  background-image: url("../images/payment/card-front.png");
  width: 250px;
  height: 160px;
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
  margin-left: 95px;
  z-index: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media screen and (max-width: 1200px) {
  .payment_cardFront {
    margin-left: 0;
  }
}

.payment_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  margin-left: 20px;
  font-weight: bold;
  font-size: 15px;
  color: #ffffff;
  height: 20px;
}

.payment_number > div, .payment_date > div {
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  margin: 0 5px;
}

.payment_date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-left: 170px;
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  height: 20px;
}

.payment_certification {
  color: #172852;
  font-weight: bold;
  font-size: 15px;
  width: 50px;
  height: 20px;
  margin-left: 85px;
  margin-top: 74px;
  visibility: hidden;
  position: absolute;
}
/*# sourceMappingURL=payment.css.map */