* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: '微軟正黑體';
    font-weight: bold;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(../images/psycho/psycho_start_bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* 開場心理測驗圖片加文字 */

.psycho_beginScreen {
    height: 100vh;
    display: none;
}

.psycho_beginScreen>article {
    margin: auto;
}

.psycho_beginpic {
    margin: 0px auto;
    /* border: solid 1px red; */
    width: 320px;
}

.psycho_beginpic>img {
    width: 320px;
}

.psycho_beginScreen>article>h3 {
    margin: 0px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.psycho_beginScreen>article>h4 {
    margin: 0px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.psycho_startbtn>a {
    margin: 50px auto 0px;
    background-color: #172852;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 50px;
    display: block;
    width: 140px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.mainbtn:hover {
    background-color: #2e447c;
}

/* 第一題 */
.question01{
    width: 800px;
    height: 800px;
    background: url(../images/psycho/pic01.png) no-repeat center center;
    background-size: cover;
    -webkit-mask: url(../images/psycho/picmask.png) no-repeat center center;
    mask: url(../images/psycho/picmask.png) no-repeat center center;
    -webkit-mask-size: cover;
    mask-size: cover;
}