@charset "UTF-8";
.navbar {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0px;
  left: 0;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  z-index: 900;
}

.navbar .navbar-logo {
  margin-left: 10px;
  width: 60px;
  height: 60px;
}

.navbar .navbar-logo img {
  width: 100%;
  height: 100%;
}

.navbar .navbar-icon {
  display: flex;
  margin-right: 10px;
}

.navbar .navbar-icon a {
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
}

.navbar .navbar-icon i {
  color: #bb866a;
  font-size: 28px;
}

* {
  box-sizing: border-box;
  /* border: solid 1px red; */
}

body {
  padding: 0;
  margin: 0;
  font-family: '微軟正黑體';
}

.main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  transform: translateY(100px);
  align-items: center;
}

.select_area {
  margin: 30px;
  width: 50%;
  height: 50vh;
  display: flex;
  justify-content: space-evenly;
}

.items:nth-child(1) {
  width: 70px;
  height: 100%;
  transition: all .5s;
  background-image: url("../images/shopping_choose/11.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: .7;
}

.items:nth-child(1):hover {
  width: 150px;
  opacity: 1;
  cursor: pointer;
  background-image: url("../images/shopping_choose/1.png");
}

.items:nth-child(2) {
  width: 70px;
  height: 100%;
  transition: all .5s;
  background-image: url("../images/shopping_choose/22.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: translateY(20px);
}

.items:nth-child(2):hover {
  width: 150px;
  opacity: 1;
  cursor: pointer;
  background-image: url("../images/shopping_choose/2.png");
}

.items:nth-child(3) {
  width: 70px;
  height: 100%;
  transition: all .5s;
  background-image: url("../images/shopping_choose/33.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: .7;
}

.items:nth-child(3):hover {
  width: 150px;
  opacity: 1;
  cursor: pointer;
  background-image: url("../images/shopping_choose/3.png");
}

.items:nth-child(4) {
  width: 70px;
  height: 100%;
  transition: all .5s;
  background-image: url("../images/shopping_choose/44.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: .7;
  transform: translateY(-20px);
}

.items:nth-child(4):hover {
  width: 150px;
  opacity: 1;
  cursor: pointer;
  background-image: url("../images/shopping_choose/4.png");
}

.items:nth-child(5) {
  width: 70px;
  height: 100%;
  transition: all .5s;
  background-image: url("../images/shopping_choose/55.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: .7;
  transform: translateY(20px);
}

.items:nth-child(5):hover {
  width: 150px;
  opacity: 1;
  cursor: pointer;
  background-image: url("../images/shopping_choose/5.png");
}

.items:nth-child(6) {
  width: 70px;
  height: 100%;
  transition: all .5s;
  background-image: url("../images/shopping_choose/66.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: .7;
}

.items:nth-child(6):hover {
  width: 150px;
  opacity: 1;
  cursor: pointer;
  background-image: url("../images/shopping_choose/6.png");
}

.items:nth-child(7) {
  width: 70px;
  height: 100%;
  transition: all .5s;
  background-image: url("../images/shopping_choose/77.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: .7;
  transform: translateY(-20px);
}

.items:nth-child(7):hover {
  width: 150px;
  opacity: 1;
  cursor: pointer;
  background-image: url("../images/shopping_choose/7.png");
}

.text {
  width: 600px;
  text-align: center;
  transition: all .5s;
  color: #172852;
  font-weight: bold;
}

.text p {
  transform: translateY(-15px);
}
/*# sourceMappingURL=shopping_choose.css.map */