@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: bold inherit '微軟正黑體';
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 900;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: '微軟正黑體';
}

body {
  padding: 0;
  margin: 0;
  background-image: url("../images/shopping_list/bg.png");
  background-size: cover;
}

.navbar {
  width: 100%;
  height: 100px;
  position: relative;
  top: 0px;
  left: 0;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 900;
}

.navbar .navbar-logo {
  margin-left: 10px;
  width: 60px;
  height: 60px;
}

.navbar .navbar-logo img {
  width: 100%;
  height: 100%;
}

.navbar .navbar-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 20px 0 0px;
}

.navbar .navbar-icon a {
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
}

.navbar .navbar-icon a:hover {
  color: #f7c242;
}

.navbar .navbar-icon i {
  color: #bb866a;
  font-size: 28px;
}

.navbar .navbar-icon i:hover {
  color: #f7c242;
}

.navbar .ham_container {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 10;
}

.navbar .ham_container:hover .ham_bar {
  background-color: #f7c242;
}

.navbar .ham_container .ham_bar {
  width: 30px;
  height: 4px;
  background-color: #bb866a;
  border-radius: 10px;
  margin: 6px 0;
}

.navbar .ham_change .ham_bar1 {
  background-color: white;
  -webkit-transform: rotate(-45deg) translate(-6px, 5px);
          transform: rotate(-45deg) translate(-6px, 5px);
}

.navbar .ham_change .ham_bar2 {
  opacity: 0;
}

.navbar .ham_change .ham_bar3 {
  background-color: white;
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
          transform: rotate(45deg) translate(-8px, -8px);
}

.navbar .ham_overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 0;
  top: 0;
  right: 0;
  background-color: #b48164;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar .ham_overlay .ham_overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin: 10px auto;
}

.navbar .ham_overlay .ham_jelly {
  width: 300vw;
  height: 290vw;
  position: absolute;
  top: -302vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 45%;
  background-color: #cba89a;
  -webkit-animation: rotate 15s linear infinite;
          animation: rotate 15s linear infinite;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: translate(-50%, 0) rotateZ(0deg);
            transform: translate(-50%, 0) rotateZ(0deg);
  }
  50% {
    -webkit-transform: translate(-50%, -2%) rotateZ(180deg);
            transform: translate(-50%, -2%) rotateZ(180deg);
  }
  100% {
    -webkit-transform: translate(-50%, 0%) rotateZ(360deg);
            transform: translate(-50%, 0%) rotateZ(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: translate(-50%, 0) rotateZ(0deg);
            transform: translate(-50%, 0) rotateZ(0deg);
  }
  50% {
    -webkit-transform: translate(-50%, -2%) rotateZ(180deg);
            transform: translate(-50%, -2%) rotateZ(180deg);
  }
  100% {
    -webkit-transform: translate(-50%, 0%) rotateZ(360deg);
            transform: translate(-50%, 0%) rotateZ(360deg);
  }
}

.navbar .ham_overlay .ham_select {
  margin: 0 auto;
  text-align: left;
  width: 200px;
}

.navbar .ham_overlay a {
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
  display: block;
  letter-spacing: 2px;
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
}

.navbar .ham_overlay a:hover {
  color: #fad689;
}

.navbar .ham_overlay a:hover:before {
  background-color: #fad689;
}

.navbar .ham_overlay a::before {
  content: "\A";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 20px;
  background-color: transparent;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.navbar .ham_overlay .navbar_logOut {
  display: none;
}

.product_reminder {
  width: 200px;
  height: 70px;
  position: fixed;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 25px;
  background-color: #bb866a;
  text-align: center;
  line-height: 70px;
  color: #fff;
  z-index: 100;
  display: none;
}

.product_backTop {
  display: none;
}

.navbar-icon {
  position: relative;
}

.navbar-icon a {
  margin-top: 12px;
}

.stick_color {
  color: #fad689;
}

#product_counter {
  position: absolute;
  top: 2px;
  left: 54%;
  width: 20px;
  height: 20px;
  color: white;
  text-align: center;
  padding: 3px;
  background-color: red;
  border-radius: 50%;
  font-size: 10px;
}

#product_counter:not(.animated-count) {
  display: none;
}

.animated-count {
  -webkit-animation: count .5s ease-in-out;
          animation: count .5s ease-in-out;
}

@-webkit-keyframes count {
  0% {
    top: 2px;
    left: 54%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    top: -.4rem;
    right: -.6rem;
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  75% {
    top: -.4rem;
    right: 0rem;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  100% {
    top: 2px;
    left: 54%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes count {
  0% {
    top: 2px;
    left: 54%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    top: -.4rem;
    right: -.6rem;
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  75% {
    top: -.4rem;
    right: 0rem;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  100% {
    top: 2px;
    left: 54%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.mediacolumn {
  position: fixed;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 500;
}

.mediacolumn::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 15vh;
  background-color: #bb866a;
  left: 30px;
  top: -15vh;
}

.mediacolumn::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 15vh;
  background-color: #bb866a;
  left: 30px;
  bottom: -15vh;
}

.mediacolumn a {
  display: block;
  width: 60px;
  text-align: center;
  margin-top: 10px;
}

.mediacolumn a:nth-child(1) {
  margin-top: 12px;
}

.mediacolumn a:nth-child(3) {
  margin-bottom: 12px;
}

.mediacolumn a i {
  color: #bb866a;
  font-size: 28px;
}

.mediacolumn a i:hover {
  color: #f7c242;
}

@media (max-width: 575px) {
  .mediacolumn {
    display: none;
  }
}

.footer {
  width: 100%;
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 50px auto 0 auto;
  padding: 60px 0 20px 0;
}

.footer a,
.footer p {
  color: #bb866a;
}

.footer .footer-logo {
  display: none;
}

.footer .footer-media {
  display: none;
}

.footer .footer-left {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 200px;
}

.footer .footer-left a {
  font-weight: 900;
  margin: 0px 10px;
}

.footer .footer-left .footer-policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 200px;
}

.footer .footer-right {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 100px;
}

.footer .footer-right p {
  font-size: 8px !important;
  opacity: .8;
}

@media (max-width: 960px) {
  .footer .footer-left {
    padding-left: 100px;
  }
}

@media (max-width: 767px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer-left {
    padding-left: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10px;
  }
  .footer .footer-right {
    width: 90%;
    padding-right: 0px;
  }
}

@media (max-width: 575px) {
  .footer {
    padding-top: 25px;
    background-color: #bb866a;
  }
  .footer a,
  .footer p {
    color: #fff;
  }
  .footer .footer-media {
    display: block;
    margin-bottom: 10px;
  }
  .footer .footer-media a {
    margin: 0 5px;
  }
  .footer .footer-media i {
    font-size: 20px;
    color: #fff;
  }
  .footer .footer-right {
    opacity: .6;
    line-height: 12px;
  }
}

.product_main {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product_main .product_product {
  width: 100%;
}

.product_title {
  width: 100%;
}

#product_small_title {
  font-size: 14px;
  text-align: left;
  color: #bb866a;
}

#product_small_title::after {
  content: '';
  display: block;
  width: 70px;
  height: 2px;
  border-radius: 15px;
  background-color: #bb866a;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

#product_big_title {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #bb866a;
}

.product_item {
  width: 670px;
  margin: 70px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  position: relative;
}

.product_left {
  width: 315px;
  height: 315px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.product_img {
  width: 230px;
  height: 230px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product_img img {
  width: 100%;
  height: 100%;
}

.product_circle {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 10px;
}

.circle_grey {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  padding: 5px;
  cursor: pointer;
}

.click {
  background-color: #172852;
}

.product_right {
  width: 80%;
  margin-left: 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.product_right .product_right_title {
  font-size: 10px;
  font-weight: bold;
  text-align: left;
  color: #bb866a;
}

.product_heart {
  width: 35px;
  height: 35px;
  background-image: url("../images/shopping_list/heart.png");
  background-size: cover;
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  z-index: 100;
}

.product_heart_red {
  width: 35px;
  height: 35px;
  background-image: url("../images/shopping_list/heart_red.png");
  background-size: cover;
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  z-index: 100;
}

.product_right .product_right_name {
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
  text-align: left;
  color: #172852;
}

.product_right_name span {
  font-size: 14px;
}

.product_right .product_main_content {
  line-height: 20px;
  font-weight: bold;
  color: #bb866a;
  font-size: 10px;
  margin: 15px 0;
}

.product_right .product_ingredients,
.product_right .product_save_days {
  font-weight: bold;
  color: #bb866a;
  font-size: 10px;
  line-height: 20px;
}

.product_right .product_price {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 10px;
  font-weight: bold;
  color: #bb866a;
  letter-spacing: 2px;
}

.product_price span {
  font-size: 25px;
  color: #172852;
  margin-right: 10px;
}

.product_product_num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product_num_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product_num_btn input {
  border: solid 1px #172852;
  border-left: 0;
  border-right: 0;
  width: 70px;
  height: 100%;
  padding: 0.9999999px;
  text-align: center;
  font-weight: 900;
}

.product_num_btn button {
  border: solid 1px #172852;
  cursor: pointer;
  width: 20px;
  height: 100%;
  padding: 0.4px 1px 1.6px 1px;
  background-color: white;
  color: #172852;
  font-weight: bold;
  text-align: center;
}

.product_product_num .product_item_num {
  margin-left: 15px;
  font-weight: bold;
  font-size: 10px;
  color: #bb866a;
}

#none {
  color: red;
  font-weight: bold;
}

#grey {
  border: solid 1px #a3a3a3;
  background-color: #a3a3a3;
}

.product_add_cart {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 35px;
  border: solid 1px #172852;
  border-radius: 30px;
  background-color: #172852;
  color: white;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  padding: 2px;
  margin-top: 20px;
}

.product_add_cart:hover {
  background-color: #2e447c;
}

.product_svg_cart {
  width: 20px;
  height: 20px;
  color: white;
  position: absolute;
  left: 20px;
}

.product_select_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: fixed;
  top: 20%;
  right: 20px;
}

.product_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
  cursor: pointer;
}

.yellow span {
  color: #172852;
}

.yellow i {
  width: 30px;
  height: 30px;
  background-size: cover;
  position: absolute;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  z-index: 0;
  background-image: url("../images/shopping_list/yellow.png");
}

.product_area img {
  width: 30px;
  height: 25px;
  z-index: 1;
  margin: 5px;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.product_area span {
  font-size: 12px;
  text-align: center;
  color: #bb866a;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media screen and (min-width: 664px) and (max-width: 991px) {
  .product_backTop {
    position: fixed;
    right: 33px;
    bottom: 30px;
    display: block;
    z-index: 100;
    display: block;
  }
  .product_backTop i {
    color: #172852;
    font-size: 28px;
  }
  .product_main {
    width: 80%;
  }
  .product_product {
    width: 100%;
  }
  .product_item {
    margin: 50px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .product_heart {
    position: relative;
    top: 40px;
    left: 200px;
  }
  .product_heart_red {
    position: relative;
    top: 40px;
    left: 200px;
  }
  .product_left {
    width: 298px;
    height: 350px;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .product_img {
    width: 100%;
    height: 300px;
  }
  .product_right {
    width: 45%;
    margin: 20px 0;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .product_right_title {
    margin-bottom: 10px;
  }
  .product_right_name {
    text-align: center;
  }
  .product_right .product_main_content {
    width: 250px;
    text-align: left;
  }
  .product_price {
    text-align: center;
    letter-spacing: 2px;
    line-height: 30px;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  .product_price span {
    display: block;
    font-size: 28px;
    margin-right: 0;
  }
  .product_select_area {
    right: 25px;
  }
}

@media screen and (max-width: 663px) {
  .product_backTop {
    position: fixed;
    right: 33px;
    bottom: 30px;
    display: block;
    z-index: 100;
    -webkit-transform: translateX(14px);
            transform: translateX(14px);
    display: block;
  }
  .product_backTop i {
    color: #172852;
    font-size: 28px;
  }
  .product_main {
    width: 80%;
  }
  .product_product {
    width: 100%;
  }
  .product_title {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  .product_item {
    width: 100%;
    margin: 50px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .product_left {
    width: 200px;
    height: 280px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .product_img {
    width: 200px;
    height: 200px;
  }
  .product_circle {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  .product_right {
    width: 65%;
    margin: 0;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-transform: translateY(-18px);
            transform: translateY(-18px);
  }
  .product_right_title {
    margin-bottom: 10px;
  }
  .product_right .product_main_content {
    width: 200px;
    text-align: left;
  }
  .product_heart {
    position: relative;
    top: 48px;
    left: 75px;
  }
  .product_heart_red {
    position: relative;
    top: 48px;
    left: 75px;
  }
  .product_price {
    text-align: center;
    letter-spacing: 2px;
    line-height: 30px;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  .product_price span {
    display: block;
    font-size: 28px;
    margin-right: 0;
  }
  .product_select_area {
    right: 10px;
  }
}
/*# sourceMappingURL=shopping_list.css.map */