@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: bold inherit '微軟正黑體';
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 900;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

<<<<<<< HEAD
=======
.navbar {
  width: 100%;
  height: 100px;
  position: relative;
  top: 0px;
  left: 0;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 900;
}

.navbar .navbar-logo {
  margin-left: 10px;
  width: 60px;
  height: 60px;
}

.navbar .navbar-logo img {
  width: 100%;
  height: 100%;
}

.navbar .navbar-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 20px 0 0px;
}

.navbar .navbar-icon a {
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
}

.navbar .navbar-icon i {
  color: #bb866a;
  font-size: 28px;
}

.navbar .ham_container {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 10;
}

.navbar .ham_container .ham_bar {
  width: 30px;
  height: 4px;
  background-color: #bb866a;
  border-radius: 10px;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.navbar .ham_change .ham_bar1 {
  background-color: white;
  -webkit-transform: rotate(-45deg) translate(-6px, 5px);
          transform: rotate(-45deg) translate(-6px, 5px);
}

.navbar .ham_change .ham_bar2 {
  opacity: 0;
}

.navbar .ham_change .ham_bar3 {
  background-color: white;
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
          transform: rotate(45deg) translate(-8px, -8px);
}

.navbar .ham_overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 0;
  top: 0;
  right: 0;
  background-color: #b48164;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar .ham_overlay .ham_overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin: 10px auto;
}

.navbar .ham_overlay .ham_jelly {
  width: 300vw;
  height: 290vw;
  position: absolute;
  top: -302vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 45%;
  background-color: #cba89a;
  -webkit-animation: rotate 15s linear infinite;
          animation: rotate 15s linear infinite;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: translate(-50%, 0) rotateZ(0deg);
            transform: translate(-50%, 0) rotateZ(0deg);
  }
  50% {
    -webkit-transform: translate(-50%, -2%) rotateZ(180deg);
            transform: translate(-50%, -2%) rotateZ(180deg);
  }
  100% {
    -webkit-transform: translate(-50%, 0%) rotateZ(360deg);
            transform: translate(-50%, 0%) rotateZ(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: translate(-50%, 0) rotateZ(0deg);
            transform: translate(-50%, 0) rotateZ(0deg);
  }
  50% {
    -webkit-transform: translate(-50%, -2%) rotateZ(180deg);
            transform: translate(-50%, -2%) rotateZ(180deg);
  }
  100% {
    -webkit-transform: translate(-50%, 0%) rotateZ(360deg);
            transform: translate(-50%, 0%) rotateZ(360deg);
  }
}

.navbar .ham_overlay .ham_select {
  margin: 0 auto;
  text-align: left;
  width: 200px;
}

.navbar .ham_overlay a {
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
  display: block;
  letter-spacing: 2px;
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.navbar .ham_overlay a:hover {
  color: #fad689;
}

.navbar .ham_overlay a:hover:before {
  background-color: #fad689;
}

.navbar .ham_overlay a::before {
  content: "\A";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 20px;
  background-color: transparent;
  -webkit-transition: all .3s;
  transition: all .3s;
}

>>>>>>> 2d22ca2ad26437e0709c8456a4629fa47194f495
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: '微軟正黑體';
}

body {
  padding: 0;
  margin: 0;
  background-image: url("../images/shopping_choose/bg.png");
}

.navbar {
  width: 100%;
  height: 100px;
  position: relative;
  top: 0px;
  left: 0;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 900;
}

.navbar .navbar-logo {
  margin-left: 10px;
  width: 60px;
  height: 60px;
}

.navbar .navbar-logo img {
  width: 100%;
  height: 100%;
}

.navbar .navbar-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 20px 0 0px;
}

.navbar .navbar-icon a {
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
}

.navbar .navbar-icon i {
  color: #bb866a;
  font-size: 28px;
}

<<<<<<< HEAD
.navbar-icon a {
=======
.navbar .ham_container {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 10;
}

.navbar .ham_container .ham_bar {
  width: 30px;
  height: 4px;
  background-color: #bb866a;
  border-radius: 10px;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.navbar .ham_change .ham_bar1 {
  background-color: white;
  -webkit-transform: rotate(-45deg) translate(-6px, 5px);
          transform: rotate(-45deg) translate(-6px, 5px);
}

.navbar .ham_change .ham_bar2 {
  opacity: 0;
}

.navbar .ham_change .ham_bar3 {
  background-color: white;
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
          transform: rotate(45deg) translate(-8px, -8px);
}

.navbar .ham_overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 0;
  top: 0;
  right: 0;
  background-color: #b48164;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar .ham_overlay .ham_overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin: 10px auto;
}

.navbar .ham_overlay .ham_jelly {
  width: 300vw;
  height: 290vw;
  position: absolute;
  top: -302vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 45%;
  background-color: #cba89a;
  -webkit-animation: rotate 15s linear infinite;
          animation: rotate 15s linear infinite;
}

@keyframes rotate {
  0% {
    -webkit-transform: translate(-50%, 0) rotateZ(0deg);
            transform: translate(-50%, 0) rotateZ(0deg);
  }
  50% {
    -webkit-transform: translate(-50%, -2%) rotateZ(180deg);
            transform: translate(-50%, -2%) rotateZ(180deg);
  }
  100% {
    -webkit-transform: translate(-50%, 0%) rotateZ(360deg);
            transform: translate(-50%, 0%) rotateZ(360deg);
  }
}

.navbar .ham_overlay .ham_select {
  margin: 0 auto;
  text-align: left;
  width: 200px;
}

.navbar .ham_overlay a {
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
  display: block;
  letter-spacing: 2px;
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.navbar .ham_overlay a:hover {
  color: #fad689;
}

.navbar .ham_overlay a:hover:before {
  background-color: #fad689;
}

.navbar .ham_overlay a::before {
  content: "\A";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 20px;
  background-color: transparent;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.navbar-icon {
>>>>>>> 2d22ca2ad26437e0709c8456a4629fa47194f495
  margin-top: 12px;
}

.footer {
  width: 100%;
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 50px auto 0 auto;
  padding: 60px 0 20px 0;
}

.footer a,
.footer p {
  color: #bb866a;
}

.footer .footer-logo {
  display: none;
}

.footer .footer-media {
  display: none;
}

.footer .footer-left {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 200px;
}

.footer .footer-left a {
  font-weight: 900;
  margin: 0px 10px;
}

.footer .footer-left .footer-policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 200px;
}

.footer .footer-right {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 100px;
}

.footer .footer-right p {
  font-size: 8px !important;
  opacity: .8;
}

@media (max-width: 960px) {
  .footer .footer-left {
    padding-left: 100px;
  }
}

@media (max-width: 767px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer-left {
    padding-left: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10px;
  }
  .footer .footer-right {
    width: 90%;
    padding-right: 0px;
  }
}

@media (max-width: 575px) {
  .footer {
    padding-top: 25px;
    background-color: #bb866a;
  }
  .footer a,
  .footer p {
    color: #fff;
  }
  .footer .footer-media {
    display: block;
    margin-bottom: 10px;
  }
  .footer .footer-media a {
    margin: 0 5px;
  }
  .footer .footer-media i {
    font-size: 20px;
  }
  .footer .footer-right {
    opacity: .6;
    line-height: 12px;
  }
}

.choose_main {
  width: 90%;
  max-width: 1200px;
  height: 70vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choose_select_area {
  margin: 0 auto;
  width: 65%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.choose_items span {
  text-align: center;
  font-size: 30px;
  color: white;
  -webkit-transform: translateY(35px);
          transform: translateY(35px);
  letter-spacing: 15px;
  display: none;
}

.choose_select_area a:nth-child(1) {
  width: 90px;
  height: 100%;
  -webkit-transition: all .5s;
  transition: all .5s;
  background-image: url("../images/shopping_choose/11.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: .7;
}

.choose_select_area a:nth-child(1):hover {
  width: 150px;
  opacity: 1;
  cursor: pointer;
  background-image: url("../images/shopping_choose/1.png");
}

.choose_select_area a:nth-child(2) {
  width: 90px;
  height: 100%;
  -webkit-transition: all .5s;
  transition: all .5s;
  background-image: url("../images/shopping_choose/22.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.choose_select_area a:nth-child(2):hover {
  width: 150px;
  opacity: 1;
  cursor: pointer;
  background-image: url("../images/shopping_choose/2.png");
}

.choose_select_area a:nth-child(3) {
  width: 90px;
  height: 100%;
  -webkit-transition: all .5s;
  transition: all .5s;
  background-image: url("../images/shopping_choose/33.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: .7;
}

.choose_select_area a:nth-child(3):hover {
  width: 150px;
  opacity: 1;
  cursor: pointer;
  background-image: url("../images/shopping_choose/3.png");
}

.choose_select_area a:nth-child(4) {
  width: 90px;
  height: 100%;
  -webkit-transition: all .5s;
  transition: all .5s;
  background-image: url("../images/shopping_choose/44.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: .7;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.choose_select_area a:nth-child(4):hover {
  width: 150px;
  opacity: 1;
  cursor: pointer;
  background-image: url("../images/shopping_choose/4.png");
}

.choose_select_area a:nth-child(5) {
  width: 90px;
  height: 100%;
  -webkit-transition: all .5s;
  transition: all .5s;
  background-image: url("../images/shopping_choose/55.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: .7;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.choose_select_area a:nth-child(5):hover {
  width: 150px;
  opacity: 1;
  cursor: pointer;
  background-image: url("../images/shopping_choose/5.png");
}

.choose_select_area a:nth-child(6) {
  width: 90px;
  height: 100%;
  -webkit-transition: all .5s;
  transition: all .5s;
  background-image: url("../images/shopping_choose/66.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: .7;
}

.choose_select_area a:nth-child(6):hover {
  width: 150px;
  opacity: 1;
  cursor: pointer;
  background-image: url("../images/shopping_choose/6.png");
}

.choose_select_area a:nth-child(7) {
  width: 90px;
  height: 100%;
  -webkit-transition: all .5s;
  transition: all .5s;
  background-image: url("../images/shopping_choose/77.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: .7;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.choose_select_area a:nth-child(7):hover {
  width: 150px;
  opacity: 1;
  cursor: pointer;
  background-image: url("../images/shopping_choose/7.png");
}

.choose_text {
  width: 600px;
  text-align: center;
  -webkit-transition: all .5s;
  transition: all .5s;
  color: #172852;
  font-weight: bold;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

.choose_text h1 {
  letter-spacing: 2px;
  font-size: 26px;
}

.choose_text p {
  letter-spacing: 2px;
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
}

@media screen and (max-width: 991px) {
  .choose_select_area {
    width: 100%;
  }
}

@media screen and (max-width: 575px) {
  .choose_main {
    width: 100%;
    height: 700px;
  }
  .choose_select_area {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .choose_items span {
    display: block;
  }
  .choose_select_area a:nth-child(1) {
    width: 100%;
    height: 100px;
    background-image: url("../images/shopping_choose/11.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .choose_select_area a:nth-child(1):hover {
    background-image: url("../images/shopping_choose/11.png");
    width: 100%;
  }
  .choose_select_area a:nth-child(2) {
    width: 100%;
    height: 100px;
    -webkit-transition: all .5s;
    transition: all .5s;
    background-image: url("../images/shopping_choose/22.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .choose_select_area a:nth-child(2):hover {
    background-image: url("../images/shopping_choose/22.png");
    width: 100%;
  }
  .choose_select_area a:nth-child(3) {
    width: 100%;
    height: 100px;
    -webkit-transition: all .5s;
    transition: all .5s;
    background-image: url("../images/shopping_choose/33.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .choose_select_area a:nth-child(3):hover {
    background-image: url("../images/shopping_choose/33.png");
    width: 100%;
  }
  .choose_select_area a:nth-child(4) {
    width: 100%;
    height: 100px;
    -webkit-transition: all .5s;
    transition: all .5s;
    background-image: url("../images/shopping_choose/44.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .choose_select_area a:nth-child(4):hover {
    background-image: url("../images/shopping_choose/44.png");
    width: 100%;
  }
  .choose_select_area a:nth-child(5) {
    width: 100%;
    height: 100px;
    -webkit-transition: all .5s;
    transition: all .5s;
    background-image: url("../images/shopping_choose/55.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .choose_select_area a:nth-child(5):hover {
    background-image: url("../images/shopping_choose/55.png");
    width: 100%;
  }
  .choose_select_area a:nth-child(6) {
    width: 100%;
    height: 100px;
    -webkit-transition: all .5s;
    transition: all .5s;
    background-image: url("../images/shopping_choose/66.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .choose_select_area a:nth-child(6):hover {
    background-image: url("../images/shopping_choose/66.png");
    width: 100%;
  }
  .choose_select_area a:nth-child(7) {
    width: 100%;
    height: 100px;
    -webkit-transition: all .5s;
    transition: all .5s;
    background-image: url("../images/shopping_choose/77.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .choose_select_area a:nth-child(7):hover {
    background-image: url("../images/shopping_choose/77.png");
    width: 100%;
  }
  .choose_text {
    display: none;
  }
}
/*# sourceMappingURL=shopping_choose.css.map */