@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: bold inherit '微軟正黑體';
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 900;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrap1 {
  width: 100vw;
  height: 100vh;
  background-color: #ccc;
  position: relative;
}

.wrap2 {
  width: 100vw;
  height: 100vh;
  background-color: #b8ffed;
  position: relative;
}

.popBG {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 991;
  background-color: rgba(255, 255, 255, 0.6);
}

.type1 {
  width: 33%;
  height: 320px;
  max-width: 400px;
  max-height: 320px;
  min-width: 290px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0px 10px 32px rgba(23, 40, 82, 0.6);
          box-shadow: 0px 10px 32px rgba(23, 40, 82, 0.6);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 40px;
  z-index: 999;
  position: relative;
}

.type1 img {
  width: 80px;
  height: auto;
}

.type1 h2 {
  color: #172852;
  font-size: 28px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.type1 p {
  color: #172852;
  margin-bottom: 45px;
  font-size: 14px;
}

.type1 div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 575px) {
  .type1 {
    padding: 40px 20px;
  }
}

.type2 {
  width: 25%;
  height: 340px;
  max-width: 300px;
  max-height: 340px;
  min-width: 290px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0px 10px 32px rgba(23, 40, 82, 0.6);
          box-shadow: 0px 10px 32px rgba(23, 40, 82, 0.6);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 40px;
  z-index: 999;
  position: relative;
}

.type2 img {
  width: 80px;
  height: auto;
}

.type2 h2 {
  color: #172852;
  font-size: 28px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.type2 p {
  color: #172852;
  margin-bottom: 45px;
  font-size: 14px;
}

.type2 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 575px) {
  .type2 {
    padding: 40px 20px;
  }
}

.mainBtn {
  display: block;
  padding: 8px 10px;
  width: 120px;
  border-radius: 25px;
  background: #172852;
  border: 3px solid #172852;
  color: #fff;
  text-align: center;
  font-weight: 900;
}

.mainBtn:hover {
  background-color: #2e447c;
  color: #fff;
  border: 3px solid #2e447c;
}
/*# sourceMappingURL=跳窗示範.css.map */