<div class="footer">
    <div class="footer-logo"><img src="./images/index/logo_footer.png" alt=""></div>
    <div class="footer-left">
        <div class='footer-policy'>
            <p><a href="#">隱私政策</a></p>
            <p><a href="#">服務條款</a></p>
        </div>
    </div>
    <div class='footer-media'>
        <a href="#"><i class="fab fa-instagram-square"></i></a>
        <a href="#"><i class="fab fa-facebook-square"></i></a>
        <a href="#"><i class="fab fa-twitter-square"></i></a>
    </div>
    <div class="footer-right">
        <p>本網站為緯育TibaMe前端設計工程師班第68期第三組學員專題成果作品，本平台僅供學習、展示之用。參考資源:snaq.me。若有侵權疑慮，您可以私訊[TibaMe-前端設計工程師養成班]，後續會由專人協助處理
        </p>
    </div>
</div>