@import '../base/reset.scss';
@import '../base/color';
@import '../mixin/mixin';

*{
    font-size: 16px;
    font-weight: bold;
    font-family: '微軟正黑體';
    text-decoration: none;
}
body{
    overflow-x: hidden;
    position: relative;
}
body::-webkit-scrollbar {
    display: none;
}
.psychotest{
    @include psycoBtn();
    z-index: 999;
}
.about_wrap{
    width: 100vw;
    height: 100vh;    
}
#about_scene1{
    width: 100vw;
    height: 100%;    
    // border: 5px solid green;
    position: relative;    
    overflow: hidden;
    .about_street{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: url('../../images/about/start_bg.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .people{
        position: absolute;
        height: 25vh; 
        img{
            position: relative;
            height: 100%;
            width: auto;
            z-index: 5;
        }       
    }
    .about_people1{
        bottom: 10%;
        right: 15vw;  
        // border: 2px solid red;
        &::before{
            content: '';
            width: 90%;
            height: 20%;
            top: 12%;
            left: -10px;
            position: absolute;
            // border: 1px solid yellow;       
            background: url('../../images/about/character01_2.png');  
            background-size: contain;
            background-repeat: no-repeat;  
            // z-index: -1; 
        }
        &::after{
            content: '';
            width: 90%;
            height: 20%;
            top: 15%;
            right: -30%;
            position: absolute;
            // border: 1px solid green; 
            background: url('../../images/about/character01_3.png');  
            background-size: contain;
            background-repeat: no-repeat; 
            transform-origin: right 0;
            animation: Leg 20s .5s linear infinite; 
            z-index: 5;           
        }
        @include rwd(575px){
            display: none;
        }
    }
    .about_people2{
        bottom: 8%;
        right: 30vw;
        height: 25%;
        z-index: 9;
        // border: 2px solid red;
        &::before{
            content: '';
            width: 41%;
            height: 45%;
            bottom: -15%;
            left: -7%;
            position: absolute;
            // border: 1px solid yellow;       
            background: url('../../images/about/character02_2.png');  
            background-size: contain;
            background-repeat: no-repeat; 
            animation: wheel 2s linear infinite; 
        }
        &::after{
            content: '';
            width: 41%;
            height: 45%;
            bottom: -15%;
            right: 0%;
            position: absolute;
            // border: 1px solid green; 
            background: url('../../images/about/character02_3.png');  
            background-size: contain;
            background-repeat: no-repeat;  
            animation: wheel 2s linear infinite;
        }
        .about_people2_leg{
            position: absolute;
            width: 35%;
            height: 45%;
            left: 30%;
            top: 50%;
            transform-origin: right 0;
            animation: bikeLeg 10s linear infinite;
            img{
                height: 100%;
                width: auto;
            }
            @include rwd(575px){
                animation: bikeLeg 8s linear infinite;     
            }
        }
        animation: bike 10s linear infinite ;
        @include rwd(575px){
            animation: bike_rwd 5s linear infinite ;  
        }
    }
    .about_people3{
        height: 23%;
        bottom: 8%;
        right: 25vw;
        z-index: 8;
        div{
            &::before{
                content: '';
                width: 80%;
                height: 40%;
                top: 20%;
                left: 0%;   
                position: absolute;
                // border: 1px solid blue;       
                background: url('../../images/about/character03_2.png');
                background-size: contain;
                background-repeat: no-repeat; 
                transform-origin: top left;
                animation: hand1 15s linear infinite;
                z-index: 6;
            }
        }
        &::before{
            content: '';
            width: 80%;
            height: 30%;
            bottom: -15%;
            left: 10%;
            position: absolute;
            // border: 1px solid yellow;       
            background: url('../../images/about/character03_3.png');  
            background-size: contain;
            background-repeat: no-repeat; 
            transform-origin: center 0;
            animation: Leg 8s linear infinite;
        }
        &::after{
            content: '';
            width: 80%;
            height: 30%;
            bottom: -16%;
            right: -12%;
            position: absolute;
            // border: 1px solid green; 
            background: url('../../images/about/character03_4.png');  
            background-size: contain;
            background-repeat: no-repeat;  
            transform-origin: center 0;
            animation: Leg1 8s  linear infinite;
        }
        animation: walk1 30s linear infinite ;
        @include rwd(575px){
            animation: walk1 10s linear infinite ;
        }   
    }
    .about_people4{
        bottom: 9%;
        right: 50vw;
        z-index: 7;
        height: 22vh;
        animation: walk2 25s linear infinite ;
        // border: 2px solid red;
        div{
            &::before{
                content: '';
                width: 100%;
                height: 40%;
                top: 18%;
                left: -10%;   
                position: absolute;
                // border: 1px solid blue;       
                background: url('../../images/about/character04_2.png');
                background-size: contain;
                background-repeat: no-repeat; 
                transform-origin: top right;
                animation: hand 10s linear infinite;
                z-index: 7;
            }
        }
        &::before{
            content: '';
            width: 90%;
            height: 30%;
            bottom: -10%;
            left: 0%;
            transform: rotate(-60deg);
            position: absolute;
            // border: 1px solid red;       
            background: url('../../images/about/character04_3.png');  
            background-size: contain;
            background-repeat: no-repeat; 
            transform-origin: top;
            animation: Leg1 10s linear infinite;
        }
        &::after{
            content: '';
            width: 90%;
            height: 30%;
            bottom: -11%;
            right: -33%;
            position: absolute;
            // border: 1px solid green; 
            background: url('../../images/about/character04_4.png');  
            background-size: contain;
            background-repeat: no-repeat;  
            transform-origin: top;
            animation: Leg 10s linear infinite;
        }
        
        @include rwd(575px){
            animation: walk2 12s linear infinite ;
        }    
    }
    .about_people6{
    bottom: 14%;
    left: 15%;    
    }
    
    .about_people7{
        bottom: 11%;
        right: 35vw;              
        &::before{
            content: '';
            width: 60%;
            height: 20%;
            top: 25%;
            left: -5%;
            position: absolute;
            // border: 1px solid yellow;       
            background: url('../../images/about/character07_2.png');  
            background-size: contain;
            background-repeat: no-repeat; 
            transform-origin: left bottom;
            z-index: 6;
            animation: hand 20s linear infinite;
        }
        @include rwd(575px){
            bottom: 16%;
            right: 12vw;     
        }       
    }
    @keyframes bikeLeg {
        0%{transform: rotate(-10deg)}
        10%{transform: rotate(10deg)}
        20%{transform: rotate(-10deg)}
        30%{transform: rotate(10deg)}
        40%{transform: rotate(-10deg)}
        50%{transform: rotate(10deg)}
        60%{transform: rotate(-10deg)}
        70%{transform: rotate(10deg)}
        80%{transform: rotate(-10deg)}
        90%{transform: rotate(10deg)}
        100%{transform: rotate(-10deg)}        
    }
    @keyframes Leg {
        0%{transform: rotate(15deg)}
        10%{transform: rotate(-15deg)}
        20%{transform: rotate(15deg)}
        30%{transform: rotate(-15deg)}
        40%{transform: rotate(15deg)}
        50%{transform: rotate(-15deg)}
        60%{transform: rotate(15deg)}
        70%{transform: rotate(-15deg)}
        80%{transform: rotate(15deg)}
        90%{transform: rotate(-15deg)}
        100%{transform: rotate(15deg)}        
    }
    @keyframes Leg1 {
        0%{transform: rotate(-15deg)}
        10%{transform: rotate(15deg)}
        20%{transform: rotate(-15deg)}
        30%{transform: rotate(15deg)}
        40%{transform: rotate(-15deg)}
        50%{transform: rotate(15deg)}
        60%{transform: rotate(-15deg)}
        70%{transform: rotate(15deg)}
        80%{transform: rotate(-15deg)}
        90%{transform: rotate(15deg)}
        100%{transform: rotate(-15deg)}       
    }
    @keyframes hand {
        0%{transform: rotate(-5deg)}
        10%{transform: rotate(5deg)}
        20%{transform: rotate(-5deg)}
        30%{transform: rotate(5deg)}
        40%{transform: rotate(-5deg)}
        50%{transform: rotate(5deg)}
        60%{transform: rotate(-5deg)}
        70%{transform: rotate(5deg)}
        80%{transform: rotate(-5deg)}
        90%{transform: rotate(5deg)}
        100%{transform: rotate(-5deg)}       
    }
    @keyframes hand1 {
        0%{transform: rotate(-5deg)}
        10%{transform: rotate(15deg)}
        20%{transform: rotate(-5deg)}
        30%{transform: rotate(15deg)}
        40%{transform: rotate(-5deg)}
        50%{transform: rotate(15deg)}
        60%{transform: rotate(-5deg)}
        70%{transform: rotate(15deg)}
        80%{transform: rotate(-5deg)}
        90%{transform: rotate(15deg)}
        100%{transform: rotate(-5deg)}       
    }
    @keyframes wheel {
        0%{transform: rotate(0deg)}
        100%{transform: rotate(-360deg)}        
    }
    @keyframes bike {
        0%{right: -10vw;
            bottom: 40px}
        100%{right: 110vw;
        bottom: 40px}
    }
    @keyframes bike_rwd {
        0%{right: -30vw;
            bottom: 40px}
        100%{right: 130vw;
        bottom: 40px}
    }  
    @keyframes walk1 {
        0%{right: 60vw;}
        8%{opacity: 1;}
        10%{opacity: 0;}
        20%{opacity: 1;}
        58%{opacity: 1;}
        60%{opacity: 0;}
        70%{opacity: 1;}
        100%{right: -10vw;}
    }
    @keyframes walk2 {
        0%{right: 30vw;}
        8%{opacity: 1;}
        10%{opacity: 0;}
        20%{opacity: 1;}
        58%{opacity: 1;}
        60%{opacity: 0;}
        70%{opacity: 1;}
        100%{right: 110vw;}
    }  
    .about_street_end{
        opacity: 1;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        img{
            width: 100%;
            height: 100%;
        }
        .about_street_endLogo{
            position: absolute;
            width: 15vw;
            height: auto;
            top: 56vh;
            left: 50%;
            transform: translate(-45%, -60%);
            @include rwd(768px){
                min-width: 250px;
                min-height: 250px;
                transform: translate(-45%, -100%);
            }
            @include rwd(575px){
                min-width: 200px;
                min-height: 200px;
            }
        }
        .about_cloud{
            position: absolute;
            height: auto;
            min-width: 200px;
            min-height: 80px;
        }
        .about_cloud1{
            width: 45vw;
            top: 5vh;
            left: -3vw;
            animation: cloud 6s linear infinite;
        }
        .about_cloud2{
            width: 45vw;
            left: -5vw;
            bottom: 25vh;
            animation: cloud 8s .5s linear infinite;
        }
        .about_cloud3{
            height: 30vh;
            width: auto;
            left: -10vw;
            bottom: 5vh;
            animation: cloud 6s 1s linear infinite;
            @include rwd(575px){
                max-height: 80px;
            }
        }
        .about_cloud4{
            height: auto;
            width: 35vw;
            right: -10vw;
            top: 0%;
            animation: cloud 6s 1s linear infinite reverse;
        }
        .about_cloud5{
            height: auto;
            width: 25vw;
            right: 15vw;
            top: 20vh;
            animation: cloud 8s linear infinite reverse;
        }
        .about_cloud6{
            height: auto;
            width: 45vw;
            right: -5vw;
            top: 40vh;
            animation: cloud 7s  .5s linear infinite reverse;
        }
        .about_cloud7{
            height: auto;
            width: 20vw;
            right: -5vw;
            top: 70vh;
            animation: cloud 10s linear infinite reverse;
        }
        .about_cloud8{
            height: auto;
            width: 25vw;
            right: -10vw;
            top: 25vh;
            animation: cloud 6s 1s linear infinite reverse;
        }
    }     
}
@keyframes cloud {
    0%{transform: translateX(-5%);}
    50%{transform: translateX(5%);}
    100%{transform: translateX(-5%);}
}

.about_shopInfo{
    width: 80%;
    max-width: 550px;
    height: auto;
    padding: 40px;
    color: $darkBlue;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);    
    background-color: rgba(255, 255,255, .9);
    font-weight: 900;
    line-height: 30px;
    font-size: 16px;
    @include boxShadow(); 
    display: none;  
}

.about_history{
    left: 10%; 
}
.about_brand{
    right: 10%;
}
#about_scene2{
    position: relative;
    width: 100%;
    height: 100%;
    // border: 5px solid blue;
    overflow: hidden;
    .about_farmerDetail_box{
        width: 70%;
        height: 60%;
        background-color: #ccc;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: transalte(-50%,-50%);
    }
}
// transition
.about_transition{
    width: 100%;
    height: 50%;
    background: url('../../images/about/aboutUs_bgB02.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.about_taiwan{
    opacity: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    .about_scene2Bg{
        width: 100%;
        height: 100%;
    }
    .about_island{
        transform: scaleY(.7);
        // border: 1px solid red;
        width: 60%;
        height: 90%;
        position: absolute;
        top: 10%;
        left: 5%;
        @include rwd(768px){
            top: 7%;
            width: 100%;
            left: -22%;    
        }
        @include rwd(575px){
            width: 150%;
            left: -54%;  
            height: 75%;  
            top: 15%;
        }
    }
    .about_spot{
        transform: scaleY(.7);
        position: fixed;
        width: 10%;
        height: 10%;
        min-width: 120px;
        min-height: 120px;
        // border: 2px solid blue;
        opacity: 0;
        img{
            width: 100%;
            height: auto;
        }
        @include rwd(575px){
            min-width: 100px;
            min-height: 100px;
        }
    }
    .about_spotDeco{
        transform: scaleY(.7);
        opacity: 0;
        position: absolute;
        width: 50px;
        height: 50px;
    }    
}  
.about_taiwanSpot1{
    left: 45vw;    
    top: 7vh;
    @include rwd(575px){
        top: 12vh;
    }
}
.about_taiwanSpot2{
    left: 35vw;    
    top: 30vh;
    @include rwd(575px){
        left: 24vw;    
        top: 34vh;
    }
}
.about_taiwanSpot3{
    left: 35vw;    
    top: 75vh;
}
.about_taiwanSpot4{
    left: 50vw;    
    top: 60vh;
    @include rwd(575px){
        left: 50vw;    
        top: 55vh;
    }
}

.about_spotDeco1{
    //熱氣球
    left: 52vw;
    top: 48vh;
    z-index: 2;
    animation: flying 8s linear infinite;
    img{
        height: 120%;
    }
    @include rwd(575px){
        left: 65vw;    
        top: 45vh;
    }
}
.about_spotDeco2{
    //小熱氣球1
    left: 50vw;
    top: 47vh;
    animation: flying 8s .5s linear infinite;
    img{
        height: 100%;
    }
    @include rwd(575px){
        left: 55vw; 
    }
}
.about_spotDeco3{
    //小熱氣球2
    left: 48vw;
    top: 50vh;
    animation: flying 10s .9s linear infinite;
    img{
        height: 100%;
    }
    @include rwd(575px){
        left: 60vw;
        top: 43vh; 
    }
}
.about_spotDeco4{    
    left: 70vw;
    top: 70vh;
    img{
        height: 110%;
    }
    @include rwd(575px){
        left: 85vw;
        img{
            height: 90%;
        }
    }
}
.about_spotDeco5{
    left: 65vw;
    top: 72vh;
    img{
        height: 100%;
    }
    @include rwd(575px){
        left: 75vw;
        top: 75vh;
        img{
            height: 75%;
        }
    }
}
.about_spotDeco6{
    left: 60vw;
    top: 15vh;
    animation: flying 14s  linear infinite;
    img{
        height: 110%;
    }
    @include rwd(768px){
        left: 68vw;
    }
    @include rwd(575px){
        left: 85vw;
    }
}
.about_spotDeco7{
    left: 57vw;
    top: 15vh;
    animation: flying 12s .3s linear infinite;
    img{
        height: 100%;
    }
    @include rwd(768px){
        left: 63vw;
    }
    @include rwd(575px){
        left: 76vw;
    }
}
.about_spotDeco8{
    left: 58vw;
    top: 19vh;
    animation: flying 13s .5s linear infinite reverse;
    img{
        height: 100%;
    }
    @include rwd(768px){
        left: 64vw;
    }
    @include rwd(575px){
        left: 74vw;
    }
}
.about_spotDeco9{
    left: 18vw;
    top: 69vh;
    img{
        height: 180%;
    }
    @include rwd(768px){
        img{
            height: 150%;
        }
        left: 6vw;
        top: 80vh;
    }
    @include rwd(575px){
        left: 5vw;
        top: 85vh;
        img{
            height: 110%;
        }
    }
}
@keyframes flying {
    0%{transform: translateY(-10px);}
    25%{transform: translateY(10px);}
    50%{transform: translateY(-10px);}
    75%{transform: translateY(10px);}
    100%{transform: translateY(-10px);}
}
.about_taiwan_end{
    opacity: 1;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: relative;
    background: url('../../images/about/aboutUs_bg3.jpg'); 
    .about_taiwan_endLogo{
        position: relative;
        width: 15vw;
        height: auto;
        min-width: 170px;
        min-height: 170px;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%); 
        z-index: 5; 
        @include rwd(575px){
            top: 37vh;
        }      
    }
    h2{
        color: #fff;
        font-size: 24px;
        text-align: center;
        position: relative;
        top: 25%; 
        @include rwd(575px){
            top: 30vh;
        }      
    }
    .about_endBtn{
        text-align: center;
        position: relative;
        top: 35%;        
        a{
            @include btn();
            display: inline-block;
            margin: 0 20px;
        }
    }
    .about_cloud{
        position: absolute;
        height: auto;
        min-width: 200px;
        min-height: 80px;
    }
    .about_cloud1{
        width: 45vw;
        top: 5vh;
        left: -3vw;
        animation: cloud 6s linear infinite;
        @include rwd(575px){
            width: 65vw;
        }
    }
    .about_cloud2{
        width: 45vw;
        left: -5vw;
        bottom: 25vh;
        animation: cloud 8s .5s linear infinite;
    }
    .about_cloud3{
        height: 30vh;
        width: auto;        
        left: -10vw;
        bottom: 5vh;
        animation: cloud 6s 1s linear infinite; 
        @include rwd(575px){
            height:20vh;
        }       
    }
    .about_cloud4{
        height: auto;
        width: 35vw;
        right: -10vw;
        top: 0%;
        animation: cloud 6s 1s linear infinite reverse;
    }
    .about_cloud5{
        height: auto;
        width: 25vw;
        left: 15vw;
        top: 20vh;
        animation: cloud 8s linear infinite reverse;
    }
    .about_cloud6{
        height: auto;
        width: 45vw;
        right: -5vw;
        top: 40vh;
        animation: cloud 7s  .5s linear infinite reverse;
    }
    .about_cloud7{
        height: auto;
        width: 20vw;
        right: -5vw;
        top: 70vh;
        animation: cloud 10s linear infinite reverse;
    }
    .about_cloud8{
        height: auto;
        width: 25vw;
        right: -10vw;
        top: 25vh;
        animation: cloud 8s 1s linear infinite reverse;
    }
    
} 
.about_place1, .about_place2, .about_place3, .about_place4{
    position: fixed;
    top: 50%;
    width: 60%;
    max-width: 800px;
    transform: translate(0, -50%);
    padding: 40px 50px;
    display: none;
    @include rwd(575px){
        width: 100%;
        left:50%;
        transform: translate(-50%, -50%);
    }
    h1{
        width: 150px;
        height: 40px;
        padding: 5px 20px;
        background-color: $darkBlue;
        color: #fff;
        position: absolute;
        text-align: center;
        line-height: 30px;
        font-weight: 900;
        font-size: 26px;
        left: 10px;
        top: 10px;
    }
    div{
        width: 100%;
        // height: 100%;        
        background-color: rgba(255, 255,255, .9);
        padding: 30px 20px;
        @include boxShadow();
        h3{
            color: $darkBlue;
            margin-bottom: 20px;
            font-size: 24px;
        }
        p{
            color: $darkBlue;
            line-height: 30px;
            font-size: 18px;
        }
    }
    a{
        width: 150px;
        padding: 8px 20px;
        background-color: $darkBrown;
        position: absolute;
        right: 50px;
        bottom: 5px;
        color: #fff;
        text-align: center;
        border-radius: 25px;

    }
}
.about_place1{
    left: 35%;
    @include rwd(575px){
        left: 50%;
    }
}
.about_place2{
    right: 10%;
}
.about_place3{
    right: 20%;
}
.about_place4{
    left: 25%;
    @include rwd(575px){
        left: 50%;
    }
}
.about_farmerDetail_bg{
    width: 100%;
    height: 100%;
    background-color: $popUpBlack;
    z-index: 999;
    position: fixed;
    top: 0;
    left:0;  
    .about_farmerDetail_box{
        width: 50%;
        max-width: 800px;
        height: auto;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 20px;
        padding: 40px;
        display: flex;
        @include rwd(768px){
            width: 80%;
        }
        @include rwd(565px){
            width: 90%;
            height: 90%;
            display: block;
            padding: 30px;
        }
        .about_farmerDetail_farmer{
            width: 35%;
            height: auto;
            img{
                width: 100%;
            }
            p{
                margin-top: 10px;
                font-size: 16px;
                color: $darkBlue;
            }
            @include rwd(575px){
                width: 63%;
                margin: 0 auto 20px auto;
                p{
                    font-size: 14px;
                    margin-top: 5px;
                    text-align: center;
                }
            }
        }
        .about_farmerDetail_title{
            width: 60%;
            position: relative;
            padding-left: 20px;
            h2{
                font-size: 28px;
                color: $darkBrown;
                margin-bottom: 10px;
            }
            h3{
                color: $lightBrown;
                font-size: 20px;
            }
            p{
                color: $darkBlue;
                left: 0;
                bottom: 0;
                font-size: 16px;
                line-height: 35px;
                font-weight: 900;
            }
            .about_farmerDetail_text{
                color: $darkBlue;
                padding-top: 20px;
                font-size: 16px;
                line-height: 30px;
            }
            @include rwd(565px){
                width: 100%;
                padding-left: 0px;
                line-height: 25px;
                h2{
                    font-size: 22px;
                }
                .about_farmerDetail_text{
                    padding-top: 10px;
                    font-size: 16px;
                    line-height: 25px;
                }
            }
        }
        i.fa-times{
            font-size: 24px;
            position: absolute;
            top: 20px;
            right: 30px;
            cursor: pointer;
        }
        
    }
}