@import 'reset';
@import 'color';

*{
    font-size: 16px;
    font-weight: bold;
    font-family: '微軟正黑體';
    text-decoration: none;
}
h1,h2,h3,h4,h5,p{
    font-weight: 900;
}
body{
    overflow-x: hidden;

}
.wrap{
    width: 100vw;
    height: 100vh;    
}
#scene1{
    width: 100%;
    height: 100%;    
    // border: 5px solid green;
    position: relative;    
    overflow: hidden;
    .about_street{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: url('../images/house.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .people{
        position: absolute;
        // border: 1px solid red;
        height: 200px;
    }
    .about_people1{
        bottom: 50px;
        right: 35vw;
    }
    .about_people2{
        bottom: 40px;
        right: 30vw;
        animation: walk2 28s linear infinite ;
    }
    .about_people3{
        bottom: 55px;
        right: 25vw;
    }
    .about_people4{
        bottom: 30px;
        right: 50vw;
        animation: walk1 30s linear infinite ;
    }
    .about_people5{
        bottom: 60px;
        right: 85vw;
    }
    .about_people6{
        bottom: 40px;
        // right: -10vw;
        animation: bike 15s linear infinite ;
    }
    @keyframes bike {
        0%{right: -10vw;
            bottom: 40px}
        100%{right: 110vw;
        bottom: 40px}
    }  
    @keyframes walk1 {
        0%{right: 60vw;}
        8%{opacity: 1;}
        10%{opacity: 0;}
        20%{opacity: 1;}
        58%{opacity: 1;}
        60%{opacity: 0;}
        70%{opacity: 1;}
        100%{right: -10vw;}
    }
    @keyframes walk2 {
        0%{right: 30vw;}
        8%{opacity: 1;}
        10%{opacity: 0;}
        20%{opacity: 1;}
        58%{opacity: 1;}
        60%{opacity: 0;}
        70%{opacity: 1;}
        100%{right: 110vw;}
    }  
    .about_street_end{
        opacity: 1;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: -1;
        img{
            width: 100%;
            height: 100%;
        }
    }
       

}


.about_history{
    width: 550px;
    height: auto;
    padding: 40px;
    color: $darkBlue;
    position: absolute;
    right:45%;
    bottom: -30%;
    background-color: rgba(255, 255,255, .9);
    font-weight: 900;
    line-height: 30px;
    font-size: 16px;
    box-shadow: 0px 0px 10px #333;
}
.about_brand{
    width: 550px;
    height: auto;
    padding: 40px;
    color: $darkBlue;
    position: absolute;
    left:45%;
    bottom: -150%;
    background-color: rgba(255, 255,255, .9);
    font-weight: 900;
    line-height: 30px;
    font-size: 16px;
    box-shadow: 0px 0px 20px #333;    
}
#scene2{
    position: relative;
    width: 100%;
    height: 100%;
    // border: 5px solid blue;
    overflow: hidden;
    .about_farmerDetail_box{
        width: 70%;
        height: 60%;
        background-color: #ccc;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: transalte(-50%,-50%);
    }
}

.about_taiwan{
    opacity: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    background: url('../images/ocean.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    img{
        // border: 10px solid red;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    
}  
.about_taiwan_end{
    opacity: 1;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: relative;
    img{
        width: 100%;
        height: 100%;
    }
} 
.about_place1, .about_place2, .about_place3, .about_place4{
    position: absolute;
    width: 600px;
    height: 220px;
    padding: 40px 50px;
    h1{
        width: 150px;
        height: 40px;
        padding: 5px 20px;
        background-color: $darkBlue;
        color: #fff;
        position: absolute;
        text-align: center;
        line-height: 30px;
        font-weight: 900;
        font-size: 26px;
        left: 10px;
        top: 10px;
    }
    div{
        width: 100%;
        // height: 100%;        
        background-color: rgba(255, 255,255, .9);
        padding: 30px 20px;
        // border: 1px solid black;
        h3{
            color: $darkBlue;
            margin-bottom: 20px;
            font-weight: 900;
            font-size: 20px;
        }
        p{
            color: $darkBlue;
            font-weight: 900;
        }
    }
    a{
        width: 150px;
        padding: 8px 20px;
        background-color: $darkBrown;
        position: absolute;
        right: 50px;
        bottom: 5px;
        color: #fff;
        text-align: center;
        border-radius: 25px;
        font-weight: 900;
    }
}

.about_place1{
    left: 30%;
    bottom: -750%;
}
.about_place2{
    right: 5%;
    bottom: -900%;
}
.about_place3{
    right: 20%;
    bottom: -1100%;
}
.about_place4{
    left: 25%;
    bottom: -1300%;
}

// 
.about_farmerDetail_bg{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    z-index: 999;
    position: fixed;
    top: 0;
    left:0;
    display: none;    
    .about_farmerDetail_box{
        width: 60%;
        max-width: 1000px;
        height: auto;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 20px;
        padding: 50px;
        img{
            width: 180px;
            height: 180px;
            float: left;
        }
        .about_farmerDetail_title{
            display: inline-block;
            height: 180px;
            width: 200px;
            position: relative;
            margin-left: 20px;
            // border: 1px solid red;
            h2{
                font-size: 24px;
                color: $darkBrown;
                margin-bottom: 10px;
            }
            h3{
                color: $lightBrown;
            }
            p{
                color: $darkBlue;
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }
        i{
            font-size: 24px;
            position: absolute;
            top: 20px;
            right: 30px;
        }
        .about_farmerDetail_text{
            color: $darkBlue;
            margin-top: 30px;
            font-weight: 900;
        }
    }
}




