@import '../mixin/mixin';

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-size: 16px;
    font-family: '微軟正黑體';
    font-weight: 900;
    box-sizing: border-box;
}

$fontColor: #bb866a;
$btnBgc: #172852;
$btnHover: #2e447c;
$barColor: #f7c242;
$barBgc: #cba89a;





html,body{
    width: 100%;
    background-image: url('../images/customized/bg.png');
    background-size: cover;
    overflow: hidden;
    // border: 5px solid orange;
    // scroll-behavior: smooth;
    position: relative;
}

.navbar{
    @include navbar();
}
.mediacolumn{
    @include media
}
.custom_waterMark{
    position: fixed;
    z-index: 0;        
    opacity: .8; 
    img{
        width: 100%;
        height: 100%;
    } 
}
.waterMark1{
    width: 510px;
    height: 310px;
    top:-100px;
    left: 35%; 
    opacity: .5; 
}
.waterMark2{
    width: 400px;
    height: 400px;
    top:20%;
    left: -100px;    
}
.waterMark3{
    width: 450px;
    height: 450px;
    right: -100px;
    top: 80%;    
}

.cus-wrap{
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
}
// 側邊節點

.custom_sideNode{
    width: 20px;
    height: 200px;
    position: fixed;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .custom_sideNode_node{
        width: 8px;
        height: 8px;
        border: 1px solid $barBgc;
        background-color: $barBgc;
        border-radius: 50%;
        position: relative;
        z-index: 2;
    }    
    .sideBar{
        width: 3px;        
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }
    .custom_sideNode_backBar{
        height: 100%;
        background-color: $barBgc;       
    }
    .custom_sideNode_frontBar{    
        height: 0%;  
        background-color: $barColor;
    }
    .custom_sideNode_node:nth-child(3){
        border: 2px solid $barColor;
        background-color: #fff;
    }
    .current_node{
        border: 2px solid $barColor;
        background-color: #fff;
    }
    .before_node{
        border: 2px solid $barColor;
        background-color: $barColor !important;
    }

}



.cus-step1-txt{
    text-align: center;
    padding-top: 50px;
    // border: 1px solid blue;
    width: 90%;
    position: relative;
    h3{
        color: $fontColor;
        font-size: 24px;
        margin-bottom: 15px;
    }
    h2{
        color: $fontColor;
        font-size: 32px;
    }
}
.cus-step1{
    // border: 1px solid red;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.selectedBox{
    opacity: .5;    
}
.cus-step1-box{
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr;  
    text-align: center;
    width: 100%;
    position: relative;
    top: 10%;
    justify-items: center;
    align-items: center;
    // border: 1px solid blue;
    p{
        margin-top: 15px;
        color: $fontColor;
        font-weight: 900;
        font-size: 18px;
    };
    
    img{
        cursor: pointer;
        transition: .3s;
        &:hover{
            transform: scale(1.1);
            box-shadow: 5px 5px 10px #888;
            opacity: 1;
        }
        &:hover ~ p{
            color: #172852;
        }        
    }     
    .box1{
        width: 165px;
        height: auto;
    }
    .box2, .box3{
        width: 240px;
        height: auto;
    }
    
}

//客製按鈕

.custom_btn{
    display: block;
    padding: 8px 10px;
    width: 120px;
    // height: 40px !important;
    border-radius: 25px;
    background: $btnBgc;  
    border: 3px solid $btnBgc;  
    color: #fff;
    text-align: center;    
    font-weight: 900;
    &:hover{
        background-color: $btnHover;    
        color: #fff;
        border: 3px solid $btnHover;
    }
}
.custom_btn_p1Next{
    position: absolute;
    bottom: 0;
    right:0; 
    display: none; 
}


.custom_gridBox{
    width: 95%;
    height: 95%;       
    cursor: pointer;
    position: relative;
}
.cus-box img{
    width: 100%;
    height: 100%;
    filter: brightness(70%);
    &:hover{
        filter: brightness(100%);
        
    }
}
.choosenBox{
    img{
        filter: brightness(100%);
        border-radius: 10px;
        box-shadow: 0px 0px 10px 5px #f7c242;
    }
}
.four-grid{
    background-image: url('../images/customized/four_boxBody.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    height: 200px;
    width: 200px;
    // border: 1px solid red;
    grid-template-columns: 1fr 1fr ;
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    align-self: center;
    justify-self: center;
    transition: .3s;
    padding: 15px;
} 
.six-grid{
    background-image: url('../images/customized/six_boxBody.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;        
    height: 200px;
    width: 300px;
    // border: 1px solid blue;
    grid-template-columns: 1fr 1fr 1fr;
    align-self: center;
    justify-self: center;
    transition: .3s;
    padding: 15px;
}
.nine-grid{
    background-image: url('../images/customized/nine_boxBody.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    width: 300px;
    height: 300px;
    // border: 1px solid green;
    grid-template-columns: 1fr 1fr 1fr;
    align-self: center;
    justify-self: center;
    transition: .3s;
    padding: 15px;
}    
.fa-chevron-right{
    margin-left: 10px;;
}

// 第二步
.cus-step2{
    // border: 1px solid rgb(255, 0, 234);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 100vh;

    .cus-step2-txt{
        text-align: center;
        padding-top: 50px;
        width: 90%;
        position: relative;
        margin-bottom: 50px;
        h3{
            color: $fontColor;
            font-size: 24px;
            margin-bottom: 15px;
        }
        h2{
            color: $fontColor;
            font-size: 32px;
        }
    }
    
    .prep{
        position: absolute;
        left: 0;
        bottom: 0;
        // background: #fff;    
        // color: $btnBgc;
        background-color: transparent;
        color: #a3a3a3;
        border: none;
        text-align: center; 
        i{
            margin-right: 10px;
        }
        &:hover{
            // background-color: $btnBgc;    
            color: #333;
            &::after{
                background-color: #333;
            }
        }
        &::after{
            content: '';
            width: 80px;
            height: 2px;
            background-color: #a3a3a3;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0); 
            
        }
    }
    .next{
        position: absolute;
        right: 0;
        bottom: 0;
        i{
            margin-left: 10px;
        }
    }
    .cus-product-category a{
        display: inline-block;
        padding: 5px 10px;
        width: 90px;
        border-radius: 20px;
        border: 3px solid $fontColor;
        background-color: #fff;    
        color: $fontColor;
        text-align: center;
        margin: 50px 5px;
        &:hover{
            background-color: $fontColor;    
            color: #fff;
        }
    } 
    .selected_item{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    

    // 產品區
    $itemWidth : 180px;
    .cus-product-contianer{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-auto-rows: auto;
        // border: 1px solid blue;
        width: 100%;
        .cus-item{
            margin-top: 20px;
            // border: 1px solid red;
            position: relative;
            text-align: center;
            margin-bottom: 50px;
            .cus-item-img{
                width: $itemWidth;
                // border: 1px solid green;
                margin: 0 auto;
                position: relative;                
            }
            .cus-item-img img{
                width: 100%;
                height: auto;
            }
            .cus-item-txt{
                position: absolute;
                left: 50%;
                top: $itemWidth;
                width: $itemWidth;
                height: $itemWidth;
                border-radius: 50%;
                margin: 0 auto;
                background-color: #999;
                text-align: center;
                transform: translate(-50%, -20px);
                display: none;
                p{
                   position: absolute;
                   left: 50%;
                   top: 30px;
                   transform: translateX(-50%);
                }
                a.cus-add{
                    position: absolute;
                    left: 50%;
                    bottom: 10px;
                    transform: translateX(-50%);
                    height: 30px;
                    line-height: 30px;
                    i.fa-plus{
                        font-size: 22px;
                    }
                }
            }
        }        
    }
    //產品確認清單
    .custom_itemConfirm_List{
        width: 400px;
        // border: 1px solid red;
        background-color: #fff;
        margin: 100px auto;
        padding: 20px;
        display: none;;
        h2{
            font-size: 20px;
            color:$fontColor;
            width: 100%;
            border-bottom: 3px solid $fontColor;
            padding: 10px 0;
            margin-bottom: 10px;
        }
        img{
            width: 60px;
            height: 60px;
        }
        div{
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
            justify-content: center;
            align-items: center;
            border-bottom: 2px dashed $fontColor;
            padding: 5px;
            p{
                color:$btnBgc;
                font-weight: 900;
            }
        }

    }
    //確認按鈕
    .cus-confirm-btn{
        // border: 1px solid green;
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        display: none;
        justify-content: space-between;
        
    }
    //客製禮卡需不需要按鈕
    .cus-giftcard-btn{
        // border: 1px solid green;
        width: 100%;
        position: absolute;
        top: 70vh;
        left: 0;
        display: flex;
        display: none;
        justify-content: space-between;
        a{
            display: block;
            margin: 0 15%;
        }
    }
    $boxHeight : 200px;
    $boxWidth : 345px;
    
    //禮物蓋子
    .cus-giftbox{
        width: $boxWidth;
        height: $boxHeight;
        position: absolute;
        left: 50%;
        top: -300px;
        transform: translate(-50%, 0%);
        // border: 3px solid blue; 
        opacity: 0;
        background: url('..//images/nine_boxHead.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    //選擇袋子或卡片
    .cus-bag-card{
        width: $boxWidth;
        // height: 150px;
        height: 210px;
        border: 3px solid green;
        position: absolute;
        bottom: -210px;
        left: 50%;
        transform: translate(-50%, 0%);
        transition: .5s;
        display: none;
        .choose-card, .choose-bag{
            width: 100%;
            height: 100%;
            display: none;
            position: absolute;
            cursor: pointer;        
        }
        pre{
            width: 100% ;
            height: 100%;
            opacity: 0;
            transform: scaleX(-1);
            position: absolute;
            top: 0;
            left: 0;
            padding: 30px;
            line-height: 40px;
            white-space: pre-wrap !important;
            word-wrap: break-word;
            font-size: 18px;    
            border: 2px solid pink;
        }
        .choose-bag{
            top: 0;
            left: 0;
            display: none;
        }
        .card1{
            // border: 5px solid rgb(110, 18, 214);
            z-index: 2;
            top: 0;
            left: 0;
            display: none;
        }
        .card2{
            top: 30px;
            left: -50px;
            // border: 5px solid rgb(255, 0, 179);
            display: none;
        }
        .card3{
            top: 30px;
            left: 50px;
            // border: 5px solid rgb(255, 0, 179);
            display: none;
        }
    }
    //選擇禮卡按鈕
    .custom_chooseCard_btn{
        // border: 1px solid green;
        // width: 90%;
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        display: none;
        justify-content: space-between;        
    }
    //選擇的那張卡片
    .choosenCard{
        box-shadow: 0px 0px 15px #555;
    } 
    //卡片內容填寫框
    $lineMaxHeight : 8;
    .custom_card_textArea{
        width: 35%;
        height: 60%;
        border: 2px solid blue;
        padding: 10px;
        position: absolute;
        top: 55%;
        right:5%;
        transform: translate(0%,-50%);
        display: none;
        background-color: #fff;
        form{
            width: 100%;
            height: 100%;
        }
        textarea{
            width: 100%;
            height: 100%;
            line-height: 45px;
            background-color: transparent;
            font-family: '微軟正黑體';
            font-size: 22px;
            border: 0;
            resize: none;
            &:focus{
                outline: 0;
            }
        }
        .custom_card_iconList{
            width: 100%;
            height: 100%;
            border: 2px solid red;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 10px;
            padding: 10px;
            overflow-y: scroll;
            display: none;
            img{
                width: 100%;
                height: auto;
                background-color: transparent;
                border-radius: 10px;
                cursor: pointer;
            }
            .choosen_icon{
                border: 2px solid $barBgc;
            }
        }
        
    }
    //選擇禮卡
    .cus-cardcontent-btn{
        // border: 1px solid green;
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        // display: flex;
        display: none;
        justify-content: space-between;        
    }
    .cus-cardIcon-btn{
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        display: none;
        justify-content: space-between;       
    }
    .custom_card_IconOnCard{
        width: 60px;
        height: 60px;
        position: absolute;
        right: 10px;
        bottom: 10px;   
        z-index: 10; 
        cursor: pointer;
        img{
            width: 100%;
            height: auto;
        }
    };
    .cus-cardConfirm-btn{
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        display: none;
        justify-content: space-between;    
        .cus-cardConfirm-nextstep{
            &::before{
                content: '添加到購物車';
                position: absolute;
                font-size: 14px;
                width: 120px;
                text-align: center;
                top: -60%;
                left: 50%;
                transform: translateX(-50%);
                color: $btnBgc                
            }
        }
    }
}

.custom_backHome{
    background-color: #a3a3a3;
    border: 3px solid #a3a3a3;
}
.custom_bag{
    width: 400px;
    height: 300px;
    position: absolute;
    left: 50%;
    bottom: -50%;
    background: url('../images/customized/testBag.png');
    background-position: center;
    background-size: 120% cover;
    transition: 2s;
    // display: none;
    transform: translate(-50%, 50%); 
}
// .custom_popUp_template, .custom_popUp_cart{
//     // @include popUpBg();
// }
.custom_popUp{
    @include popUp_oneBtn();
}
.custom_cart{
    @include popUp_twoBtn();
}

.custom_popUp_bg{
    @include popUpBg();
}