@import '../mixin/mixin';
@import '../base/reset.scss';
@import '../base/color.scss';

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-size: 16px;
    font-family: '微軟正黑體';
    font-weight: 900;
    box-sizing: border-box;
}

$fontColor: #bb866a;
$btnBgc: #172852;
$btnHover: #2e447c;
$barColor: #f7c242;
$barBgc: #cba89a;


body{
    width: 100%;
    background-image: url('../images/customized/bg.png');
    background-size: cover;
    overflow-y: hidden;
    position: relative;
}

.navbar{
    @include navbar();
    position: fixed;
}
.mediacolumn{
    @include media
}
.custom_waterMark{
    position: fixed;
    z-index: 0;        
    opacity: .8; 
    img{
        width: 100%;
        height: 100%;
    } 
}
.waterMark1{
    width: 510px;
    height: 310px;
    top:-100px;
    left: 35%; 
    opacity: .5; 
}
.waterMark2{
    width: 400px;
    height: 400px;
    top:20%;
    left: -100px;    
}
.waterMark3{
    width: 450px;
    height: 450px;
    right: -100px;
    top: 80%;    
}
.custom_reminder{
    width: 200px;
    height: 70px;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 25px;
    background-color: $darkBrown;
    text-align: center;
    line-height: 70px;
    color: #fff;
    z-index: 100;
    display: none;
}

.cus_wrap{
    // width: 80%;
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
}
// 側邊節點
.custom_sideNode{
    width: 20px;
    height: 200px;
    position: fixed;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .sideBar{
        width: 3px;        
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }
    .custom_sideNode_backBar{
        height: 100%;
        background-color: $barBgc;       
    }
    .custom_sideNode_frontBar{    
        height: 0%;  
        background-color: $barColor;
    }
    @include rwd(575px){
        display: none;
    }
}

.cus_step1{
    // border: 1px solid red;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .cus_step1_txt{
        text-align: center;
        padding-top: 50px;
        // border: 1px solid blue;
        width: 90%;
        position: relative;
        padding-bottom: 50px;
        h3{
            color: $fontColor;
            font-size: 24px;
            margin-bottom: 15px;
        }
        h2{
            color: $fontColor;
            font-size: 32px;
        }
        @include rwd(800px){
            // margin-top: 80px;
        }
        @include rwd(575px){
            padding-top: 80px;
            // padding-top: 0px;
            width: 100%;
            h3{
                font-size: 20px;
            }
            h2{
                font-size: 24px;
            }
        }
    }    
}
.selectedBox{
    opacity: .5;    
}
.cus_step1-box{
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr;  
    text-align: center;
    width: 100%;
    position: relative;
    top: 35%;
    transform: translateY(-50%);
    justify-items: center;
    align-items: center;  
    z-index: 5;  
    // border: 1px solid blue;
    p{
        margin-top: 15px;
        color: $fontColor;
        font-weight: 900;
        font-size: 18px;
    };
    
    img{
        cursor: pointer;
        transition: .3s;
        &:hover{
            transform: scale(1.1);
            box-shadow: 5px 5px 10px #888;
            opacity: 1;
        }
        &:hover ~ p{
            color: #172852;
        }        
    }     
    .box1{
        width: 165px;
        height: auto;
    }
    .box2, .box3{
        width: 240px;
        height: auto;
    }
    @include rwd(960px){
        .box1{
            width: 120px;
            height: auto;
        }
        .box2, .box3{
            width: 180px;
            height: auto;
        }
    }   
    @include rwd(767px){
        width: 100%;
        .box1{
            width: 100px;
            height: auto;
        }
        .box2, .box3{
            width: 150px;
            height: auto;
        }
    }
    @include rwd(575px){
        display: flex;
        flex-direction: column;
        .cus_box_container{
            margin-bottom: 30px;
            p{
                margin-top: 10px;
            }
        }
        .box1{
            width: 80px;
            height: auto;
        }
        .box2, .box3{
            width: 120px;
            height: auto;
        }
    }
}

//客製按鈕

.custom_btn{
    @include btn();
    @include rwd(575px){
        width: 100px;
        font-size: 12px;
        border-radius: 15px;
        padding: 5px;
        i{
            display: none;
        }
    }
    z-index: 999;
}
.custom_btn_p1Next{
    position: absolute;
    bottom: 0;
    right:0; 
    display: none; 
    z-index: 999;
}
.custom_gridBox{
    width: 95%;
    height: 95%;       
    cursor: pointer;
    position: relative;
}
.cus_box img{
    width: 100%;
    height: 100%;
    filter: brightness(70%);
    &:hover{
        filter: brightness(100%);
        
    }
}
.choosenBox{
    img{
        filter: brightness(100%);
        border-radius: 10px;
        // box-shadow: 0px 0px 10px 5px #f7c242;
        animation: flash 3s linear infinite;
    }
}
@keyframes flash {
    0%{box-shadow: 0px 0px 10px 5px #f7c242;}
    25%{box-shadow: 0px 0px 10px 5px transparent;}
    50%{box-shadow: 0px 0px 10px 5px #f7c242;}
    75%{box-shadow: 0px 0px 10px 5px transparent;}
    100%{box-shadow: 0px 0px 10px 5px #f7c242;}
}
.cus_reminderWord{
    font-size: 12px;
    color: $darkBrown;
    margin-top: 5px;
}
.four_grid{
    background-image: url('../images/customized/four_boxBody.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    height: 200px;
    width: 200px;
    grid-template-columns: 1fr 1fr ;
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    align-self: center;
    justify-self: center;
    transition: .3s;
    padding: 15px;
    @include rwd(575px){
        margin-top: 40px;
    }
} 
.six_grid{
    background-image: url('../images/customized/six_boxBody.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;        
    height: 200px;
    width: 300px;
    // border: 1px solid blue;
    grid-template-columns: 1fr 1fr 1fr;
    align-self: center;
    justify-self: center;
    transition: .3s;
    padding: 15px;
    @include rwd(575px){
        margin-top: 40px;
    }
}
.nine_grid{
    background-image: url('../images/customized/nine_boxBody.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    width: 300px;
    height: 300px;
    // border: 1px solid green;
    grid-template-columns: 1fr 1fr 1fr;
    align-self: center;
    justify-self: center;
    transition: .3s;
    padding: 15px;
    @include rwd(575px){
        margin-top: 40px;
    }
}    
.fa-chevron-right{
    margin-left: 10px;;
}

// 第二步
.cus_step2{
    // border: 1px solid rgb(255, 0, 234);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 100vh;
    padding-bottom: 100px;
    .cus_step2_txt{
        text-align: center;
        padding-top: 50px;
        width: 90%;
        position: relative;
        // margin-bottom: 50px;
        padding-bottom: 50px;
        h3{
            color: $fontColor;
            font-size: 24px;
            margin-bottom: 15px;
        }
        h2{
            color: $fontColor;
            font-size: 32px;
        }
        @include rwd(800px){
            // margin-top: 80px;
        }
        @include rwd(575px){
            padding-top: 80px;
            // padding-top: 0px;
            width: 100%;
            h3{
                font-size: 20px;
            }
            h2{
                font-size: 24px;
            }
        }
    }
    
    .prep{
        position: absolute;
        left: 0;
        bottom: 10px;
        // background: #fff;    
        // color: $btnBgc;
        background-color: transparent;
        color: #a3a3a3;
        border: none;
        text-align: center; 
        i{
            margin-right: 10px;
        }
        &:hover{
            // background-color: $btnBgc;    
            color: #333;
            &::after{
                background-color: #333;
            }
        }
        &::after{
            content: '';
            width: 80px;
            height: 2px;
            background-color: #a3a3a3;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0); 
            
        }
        @include rwd(575px){
            &::after{
                width: 50px;
            }
        }
    }
    .next{
        position: absolute;
        right: 0;
        bottom: 10px;
        i{
            margin-left: 10px;
        }
    }
    .cus_product_category {
        a{
            display: inline-block;
            padding: 5px 10px;
            width: 90px;
            border-radius: 20px;
            border: 3px solid $fontColor;
            background-color: #fff;    
            color: $fontColor;
            text-align: center;
            margin: 50px 5px;
            &:hover{
                background-color: $fontColor;    
                color: #fff;
            }
        }
        .categoryChoose{
            background-color: $darkBrown;
            color: #fff;
        }
        @include rwd(800px){
            width: 100%;
            margin-top: 10px;
            text-align: center;
            a{
                margin: 10px 2.5px;
                width: 85px;
                font-size: 14px;
            }
        }
    } 
    .selected_item{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    

    // 產品區
    $itemWidth : 150px;
    $rdwWidth : 130px; 
    .cus_product_contianer{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-auto-rows: auto;        
        width: 100%;
        @include rwd(1000px){
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        @include rwd(800px){
            grid-template-columns: 1fr 1fr 1fr;
            padding: 0 15px;
        }
        @include rwd(600px){
            grid-template-columns: 1fr 1fr;
        }
        .cus-item{
            margin-top: 20px;
            // border: 1px solid red;
            position: relative;
            text-align: center;
            margin-bottom: 50px;
            .cus_item_img{
                width: $itemWidth;
                margin: 0 auto;
                position: relative;
                @include rwd(400px){
                    width: $rdwWidth;
                }                
            }
            .cus_item_img img{
                width: 100%;
                height: auto;
            }
            .cus_item_txt{
                position: absolute;
                left: 50%;
                top: $itemWidth;
                width: $itemWidth;
                height: $itemWidth;
                border-radius: 50%;
                margin: 0 auto;
                background-color: $lightBrown;
                text-align: center;
                transform: translate(-50%, -70px);
                display: none;
                padding-top: 20px;
                p{
                    position: absolute;
                    left: 50%;
                    top: 70px;
                    transform: translateX(-50%);
                    color: #fff;
                    width: 100%;
                }
                a.cus_add{
                    position: absolute;
                    left: 50%;
                    bottom: 10px;
                    transform: translateX(-50%);
                    height: 30px;
                    line-height: 30px;
                    i.fa-plus{
                        font-size: 22px;
                        color: #fff;
                    }
                }
                @include rwd(400px){
                    transform: translate(-50%, -90px);
                }
            }
        }        
    }
    //產品確認清單
    .custom_itemConfirm_List{
        width: 35%;
        max-width: 400px;
        min-width: 320px;
        // border: 1px solid red;
        background-color: #fff;
        margin: 100px auto;
        padding: 20px;
        display: none;;
        h2{
            font-size: 20px;
            color:$fontColor;
            width: 100%;
            border-bottom: 3px solid $fontColor;
            padding: 10px 0;
            margin-bottom: 10px;
        }
        img{
            width: 60px;
            height: 60px;
        }
        div{
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
            justify-content: center;
            align-items: center;
            border-bottom: 2px dashed $fontColor;
            padding: 5px;
            p{
                color:$btnBgc;
                font-weight: 900;
                margin-left: 5px;
            }
        }

    }
    //確認按鈕
    .cus_confirm_btn{
        // border: 1px solid green;
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        display: none;
        justify-content: space-between;
        z-index: 999;
    }
    //客製禮卡需不需要按鈕
    .cus_giftcard_btn{
        // border: 1px solid green;
        width: 100%;
        position: absolute;
        top: 70vh;
        left: 0;
        display: flex;
        display: none;
        justify-content: space-between;
        z-index: 999;
        a{
            display: block;
            margin: 0 15%;
        }
    }
    // $boxHeight : 200px;
    // $boxWidth : 345px;
    $boxHeight : 160px;
    $boxWidth : 280px;
    $rwdBoxWidth: 240px;
    $rwdBoxHeight: 140px;
    
    //禮物蓋子
    .cus_giftbox{
        width: $boxWidth;
        height: $boxHeight;
        position: absolute;
        left: 50%;
        top: -300px;
        transform: translate(-50%, 0%);
        // border: 3px solid blue; 
        opacity: 0;
        background: url('../images/customized/nine_boxHead.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    //選擇袋子或卡片
    .cus_bag_card{
        width: $boxWidth;
        height: $boxHeight;
        max-width: 360px;
        max-height: 200px;
        // border: 3px solid green;
        position: absolute;
        bottom: -210px;
        left: 50%;
        transform: translate(-50%, 0%);
        transition: .5s;
        display: none;
        border-radius: 15px;
        @include rwd(976px){
            width: $rwdBoxWidth;
            height: $rwdBoxHeight
        }
        .choose-card, .choose-bag{
            width: 100%;
            height: 100%;
            display: none;
            position: absolute;
            cursor: pointer;
            border-radius: 15px;
        }
        pre{
            width: 100% ;
            height: 100%;
            opacity: 0;
            transform: scaleX(-1);
            position: absolute;
            border-radius: 25px;
            top: 0;
            left: 0;
            padding: 15px;
            line-height: 40px;
            white-space: pre-wrap !important;
            word-wrap: break-word;
            font-size: 16px; 
            color: $darkBrown;  
            box-shadow: 0px 0px 15px #ccc;
        }
        .choose-bag{
            height: 180%;
            top: 0;
            left: 0;
            display: none;
        }
        .card1{
            z-index: 2;
            top: 0;
            left: 0;
            display: none;
        }
        .card2{
            top: 30px;
            left: -50px;
            display: none;
        }
        .card3{
            top: 30px;
            left: 50px;
            display: none;
        }
    }
    //選擇禮卡按鈕
    .custom_chooseCard_btn{
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        display: none;
        justify-content: space-between;     
        z-index: 999;   
    }
    //選擇的那張卡片
    .choosenCard{
        box-shadow: 0px 0px 15px #555;
    } 
    //卡片內容填寫框
    .custom_card_textArea{
        width: 35%;
        height: 70%;
        min-width: 280px;
        // border: 2px solid blue;
        position: absolute;
        top: 65%;
        right:10%;
        transform: translate(0%,-50%);
        display: none;
        padding: 10px;       
        .custom_cardBg{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0; 
            left:0;
            @include rwd(575px){
                height: auto;
            }
        }
        form{
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 5;
            textarea{
                width: 100%;
                height: 90%;
                line-height: 45px;
                background-color: transparent;
                font-family: '微軟正黑體';
                font-size: 18px;
                color: $darkBrown;
                border: 0;
                padding: 40px;
                padding-left: 50px;
                resize: none;
                &:focus{
                    outline: 0;
                }
            }
        }        
        .custom_card_iconList{
            padding: 20px;
            width: auto;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 70px 70px 70px 70px;
            gap: 10px;
            padding: 10px;            
            display: none;
            position: relative;
            z-index: 5;
            padding: 30px 0 0 40px;
            img{
                width: auto;
                height: 100%;
                background-color: transparent;
                border-radius: 10px;
                cursor: pointer;
            }
            .choosen_icon{
                border: 2px solid $lightBrown;
            }
            @include rwd(575px){
                grid-template-columns: 33% 33% 33%;
                grid-template-rows: 50px 50px 50px 50px;
                padding: 20px 20px 20px 30px;
            }
        }
        @include rwd(575px){
            position: absolute;
            top: 85%;
            right:50%;
            transform: translate(50%,-50%);
            background-position: top;            
        }
        
    }
    //選擇禮卡
    .cus-cardcontent-btn{
        // border: 1px solid green;
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        // display: flex;
        display: none;
        justify-content: space-between;        
    }
    .cus-cardIcon-btn{
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        display: none;
        justify-content: space-between;       
    }
    .custom_card_IconOnCard{
        width: 60px;
        height: 60px;
        position: absolute;
        right: 10px;
        bottom: 10px;   
        z-index: 10; 
        cursor: pointer;
        img{
            width: 100%;
            height: auto;
        }
        @include rwd(575px){
            width: 40px;
            height: 40px;
        }
    };
    .cus-cardConfirm-btn{
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        display: none;
        justify-content: space-between;    
        .cus_cardConfirm_nextstep{
            &::before{
                content: '添加到購物車';
                position: absolute;
                font-size: 14px;
                width: 120px;
                text-align: center;
                top: -60%;
                left: 50%;
                transform: translateX(-50%);
                color: $btnBgc                
            }
            @include rwd(575px){
                &::before{
                    top: 120%;
                }
            }
        }
    }
}

.custom_backHome{
    background-color: #a3a3a3;
    border: 3px solid #a3a3a3;
}
.custom_bag{
    // width: 400px;
    width: 45%;    
    height: 45%;
    max-width: 400px;
    max-height: 300px;
    min-width: 300px;
    min-height: 225px;
    position: absolute;
    left: 50%;
    bottom: -50%;
    display: none;
    transform: translate(-50%, 50%);
    transition: 1s;
    img{
        width: 100%;
        height: auto;
    } 
}
.custom_popUp{
    @include popUp_oneBtn();
    display: none;
}
.custom_cart{
    @include popUp_twoBtn();
    display: none;
}

.custom_popUp_bg{
    @include popUpBg();
    display: none;
}

