@import '../pages/cart.scss';
@import '../base/reset.scss';
@import '../mixin/mixin';

.navbar{
@include navbar();
}


*{
  box-sizing: border-box;
  font-family: "微軟正黑體";
  color: #bb866a;
}

body{
  margin: 0;
  background-image: url("../../images/finish/bg.png");
  background-size: cover;
  background-attachment: fixed;
}

img{
  width: 100%;
}

.finish_container{
  // border: 1px solid black;
  width: 80%;
  max-width: 1200px;
  margin: auto;
}

/* ========== 訂單處理階段 ========== */


.finish_stage{
  // border: 1px solid red;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.finish_step{
  // border: 1px solid blue;
  text-align: center;
  font-size: 0;
}

.finish_payment{
  margin: 0 100px;
}

// 已完成的階段
.finish_orderData > div, .finish_payment > div, .finish_confirm > div{
  width: 40px;
  height: 40px;
  display: inline-flex;
  border: solid 3px #f7c242;
  background-color: #f7c242;
  border-radius: 50%;
  position: relative;
}

.finish_check{
  // border: 1px solid red;
  width: 20px;
  margin: auto;
}

.finish_orderData > p, .finish_payment > p, .finish_confirm > p{
    // border: 1px solid green;
    margin: 5px 0 0;
    font-size: 18px;
    font-weight: bold;
    color: #f7c242;
}
// ===== 購物車階段中間的線條 =====

.finish_orderData > div:first-child, .finish_payment > div:first-child{
  position: relative;
}

.finish_line1, .finish_line2{
  background-color: #f7c242;
  width: 135px;
  height: 2px;
  position: absolute;
  top: 18px;
  right: -138px;
}



// ========== 訂單資料 ==========

.finish_order p{
  margin: 0;
  color: #172852;
  font-weight: bold;
  margin-bottom: 10px;
}

.finish_order span{
  color: #172852;
  font-weight: bold;
}

// 訂單完成
.finish_order > p:nth-child(1){
  color: #bb866a;
  font-size: 24px;
  margin-bottom: 0;
}

// 謝謝訂購
.finish_order > p:nth-child(2){
  color: #bb866a;
  font-size: 18px;
  margin-top: 10px;
  // margin-bottom: 0;
}

// 訂單編號
.finish_order > p:nth-child(3){
  font-size: 18px;
  margin: 30px 0;
}






// ========== 訂購商品清單 ==========
.finish_list{
  // border: 1px solid red;
  margin-top: 40px;
}

.finish_title{
  background-color: #cba89a;
  color: #ffffff;
  padding-left: 15px;
  font-size: 18px;
  font-weight: bold;
  height: 35px;
  display: flex;
  align-items: center;
}

.finish_itemTitle{
  background-color: #e1d1ca;
  padding-left: 15px;
  font-size: 16px;
  font-weight: bold;
  height: 25px;
  display: flex;
  align-items: center;
}

.finish_itemTitle > div{
  // border: 1px solid red;
  color: #ffffff;
}

.finish_itemTitle > div:nth-child(1){
  width: 40%;
}

.finish_itemTitle > div:nth-child(2), .finish_itemTitle > div:nth-child(3){
  width: 30%;
}

@media screen and (max-width: 992px){
  .finish_itemTitle > div:nth-child(1){
    width: 58%;
  }
  
  .finish_itemTitle > div:nth-child(2), .finish_itemTitle > div:nth-child(3){
    width: 21%;
  }
}

@media screen and (max-width: 768px){
  .finish_itemTitle > div:nth-child(1){
    width: 48%;
  }
  
  .finish_itemTitle > div:nth-child(2){
    width: 22%;
  }

  .finish_itemTitle > div:nth-child(3){
    width: 30%;
  }
}



// 商品清單

.finish_itemList{
  // border: 1px solid blue;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 450px;
  overflow: auto;
  padding-bottom: 5px;
}

.finish_item{
  border-bottom: 1.5px dashed #cba89a;
  display: flex;
  padding: 20px 0;
}

.finish_data{
  // border: 1px solid green;
  width: 40%;
  display: flex;
  margin-left: 15px;
}

.finish_data > div:first-child{
  // border: 1px solid red;
  width: 90px;
  height: 90px;
  margin-right: 15px;
  display: flex;
}

.finish_data > div:last-child{
  // border: 1px solid red;
  display: flex;
  align-items: center;
  color: #172852;
  font-weight: bold;
  font-size: 16px;
}


.finish_item > div:nth-child(2){
  // border: 1px solid blue;
  display: flex;
  align-items: center;
  width: 30%;
  color: #172852;
  font-weight: bold;
  font-size: 16px;
}

.finish_item > div:nth-child(3){
  // border: 1px solid green;
  display: flex;
  align-items: center;
  width: 30%;
  color: #172852;
  font-weight: bold;
  font-size: 16px;
}

@media screen and (max-width: 992px){
  .finish_data{
    width: 60%;
  }

  .finish_item > div:nth-child(2){
    width: 20%;
  }

  .finish_item > div:nth-child(3){
    width: 20%;
  }
  
}

@media screen and (max-width: 768px){
  .finish_data{
    width: 50%;
  }

  .finish_item > div:nth-child(2){
    width: 20%;
  }

  .finish_item > div:nth-child(3){
    width: 30%;
  }
}


// ========== 金額細項 ==========
.finish_priceDetail{
  border-top: 2px solid #cba89a;
  border-bottom: 2px solid #cba89a;
  background-color: #faede7;
  padding: 15px 15px 0 15px;
}

.finish_itemPrice, .finish_discount{
  // border: 1px solid red;
  display: flex;
  margin-bottom: 15px;
}

.finish_itemPrice > p:first-child, .finish_discount > p:first-child{
  width: 70%;
  margin: 0;
  color: #cba89a;
  font-size: 16px;
  font-weight: bold;
}

.finish_itemPrice > p:last-child{
  width: 30%;
  margin: 0;
  color: #172852;
  font-size: 16px;
  font-weight: bold;
}

.finish_discount > p:last-child{
  width: 30%;
  margin: 0;
  color: #dc3838;
  font-size: 16px;
  font-weight: bold;
}


// ========== 總金額 ==========
.finish_total{
  background-color: #faede7;
  padding: 15px;
  display: flex;
}

.finish_total > div:first-child{
  // border: 1px solid red;
  width: 70%;
  color: #cba89a;
  font-size: 16px;
  font-weight: bold;
}

.finish_total > div:last-child{
  // border: 1px solid red;
  width: 30%;  color: #cba89a;
  color: #172852;
  font-size: 16px;
  font-weight: bold;
}

.footer{
	@include footer();
}