@import '../base/reset.scss';
@import '../base/color.scss';

* {
    box-sizing: border-box;
    /* border: solid 1px red; */
}

body {
    font-family: 'Lato', sans-serif;
}
.ham_container {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 10;
    .ham_bar{
    width: 30px;
    height: 4px;
    background-color: #bb866a;
    border-radius: 10px;
    margin: 6px 0;
    transition: 0.4s;
    }
}
.ham_change .ham_bar1 {
    background-color: white;
    transform: rotate(-45deg) translate(-6px, 5px);
}
.ham_change .ham_bar2 {
    opacity: 0;
}
.ham_change .ham_bar3 {
    background-color: white;
    transform: rotate(45deg) translate(-8px, -8px);
}
.ham_overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 0;
    top: 0;
    right: 0;
    background-color: #b48164;
    overflow: hidden;
    transition: 0.5s;
    .ham_overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin: 10px auto;
    }
    .ham_jelly{
        width: 300vw;
        height: 290vw;
        position: absolute;
        top: -302vw;
        left:50%;
        transform: translateX(-50%);
        border-radius: 45%;
        background-color: $lightBrown;
        animation: ham_rotate 15s linear infinite;
    }
    @keyframes ham_rotate {
        0% {transform: translate(-50%, 0) rotateZ(0deg);}
        50% {transform: translate(-50%, -2%) rotateZ(180deg);}
        100% {transform: translate(-50%, 0%) rotateZ(360deg);}
    }
    .ham_select {
        margin: 0 auto;
        text-align: left;
        width: 200px;
        cursor: pointer;
    }
    a {
        padding: 10px;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        color: white;
        display: block;
        letter-spacing: 2px;
        opacity: 0;
        transition: all .5s;
        &:hover{
            color: #fad689;
            
        }
        &:hover:before{
            background-color: #fad689
        }
        &::before{
            content: "\A";
            width: 10px;
            height: 10px;
            border-radius: 50%;
            display: inline-block;
            margin: 0 20px;
            background-color: transparent;
            transition: all .3s;
        }
    }
}
