@import '../base/reset.scss';
@import '../base/color.scss';
@import '../mixin/mixin';

:root {
    --height: 100px;
    --width: 200px;
}


body {
    width: 100vw;
    height: 100vh;

}

.index_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    // video{
    //     width: 100%;
    //     height: auto;
    // }
    .index_video{
        width: 100%;
        height: 100%;
    }
    .block{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .4);
        position: absolute;
        top: 0;
        left: 0;
    }
    .content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        width: 100%;
        justify-content: space-around; 
        @include rwd(575px){
            flex-direction: column;
            align-items: center;
            height: 70%;
        }
        .logo{
            width: 120px;
            height: 120px;
            img{
                width: 100%;
                height: 100%;
            }
        }       
        .button {
            position: relative;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            overflow: hidden;
            margin: 0 0.8rem;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 3px 8px rgba(0, 0, 0, 0.1);
            transition: all 0.2s cubic-bezier(0, 0.22, 0.3, 1);
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0, 0, 0, .1);
            }
            a{
                color: #ccc;
                font-size: 1rem;
                z-index: 10;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 18px;
                width: 100%;
                height: 100%;
                text-align: center;
                line-height: 120px;
            }
        }
        .button._1 {
            background: transparent;
        }
        .button._2 {
            background: transparent;
        }
        .back {
            position: absolute;
            width: 0;
            height: 0;
            filter: url(#filter);
            border-radius: 50%;
            z-index: 5;
            transition: all 1.5s cubic-bezier(0.1, 0.22, 0.3, 1);
        }
        .button._1 .back {
            left: -50%;
            top: -50%;
            background: rgb(148, 133, 111);
        }
        
        .button._2 .back {
            right: -50%;
            top: -50%;
            background: rgb(148, 133, 111);
        }
    }
}

.button:hover .back {
    width: calc(2 * var(--width));
    height: calc(2 * var(--height));
}
.button:hover a {
    color: #fff
}