@import '../mixin/mixin';
@import '../base/reset.scss';
@import '../base/color.scss';
// @import '../base/reset.scss';
.navbar {
    @include navbar();
}



* {
    box-sizing: border-box;
    font-family: '微軟正黑體';
    font-weight: bold;
}

/* .memberOrderDetailAll{
    display: none;
} */

body {
    margin: 0;
    padding: 0;
    background-image: url(../images/member/member_bg.png);
    background-repeat: no-repeat;
}

html, body{
    height: 100%;
}
.psychotest{
    @include psycoBtn(#fff);
}

.memberWrapper{
    height: 100%;
}

.memberAll {
    min-height: 70%;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}


/* 彈出視窗時禁止滑動 */
.stopScroll {
    height: 100%;
    overflow: hidden;
}


/* 彈出視窗時出現灰底 */

.greyBackground {
    width: 100%;
    height: 3000px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 910;
    position: absolute;
    left: 0;
    top: 0;
}


/* 預設文字色彩 */

::placeholder {
    color: #cba89a;
}


/* 滑動效果 */

.choosenBar2,
.memberTitle h4 {
    transition: all .8s cubic-bezier(.6, 0, .4, 1);
}


/* 大標 */

.memberAll>p {
    font-size: 14px;
    color: #bb866a;
    padding-bottom: 5px;
    border-bottom: 2px solid #bb866a;
    display: inline-block;
    margin: 40px 0 30px 0;
}

.memberAll h2 {
    font-size: 28px;
    color: #bb866a;
    margin: 0 0 30px 0;
}


/* 標題 */

.memberTitle {
    display: flex;
    margin-bottom: 10px;
}

.memberTitle h4 {
    /* border: 1px solid orange; */
    flex: 0 0 20%;
    text-align: center;
    align-self: center;
    margin: 0;
    color: #cba89a;
    font-size: 16px;
    cursor: pointer;
}

.memberTitle h4:first-child {
    color: #172852;
}

/* 標題下方選擇提示條 */

.underLine {
    position: relative;
}

.underLine .choosenBar {
    width: 100%;
    height: 2px;
    background-color: #cba89a;
    /* display: block; */
}

.underLine .choosenBar2 {
    width: 20%;
    height: 2px;
    background-color: #172852;
    position: absolute;
    top: 0;
    left: 0;
}

.underLine .choosenBar2::before {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50px;
    background-color: #172852;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.memberAll>div {
    margin-bottom: 30px;
}


/* 會員資料=================================== */

.memberPart1 {
    /* display: none; */
    /* border: 1px solid blue; */
    margin-top: 18px;
    width: 350px;
    // width: 45%;
    margin: 0 auto;
    font-size: 14px;
    color: #172852;
}

.memberPart1 label input {
    width: 270px;
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f0ebe9;
    border: none;
    color: #172852;
}

.memberPart1 .gender {
    margin-bottom: 10px;
    padding: 7px 0 7px 0;
}

.memberPart1 .gender label {
    color: #cba89a;
}

.memberPart1 .gender input:checked+label {
    color: #172852;
}

.memberLeft {
    margin-left: 28px;
}

.memberTop {
    margin-top: 20px;
}


/* 送出鈕 */

.memberPart1 button {
    margin: 0 auto;
    // display: block;
    // width: 120px;
    // height: 30px;
    // padding: 0 10px 0 10px;
    // border-radius: 25px;
    // background-color: #172852;
    // color: #f0ebe9;
    // border: none;
    margin-top: 40px;
    @include btn();
}


/* 修改密碼================================ */

.memberPart2 {
    /* border: 1px solid blue; */
    display: none;
    margin-top: 18px;
    width: 270px;
    margin: 0 auto;
    font-size: 14px;
    color: #172852;
}

.memberPart2 input {
    width: 270px;
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f0ebe9;
    border: none;
    color: #172852;
    border: 2px solid transparent;
}
/* 送出鈕 */
.memberPart2 button {
    margin: 0 auto;
    // display: block;
    // width: 120px;
    // height: 30px;
    // padding: 0 10px 0 10px;
    // border-radius: 25px;
    // background-color: #172852;
    // color: #f0ebe9;
    // border: none;
    margin-top: 40px;
    @include btn();
}
/* 開眼睛看密碼 */
.memberPart2 .eye1{
    position: absolute;
    right: 10px;
    top: 10px;
    color: #cba89a;
    cursor: pointer;
}

// ---------- 使用者輸入資訊錯誤反饋
.memberErrorWrap{
    position: relative;
}
.memberError{ 
    display: none;
    background-color: #dc3838;
    border-radius: 5px;
    width: 120px;
    height: 25px;
    padding: 5px 10px;
   
    font-size: 12px;
    text-align: center;
    position: absolute;
    right: 10px;
    top: 20px;
    z-index: 1;
}
  
.memberError > p{
    display: inline-block;
    margin: 0;
    color: #ffffff;
    padding: 2px;
}
  
.memberError > div{
    border-top: 1px solid transparent;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 13px solid #dc3838;
    position: relative;
    width: 15px;
    height: 18px;
    top: -36px;
    right: -85px;
}


/* 訂單查詢================================== */

.memberPart3 {
    /* border: 1px solid blue; */
    display: none;
    margin-top: 15px;
    font-size: 14px;
    color: #172852;
}


/* 搜尋方式================== */

.memberPart3 .orderSearch {
    float: right;
    margin-bottom: 15px;
}

.memberPart3 .clearBoth {
    clear: both;
}

.memberPart3 .orderSearch input {
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    background-color: #f0ebe9;
    border: none;
    color: #172852;
}

.memberPart3 .orderSearch button {
    padding: 10px 34px 10px 34px;
    border-radius: 5px;
    background-color: #a3a3a3;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 12px;
}


/* 表格===================== */

.memberOrder {
    margin-top: 25px;
}

.memberOrder:first-child {
    margin-top: 0;
}

.memberOrder .memberOrderContent {
    width: 100%;
    border: solid 2px #cba89a;
    border-collapse: collapse;
}

/* 新表格===================== */

.memberOrder .memberOrderContent .memberGrid {
    display: grid;
    // grid-template-columns: repeat(8, 1fr);
    grid-template-columns: 1.2fr 1.2fr 1fr 1fr 1fr 1fr 1fr 1.2fr;
}

// 第一行
.memberGrid1,
.memberGrid2,
.memberGrid3,
.memberGrid4,
.memberGrid5,
.memberGrid6,
.memberGrid7,
.memberGrid8 {
    background-color: #cba89a;
    color: #fff;
    padding: 7px 0 7px 0;
    padding-left: 10px;
}

// 第二行
.memberGrid9,
.memberGrid10,
.memberGrid11,
.memberGrid12,
.memberGrid13,
.memberGrid14,
.memberGrid15,
.memberGrid16 {
    background-color: #f8f0e0;
    color: #bb866a;
    padding: 15px 0 15px 0;
    padding-left: 10px;
}

// 詳細資訊
.memberOrder .memberOrderContent .memberGrid .memberReceiverID {
    color: #647bb5;
    cursor: pointer;
}


/* 收貨進度=================== */

.memberProgressAll {
    display: flex;
    border: solid 2px #cba89a;
    margin-top: -2px;
    width: 100%;
}

.memberProgressAll>div {
    /* border: 1px solid red; */
    padding: 10px 5% 10px 5%;
}


/* 進度條 */

.memberProgressAll div .memberProgressDot {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    padding-top: 5px;
}

.memberProgressAll div .memberProgressDot div {
    position: relative;
    /* 給dot_check定位 */
}


/* 進度小點 */

.memberProgressAll div .memberProgressDot div:nth-child(2n+1) {
    width: 12px;
    height: 12px;
    background-image: url(../images/member/checkcircle.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.memberUnchecked {
    border-radius: 50px;
    border: 3.5px solid #c4c4c4;
    background-color: #fff;
    background-image: none !important;
}


/* 進度線條 */

.memberProgressAll>div:first-child {
    width: 80%;
    /* border: 1px solid black; */
}

.memberProgressAll div .memberProgressDot div:nth-child(2n) {
    width: 33%;
    height: 2px;
    background-color: #c4c4c4;
}

.memberProgressAll div .memberProgressDot div.memberLineCheck {
    background-color: #f7c242;
}


/* 進度文字 */

.memberProgressAll div .memberProgressWord {
    color: #a3a3a3;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    margin-left: -25px;
    margin-right: -25px;
}

.memberWordCheck {
    color: #f7c242;
}

// .memberProgressAll div .memberProgressWord span{
//     padding-left: ;
// }


/* 再次購買 */

.memberProgressAll>div:last-child {
    display: flex;
    flex-direction: column;
}

.memberProgressAll div .memberBuyAgain {
    margin: 0 auto;
    display: block;
    width: 80px;
    height: 22px;
    font-size: 10px;
    border-radius: 25px;
    background-color: #bb866a;
    color: #f0ebe9;
    border: none;
    align-self: center;
    // margin-right: 28px;
    margin-top: 5px;
    cursor: pointer;
}

.memberProgressAll div .noshow {
    display: none;
}


/* 明細鈕 */

.memberProgressAll div .memberOpenDetail {
    margin: 0 auto;
    display: block;
    width: 80px;
    height: 22px;
    font-size: 10px;
    border-radius: 25px;
    background-color: #172852;
    color: #f0ebe9;
    border: none;
    align-self: center;
    // margin-right: 28px;
    cursor: pointer;
}

.memberProgressAll div .close_detail {
    background-color: #647bb5;
}

/* 訂單明細==================== */
.memberOrderDetail {
    width: 100%;
    border: solid 2px #c4c4c4;
    border-collapse: collapse;
    font-size: 12px;
    margin: 0;
}
// 第一行
.memberOrderDetail .memberOrderD1{
    background-color: #c4c4c4;
    color: #fff;
    padding: 5px 0 5px 10px;
}
.memberOrderDetail .memberOrderD1{
    span:nth-child(1){
        // width: 30%;
        width: 260px;
        min-width: 150px;
        display: inline-block;
    }
    span:nth-child(2){
        // width: 10%;
        width: 100px;
        display: inline-block;
    }
} 

// 第二行
.memberOrderDetail .memberOrderD2{
    display: flex;
    padding: 5px 5px 5px 10px;
}
.memberOrderDetail .memberOrderD2{
    img{
        max-width: 50px;
    }
    div:nth-child(2){
        padding-top: 13px;
        padding-left: 10px;
        padding-right: 145px;
    }
    div:nth-child(3){
        padding-top: 19px;
        padding-right: 85px;
    }
    div:nth-child(4){
        padding-top: 19px;

    }
    div p{
        margin:0;
    }

} 


/* 收件人詳細資訊============= */

.receiverDetail {
    display: none;
    /* border: 1px solid red; */
    width: 430px;
    height: 260px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0px 10px 32px 0 rgba(23, 40, 82, 0.6);
    background-color: #fff;
    z-index: 920;
}

.receiverDetail div {
    padding: 20px 0 0px 0;
}

.receiverDetail div p {
    /* border: 1px solid blue; */
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.receiverDetail div p input {
    width: 250px;
    /* margin-bottom: 10px; */
    padding: 10px;
    border-radius: 5px;
    background-color: #f0ebe9;
    border: none;
    color: #172852;
}

.receiverDetail>p {
    color: #647bb5;
    font-size: 12px;
    text-align: center;
    padding: 5px 0 5px 0;
    margin: 0;
}

.receiverDetail>button {
    margin: 0 auto;
    // display: block;
    // width: 120px;
    // height: 30px;
    // padding: 0 10px 0 10px;
    // border-radius: 25px;
    // background-color: #172852;
    // color: #f0ebe9;
    // border: none;
    // cursor: pointer;
    @include btn();
    margin-top: 5px;
}


/* 取消/退款查詢================================ */

.memberPart4 {
    /* border: 1px solid blue; */
    display: none;
    margin-top: 18px;
    font-size: 14px;
    color: #172852;
}


/* 搜尋方式================== */
.memberPart4 {
    /* border: 1px solid blue; */
    display: none;
    margin-top: 15px;
    font-size: 14px;
    color: #172852;
}

.memberPart4 .orderSearch {
    float: right;
    margin-bottom: 15px;
}

.memberPart4 .clearBoth {
    clear: both;
}

.memberPart4 .orderSearch input {
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    background-color: #f0ebe9;
    border: none;
    color: #172852;
}

.memberPart4 .orderSearch button {
    padding: 10px 34px 10px 34px;
    border-radius: 5px;
    background-color: #a3a3a3;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 12px;
}

// 收藏管理===========================================

/* 收藏商品 */

.memberPart5 {
    // border: 1px solid blue;
    display: none;
    margin-top: 15px;
    font-size: 14px;
    color: #172852;
    width: 100%;
}

.memberPart5 .memberLikeImg {
    width: 100%;
    object-fit: contain;
}

.memberPart5 .memberLikePack {
    position: relative;
    display: inline-block;
    width: calc((100% - 95px)/5);
    margin-left: 20px;
    margin-bottom: 20px;
}

.memberLikePack:nth-child(5n+1) {
    margin-left: 0;
}

.memberLikeHeart {
    position: absolute;
    top: 2%;
    right: 2%;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.close {
    display: none;
}


/* ================= R W D =================== */

body {
    @include rwd(1199px) {
    }
    @include rwd(991px) {}
    @include rwd(767px) {
        .memberAll {
            width: 75%;
            margin: 0 auto;
        }
        // 訂單查詢表格
        .memberOrder .memberOrderContent {
            .memberGrid {
                grid-template-columns: repeat(4, 1fr);
                // grid-auto-flow:發現前面有空位的話，就去補他
                grid-auto-flow: dense;
            }
            .memberGrid5 {
                grid-column: 1;
                grid-row: 3;
            }
            .memberGrid6 {
                grid-column: 2;
                grid-row: 3;
            }
            .memberGrid7 {
                grid-column: 3;
                grid-row: 3;
            }
            .memberGrid8 {
                grid-column: 4;
                grid-row: 3;
            }
        }
        // 收藏商品管理
        .memberPart5 {
            .memberLikePack {
                width: calc((100% - 75px)/4);
            }
            .memberLikePack:nth-child(5n+1) {
                margin-left: 20px;
            }
            .memberLikePack:nth-child(4n+1) {
                margin-left: 0;
            }
        }
        // 標題改為滑動的方式
        .memberLine {
            overflow-x: auto;
            height: 40px;
            h4 {
                white-space: nowrap;
                border-bottom: 2px solid #cba89a;
                padding-bottom: 7px;
                margin-right: 15px;
                margin-left: 5%;
                margin-right: 5%;
                flex: 0;
            }
            h4:first-child {
                margin-left: 0;
            }
            .underLine{
                display: none;
            }
            // 點擊後底線變色
            .mClicked{
                border-bottom: 2px solid #172852;
            }
        }
        .memberLine::-webkit-scrollbar {
            display: none
        }
    }
    @include rwd(575px) {
        .memberAll {
            width: 90%;
            >p {
                margin: 100px 0 30px 0;
            }
            // 手機版本標題改為滑動的方式
            // 會員資料表格
            .memberPart1 {
                .label input {
                    width: 270px;
                }
            }
            // 訂單查詢 進度條
            .memberProgressAll {
                >div:first-child {
                    margin-left: 5%;
                }
                flex-direction: column;
                div .memberProgressWord {
                    margin-left: 0;
                }
                div .memberProgressDot {
                    margin-left: 25px;
                }
            }

            // 訂單查詢 明細
            .memberOrderDetail .memberOrderD1{
                span:nth-child(1){
                    width: 200px;
                    min-width: 150px;
                    display: inline-block;
                }
                span:nth-child(2){
                    width: 60px;
                    display: inline-block;
                }
            } 
            .memberOrderDetail .memberOrderD2{
                div:nth-child(2){
                    padding-right: 85px;
                }
                div:nth-child(3){
                    padding-right: 45px;
                }
            }

            // 收藏商品管理
            .memberPart5 {
                .memberLikePack {
                    width: calc((100% - 25px)/2);
                }
                .memberLikePack:nth-child(5n+1) {
                    margin-left: 20px;
                }
                .memberLikePack:nth-child(4n+1) {
                    margin-left: 20px;
                }
                .memberLikePack:nth-child(2n+1) {
                    margin-left: 0;
                }
            }
        }
    }
}

.footer {
    @include footer();
}