*{
    box-sizing: border-box;
    font-family: '微軟正黑體';
}

body{
    margin: 0;
    min-width: 1199px;
    /* border: 1px solid red; */
}

.n-member_header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: url('../images/backend/loginbg.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 120% 100%;
    padding: 20px 30px;
    margin-bottom: 30px;
}

.n-member_logo{
    flex-grow: 2;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.n-member_logo img{
    width: 60px;
}

.n-member_logo p{
    font-size: 30px;
    color: #bb866a;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.n-member_logout{
    display: flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
}

.n-member_logout p{
    font-size: 16px;
    color: #172852;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.n-member_main{
    display: flex;
    justify-content: flex-start;
    padding: 0 60px;
}

.n-member_left{
    display: flex;
    flex-direction: column;
    width: 15%;
}

.n-member_left > a{
    text-decoration: none;
    font-size: 18px;
    color: #172852;
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    width: 144px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
    border: 1px solid #f4ece5;
    background-color: #f4ece5;
}

.n-member_left > a:nth-child(1){
    background-color: #f7c242;
}

.n-member_left > a:hover{
    background-color: #f7c242;
}

.n-member_right{
    /* border: 1px solid red; */
    width: 85%;
}

.n-member_right > div{
    border: 1px solid #bb866a;    
}

.n-member_right form{
    /* border: 1px solid blue; */
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.n-member_right form p{
    font-size: 22px;
    color: #bb866a;
    font-weight: bold;
    margin: 0;
    padding: 0;
    border-bottom: 3px solid #b48164;
}

.n-member_right form section{
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
    align-items: flex-end;
}

.n-member_right form section label{
    border: 1px solid #a3a3a3;
    width: 80px;
    height: 28px;
    background-color: #a3a3a3;
    border-radius: 5px;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 28px;
}

.n-member_right form section input{
    border: 1px solid #cba89a;
    width: 216px;
    height: 28px;
    border-radius: 5px;
    font-size: 16px;
    color: #cba89a;
    font-weight: bold;
    margin: 0;
    padding: 0;
    /* text-align: center; */
    line-height: 28px;
    padding-left: 5px;
}

.n-member_right form section input::placeholder{
    color: #cba89a;
    font-weight: bold;
}

.n-member_title{
    /* border: 1px solid #cba89a; */
    margin: 0;
    padding: 10px;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr 1fr .8fr 1fr 1fr;
    column-gap: 10px;
    background-color: #cba89a;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold; 
}

.n-member_member{
    /* border: 1px solid #cba89a; */
    margin: 0;
    padding: 10px;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr 1fr .8fr 1fr 1fr;
    column-gap: 10px;
    background-color: #ffffff;
    font-size: 16px;
    color: #172852;
    font-weight: bold; 
    align-items: center;
}

.n-member_member li:last-child{
    background-color: #6599e8;
    border-radius: 15px;
    text-align: center;
    color: #ffffff;
}

.n-member_member li:last-child:hover{
    cursor: pointer;
}

.n-member_footer{
    padding-right: 60px;
}

.n-member_footer ul{
    /* border: 1px solid #bb866a; */
    margin: 0;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: flex-end;    
    margin-top: 15px;
}

.n-member_footer ul li{
    border: 1px solid #bb866a;
    border-left: none;
    margin: 0;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #bb866a;
}

.n-member_footer ul li:hover{
    background-color: #bb866a;
    color: #ffffff;
    cursor: pointer;
}

.n-member_footer ul li:nth-child(2){
    background-color: #bb866a;
    color: #ffffff;
}

.n-member_footer ul li:first-child{
    border-left: 1px solid #bb866a;
}

.n-member_edit{
    width: 750px;
    height: 300px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: #ffffff;
    /* display: none; */
}

.n-member_edit > p{
    margin: 0;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background-color: #bb866a;
}

.n-member_edit > ul{
    margin: 0;
    padding: 0px;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr .9fr;
    padding: 15px 30px;
    row-gap: 20px;
}

.n-member_edit > ul > li{
    font-size: 16px;
    color: #172852;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.n-member_edit-member select{
    font-size: 16px;
    color: #172852;
    font-weight: bold;
    width: 80px;
    padding-left: 10px;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;

    appearance: none;  
    outline: none;
    background: none;
    background-image: url("../images/backend/select.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.n-member_editbtn{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.n-member_editbtn button{
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #172852;
    padding: 5px 25px;
    margin: 0;
    border: 1px solid #172852;
    border-radius: 10px;
    cursor: pointer;
}

.n-member_editbtn .close{    
    background-color: #a3a3a3;
    border: 1px solid #a3a3a3;    
}

#hide{
    background-color: black;
    opacity: .5;
    position: fixed;
    top: 0;
    left: 0;
    /* display: none; */
    width: 100%;
    height: 100%;
}

.n-member_right .-active{
    background: #172852;
}

.-active2{
    color: #a3a3a3;
}




