@import '../mixin/mixin';
@import '../base/reset.scss';
* {
    box-sizing: border-box;
    // border: solid 1px red;
    font-family: '微軟正黑體';
}

body {
    padding: 0;
    margin: 0;
    background-image: url("../images/shopping_choose/bg.png");
}

.navbar {
    @include navbar();
}

.navbar-icon a {
    margin-top: 12px;
}

.footer {
    @include footer();
}

.choose_main {
    width: 90%;
    max-width: 1200px;
    height: 70vh;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.choose_select_area {
    margin: 0 auto;
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.choose_items span {
    text-align: center;
    font-size: 30px;
    color: white;
    transform: translateY(35px);
    letter-spacing: 15px;
    display: none;
}

.choose_select_area a:nth-child(1) {
    width: 90px;
    height: 100%;
    transition: all .5s;
    background-image: url("../images/shopping_choose/11.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: .7;
}

.choose_select_area a:nth-child(1):hover {
    width: 150px;
    opacity: 1;
    cursor: pointer;
    background-image: url("../images/shopping_choose/1.png");
}

.choose_select_area a:nth-child(2) {
    width: 90px;
    height: 100%;
    transition: all .5s;
    background-image: url("../images/shopping_choose/22.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: translateY(20px);
}

.choose_select_area a:nth-child(2):hover {
    width: 150px;
    opacity: 1;
    cursor: pointer;
    background-image: url("../images/shopping_choose/2.png");
}

.choose_select_area a:nth-child(3) {
    width: 90px;
    height: 100%;
    transition: all .5s;
    background-image: url("../images/shopping_choose/33.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: .7;
}

.choose_select_area a:nth-child(3):hover {
    width: 150px;
    opacity: 1;
    cursor: pointer;
    background-image: url("../images/shopping_choose/3.png");
}

.choose_select_area a:nth-child(4) {
    width: 90px;
    height: 100%;
    transition: all .5s;
    background-image: url("../images/shopping_choose/44.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: .7;
    transform: translateY(-20px);
}

.choose_select_area a:nth-child(4):hover {
    width: 150px;
    opacity: 1;
    cursor: pointer;
    background-image: url("../images/shopping_choose/4.png");
}

.choose_select_area a:nth-child(5) {
    width: 90px;
    height: 100%;
    transition: all .5s;
    background-image: url("../images/shopping_choose/55.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: .7;
    transform: translateY(20px);
}

.choose_select_area a:nth-child(5):hover {
    width: 150px;
    opacity: 1;
    cursor: pointer;
    background-image: url("../images/shopping_choose/5.png");
}

.choose_select_area a:nth-child(6) {
    width: 90px;
    height: 100%;
    transition: all .5s;
    background-image: url("../images/shopping_choose/66.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: .7;
}

.choose_select_area a:nth-child(6):hover {
    width: 150px;
    opacity: 1;
    cursor: pointer;
    background-image: url("../images/shopping_choose/6.png");
}

.choose_select_area a:nth-child(7) {
    width: 90px;
    height: 100%;
    transition: all .5s;
    background-image: url("../images/shopping_choose/77.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: .7;
    transform: translateY(-20px);
}

.choose_select_area a:nth-child(7):hover {
    width: 150px;
    opacity: 1;
    cursor: pointer;
    background-image: url("../images/shopping_choose/7.png");
}

.choose_text {
    width: 600px;
    text-align: center;
    transition: all .5s;
    color: #172852;
    font-weight: bold;
    transform: translateY(30px);
}

.choose_text h1 {
    letter-spacing: 2px;
    font-size: 26px;
}

.choose_text p {
    letter-spacing: 2px;
    transform: translateY(15px);
}

// RWD
@media screen and (max-width: 991px) {
    .choose_select_area {
        width: 100%;
    }
}

@media screen and (max-width: 575px) {
    .choose_main {
        width: 100%;
        height: 700px;
    }
    .choose_select_area {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .choose_items span {
        display: block;
    }
    .choose_select_area a:nth-child(1) {
        width: 100%;
        height: 100px;
        background-image: url("../images/shopping_choose/11.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 1;
        transform: translateY(0);
    }
    .choose_select_area a:nth-child(1):hover {
        background-image: url("../images/shopping_choose/11.png");
        width: 100%;
    }
    .choose_select_area a:nth-child(2) {
        width: 100%;
        height: 100px;
        transition: all .5s;
        background-image: url("../images/shopping_choose/22.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 1;
        transform: translateY(0);
    }
    .choose_select_area a:nth-child(2):hover {
        background-image: url("../images/shopping_choose/22.png");
        width: 100%;
    }
    .choose_select_area a:nth-child(3) {
        width: 100%;
        height: 100px;
        transition: all .5s;
        background-image: url("../images/shopping_choose/33.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 1;
        transform: translateY(0);
    }
    .choose_select_area a:nth-child(3):hover {
        background-image: url("../images/shopping_choose/33.png");
        width: 100%;
    }
    .choose_select_area a:nth-child(4) {
        width: 100%;
        height: 100px;
        transition: all .5s;
        background-image: url("../images/shopping_choose/44.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 1;
        transform: translateY(0);
    }
    .choose_select_area a:nth-child(4):hover {
        background-image: url("../images/shopping_choose/44.png");
        width: 100%;
    }
    .choose_select_area a:nth-child(5) {
        width: 100%;
        height: 100px;
        transition: all .5s;
        background-image: url("../images/shopping_choose/55.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 1;
        transform: translateY(0);
    }
    .choose_select_area a:nth-child(5):hover {
        background-image: url("../images/shopping_choose/55.png");
        width: 100%;
    }
    .choose_select_area a:nth-child(6) {
        width: 100%;
        height: 100px;
        transition: all .5s;
        background-image: url("../images/shopping_choose/66.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 1;
        transform: translateY(0);
    }
    .choose_select_area a:nth-child(6):hover {
        background-image: url("../images/shopping_choose/66.png");
        width: 100%;
    }
    .choose_select_area a:nth-child(7) {
        width: 100%;
        height: 100px;
        transition: all .5s;
        background-image: url("../images/shopping_choose/77.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 1;
        transform: translateY(0);
    }
    .choose_select_area a:nth-child(7):hover {
        background-image: url("../images/shopping_choose/77.png");
        width: 100%;
    }
    .choose_text {
        display: none;
    }
}