<!DOCTYPE html>
<html lang="zh-tw">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>購物車清單</title>
  <link href="../css/checkout.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>

  <!-- ========== header ========== -->
  <!-- navbar -->
  <div class="navbar">
    <div class="navbar-logo">
      <img src="../images/index/logo.png" alt="">
    </div>
    <div class="navbar-icon">
      <p id='scrollvalue'></p>
      <a href="#"><i class="fas fa-user"></i></a>
      <a href="#"><i class="fas fa-shopping-cart"></i></a>
      <a href="#"><i class="fas fa-bars"></i></a>
    </div>
  </div>



  <!-- ========== main ========== -->
  <div class="checkout_container">

    <!-- ========== 訂單處理階段 ========== -->
    <div class="checkout_stage">

      <div class="checkout_step checkout_orderData">
        <div>1</div>
        <p>訂單資料</p>
      </div>

      <div class="checkout_step checkout_payment">
        <div>2</div>
        <p>付款資訊</p>
      </div>

      <div class="checkout_step checkout_confirm">
        <div>3</div>
        <p>訂單確認</p>
      </div>

    </div>

    <!-- ========== 訂單內容大標 ========== -->
    <div class="checkout_orderTitle">訂單內容</div>


    <!-- ========== 訂單內容 ========== -->
    <div class="checkout_orderContent">

      <!-- ========== 左邊 ========== -->
      <!-- 標題 -->
      <div class="checkout_left">
        <div class="checkout_contentTitle">
          <p>商品名稱</p>
          <p>數量</p>
          <p>價格</p>
        </div>

        <!-- 商品細項 -->
        <ul class="checkout_list">

          <li class="checkout_item">

            <div class="checkout_itemCB" :class="{'checkout_choose': item.status}" @click="choose(item)">
              <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" class="svg-inline--fa fa-check fa-w-16" role="img" viewBox="0 0 512 512"><path fill="#ffffff" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"/>
              </svg>
            </div>
    
            <div class="checkout_itemImg">
              <img src="../images/checkout/banner_strawberry_item.png">
            </div>

            <div class="checkout_itemName">
              <p>草莓大福</p>
            </div>

            <div class="checkout_quantity">
              <button class="checkout_less mainbtn">-</button>>
              <input class="checkout_quantity" type="text" value="1">
              <button class="checkout_add mainbtn">+</button>>
            </div>

            <div class="checkout_unitPrice">$<span>480</span>元 / <span>6</span>入</div>

            <div class="checkout_delete" @click="delete_Item(index)">
              <div class="checkout_leftD"></div>
              <div class="checkout_rightD"></div>
            </div>
            
    
          </li>

          <li class="checkout_customization">
            
            <!-- 商品 -->
            <div class="checkout_customizationItem">

              <div class="checkout_itemCB" :class="{'checkout_choose': item.status}" @click="choose(item)">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" class="svg-inline--fa fa-check fa-w-16" role="img" viewBox="0 0 512 512"><path fill="#ffffff" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"/>
                </svg>
              </div>
      
              <div class="checkout_itemImg">
                <img src="../images/checkout/banner_strawberry_item.png">
              </div>
  
              <div class="checkout_itemName">
                <p>草莓大福</p>
                <div class="checkout_detailBtn">查看禮盒明細</div>
              </div>
  
              <div class="checkout_quantity">
                <button class="checkout_less mainbtn">-</button>>
                <input class="checkout_quantity" type="text" value="1">
                <button class="checkout_add mainbtn">+</button>>
              </div>
  
              <div class="checkout_unitPrice">$<span>480</span>元</div>
  
              <div class="checkout_delete" @click="delete_Item(index)">
                <div class="checkout_leftD"></div>
                <div class="checkout_rightD"></div>
              </div>

            </div>

            <!-- 禮盒明細 -->
            <div class="checkout_detailBorder">

              <div class="checkout_detail">
  
                <div>
                  <div class="checkout_detailItem" v-for="item in item.detail">
                    - {{item}}
                  </div>
                  <div class="checkout_detailItem" v-for="item in item.detail">
                    - {{item}}
                  </div>
                </div>
  
                <div>
                  <div class="checkout_detailQuantity" v-for="item in item.detail_Quantity">
                    x {{item}}
                  </div>
                  <div class="checkout_detailQuantity" v-for="item in item.detail_Quantity">
                    x {{item}}
                  </div>
                </div>

                
  
              </div>

            </div>
    
          </li>

          

        </ul>




    </div>



    </div>








  </div>




  <!-- ========== footer ========== -->

  

  <script src="../js/checkout.js"></script>
  <script src="../js/cart_vue.js"></script>
  <script src="https://kit.fontawesome.com/8c3a8ab95b.js" crossorigin="anonymous"></script>
</body>
</html>