<!DOCTYPE html>
<html lang="zh-tw">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>聯絡我們 - 小春堂</title>
  <link rel="icon" href="../images/index/logo_footer.png">
  <link href="../css/contact.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/cart.css">
  <script src="https://kit.fontawesome.com/8c3a8ab95b.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.js"></script>
  <script src="../js/hamburger.js"></script>
  <script src="../js/navbar.js"></script>
  <script src="../js/contact.js"></script>
  <script src="../js/cart_vue.js"></script>
</head>

<body>
  <div class="memberShow"></div>
  <!-- navbar -->
  <div id="cart_app">
    <div class="navbar">
      <div class="navbar-logo">
        <a href="../index.html"><img src="../images/index/logo.png" alt=""></a>
      </div>
      <div class="navbar-icon">
        <a href="#"><i class="fas fa-user"></i></a>
        <a href="#" @click="open()"><i class="fas fa-shopping-cart"></i></a>
        <a href="#"></a>
      </div>
      <!-- 漢堡 -->
      <div class="ham_container">
        <div class="ham_bar1 ham_bar"></div>
        <div class="ham_bar2 ham_bar"></div>
        <div class="ham_bar3 ham_bar"></div>
      </div>
      <div id="ham_myNav" class="ham_overlay">
        <div class="ham_overlay-content">
          <div class='ham_jelly'></div>
          <div class="ham_select">
            <a href="../index.html">首頁</a>
            <a href="./about.html">關於我們</a>
            <a href="./news.html">最新消息</a>
            <a href="./shopping_choose.html">商品專區</a>
            <a href="./customized.html">客製化禮盒</a>
            <a href="./FAQ.html">Q&A</a>
            <a>會員中心</a>
          </div>
        </div>
      </div>
    </div>
    

    <div class="cart_cartBoard">
      <div class="cart_cart">
        <div class="cart_cartTitle">
          <p>購物車</p>
          <div class="cart_close" @click="close()">
            <div class="cart_left"></div>
            <div class="cart_right"></div>
          </div>
        </div>
        <!-- ========== 商品細項 ========== -->
        <ul class="cart_itemList">
          <!-- 購物車空值顯示 -->
          <div class="cart_NoItem">
            <div>
              <img src="../images/cart/shoppingcart_empty.png">
            </div>
            <p>購物車還是空的哦！</p>
          </div>
          <!-- 一般商品 -->
          <li class="cart_item" v-for="(item,index) in itemList" :id="item.id">
            <div class="cart_itemCB" :class="{'cart_choose': item.status}" @click="choose(item)">
              <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas"
                data-icon="check" class="svg-inline--fa fa-check fa-w-16" role="img" viewBox="0 0 512 512">
                <path fill="#ffffff"
                  d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z" />
              </svg>
            </div>
            <div class="cart_itemImg">
              <img :src="item.img">
            </div>
            <div class="cart_itemText">
              <p class="cart_itemName">{{item.itemName}}</p>
              <br>
              <p class="cart_itemAmount">$<span class="cart_price">{{item.price}}</span>元 /
                <span>{{item.item_Quantity}}</span>入
              </p>
              <div class="cart_itemQuantity">
                <button class="cart_less mainbtn" @click="sub(item)">&#45;</button>
                <input class="cart_quantity" type="text" v-model="item.quantity">
                <button class="cart_add mainbtn" @click="add(item)">&#43;</button>
              </div>
            </div>
            <div class="cart_itemDelete" @click="delete_Item(index)">
              <div class="cart_leftD"></div>
              <div class="cart_rightD"></div>
            </div>
          </li>

          <!-- 客制禮盒 -->
          <li class="cart_customization" v-for="(item,index) in customization" :id="item.id">
            <!-- 商品 -->
            <div class="cart_customizationItem">
              <div class="cart_itemCB" :class="{'cart_choose': item.status}" @click="choose(item)">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas"
                  data-icon="check" class="svg-inline--fa fa-check fa-w-16" role="img" viewBox="0 0 512 512">
                  <path fill="#ffffff"
                    d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z" />
                </svg>
              </div>

              <div class="cart_itemImg">
                <img :src="item.img">
              </div>

              <div class="cart_itemText">
                <p class="cart_itemName">{{item.itemName}}</p>
                <br>
                <p class="cart_itemAmount">$<span>{{item.price}}</span>元</p>
                <div class="cart_itemQuantity">
                  <button class="cart_less mainbtn" @click="sub(item)">-</button>
                  <input class="cart_quantity" type="text" v-model="item.quantity">
                  <button class="cart_add mainbtn" @click="add(item)">+</button>
                </div>
              </div>

              <div class="cart_itemRight">
                <div class="cart_itemDelete" @click="delete_Customization(index)">
                  <div class="cart_leftD"></div>
                  <div class="cart_rightD"></div>
                </div>
                <div class="cart_detailBtn">查看禮盒明細</div>
              </div>
            </div>

            <!-- 展開禮盒明細 -->
            <div class="cart_detailBorder">
              <div class="cart_detail">
                <div>
                  <div class="cart_detailItem" v-for="item in item.detail">
                    - {{item}}
                  </div>
                </div>
                <div>
                  <div class="cart_detailQuantity" v-for="item in item.detail_Quantity">
                    x {{item}}
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>

        <div id="cart_deleteMany" @click="delete_All()"
          :style="{'background-color': delete_bgc, cursor: delete_cursor}">刪除多個</div>

        <div class="cart_total">
          <p>小計</p>
          <p>$<span>{{total_Price}}</span></p>
        </div>
      </div>

      <div class="cart_checkoutBorder"><a href="../page/checkout.html" class="cart_checkout" @click="stopGo">前往結帳</a></div>

    </div>
  </div>
  <!-- nav結束 -->



  <!-- ========== main ========== -->
  <div class="contact_container">

    <p id="contact_contact">CONTACT</p>

    <div id="contact_contactBorder">

      <!-- ========== 左邊區塊 ========== -->
      <div class="contact_left">

        <p class="contact_title">聯絡我們</p>

        <p class="contact_description">若您有任何疑問，可於營業時間內撥打電話，</p>
        <p class="contact_description">或加入我們的LINE官方來聯繫客服人員，</p>
        <p class="contact_description">亦可提寫右側表單留言給我們，我們將於服務時間內盡快回復您。</p>


        <div class="contact_call">
          <div class="contact_callImg"><img src="../images/contact/phone-alt-solid.svg"></div>
          <p>來電聯繫</p>
        </div>


        <p id="contact_serviceTime">營業時間 9:00 - 20:00</p>
        <p id="contact_number">TEL 0800-123-123</p>


        <div class="contact_line">
          <div class="contact_lineImg"><img src="../images/contact/line-brands.svg"></div>
          <p>LINE聯繫</p>
        </div>


        <p id="contact_lineText">掃描下方QRcode加入我們的LINE官方來聯繫客服人員</p>
        <div id="contact_qrcode"><img src="../images/contact/QRcode.png"></div>

      </div>


      <!-- ========== 右邊區塊 ========== -->
      <div class="contact_right">

        <form class="contact_contactList" action="#" method="post">
          <p id="contact_contactTitle">信件聯繫</p>

          <div class="contact_nameBorder">
            <input type="text" name="name" placeholder="請輸入您的姓名" onfocus="this.placeholder=''"
              onblur="this.placeholder='請輸入您的姓名'" id="contact_yourName">
            <div class="contact_error contact_one">
              <p>資料格式不正確</p>
              <div></div>
            </div>
          </div>

          <div class="contact_nameBorder">
            <input type="tel" name="phone" placeholder="請輸入您的連絡電話" onfocus="this.placeholder=''"
              onblur="this.placeholder='請輸入您的連絡電話'" id="contact_yourPhone">
            <div class="contact_error contact_two">
              <p>資料格式不正確</p>
              <div></div>
            </div>
          </div>

          <div class="contact_nameBorder">
            <input type="text" name="Email" placeholder="請輸入您的信箱" onfocus="this.placeholder=''"
              onblur="this.placeholder='請輸入您的信箱'" id="contact_yourEmail">
            <div class="contact_error contact_three">
              <p>資料格式不正確</p>
              <div></div>
            </div>

          </div>



          <p class="contact_wantContect">希望我們連繫您的方式</p>

          <div class="contact_radioBorder">
            <div class="contact_radio contact_radio1">
              <input type="radio" name="callBack" id="contact_tel">
              <label for="contact_tel">電話</label>
              <div class="contact_fake1">
                <div class="contact_fakeClick1"></div>
              </div>
            </div>

            <div class="contact_radio contact_radio2">
              <input type="radio" name="callBack" id="contact_mail">
              <label for="contact_mail">Email</label>
              <div class="contact_fake2">
                <div class="contact_fakeClick2"></div>
              </div>
            </div>

            <div class="contact_error contact_four">
              <p>聯絡方式未勾選</p>
              <div></div>
            </div>
          </div>



          <p id="contact_message">詳細內容</p>

          <div class="contact_nameBorder">
            <textarea id="contact_content" placeholder="請輸入您的訊息內容" onfocus="this.placeholder=''"
              onblur="this.placeholder='請輸入您的訊息內容'"></textarea>
            <div class="contact_error contact_five">
              <p>資料格式不正確</p>
              <div></div>
            </div>
          </div>

          <button type="contact_submit" class="contact_mainbtn mainbtn">送出</button>

        </form>

      </div>

    </div>



  </div>




  <!-- =======================footer======================= -->
  <div class="footer">
    <div class="footer-left">
      <div class='footer-policy'>
        <p><a href="../page/privacy.html">隱私政策</a></p>
        <p><a href="../page/terms.html">服務條款</a></p>
      </div>
    </div>
    <div class='footer-media'>
      <a href="https://www.instagram.com/"><i class="fab fa-instagram-square"></i></a>
      <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
      <a href="https://twitter.com/?lang=zh-tw"><i class="fab fa-twitter-square"></i></a>
    </div>
    <div class="footer-right">
      <p>本網站為緯育TibaMe前端設計工程師班第68期第三組學員專題成果作品，本平台僅供學習、展示之用。參考資源:snaq.me。若有侵權疑慮，您可以私訊[TibaMe-前端設計工程師養成班]，後續會由專人協助處理
      </p>
    </div>
  </div>
  <!-- =======================footer結束======================= -->
</body>

</html>