<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/member.css">
    <link rel="stylesheet" href="../css/cart.css">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <title>會員中心 - 小春堂</title>
    <link rel="icon" href="../images/index/logo_footer.png">
    

    <script src="../js/vue.js"></script>
    <script src="../js/cart_vue.js"></script>
    <script src="../js/hamburger.js"></script>
    <script src='../js/member.js'></script>
    <script src='../js/navbar.js'></script>
</head>

<body>
    <!-- 載入會員頁 -->
    <div class='memberShow'></div>

    <!-- 聯絡我們 -->
    <div class='psychotest'>
        <a href="./contact.html"><img src="../images/contact/mail_icon.png" alt=""></a>
        <p>聯絡我們</p>
    </div>
    <div class='memberWrapper'>

        <!-- navbar -->
        <div id="cart_app">
            <div class="navbar">
                <div class="navbar-logo">
                    <a href="../index.html"><img src="../images/index/logo.png" alt=""></a>
                </div>
                <div class="navbar-icon">
                    <a href="#"><i class="fas fa-user"></i></a>
                    <a href="#" @click="open()"><i class="fas fa-shopping-cart"></i></a>
                    <a href="#"></a>
                </div>
                <!-- 漢堡 -->
                <div class="ham_container">
                    <div class="ham_bar1 ham_bar"></div>
                    <div class="ham_bar2 ham_bar"></div>
                    <div class="ham_bar3 ham_bar"></div>
                </div>
                <div id="ham_myNav" class="ham_overlay">
                    <div class="ham_overlay-content">
                        <div class='ham_jelly'></div>
                        <div class="ham_select">
                            <a href="../index.html">首頁</a>
                            <a href="./about.html">關於我們</a>
                            <a href="./news.html">最新消息</a>
                            <a href="./shopping_choose.html">商品專區</a>
                            <a href="./customized.html">客製化禮盒</a>
                            <a href="./FAQ.html">Q&A</a>
                            <a>會員中心</a>
                            <a href="#" class='nav_logOut'>會員登出 &nbsp<i class="fas fa-sign-out-alt"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart_cartBoard">
                <div class="cart_cart">
                    <div class="cart_cartTitle">
                        <p>購物車</p>
                        <div class="cart_close" @click="close()">
                            <div class="cart_left"></div>
                            <div class="cart_right"></div>
                        </div>
                    </div>
                    <!-- ========== 商品細項 ========== -->
                    <ul class="cart_itemList">
                        <!-- 購物車空值顯示 -->
                        <div class="cart_NoItem">
                            <div>
                                <img src="../images/cart/shoppingcart_empty.png">
                            </div>
                            <p>購物車還是空的哦！</p>
                        </div>
                        <!-- 一般商品 -->
                        <li class="cart_item" v-for="(item,index) in itemList" :id="item.id">
                            <div class="cart_itemCB" :class="{'cart_choose': item.status}" @click="choose(item)">
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false"
                                    data-prefix="fas" data-icon="check" class="svg-inline--fa fa-check fa-w-16"
                                    role="img" viewBox="0 0 512 512">
                                    <path fill="#ffffff"
                                        d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z" />
                                </svg>
                            </div>
                            <div class="cart_itemImg">
                                <img :src="item.img">
                            </div>
                            <div class="cart_itemText">
                                <p class="cart_itemName">{{item.itemName}}</p>
                                <br>
                                <p class="cart_itemAmount">$<span class="cart_price">{{item.price}}</span>元
                                </p>
                                <div class="cart_itemQuantity">
                                    <button class="cart_less mainbtn" @click="sub(item)">&#45;</button>
                                    <input class="cart_quantity" type="text" v-model="item.quantity">
                                    <button class="cart_add mainbtn" @click="add(item)">&#43;</button>
                                </div>
                            </div>
                            <div class="cart_itemDelete" @click="delete_Item(index)">
                                <div class="cart_leftD"></div>
                                <div class="cart_rightD"></div>
                            </div>
                        </li>

                        <!-- 客制禮盒 -->
                        <li class="cart_customization" v-for="(item,index) in customization" :id="item.id">
                            <!-- 商品 -->
                            <div class="cart_customizationItem">
                                <div class="cart_itemCB" :class="{'cart_choose': item.status}" @click="choose(item)">
                                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false"
                                        data-prefix="fas" data-icon="check" class="svg-inline--fa fa-check fa-w-16"
                                        role="img" viewBox="0 0 512 512">
                                        <path fill="#ffffff"
                                            d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z" />
                                    </svg>
                                </div>

                                <div class="cart_itemImg">
                                    <img :src="item.img">
                                </div>

                                <div class="cart_itemText">
                                    <p class="cart_itemName">{{item.itemName}}</p>
                                    <br>
                                    <p class="cart_itemAmount">$<span>{{item.price}}</span>元</p>
                                    <div class="cart_itemQuantity">
                                        <button class="cart_less mainbtn" @click="sub(item)">-</button>
                                        <input class="cart_quantity" type="text" v-model="item.quantity">
                                        <button class="cart_add mainbtn" @click="add(item)">+</button>
                                    </div>
                                </div>

                                <div class="cart_itemRight">
                                    <div class="cart_itemDelete" @click="delete_Customization(index)">
                                        <div class="cart_leftD"></div>
                                        <div class="cart_rightD"></div>
                                    </div>
                                    <div class="cart_detailBtn">查看禮盒明細</div>
                                </div>
                            </div>

                            <!-- 展開禮盒明細 -->
                            <div class="cart_detailBorder">
                                <div class="cart_detail">
                                    <div>
                                        <div class="cart_detailItem" v-for="item in item.detail">
                                            - {{item}}
                                        </div>
                                    </div>
                                    <div>
                                        <div class="cart_detailQuantity" v-for="item in item.detail_Quantity">
                                            x {{item}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <div id="cart_deleteMany" @click="delete_All()"
                        :style="{'background-color': delete_bgc, cursor: delete_cursor}">刪除多個</div>

                    <div class="cart_total">
                        <p>小計</p>
                        <p>$<span>{{total_Price}}</span></p>
                    </div>
                </div>

                <div class="cart_checkoutBorder"><a href="../page/checkout.html" class="cart_checkout" @click='stopGo'>前往結帳</a></div>

            </div>
        </div>
        <!-- nav結束 -->

        <div class='memberAll'>
            <p>ACCOUNT</p>
            <h2>會員中心</h2>
            <div class='memberLine'>
                <div class='memberTitle'>
                    <h4 id='memberId' class='mClicked'>會員資料</h4>
                    <h4 id='memberPsw'>修改密碼</h4>
                    <h4 id='memberOrder'>訂單查詢</h4>
                    <h4 id='memberRefund'>取消/退款查詢</h4>
                    <h4 id='memberLike'>收藏管理</h4>
                </div>
                <div class='underLine'>
                    <div class='choosenBar'></div>
                    <div class='choosenBar2'></div>
                </div>
            </div>
            <!-- ==================會員資料=================== -->
            <div class='memberPart1'>
                <label>姓名：<input class='memberLeft memberTop' type="text" value='李安'></label><br>
                <div class='gender'>性別：
                    <input class='memberLeft' name='gender' type="radio" id="male" value='male' checked>
                    <label for="male">男性</label>
                    <input name='gender' type="radio" id="female" value='female'>
                    <label for="female">女性</label>
                    <input name='gender' type="radio" id="other" value='other'>
                    <label for="other">第三性</label>
                </div>
                <label>信箱：<input class='memberLeft' type="email" value='karuhodou2020@gmail.com'></label><br>
                <label>連絡電話：<input type="text" value='0912345678'></label><br>
                <label>地址：<input class='memberLeft' type="text" value="台北市南京東路三段219號4-5F"></label><br>
                <button type="submit">儲存</button>
            </div>

            <!-- ==================修改密碼=================== -->
            <div class='memberPart2'>
                <div class='memberErrorWrap'>
                    <input class='memberOldPSW' type='password' placeholder="請輸入舊密碼"><i class="eye eye1 fas fa-eye"></i>
                    <member-error></member-error>
                </div>
                <div class='memberErrorWrap'>
                    <input class='memberNewPSW' type='password' placeholder="請輸入新密碼 (數字+英文字母8-16位)"><i class="eye eye1 fas fa-eye"></i>
                    <member-error></member-error>
                </div>
                <div class='memberErrorWrap'>
                    <input class='memberNewPSW2' type='password' placeholder="再次輸入新密碼"><i class="eye eye1 fas fa-eye"></i>
                    <member-error></member-error>
                </div>
                <button class='memberChangePSW' type="submit">修改</button>
            </div>

            <!-- ==================訂單查詢=================== -->
            <div class='memberPart3'>
                <div class='orderSearch'>
                    <input type="text" placeholder="請輸入您的訂單編號">
                    <button type='submit'>搜尋</button>
                </div>
                <p class='clearBoth'></p>
                <div>
                    <!-- 訂單1 -->
                    <div class='memberOrder'>
                        <div class='memberOrderContent' style="table-layout:fixed">
                            <div class="memberGrid">
                                <div class='memberGrid1'>訂單編號</div>
                                <div class='memberGrid2'>日期</div>
                                <div class='memberGrid3'>金額</div>
                                <div class='memberGrid4'>付款方式</div>
                                <div class='memberGrid5'>付款狀態</div>
                                <div class='memberGrid6'>貨運狀態</div>
                                <div class='memberGrid7'>訂單狀態</div>
                                <div class='memberGrid8'>收件人資訊</div>
                                <div class='memberGrid9'>123456789</div>
                                <div class='memberGrid10'>2021-04-26</div>
                                <div class='memberGrid11'>$700</div>
                                <div class='memberGrid12'>貨到付款</div>
                                <div class='memberGrid13'>未付款</div>
                                <div class='memberGrid14'>已出貨</div>
                                <div class='memberGrid15'>已確認</div>
                                <div class='memberGrid16 memberReceiverID'>詳細資訊</div>
                            </div>
                        </div>

                        <div class='memberProgressAll'>
                            <div>
                                <div class='memberProgressDot'>
                                    <div></div>
                                    <div class='memberLineCheck'></div>
                                    <div></div>
                                    <div class='memberLineCheck'></div>
                                    <div></div>
                                    <div></div>
                                    <div class='memberUnchecked'></div>
                                </div>
                                <div class='memberProgressWord'>
                                    <span>收到訂單</span>
                                    <span>訂單確認</span>
                                    <span class='memberWordCheck'>商品出貨</span>
                                    <span>商品送達</span>
                                </div>
                            </div>
                            <div>
                                <button class='memberOpenDetail'>查看明細</button>
                                <button class='memberBuyAgain noshow'>再次購買</button>
                            </div>
                        </div>
                        <div class='memberOrderDetailAll'>
                            <div class='memberOrderDetail'>
                                <div class='memberOrderD1'>
                                    <span>商品名稱</span>
                                    <span>數量</span>
                                    <span>價格</span>
                                </div>
                                <div class='memberOrderD2'>
                                    <img src="../images/shopping_list/taiyaki_matcha_a_big.png">
                                    <div>抹茶鯛魚燒</div>
                                    <div>2件</div>
                                    <div>$100</div>
                                </div>
                            </div>
                            <div class='memberOrderDetail'>
                                <div class='memberOrderD1'>
                                    <span>商品名稱</span>
                                    <span>數量</span>
                                    <span>價格</span>
                                </div>
                                <div class='memberOrderD2'>
                                    <img src="../images/shopping_list/monaka_matcha_b_big.png">
                                    <div>抹茶最中餅</div>
                                    <div>5件</div>
                                    <div>$100</div>
                                </div>
                            </div>
                        </div> 
                        <!-- 收件人詳細資訊 -->
                        <receiver-detail></receiver-detail>
                        
                    </div>
                    <!-- 訂單1結束====== -->
                    <!-- 訂單2 -->
                    <div class='memberOrder'>
                        <div class='memberOrderContent' style="table-layout:fixed">
                            <div class="memberGrid">
                                <div class='memberGrid1'>訂單編號</div>
                                <div class='memberGrid2'>日期</div>
                                <div class='memberGrid3'>金額</div>
                                <div class='memberGrid4'>付款方式</div>
                                <div class='memberGrid5'>付款狀態</div>
                                <div class='memberGrid6'>貨運狀態</div>
                                <div class='memberGrid7'>訂單狀態</div>
                                <div class='memberGrid8'>收件人資訊</div>
                                <div class='memberGrid9'>123456789</div>
                                <div class='memberGrid10'>2021-04-26</div>
                                <div class='memberGrid11'>$700</div>
                                <div class='memberGrid12'>貨到付款</div>
                                <div class='memberGrid13'>未付款</div>
                                <div class='memberGrid14'>已出貨</div>
                                <div class='memberGrid15'>已確認</div>
                                <div class='memberGrid16 memberReceiverID'>詳細資訊</div>
                            </div>
                        </div>
                        <div class='memberProgressAll'>
                            <div>
                                <div class='memberProgressDot'>
                                    <div></div>
                                    <div></div>
                                    <div class='memberUnchecked'></div>
                                    <div></div>
                                    <div class='memberUnchecked'></div>
                                    <div></div>
                                    <div class='memberUnchecked'></div>
                                </div>
                                <div class='memberProgressWord'>
                                    <span class='memberWordCheck'>收到訂單</span>
                                    <span>訂單確認</span>
                                    <span>商品出貨</span>
                                    <span>商品送達</span>
                                </div>
                            </div>
                            <div>
                                <button class='memberOpenDetail'>查看明細</button>
                                <button class='memberBuyAgain noshow'>再次購買</button>
                            </div>
                        </div>
                        <div class='memberOrderDetailAll'>
                            <div class='memberOrderDetail'>
                                <div class='memberOrderD1'>
                                    <span>商品名稱</span>
                                    <span>數量</span>
                                    <span>價格</span>
                                </div>
                                <div class='memberOrderD2'>
                                    <img src="../images/shopping_list/daifuku_chocolate_a_big.png">
                                    <div>巧克力大福</div>
                                    <div>5件</div>
                                    <div>$100</div>
                                </div>
                            </div>
                        </div>  
                        <!-- 收件人詳細資訊 -->
                        <receiver-detail></receiver-detail>
                        
                    </div>
                    <!-- 訂單2結束====== -->

                    <!-- 訂單3 -->
                    <div class='memberOrder'>
                        <div class='memberOrderContent' style="table-layout:fixed">
                            <div class="memberGrid">
                                <div class='memberGrid1'>訂單編號</div>
                                <div class='memberGrid2'>日期</div>
                                <div class='memberGrid3'>金額</div>
                                <div class='memberGrid4'>付款方式</div>
                                <div class='memberGrid5'>付款狀態</div>
                                <div class='memberGrid6'>貨運狀態</div>
                                <div class='memberGrid7'>訂單狀態</div>
                                <div class='memberGrid8'>收件人資訊</div>
                                <div class='memberGrid9'>123456789</div>
                                <div class='memberGrid10'>2021-04-26</div>
                                <div class='memberGrid11'>$700</div>
                                <div class='memberGrid12'>貨到付款</div>
                                <div class='memberGrid13'>未付款</div>
                                <div class='memberGrid14'>已出貨</div>
                                <div class='memberGrid15'>已確認</div>
                                <div class='memberGrid16 memberReceiverID'>詳細資訊</div>
                            </div>
                        </div>
                        <div class='memberProgressAll'>
                            <div>
                                <div class='memberProgressDot'>
                                    <div></div>
                                    <div class='memberLineCheck'></div>
                                    <div></div>
                                    <div class='memberLineCheck'></div>
                                    <div></div>
                                    <div class='memberLineCheck'></div>
                                    <div></div>
                                </div>
                                <div class='memberProgressWord'>
                                    <span>收到訂單</span>
                                    <span>訂單確認</span>
                                    <span>商品出貨</span>
                                    <span class='memberWordCheck'>商品送達</span>
                                </div>
                            </div>
                            <div>
                                <button class='memberOpenDetail'>查看明細</button>
                                <button class='memberBuyAgain'>再次購買</button>
                            </div>
                        </div>
                        <div class='memberOrderDetailAll'>
                            <div class='memberOrderDetail'>
                                <div class='memberOrderD1'>
                                    <span>商品名稱</span>
                                    <span>數量</span>
                                    <span>價格</span>
                                </div>
                                <div class='memberOrderD2'>
                                    <img src="../images/shopping_list/sweet_almond_a_big.png">
                                    <div>杏仁瓦片</div>
                                    <div>5件</div>
                                    <div>$100</div>
                                </div>
                            </div>
                            <div class='memberOrderDetail'>
                                <div class='memberOrderD1'>
                                    <span>商品名稱</span>
                                    <span>數量</span>
                                    <span>價格</span>
                                </div>
                                <div class='memberOrderD2'>
                                    <img src="../images/shopping_list/yokan_strawberry_a_big.png">
                                    <div>草莓羊羹</div>
                                    <div>3件</div>
                                    <div>$100</div>
                                </div>
                            </div>
                        </div>  
                        <!-- 收件人詳細資訊 -->
                        <receiver-detail></receiver-detail>
                        
                    </div>
                    <!-- 訂單3結束====== -->             
                </div>          
            </div>

            <!-- ==================取消/退款查詢=================== -->
            <div class='memberPart4 vueOrder'>
                <div class='orderSearch'>
                    <input type="text" placeholder="請輸入您的訂單編號">
                    <button type='submit'>搜尋</button>
                </div>
                <p class='clearBoth'></p>
                <div>
                    <div class='memberOrder'>
                        <div class='memberOrderContent' style="table-layout:fixed">
                            <div class="memberGrid">
                                <div class='memberGrid1'>訂單編號</div>
                                <div class='memberGrid2'>日期</div>
                                <div class='memberGrid3'>金額</div>
                                <div class='memberGrid4'>付款方式</div>
                                <div class='memberGrid5'>付款狀態</div>
                                <div class='memberGrid6'>貨運狀態</div>
                                <div class='memberGrid7'>訂單狀態</div>
                                <div class='memberGrid8'>收件人資訊</div>
                                <div class='memberGrid9'>123456789</div>
                                <div class='memberGrid10'>2021-04-26</div>
                                <div class='memberGrid11'>$700</div>
                                <div class='memberGrid12'>貨到付款</div>
                                <div class='memberGrid13'>未付款</div>
                                <div class='memberGrid14'>待出貨</div>
                                <div class='memberGrid15'>已取消</div>
                                <div class='memberGrid16 memberReceiverID'>詳細資訊</div>
                            </div>
                        </div>
                        <div class='memberProgressAll'>
                            <div>
                                <div class='memberProgressDot'>
                                    <div></div>
                                    <div class='memberLineCheck'></div>
                                    <div></div>
                                    <div></div>
                                    <div class='memberUnchecked'></div>
                                    <div></div>
                                    <div class='memberUnchecked'></div>
                                </div>
                                <div class='memberProgressWord'>
                                    <span>收到訂單</span>
                                    <span class='memberWordCheck'>訂單確認</span>
                                    <span>商品出貨</span>
                                    <span>商品送達</span>
                                </div>
                            </div>
                            <div>
                                <button class='memberOpenDetail'>查看明細</button>
                                <button class='memberBuyAgain noshow'>再次購買</button>
                            </div>
                        </div>
                        <div class='memberOrderDetailAll'>
                            <div class='memberOrderDetail'>
                                <div class='memberOrderD1'>
                                    <span>商品名稱</span>
                                    <span>數量</span>
                                    <span>價格</span>
                                </div>
                                <div class='memberOrderD2'>
                                    <img src="../images/shopping_list/yokan_strawberry_a_big.png">
                                    <div>草莓羊羹</div>
                                    <div>3件</div>
                                    <div>$100</div>
                                </div>
                            </div>
                            <div class='memberOrderDetail'>
                                <div class='memberOrderD1'>
                                    <span>商品名稱</span>
                                    <span>數量</span>
                                    <span>價格</span>
                                </div>
                                <div class='memberOrderD2'>
                                    <img src="../images/shopping_list/daifuku_chocolate_a_big.png">
                                    <div>巧克力大福</div>
                                    <div>5件</div>
                                    <div>$100</div>
                                </div>
                            </div>
                        </div>
                        <!-- 收件人詳細資訊 -->
                        <receiver-detail></receiver-detail>
                        
                    </div>
                    <!-- 訂單1結束====== -->
                </div>
            </div>

            <!-- ============================================ -->

            <!-- ==================收藏管理=================== -->
            <div class='memberPart5'>
                <div class='memberLikePack'>
                    <img class='memberLikeImg' src="../images/shopping_list/daifuku_chestnut_a_big.png">
                    <img class='memberLikeHeart' src="../images/member/favorite.png">
                </div>
                <div class='memberLikePack'>
                    <img class='memberLikeImg' src="../images/shopping_list/namagashi_hydrangea_a_big.png">
                    <img class='memberLikeHeart' src="../images/member/favorite.png">
                </div>
                <div class='memberLikePack'>
                    <img class='memberLikeImg' src="../images/shopping_list/daifuku_matcha_a_big.png">
                    <img class='memberLikeHeart' src="../images/member/favorite.png">
                </div>
                <div class='memberLikePack'>
                    <img class='memberLikeImg' src="../images/shopping_list/dorayaki_matcha_a_big.png">
                    <img class='memberLikeHeart' src="../images/member/favorite.png">
                </div>
                <div class='memberLikePack'>
                    <img class='memberLikeImg' src="../images/shopping_list/dorayaki_taro_a_big.png">
                    <img class='memberLikeHeart' src="../images/member/favorite.png">
                </div>
                <div class='memberLikePack'>
                    <img class='memberLikeImg' src="../images/shopping_list/sweet_galette_a_big.png">
                    <img class='memberLikeHeart' src="../images/member/favorite.png">
                </div>
                <div class='memberLikePack'>
                    <img class='memberLikeImg' src="../images/shopping_list/taiyaki_matcha_a_big.png">
                    <img class='memberLikeHeart' src="../images/member/favorite.png">
                </div>
                <div class='memberLikePack'>
                    <img class='memberLikeImg' src="../images/shopping_list/sweet_fernance_a_big.png">
                    <img class='memberLikeHeart' src="../images/member/favorite.png">
                </div>
                <div class='memberLikePack'>
                    <img class='memberLikeImg' src="../images/shopping_list/monaka_peanut_a_big.png">
                    <img class='memberLikeHeart' src="../images/member/favorite.png">
                </div>
                <div class='memberLikePack'>
                    <img class='memberLikeImg' src="../images/shopping_list/yokan_strawberry_a_big.png">
                    <img class='memberLikeHeart' src="../images/member/favorite.png">
                </div>
            </div>

        </div>


        <!-- =============footer============== -->
        <div class="footer">
            <div class="footer-left">
            <div class='footer-policy'>
            <p><a href="#">隱私政策</a></p>
            <p><a href="#">服務條款</a></p>
            </div>
            </div>
            <div class='footer-media'>
                <a href="#"><i class="fab fa-instagram-square"></i></a>
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-twitter-square"></i></a>
            </div>
            <div class="footer-right">
                <p>本網站為緯育TibaMe前端設計工程師班第68期第三組學員專題成果作品，本平台僅供學習、展示之用。參考資源:snaq.me。若有侵權疑慮，您可以私訊[TibaMe-前端設計工程師養成班]，後續會由專人協助處理
                </p>
            </div>
        </div>
        <!-- =======================footer結束======================= -->

        

    </div>


    
    <!-- <script src='../js/login.js'></script> -->
</body>

</html>