<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>customized</title>
    <link rel="stylesheet" href="../css/n-customized.css">
</head>
<body>
    <div id="app">
        <header class="n-customized_header">
            <div class="n-customized_logo">
                <img src="../images/backend/n_logo.png" alt="" srcset="">
                <p>小春堂後臺管理</p>
            </div>
               
            <div class="n-customized_logout" @click='log_out'>
                <p>帳號登出</p>
                <img src="../images/backend/log-out.png" alt="" srcset="">
            </div>
        </header>

        <main class="n-customized_main">
            <div class="n-customized_left">
                <a v-for = 'btn in mainbtn' :href="btn.url">{{btn.name}}</a>
            </div>

            <div class="n-customized_right">

                <p>客製化商品管理</p>

                <div class="n-customized_card_style">

                    <p>卡片樣式</p>

                    <div class="n-customized_group" v-for='img_name in img_names'>
                        <label for="group1">{{img_name}}:</label>
                        <input type="file" id="group1" @change='upload_img'>
                        <p>請選擇圖片上傳</p>
                        <div class="n-customized_img">
                            <img src=''>
                            <p>請選擇圖片上傳</p>
                        </div>
                    </div>                     

                    <div class="n-customized_editbtn">
                        <button class="n-customized_close">關閉</button>
                        <button class="n-customized_save">儲存</button>
                    </div>

                </div>


                <div class="n-customized_sticker_style"> 
                    
                    <p>貼圖樣式</p>
    
                    <div class="n-customized_group" v-for='(num,key) in 12'>
                        <label for="group5">圖片{{key +1}}:</label>
                        <input type="file" id="group5" @change='upload_img'>
                        <p>請選擇圖片上傳</p>
                        <div class="n-customized_img">
                            <img src="">
                            <p>請選擇圖片上傳</p>
                        </div>
                    </div>
    
                    <div class="n-customized_editbtn">
                        <button class="n-customized_close">關閉</button>
                        <button class="n-customized_save">儲存</button>
                    </div>
                    
                </div>

            </div>
        </main>

        

       

    </div>

    <script src="../js/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data:{    
                
                img_names:['圖片01', '圖片02', '圖片03'],

                mainbtn: [  
                    {name:"會員管理", url: "./n-member.html"},
                    {name:"訂單管理", url: "./n-order.html"},
                    {name:"商品管理", url: "./n-product.html"},
                    {name:"客製化商品管理", url: "./n-customized.html"},
                    {name:"消息管理", url: "./n-news.html"},
                    {name:"折扣碼管理", url: "./n-discount.html"},
                    {name:"Q&A", url: "./n-faq.html"},
                ],
                
                current_edit:null,
            },

            methods: {   
                upload_img(e){

                    var files = e.target.files || e.dataTransfer.files;
                    let file = files[0];

                    e.target.nextElementSibling.innerText = file.name;

                    let readFile = new FileReader();
                    readFile.readAsDataURL(file);
                    readFile.addEventListener("load", function () {

                        e.target.nextElementSibling.nextElementSibling.querySelector('img').src = readFile.result; 

                        e.target.nextElementSibling.nextElementSibling.querySelector('p').style.opacity=0;
                     
                    });
                },
                log_out(){
                    location.href = "./n-login.html"
                }
                
                
            },
            
        })
    </script>
</body>
</html>