<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>後台 - 折扣碼管理</title>
    <link rel="stylesheet" href="../css/n-discount.css">
    <link rel="stylesheet" href="../css/n-pop.css">
    <link rel="icon" href="../images/backend/n_logo.png">
</head>
<body>
    <div id="app">
        <header class="n-discount_header">
            <div class="n-discount_logo">
                <img src="../images/backend/n_logo.png" alt="" srcset="">
                <p>小春堂後臺管理</p>
            </div>
               
            <div class="n-discount_logout" @click='log_out'>
                <p>帳號登出</p>
                <img src="../images/backend/log-out.png" alt="" srcset="">
            </div>
        </header>

        <main class="n-discount_main">
            <div class="n-discount_left">
                <a v-for = 'btn in mainbtn' :href="btn.url">{{btn.name}}</a>
            </div>

            <div class="n-discount_right">

                <form action="" method="get" id="">
                    <p>折扣碼管理</p>

                    <div class="n-discount_discountbtn">
                        <button class="n-discount_add" @click='new_add()' type="button">新增</button>
                    </div>
    
                    <section>
                        <input type="text" name="search" id="search" placeholder="以折扣碼編號查詢" v-model='discount_number'>    
                        <label for="search" :class="{'-active':discount_number}">搜尋</label>
                    </section>
                </form>

                <div>
                    <ul class="n-discount_title">
                        <li v-for = 'title in titles'>{{title}}</li>
                        <li></li>
                    </ul>

                    <ul v-for='(discount,key) in discounts' class="n-discount_discount">                              
                        <li>{{discount.折扣碼編號}}</li>
                        <li>{{discount.上架日期}}</li>
                        <li>{{discount.折扣碼號}}</li>
                        <li>{{discount.標題}}</li>
                        <li :class="{'-active2':discounts[key].上下架 == '1'}">{{on_off_list[discount.上下架]}}</li> 
                        <li>{{discount.最後更新日期}}</li>
                        <li @click='edit(key)'>編輯與查看</li>
                    </ul>                
                </div>
            </div>
        </main>

        <footer class="n-discount_footer">
            <ul>
                <li v-for='page in pages'>{{page.page}}</li>
            </ul>
        </footer>

        <div class="n-discount_edit" v-if='current_edit !== null'>
        <!-- <div class="n-discount_edit" v-if='true'> -->

            <p>編輯與查看</p>
            
            <div class="n-discount_discount_mid">
                <ul>                    
                    <li>                                                  
                        <label for="">折扣碼號:<span>
                            <input type="text" v-model='d_number' placeholder="請輸入折扣碼號">
                        </label>
                    
                        <section>上下架:
                            <select name="status" id="" v-model='on_off'>
                                <option value="0">上架</option>
                                <option value="1">下架</option>
                            </select>
                        </section>
                    </li>

                    <li>
                        <label for="">主標題:</label>
                        <input type="text" v-model='d_main_title'>
                    </li>

                    <li>
                        <label for="">副標題:</label>
                        <input type="text" v-model='d_sec_title'>
                    </li>

                    <li>
                        <label for="">內文01:</label>
                        <textarea name="" id="" cols="73" rows="5" v-model='d_main_content'></textarea>
                    </li>
                    
                    <li>
                        <label for="">內文02:</label>
                        <textarea name="" id="" cols="73" rows="5" v-model='d_sec_content'></textarea>
                    </li>

                </ul>
            </div>

            <div class="n-discount_discount_bot">

                <div class="n-discount_group" v-for='(img_name, index) in img_names'>
                    <label :for='index'>{{img_name}}:</label>
                    <input type="file" :id="index" @change='upload_img'>
                    <p>請選擇圖片上傳</p>
                    <div class="n-discount_img">
                        <img src=''>
                        <p>請選擇圖片上傳</p>
                    </div>
                </div>

            </div>

            <div class="n-discount_editbtn">
                <button class="n-discount_close" @click='d_close'>關閉</button>
                <button class="n-discount_save" @click='d_save'>儲存</button>
            </div>
        </div>

        <div id="hide" v-if='current_edit !== null'></div>

        <discount-add v-if='new_edit' @dclose='closeddd' @dsave='saveddd'></discount-add>
        <double-check v-if='dbcheck' @save='sss' @cancel='ccc'></double-check>

    </div>

    <script src="../js/vue.js"></script>
    <script>
        Vue.component('double-check', {            
            template: 
                ` 
                <div class="dbc">
                    <section></section>
                    <p>尚未存檔，是否確認關閉</p>
                    <div>
                        <button type="button" @click='sure'>確認</button>
                        <button type="button" @click='cancel'>取消</button>
                    </div>
                </div>                
                `
            ,
            methods:{
                sure(){
                    this.$emit('save')
                },
                cancel(){
                    this.$emit('cancel')
                }
            },
        });


        Vue.component('discount-add', {
            data(){
                return{  //組件的變數寫在這裡
                    d_number:'',
                    on_off:0,
                    d_main_title:'',
                    d_sec_title:'',
                    d_main_content:'',
                    d_sec_content:'',
                    img_names:['右上圖', '主題', '圖片01', '圖片02', '圖片03'],
                };
            },
        
            template: `
                <div>
                    <div class="n-discount_edit">

                        <p>新增折扣碼</p>
                        
                        <div class="n-discount_discount_mid">
                            <ul>                    
                                <li>
                                    <label for="">折扣碼號:</span>
                                        <input type="text" v-model='d_number' placeholder="請輸入折扣碼號">
                                    </label>
                                
                                    <section>上下架:
                                        <select name="status" id="" v-model='on_off'>
                                            <option value="0">上架</option>
                                            <option value="1">下架</option>
                                        </select>
                                    </section>
                                </li>

                                <li>
                                    <label for="">主標題:</label>
                                    <input type="text" v-model='d_main_title'>
                                </li>

                                <li>
                                    <label for="">副標題:</label>
                                    <input type="text" v-model='d_sec_title'>
                                </li>

                                <li>
                                    <label for="">內文01:</label>
                                    <textarea name="" id="" cols="73" rows="5" v-model='d_main_content'></textarea>
                                </li>
                                
                                <li>
                                    <label for="">內文02:</label>
                                    <textarea name="" id="" cols="73" rows="5" v-model='d_sec_content'></textarea>
                                </li>

                            </ul>
                        </div>

                        <div class="n-discount_discount_bot">

                            <div class="n-discount_group" v-for='(img_name, index) in img_names'>
                                <label :for='index'>{{img_name}}:</label>
                                <input type="file" :id="index" @change='upload_img'>
                                <p>請選擇圖片上傳</p>
                                <div class="n-discount_img">
                                    <img src=''>
                                    <p>請選擇圖片上傳</p>
                                </div>
                            </div>

                        </div>

                        <div class="n-discount_editbtn">
                            <button class="n-discount_close" @click='d_close'>關閉</button>
                            <button class="n-discount_save" @click='d_save'>儲存</button>
                        </div>
                    </div>

                    <div id="hide"></div>
                </div>

            `,
            methods:{
                d_close(){ 
                    this.$emit('dclose');
                },  
                d_save(){   

                    this.$emit('dsave', this.d_number, this.on_off, this.d_main_title, this.d_sec_title, this.d_main_content, this.d_sec_content);

                },

                upload_img(e){

                    var files = e.target.files || e.dataTransfer.files;
                    let file = files[0];

                    e.target.nextElementSibling.innerText = file.name;

                    let readFile = new FileReader();
                    readFile.readAsDataURL(file);
                    readFile.addEventListener("load", function () {

                        e.target.nextElementSibling.nextElementSibling.querySelector('img').src = readFile.result; 

                        e.target.nextElementSibling.nextElementSibling.querySelector('p').style.opacity=0;

                    });
                },
            }  
        });


        new Vue({
            el: '#app',
            data:{
                
                dbcheck:false,
                new_edit:false,
                img_names:['右上圖', '主題', '圖片01', '圖片02', '圖片03'],

                discount_number:'',
                on_off_list:['上架', '下架'],
                d_main_title:'',
                d_sec_title:'',
                d_number:'',
                on_off:0,       
                d_main_content:'',
                d_sec_content:'',         

                group1_name:'請選擇圖片上傳',
                group2_name:'請選擇圖片上傳',
                group3_name:'請選擇圖片上傳',
                group4_name:'請選擇圖片上傳',
                group5_name:'請選擇圖片上傳',


                mainbtn: [  
                    {name:"會員管理", url: "./n-member.html"},
                    {name:"訂單管理", url: "./n-order.html"},
                    {name:"商品管理", url: "./n-product.html"},
                    {name:"客製化商品管理", url: "./n-customized.html"},
                    {name:"消息管理", url: "./n-news.html"},
                    {name:"折扣碼管理", url: "./n-discount.html"},
                    {name:"Q&A", url: "./n-faq.html"},
                ],
                titles: ['折扣碼編號', '上架日期', '折扣碼號', '標題', '上下架', '最後更新日期', ''],
                discounts:[
                    {
                        '折扣碼編號':'1234567890',
                        '上架日期':'2021/01/01',
                        '折扣碼號':'cscscs',
                        '標題':'新品上市新品上市新品上市新品上市新品上市',
                        '上下架':0,
                        '最後更新日期':'2021/03/01 16:16',
                    },
                    {
                        '折扣碼編號':'1234567890',
                        '上架日期':'2021/01/01',
                        '折扣碼號':'sfeweggg',
                        '標題':'新品上市新品上市新品上市新品上市新品上市',
                        '上下架':1,
                        '最後更新日期':'2021/03/01 16:16',
                    },
                    {
                        '折扣碼編號':'1234567890',
                        '上架日期':'2021/01/01',
                        '折扣碼號':'feffefgg',
                        '標題':'新品上市新品上市新品上市新品上市新品上市',
                        '上下架':0,
                        '最後更新日期':'2021/03/01 16:16',
                    }
                ],
                pages:[
                    {page:"<", url: "#"},
                    {page:"1", url: "#"},
                    {page:"2", url: "#"},
                    {page:"3", url: "#"},
                    {page:"4", url: "#"},
                    {page:"5", url: "#"},
                    {page:"...", url: "#"},
                    {page:"20", url: "#"},
                    {page:">", url: "#"},
                ],
                current_edit:null,
            },

            methods: {
                edit(index){                    
                    this.current_edit = index;     

                    this.d_number = this.discounts[index].折扣碼號;
                    this.on_off = this.discounts[index].上下架;
                    this.d_main_title = this.discounts[index].標題;
                    this.d_sec_title = this.discounts[index].標題;
                    this.d_main_content = this.discounts[index].內文;
                    this.d_sec_content = this.discounts[index].內文;

                },


                d_close(){       
                    this.dbcheck=true;
                    let edit_z = document.querySelector('.n-discount_edit');
                    edit_z.style.opacity = 0;
                },  

                sss(){
                    this.current_edit = null;
                    this.dbcheck=false;
                    let edit_z = document.querySelector('.n-discount_edit');
                    edit_z.style.opacity = 1;

                    this.new_edit = false;
                },

                ccc(){
                    this.dbcheck=false;
                    let edit_z = document.querySelector('.n-discount_edit');
                    edit_z.style.opacity = 1;
                },


                d_save(){     

                    let d_index = this.$data.current_edit;

                    this.discounts[d_index].上下架 = this.on_off;
                    this.discounts[d_index].折扣碼號 = this.d_number;
                    this.discounts[d_index].標題 = this.d_main_title;

                    this.current_edit = null;
                },  

                upload_img(e){

                    var files = e.target.files || e.dataTransfer.files;
                    let file = files[0];

                    e.target.nextElementSibling.innerText = file.name;

                    let readFile = new FileReader();
                    readFile.readAsDataURL(file);
                    readFile.addEventListener("load", function () {

                        e.target.nextElementSibling.nextElementSibling.querySelector('img').src = readFile.result; 

                        e.target.nextElementSibling.nextElementSibling.querySelector('p').style.opacity=0;
                    
                    });
                },

                new_add(){
                    this.new_edit = true;
                    // this.current_edit = "notnull";
                },
                closeddd(){
                    // this.new_edit = false;

                    this.dbcheck=true;
                    let edit_z = document.querySelector('.n-discount_edit');
                    edit_z.style.opacity = 0;
                },
                saveddd(d_number, on_off, d_main_title, d_sec_title, d_main_content, d_sec_content){
                    this.new_edit = false;

                    // console.log(f_sort);

                    let today = new Date()
                    let y_today = today.getFullYear()
                    let m_today = today.getMonth()+1
                    if(m_today < 10 ){
                        m_today = '0'+m_today
                    }
                    let d_today = today.getDate()
                    let h_today = today.getHours()
                    if(h_today < 10 ){
                        h_today = '0'+h_today
                    }
                    let min_today = today.getMinutes()
                    if(min_today < 10 ){
                        min_today = '0'+min_today
                    }
                    let u_today = y_today +'/'+ m_today +'/'+ d_today      
                    let last_today = `${y_today}/${m_today}/${d_today} ${h_today}:${min_today}`


                    let ddd = 
                    {      
                        '折扣碼編號':'1234567890',
                        '上架日期':u_today,   
                        '折扣碼號':d_number,
                        '標題':d_main_title,
                        '上下架':parseInt(on_off),
                        '最後更新日期':last_today,  
                    }

                    console.log(ddd);

                    this.discounts.unshift(ddd);
                },
                log_out(){
                    location.href = "./n-login.html"
                }  
                
                
            },
            
        })
    </script>
</body>
</html>