<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>discount</title>
    <link rel="stylesheet" href="../css/n-discount.css">
</head>
<body>
    <div id="app">
        <header class="header">
            <div class="logo">
                <img src="../images/backend/n_logo.png" alt="" srcset="">
                <p>小春堂後臺管理</p>
            </div>
               
            <div class="logout">
                <p>帳號登出</p>
                <img src="../images/backend/log-out.png" alt="" srcset="">
            </div>
        </header>

        <main class="main">
            <div class="left">
                <a v-for = 'btn in mainbtn' :href="btn.url">{{btn.name}}</a>
            </div>

            <div class="right">

                <form action="" method="get" id="">
                    <p>消息管理</p>

                    <div class="discountbtn">
                        <button class="add">新增</button>
                        <!-- <button class="delete">刪除</button> -->
                    </div>
    
                    <section>
                        <input type="text" name="search" id="search" placeholder="以折扣碼編號查詢" v-model='discount_number'>    
                        <label for="search" :class="{'-active':discount_number}">搜尋</label>
                    </section>
                </form>

                <div>
                    <ul class="title">
                        <li v-for = 'title in titles'>{{title}}</li>
                        <li></li>
                    </ul>

                    <ul v-for='(discount,key) in discounts' class="discount">                              
                        <li>{{discount.折扣碼編號}}</li>
                        <li>{{discount.上架日期}}</li>
                        <li>{{d_number_list[discount.折扣碼號]}}</li>
                        <li>{{discount.標題}}</li>
                        <li :class="{'-active2':discounts[key].上下架 == '1'}">{{on_off_list[discount.上下架]}}</li> 
                        <li>{{discount.最後更新日期}}</li>
                        <li @click='edit(key)'>編輯與查看</li>
                    </ul>                
                </div>
            </div>
        </main>

        <footer class="footer">
            <ul>
                <li v-for='page in pages'>{{page.page}}</li>
            </ul>
        </footer>

        <div class="edit" v-if='current_edit !== null'>
        <!-- <div class="edit" v-if='true'> -->

            <p>編輯與查看</p>
            
            <div class="discount_mid">
                <ul>                    
                    <li>
                        <section>折扣碼號:
                            <select name="status" id="" v-model='d_number'>
                                <option value="0">abcdefg</option>
                                <option value="1">gtrfdes</option>
                            </select>
                        </section>
                    
                        <section>上下架:
                            <select name="status" id="" v-model='on_off'>
                                <option value="0">上架</option>
                                <option value="1">下架</option>
                            </select>
                        </section>
                    </li>

                    <li>
                        <label for="">主標題:</label>
                        <input type="text" v-model='d_main_title'>
                    </li>

                    <li>
                        <label for="">副標題:</label>
                        <input type="text" v-model='d_sec_title'>
                    </li>

                    <li>
                        <label for="">內文01:</label>
                        <textarea name="" id="" cols="73" rows="5" v-model='d_main_content'></textarea>
                    </li>
                    
                    <li>
                        <label for="">內文02:</label>
                        <textarea name="" id="" cols="73" rows="5" v-model='d_sec_content'></textarea>
                    </li>

                </ul>
            </div>

            <div class="discount_bot">

                <div class="group" v-for='(img_name, index) in img_names'>
                    <label :for='index'>{{img_name}}:</label>
                    <input type="file" :id="index" @change='upload_img'>
                    <p>請選擇圖片上傳</p>
                    <div class="img">
                        <img src=''>
                        <p>請選擇圖片上傳</p>
                    </div>
                </div>

            </div>

            <div class="editbtn">
                <button class="close" @click='f_close'>關閉</button>
                <!-- <button class="save" @click='finish'>儲存</button> -->
                <button class="save" @click='f_save'>儲存</button>
            </div>
        </div>

        <div id="hide" v-if='current_edit !== null'></div>

    </div>

    <script src="../js/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data:{

                img_names:['右上圖', '主題', '圖片01', '圖片02', '圖片03'],

                discount_number:'',
                on_off_list:['上架', '下架'],
                d_number_list:['abcdefg', 'gtrfdes'],
                d_main_title:'',
                d_sec_title:'',
                d_number:0,
                on_off:0,       
                d_main_content:'',
                d_sec_content:'',         

                group1_name:'請選擇圖片上傳',
                group2_name:'請選擇圖片上傳',
                group3_name:'請選擇圖片上傳',
                group4_name:'請選擇圖片上傳',
                group5_name:'請選擇圖片上傳',


                mainbtn: [  
                    {name:"會員管理", url: "./n-member.html"},
                    {name:"訂單管理", url: "./n-order.html"},
                    {name:"商品管理", url: "./n-product.html"},
                    {name:"客製化商品管理", url: "./n-customized.html"},
                    {name:"消息管理", url: "./n-news.html"},
                    {name:"折扣碼管理", url: "./n-discount.html"},
                    {name:"Q&A", url: "./n-faq.html"},
                ],
                titles: ['折扣碼編號', '上架日期', '折扣碼號', '標題', '上下架', '最後更新日期', ''],
                discounts:[
                    {
                        '折扣碼編號':'1234567890',
                        '上架日期':'2021/01/01',
                        '折扣碼號':0,
                        '標題':'新品上市新品上市新品上市新品上市新品上市',
                        '上下架':0,
                        '最後更新日期':'2021/03/01 16:16',
                    },
                    {
                        '折扣碼編號':'1234567890',
                        '上架日期':'2021/01/01',
                        '折扣碼號':1,
                        '標題':'新品上市新品上市新品上市新品上市新品上市',
                        '上下架':1,
                        '最後更新日期':'2021/03/01 16:16',
                    },
                    {
                        '折扣碼編號':'1234567890',
                        '上架日期':'2021/01/01',
                        '折扣碼號':0,
                        '標題':'新品上市新品上市新品上市新品上市新品上市',
                        '上下架':0,
                        '最後更新日期':'2021/03/01 16:16',
                    }
                ],
                pages:[
                    {page:"<", url: "#"},
                    {page:"1", url: "#"},
                    {page:"2", url: "#"},
                    {page:"3", url: "#"},
                    {page:"4", url: "#"},
                    {page:"5", url: "#"},
                    {page:"...", url: "#"},
                    {page:"20", url: "#"},
                    {page:">", url: "#"},
                ],
                current_edit:null,
            },

            methods: {
                edit(index){                    
                    this.current_edit = index;     

                    this.d_number = this.discounts[index].折扣碼號;
                    this.on_off = this.discounts[index].上下架;
                    this.d_main_title = this.discounts[index].標題;
                    this.d_sec_title = this.discounts[index].標題;
                    this.d_main_content = this.discounts[index].內文;
                    this.d_sec_content = this.discounts[index].內文;
                },

                f_close(){                    
                    this.current_edit = null;
                },  
                f_save(){     

                    let d_index = this.$data.current_edit;

                    this.discounts[d_index].上下架 = this.on_off;

                    this.current_edit = null;
                },  

                upload_img(e){

                    var files = e.target.files || e.dataTransfer.files;
                    let file = files[0];

                    e.target.nextElementSibling.innerText = file.name;

                    let readFile = new FileReader();
                    readFile.readAsDataURL(file);
                    readFile.addEventListener("load", function () {

                        e.target.nextElementSibling.nextElementSibling.querySelector('img').src = readFile.result; 

                        e.target.nextElementSibling.nextElementSibling.querySelector('p').style.opacity=0;
                    
                    });
                },
                
                
            },
            
        })
    </script>
</body>
</html>