<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>後台 - 折扣碼管理</title>
    <link rel="stylesheet" href="../css/n-discount.css">
    <link rel="stylesheet" href="../css/n-pop.css">
    <link rel="icon" href="../images/backend/n_logo.png">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

</head>
<body>
    <div id="app">
        <header class="n-discount_header">
            <div class="n-discount_logo">
                <img src="../images/backend/n_logo.png" alt="" srcset="">
                <p>小春堂後臺管理</p>
            </div>
               
            <div class="n-discount_logout" @click='log_out'>
                <p>帳號登出</p>
                <img src="../images/backend/log-out.png" alt="" srcset="">
            </div>
        </header>

        <main class="n-discount_main">
            <div class="n-discount_left">
                <a v-for = 'btn in mainbtn' :href="btn.url">{{btn.name}}</a>
            </div>

            <div class="n-discount_right">

                <form action="" method="get" id="">
                    <p>折扣碼管理</p>

                    <div class="n-discount_discountbtn">
                        <button class="n-discount_add" @click='new_add()' type="button">新增</button>
                    </div>
    
                    <section>
                        <input type="text" name="search" id="search" placeholder="以折扣碼編號查詢" v-model='discount_number'>    
                        <label for="search" :class="{'-active':discount_number}">搜尋</label>
                    </section>
                </form>

                <div>
                    <ul class="n-discount_title">
                        <li v-for = 'title in titles'>{{title}}</li>
                        <li></li>
                    </ul>

                    <ul v-for='(discount,key) in discountsd' class="n-discount_discount">                              
                        <li>{{discount.news_id}}</li>
                        <li>{{discount.create_date}}</li>
                        <li>{{discount.discount_name}}</li>
                        <li>{{discount.news_title1}}</li>
                        <li :class="{'-active2':discounts[key].news_status == '0'}">{{on_off_list[discount.news_status]}}</li> 
                        <li>{{discount.news_update}}</li>
                        <li @click='edit(key)'>編輯與查看</li>
                    </ul>                
                </div>
            </div>
        </main>

        <footer class="n-discount_footer">
            <ul>
                <li v-for='page in pages' v-on:click='showDdata(page.link)' v-bind:class='{nowpagela:page.page == nowpage}'>{{page.page}}</li>
            </ul>
        </footer>

        <div class="n-discount_edit" v-if='current_edit !== null'>
        <!-- <div class="n-discount_edit" v-if='true'> -->

            <p>編輯與查看</p>
            
            <div class="n-discount_discount_mid">
                <ul>                    
                    <li>                                                  
                        <label for="">折扣碼號:<span>
                            <input type="text" v-model='d_number' placeholder="請輸入折扣碼號">
                        </label>

                        <label for="">折扣金額:<span>
                            <input type="text" v-model='d_money' placeholder="請輸入折扣金額" @keyup='regular'>
                        </label>
                    
                        <section>上下架:
                            <select name="status" id="" v-model='on_off'>
                                <option value="0">下架</option>
                                <option value="1">上架</option>
                            </select>
                        </section>
                    </li>

                    <li>
                        <label for="">主標題:</label>
                        <input type="text" v-model='d_main_title'>
                    </li>

                    <li>
                        <label for="">副標題:</label>
                        <input type="text" v-model='d_sec_title'>
                    </li>

                    <li>
                        <label for="">內文01:</label>
                        <textarea name="" id="" cols="73" rows="5" v-model='d_main_content'></textarea>
                    </li>
                    
                    <li>
                        <label for="">內文02:</label>
                        <textarea name="" id="" cols="73" rows="5" v-model='d_sec_content'></textarea>
                    </li>

                </ul>
            </div>

            <div class="n-discount_discount_bot">

                <div class="n-discount_group" v-for='(img_name, index) in img_names'>
                    <label :for='index'>{{img_name.name}}:</label>
                    <input type="file" :id="index" @change='upload_img'>
                    <p>{{new_img[index]}}</p>
                    <div class="n-discount_img">
                        <img :src='img_name.src'>
                        <p>請選擇圖片上傳</p>
                    </div>
                </div>

            </div>

            <div class="n-discount_editbtn">
                <button class="n-discount_close" @click='d_close'>關閉</button>
                <button class="n-discount_save" @click='d_save'>儲存</button>
            </div>
        </div>

        <div id="hide" v-if='current_edit !== null'></div>

        <discount-add v-if='new_edit' @dclose='closeddd' @dsave='saveddd'></discount-add>
        <double-check v-if='dbcheck' @save='sss' @cancel='ccc'></double-check>

    </div>

    <script src="../js/vue.js"></script>
    <script src="../js/n-discount.js"></script>
</body>
</html>