<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>後台 - 會員管理</title>
    <link rel="stylesheet" href="../css/n-member.css">
    <link rel="stylesheet" href="../css/n-pop.css">
    <link rel="icon" href="../images/backend/n_logo.png">
</head>
<body>
    <div id="app">
        <header class="n-member_header">
            <div class="n-member_logo">
                <img src="../images/backend/n_logo.png" alt="" srcset="">
                <p>小春堂後臺管理</p>
            </div>
               
            <div class="n-member_logout" @click='log_out'>
                <p>帳號登出</p>
                <img src="../images/backend/log-out.png" alt="" srcset="">
            </div>
        </header>

        <main class="n-member_main">
            <div class="n-member_left">
                <a v-for = 'btn in mainbtn' :href="btn.url">{{btn.name}}</a>
            </div>

            <div class="n-member_right">

                <form action="" method="get" id="">
                    <p>會員管理</p>
    
                    <section>
                        <input type="text" name="search" id="search" placeholder="以會員編號查詢" v-model='member_number'>    
                        <label for="search" :class="{'-active':member_number}">搜尋</label>
                    </section>
                </form>

                <div>
                    <ul class="n-member_title">
                        <li v-for = 'title in titles'>{{title}}</li>
                        <li></li>
                    </ul>

                    <ul v-for='(member,key) in members' class="n-member_member">                        
                        <li>{{member.編號}}</li>
                        <li>{{member.帳號}}</li>
                        <li>{{member.姓名}}</li>
                        <li>{{member.手機}}</li>
                        <li :class="{'-active2':members[key].帳號狀態 == '1'}">{{member_list[member.帳號狀態]}}</li>
                        <li>{{member.創建時間}}</li>        
                        <li @click='edit(key)'>編輯與查看</li>
                    </ul>
                </div>
            </div>
        </main>

        <footer class="n-member_footer">
            <ul>
                <li v-for='page in pages'>{{page.page}}</li>
            </ul>
        </footer>        

        <div class="n-member_edit" v-if='current_edit !== null'>
            <p>編輯與查看</p>

            <ul class="n-member_edit-member">                        
                <li>編號:{{members[current_edit].編號}}</li>
                <li>性別:{{members[current_edit].性別}}</li>
                <li>帳號:{{members[current_edit].帳號}}</li>
                <li>手機:{{members[current_edit].手機}}</li>
                <li>姓名:{{members[current_edit].姓名}}</li>
                <li>
                    帳號狀態:
                    <select name="status" id="" v-model='m_status'>
                        <option value="0">正常</option>
                        <option value="1">停權</option>
                    </select>
                </li>
                <li>地址:{{members[current_edit].地址}}</li>
                <li>創建時間:{{members[current_edit].創建時間}}</li> 
            </ul>

            <div class="n-member_editbtn">
                <button class="n-member_close" @click='f_close'>關閉</button>
                <button class="n-member_save" @click='f_save'>儲存</button>
            </div>
        </div>

        <div id="hide" v-if='current_edit !== null'></div>
        <double-check v-if='dbcheck' @save='sss' @cancel='ccc'></double-check>

    </div>

    <script src="../js/vue.js"></script>
    <script>
        Vue.component('double-check', {            
            template: 
                ` 
                <div class="dbc">
                    <section></section>
                    <p>尚未存檔，是否確認關閉</p>
                    <div>
                        <button type="button" @click='sure'>確認</button>
                        <button type="button" @click='cancel'>取消</button>
                    </div>
                </div>                
                `
            ,
            methods:{
                sure(){
                    this.$emit('save')
                },
                cancel(){
                    this.$emit('cancel')
                }
            },
        });

        new Vue({
            el: '#app',
            data:{
                dbcheck:false,

                member_number: '',
                m_status:0,
                member_list:['正常', '停權'],
                mainbtn: [  
                    {name:"會員管理", url: "./n-member.html"},
                    {name:"訂單管理", url: "./n-order.html"},
                    {name:"商品管理", url: "./n-product.html"},
                    {name:"客製化商品管理", url: "./n-customized.html"},
                    {name:"消息管理", url: "./n-news.html"},
                    {name:"折扣碼管理", url: "./n-discount.html"},
                    {name:"Q&A", url: "./n-faq.html"},
                ],
                titles: ['會員編號', '帳號', '姓名', '手機', '帳號狀態', '創建時間', '', ],
                members:[
                    {
                        '編號':'001',
                        '帳號':'Harukadou@gmail.com',
                        '姓名':'張昭',
                        '手機':'0910123456',
                        '帳號狀態':0,
                        '創建時間':'2021/01/01',
                        '地址':'台北市大安區大安路一段16巷2號',
                        '性別':'女',
                    },
                    {
                        '編號':'002',
                        '帳號':'Harukadouv2@gmail.com',
                        '姓名':'張昭2',
                        '手機':'0910123456',
                        '帳號狀態':1,
                        '創建時間':'2021/01/02',
                        '地址':'台北市大安區大安路一段16巷2號',
                        '性別':'女',
                    },
                    {
                        '編號':'003',
                        '帳號':'Harukadouv3@gmail.com',
                        '姓名':'張昭3',
                        '手機':'0910123456',
                        '帳號狀態':0,
                        '創建時間':'2021/01/03',
                        '地址':'台北市大安區大安路一段16巷2號',
                        '性別':'女',
                    }
                ],
                pages:[
                    {page:"<", url: "#"},
                    {page:"1", url: "#"},
                    {page:"2", url: "#"},
                    {page:"3", url: "#"},
                    {page:"4", url: "#"},
                    {page:"5", url: "#"},
                    {page:"...", url: "#"},
                    {page:"20", url: "#"},
                    {page:">", url: "#"},
                ],
                current_edit:null,
            },

            methods: {
                edit(index){                    
                    this.current_edit = index;    

                    this.m_status = this.members[index].帳號狀態;
                },                 


                f_close(){       
                    this.dbcheck=true;
                    let edit_z = document.querySelector('.n-member_edit');
                    edit_z.style.opacity = 0;
                },  

                sss(){
                    this.current_edit = null;
                    this.dbcheck=false;
                    let edit_z = document.querySelector('.n-member_edit');
                    edit_z.style.opacity = 1;

                },

                ccc(){
                    this.dbcheck=false;
                    let edit_z = document.querySelector('.n-member_edit');
                    edit_z.style.opacity = 1;
                },


                f_save(){     

                    let n_index = this.$data.current_edit;

                    this.members[n_index].帳號狀態 = this.m_status;

                    this.current_edit = null;

                },          
                log_out(){
                    location.href = "./n-login.html"
                }
                
            },
            
        })
    </script>
</body>
</html>