<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>後台 - 會員管理</title>
    <link rel="stylesheet" href="../css/n-member.css">
    <link rel="stylesheet" href="../css/n-pop.css">
    <link rel="icon" href="../images/backend/n_logo.png">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body>
    <div id="app">
        <header class="n-member_header">
            <div class="n-member_logo">
                <img src="../images/backend/n_logo.png" alt="" srcset="">
                <p>小春堂後臺管理</p>
            </div>
               
            <div class="n-member_logout" @click='log_out'>
                <p>帳號登出</p>
                <img src="../images/backend/log-out.png" alt="" srcset="">
            </div>
        </header>

        <main class="n-member_main">
            <div class="n-member_left">
                <a v-for = 'btn in mainbtn' :href="btn.url">{{btn.name}}</a>
            </div>

            <div class="n-member_right">

                <form action="" method="get" id="">
                    <p>會員管理</p>
    
                    <section>
                        <input type="text" name="search" id="search" placeholder="以會員編號查詢" v-model='member_number'>    
                        <label for="search" :class="{'-active':member_number}" @click='lookfor'>搜尋</label>
                    </section>
                </form>

                <div>
                    <ul class="n-member_title">
                        <li v-for = 'title in titles'>{{title}}</li>
                        <li></li>
                    </ul>

                    <ul v-for='(member,key) in members' class="n-member_member">                        
                        <li>{{member.member_id}}</li>
                        <li>{{member.account}}</li>
                        <li>{{member.name}}</li>
                        <li>{{member.phone}}</li>
                        <li :class="{'-active2':members[key].member_status == '0'}">{{member_list[member.member_status]}}</li>
                        <li>{{member.register_date}}</li>        
                        <li @click='edit(key)'>編輯與查看</li>
                    </ul>
                </div>
            </div>
        </main>

        <footer class="n-member_footer">
            <ul>
                <li v-for='page in pages' v-on:click='showMdata(page.link)' v-bind:class='{nowpagela:page.page == nowpage}'>{{page.page}}</li>
            </ul>
        </footer>

        <div class="n-member_edit" v-if='current_edit !== null'>
            <p>編輯與查看</p>

            <ul class="n-member_edit-member">                        
                <li>編號:{{members[current_edit].member_id}}</li>
                <li>性別:{{members[current_edit].gender}}</li>
                <li>帳號:{{members[current_edit].account}}</li>
                <li>手機:{{members[current_edit].phone}}</li>
                <li>姓名:{{members[current_edit].name}}</li>
                <li>
                    帳號狀態:
                    <select name="status" id="" v-model='m_status'>
                        <option value="0">停權</option>
                        <option value="1">正常</option>
                    </select>
                </li>
                <li>地址:{{members[current_edit].city + members[current_edit].area + members[current_edit].address}}</li>
                <li>創建時間:{{members[current_edit].register_date}}</li> 
            </ul>

            <div class="n-member_editbtn">
                <button class="n-member_close" @click='f_close'>關閉</button>
                <button class="n-member_save" @click='f_save'>儲存</button>
            </div>
        </div>

        <div id="hide" v-if='current_edit !== null'></div>
        <double-check v-if='dbcheck' @save='sss' @cancel='ccc'></double-check>

    </div>

    <script src="../js/vue.js"></script>
    <script src="../js/n-member.js"></script>
</body>
</html>