<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>後台 - 消息管理</title>
    <link rel="stylesheet" href="../css/n-news.css">
    <link rel="stylesheet" href="../css/n-pop.css">
    <link rel="icon" href="../images/backend/n_logo.png">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body>
    <div id="app">
        <header class="n-news_header">
            <div class="n-news_logo">
                <img src="../images/backend/n_logo.png" alt="" srcset="">
                <p>小春堂後臺管理</p>
            </div>
               
            <div class="n-news_logout" @click='log_out'>
                <p>帳號登出</p>
                <img src="../images/backend/log-out.png" alt="" srcset="">
            </div>
        </header>

        <main class="n-news_main">
            <div class="n-news_left">
                <a v-for = 'btn in mainbtn' :href="btn.url">{{btn.name}}</a>
            </div>

            <div class="n-news_right">

                <form action="" method="get" id="">
                    <p>消息管理</p>

                    <div class="n-news_newsbtn">
                        <button class="n-news_add" @click='new_add()' type="button">新增</button>
                    </div>
    
                    <section>
                        <input type="text" name="search" id="search" placeholder="以文章編號查詢" v-model='news_number'>    
                        <label for="search" :class="{'-active':news_number}">搜尋</label>
                    </section>
                </form>

                <div>
                    <ul class="n-news_title">
                        <li v-for = 'title in titles'>{{title}}</li>
                        <li></li>
                    </ul>

                    <ul v-for='(news,key) in newssd' class="n-news_news">                              
                        <li>{{news.news_id}}</li>
                        <li>{{news.create_date}}</li>
                        <li>{{n_sort_list[news.news_class]}}</li>
                        <li>{{news.news_title1}}</li>
                        <li :class="{'-active2':newss[key].news_status == '0'}">{{on_off_list[news.news_status]}}</li> 
                        <li>{{news.news_update}}</li>
                        <li @click='edit(key)'>編輯與查看</li>
                    </ul>                
                </div>
            </div>
        </main>

        <footer class="n-news_footer">
            <ul>
                <li v-for='page in pages' v-on:click='showNdata(page.link)' v-bind:class='{nowpagela:page.page == nowpage}'>{{page.page}}</li>
            </ul>
        </footer>

        <div class="n-news_edit" v-if='current_edit !== null'>
        <!-- <div class="n-news_edit" v-if='true'> -->

            <p>編輯與查看</p>
            
            <div class="n-news_news_mid">
                <ul>                    
                    <li>
                        <section>文章分類:
                            <select name="status" id="" v-model='n_sort'>
                                <option value="0">新品上市</option>
                                <option value="1">活動消息</option>
                                <option value="2">媒體報導</option>
                                <option value="3">店鋪新資訊</option>
                            </select>
                        </section>
                    
                        <section>上下架:
                            <select name="status" id="" v-model='on_off'>
                                <option value="0">下架</option>
                                <option value="1">上架</option>
                            </select>
                        </section>
                    </li>

                    <li>
                        <label for="">主標題:</label>
                        <input type="text" v-model='n_main_title'>
                    </li>

                    <li>
                        <label for="">副標題:</label>
                        <input type="text" v-model='n_sec_title'>
                    </li>

                    <li>
                        <label for="">內文01:</label>
                        <textarea name="" id="" cols="73" rows="5" v-model='n_main_content'></textarea>
                    </li>
                    
                    <li>
                        <label for="">內文02:</label>
                        <textarea name="" id="" cols="73" rows="5" v-model='n_sec_content'></textarea>
                    </li>

                </ul>
            </div>

            <div class="n-news_news_bot">

                <div class="n-news_group" v-for='(img_name, index) in img_names'>
                    <label :for='index'>{{img_name.name}}:</label>
                    <input type="file" :id="index" @change='upload_img'>
                    <p>{{new_img[index]}}</p>
                    <div class="n-news_img">
                        <img :src='img_name.src'>
                        <!-- <p>請選擇圖片上傳</p> -->
                    </div>
                </div> 

            </div>

            <div class="n-news_editbtn">
                <button class="n-news_close" @click='n_close'>關閉</button>
                <button class="n-news_save" @click='n_save'>儲存</button>
            </div>
        </div>

        <div id="hide" v-if='current_edit !== null'></div>

        <news-add v-if='new_edit' @nclose='closennn' @nsave='savennn'></news-add>
        <double-check v-if='dbcheck' @save='sss' @cancel='ccc'></double-check>

    </div>

    <script src="../js/vue.js"></script>
    <script src="../js/n-news.js"></script>
</body>
</html>