<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>後台 - 訂單管理</title>
    <link rel="stylesheet" href="../css/n-order.css">
    <link rel="stylesheet" href="../css/n-pop.css">
    <link rel="icon" href="../images/backend/n_logo.png">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body>
    <div id="app">
        <header class="n-order_header">
            <div class="n-order_logo">
                <img src="../images/backend/n_logo.png" alt="" srcset="">
                <p>小春堂後臺管理</p>
            </div>
               
            <div class="n-order_logout" @click='log_out'>
                <p>帳號登出</p>
                <img src="../images/backend/log-out.png" alt="" srcset="">
            </div>
        </header>

        <main class="n-order_main">
            <div class="n-order_left">
                <a v-for = 'btn in mainbtn' :href="btn.url">{{btn.name}}</a>
            </div>

            <div class="n-order_right">

                <form action="" method="get" id="">
                    <p>訂單管理</p>
    
                    <section>
                        <input type="text" name="search" id="search" placeholder="以會員編號查詢" v-model='order_number'>    
                        <label for="search" :class="{'-active':order_number}">搜尋</label>
                    </section>
                </form>

                <div>
                    <ul class="n-order_title">
                        <li v-for = 'title in titles'>{{title}}</li>
                        <li></li>
                    </ul>

                    <ul v-for='(order,key) in ordersd' class="n-order_order">                        
                        <li>{{order.order_id}}</li>
                        <li>{{order.order_list}}</li>
                        <li>{{order.account}}</li>
                        <li>{{pay_list[order.payment_status]}}</li>
                        <li>{{form_list[order.order_status]}}</li>
                        <li>{{ship_list[order.shipping_status]}}</li>
                        <li>{{order.order_date}}</li>      
                        <li @click='edit(key)'>編輯與查看</li>
                    </ul>
                </div>
            </div>
        </main>

        <footer class="n-order_footer">
            <ul>
                <li v-for='page in pages' v-on:click='showOdata(page.link)' v-bind:class='{nowpagela:page.page == nowpage}'>{{page.page}}</li>
            </ul>
        </footer>

        

        <div class="n-order_edit" v-if='current_edit !== null'>

            <p>編輯與查看</p>
           
            <div class="n-order_order_search">
                <label for="">訂單編號:</label>
                <input type="text" v-model='select_number'>
            </div>

            <ul class="n-order_total_status">
                <li>
                    付款狀態:
                    <select name="pay_status" id="" v-model='o_pay'>
                        <option value="0">未付款</option>
                        <option value="1">已付款</option>
                        <option value="2">付款失敗</option>
                        <option value="3">退款中</option>
                        <option value="4">已退款</option>
                    </select>
                </li>

                <li>
                    訂單狀態:
                    <select name="order_status" id="" v-model='o_form'>
                        <option value="0">處理中</option>
                        <option value="1">已確認</option>
                        <option value="2">已完成</option>
                        <option value="3">已取消</option>
                    </select>
                </li>

                <li>
                    運送狀態:
                    <select name="status_status" id="" v-model='o_ship'>
                        <option value="0">待出貨</option>
                        <option value="1">已出貨</option>
                        <option value="2">已送達</option>
                        <option value="3">已取貨</option>
                        <option value="4">已退貨</option>
                    </select>
                </li>
            </ul>

            <ul class="n-order_order_information">
                <li>會員帳號: {{orders[current_edit].account}}</li>
                <li>收件人姓名: {{orders[current_edit].receiver_name}}</li>
                <li>收件人手機: {{orders[current_edit].receiver_phone}}</li>
                <li>收件人地址: {{orders[current_edit].shipping_address}}</li>
                <li>運送方式: {{orders[current_edit].shipping_type}}</li>
                <li>付款方式: {{orders[current_edit].payment}}</li>                
                <li>門市名稱: {{orders[current_edit].store}}</li>              
            </ul>

            <div class="n-order_order_detail">
                <p>訂單商品明細</p>
                <ul class="n-order_detail_title">
                    <li v-for='title in order_title'>{{title}}</li>
                </ul>

                <section>
                    <ul v-for='lists in order_list[current_edit]' class="n-order_detail_content">
                        <li v-for='list in lists'>{{list}}</li>
                    </ul>
                </section>

                <ul class="n-order_order_checkout">
                    <li>商品金額&emsp;&nbsp;:&ensp;${{total_cost}}元</li>
                    <li>折扣碼&emsp;&emsp;&nbsp;:&ensp;{{orders[current_edit].discount_name}}</li>
                    <li>運費&emsp;&emsp;&emsp;&nbsp;:&ensp;${{orders[current_edit].shipping_fee}}元&nbsp;&nbsp;</li>
                    <li>訂單總金額&nbsp;:&ensp;${{order_cost}}元</li>
                </ul>
            </div>

            <div class="n-order_editbtn">
                <button class="n-order_close" @click='f_close'>關閉</button>
                <button class="n-order_save" @click='f_save'>儲存</button>
            </div>
        </div>

        <div id="hide" v-if='current_edit !== null'></div>
        <double-check v-if='dbcheck' @save='sss' @cancel='ccc'></double-check>

    </div>

    <script src="../js/vue.js"></script>
    <script src="../js/n-order.js"></script>
</body>
</html>