<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product</title>
    <link rel="stylesheet" href="../css/n-product.css">
    <link rel="stylesheet" href="../css/n-pop.css">
    <link rel="icon" href="../images/backend/n_logo.png">
</head>
<body>
    <div id="app">
        <header class="n-product_header">
            <div class="n-product_logo">
                <img src="../images/backend/n_logo.png" alt="" srcset="">
                <p>小春堂後臺管理</p>
            </div>
               
            <div class="n-product_logout" @click='log_out'>
                <p>帳號登出</p>
                <img src="../images/backend/log-out.png" alt="" srcset="">
            </div>
        </header>

        <main class="n-product_main">
            <div class="n-product_left">
                <a v-for = 'btn in mainbtn' :href="btn.url">{{btn.name}}</a>
            </div>

            <div class="n-product_right">

                <form action="" method="get" id="">
                    <p>商品管理</p>

                    <div class="n-product_productbtn">
                        <button class="n-product_add" @click='new_add()' type="button">新增</button>
                    </div>
    
                    <section>
                        <input type="text" name="search" id="search" placeholder="以商品編號查詢" v-model='product_number'>    
                        <label for="search" :class="{'-active':product_number}">搜尋</label>
                    </section>
                </form>

                <div>
                    <ul class="n-product_title">
                        <li v-for = 'title in titles'>{{title}}</li>
                        <li></li>
                    </ul>

                    <ul v-for='(product,key) in products' class="n-product_product">                            
                        <li>{{product.商品編號}}</li>
                        <li>{{p_sort_list[product.商品類別]}}</li>
                        <li>{{product.名稱}}</li>
                        <li>{{product.原價}}</li>
                        <li>{{product.售價}}</li>
                        <li>{{product.庫存數量}}</li>
                        <li :class="{'-active2':products[key].客製化禮盒 == '1'}">{{p_customized_list[product.客製化禮盒]}}</li>
                        <li :class="{'-active2':products[key].上下架 == '1'}">{{on_off_list[product.上下架]}}</li>      
                        <li @click='edit(key)'>編輯與查看</li>
                    </ul>                
                </div>
            </div>
        </main>

        <footer class="n-product_footer">
            <ul>
                <li v-for='page in pages'>{{page.page}}</li>
            </ul>
        </footer>       

        <div class="n-product_edit" v-if='current_edit !== null'>
        <!-- <div class="edit" v-if='true'> -->

            <p>編輯與查看</p>
            
            <div class="n-product_edit_left">
                <ul>
                    <li>
                        <label for="">商品編號:</label>
                        <input type="text" v-model='p_number'>
                    </li>
                    <li>
                        商品類別:
                        <select name="status" id="" v-model='p_sort'>
                            <option value="0">大福</option>
                            <option value="1">小福</option>
                        </select>
                    </li>
                    <li>
                        <label for="">商品名稱:</label>
                        <input type="text" v-model='p_name'>
                    </li>
                    <li>
                        <label for="">&emsp;&emsp;原價:</label>
                        <input type="text" v-model='p_original' @keyup='regular'>
                    </li>
                    <li>
                        <label for="">&emsp;&emsp;售價:</label>
                        <input type="text" v-model='p_sell' @keyup='regular'>
                    </li>
                    <li>
                        <label for="">庫存數量:</label>
                        <input type="text" v-model='p_stock' @keyup='regular'>
                    </li>
                    <li>
                        商品狀態:
                        <select name="status" id="" v-model='p_status'>
                            <option value="0">新品上市</option>
                            <option value="1">舊品出清</option>
                        </select>
                        <select name="status" id="" v-model='p_limit'>
                            <option value="0">期間限定商品</option>
                            <option value="1">常駐商品</option>
                        </select>
                    </li>
                    <li>
                        &emsp;上下架:
                        <select name="status" id="" v-model='on_off'>
                            <option value="0">上架</option>
                            <option value="1">下架</option>
                        </select>
                    </li>
                    <li>
                        保存期限:
                        <select name="status" id="" v-model='p_exp'>
                            <option value="0">14日</option>
                            <option value="1">30日</option>
                        </select>
                    </li>
                    <li>
                        客製化禮盒:
                        <select name="status" id="" v-model='p_customized'>
                            <option value="0">是</option>
                            <option value="1">否</option>
                        </select>
                    </li>
                    <li>
                        <label for="">&emsp;&emsp;成分:</label>
                        <textarea name="" id="" cols="30" rows="5" v-model='p_ingredient'></textarea>
                    </li>
                    <li>
                        <label for="">說明文字:</label>
                        <textarea name="" id="" cols="30" rows="5" v-model='p_descript'></textarea>
                    </li>
                </ul>
            </div>

            <div class="n-product_edit_right">

                <div class="n-product_group" v-for='(img_name, index) in img_names'>
                    <label :for='index'>{{img_name}}:</label>
                    <input type="file" :id="index" @change='upload_img'>
                    <p>請選擇圖片上傳</p>
                    <div class="n-product_img">
                        <img src=''>
                        <p>請選擇圖片上傳</p>
                    </div>
                </div>

            </div>

            <div class="n-product_editbtn">
                <button class="n-product_close" @click='p_close'>關閉</button>
                <button class="n-product_save" @click='p_save'>儲存</button>
            </div>
        </div>

        <div id="hide" v-if='current_edit !== null'></div>

        <product-add v-if='new_edit' @pclose='closeppp' @psave='saveppp'></product-add>
        <double-check v-if='dbcheck' @save='sss' @cancel='ccc'></double-check>


    </div>

    <script src="../js/vue.js"></script>
    <script>
        Vue.component('double-check', {            
            template: 
                ` 
                <div class="dbc">
                    <section></section>
                    <p>尚未存檔，是否確認關閉</p>
                    <div>
                        <button type="button" @click='sure'>確認</button>
                        <button type="button" @click='cancel'>取消</button>
                    </div>
                </div>                
                `
            ,
            methods:{
                sure(){
                    this.$emit('save')
                },
                cancel(){
                    this.$emit('cancel')
                }
            },
        });

        Vue.component('product-add', {
            data(){
                return{  //組件的變數寫在這裡
                    p_number:'', 
                    p_sort:0, 
                    p_name:'', 
                    p_original:0, 
                    p_sell:0, 
                    p_stock:0, 
                    p_status:0, 
                    p_limit:0, 
                    on_off:0, 
                    p_exp:0, 
                    p_customized:0, 
                    p_ingredient:'', 
                    p_descript:'',
                    img_names:[ '圖片01', '圖片02', '圖片03', '俯視圖', '客製化用圖'],
                };
            },
        
            template: `
                <div>
                    <div class="n-product_edit">

                        <p>新增商品</p>
                        
                        <div class="n-product_edit_left">
                            <ul>
                                <li>
                                    <label for="">商品編號:</label>
                                    <input type="text" v-model='p_number'>
                                </li>
                                <li>
                                    商品類別:
                                    <select name="status" id="" v-model='p_sort'>
                                        <option value="0">大福</option>
                                        <option value="1">小福</option>
                                    </select>
                                </li>
                                <li>
                                    <label for="">商品名稱:</label>
                                    <input type="text" v-model='p_name'>
                                </li>
                                <li>
                                    <label for="">&emsp;&emsp;原價:</label>
                                    <input type="text" v-model='p_original'>
                                </li>
                                <li>
                                    <label for="">&emsp;&emsp;售價:</label>
                                    <input type="text" v-model='p_sell'>
                                </li>
                                <li>
                                    <label for="">庫存數量:</label>
                                    <input type="text" v-model='p_stock'>
                                </li>
                                <li>
                                    商品狀態:
                                    <select name="status" id="" v-model='p_status'>
                                        <option value="0">新品上市</option>
                                        <option value="1">舊品出清</option>
                                    </select>
                                    <select name="status" id="" v-model='p_limit'>
                                        <option value="0">期間限定商品</option>
                                        <option value="1">常駐商品</option>
                                    </select>
                                </li>
                                <li>
                                    &emsp;上下架:
                                    <select name="status" id="" v-model='on_off'>
                                        <option value="0">上架</option>
                                        <option value="1">下架</option>
                                    </select>
                                </li>
                                <li>
                                    保存期限:
                                    <select name="status" id="" v-model='p_exp'>
                                        <option value="0">14日</option>
                                        <option value="1">30日</option>
                                    </select>
                                </li>
                                <li>
                                    客製化禮盒:
                                    <select name="status" id="" v-model='p_customized'>
                                        <option value="0">是</option>
                                        <option value="1">否</option>
                                    </select>
                                </li>
                                <li>
                                    <label for="">&emsp;&emsp;成分:</label>
                                    <textarea name="" id="" cols="30" rows="5" v-model='p_ingredient'></textarea>
                                </li>
                                <li>
                                    <label for="">說明文字:</label>
                                    <textarea name="" id="" cols="30" rows="5" v-model='p_descript'></textarea>
                                </li>
                            </ul>
                        </div>

                        <div class="n-product_edit_right">

                            <div class="n-product_group" v-for='(img_name, index) in img_names'>
                                <label :for='index'>{{img_name}}:</label>
                                <input type="file" :id="index" @change='upload_img'>
                                <p>請選擇圖片上傳</p>
                                <div class="n-product_img">
                                    <img src=''>
                                    <p>請選擇圖片上傳</p>
                                </div>
                            </div>

                        </div>

                        <div class="n-product_editbtn">
                            <button class="n-product_close" @click='p_close'>關閉</button>
                            <button class="n-product_save" @click='p_save'>儲存</button>
                        </div>
                    </div>

                    <div id="hide"></div>
                </div>

            `,
            methods:{
                p_close(){ 
                    this.$emit('pclose');
                },  
                p_save(){   

                    this.$emit('psave', this.p_number, this.p_sort, this.p_name, this.p_original, this.p_sell, this.p_stock, this.p_status, this.p_limit, this.on_off, this.p_exp, this.p_customized, this.p_ingredient, this.p_descript);

                },

                upload_img(e){

                    var files = e.target.files || e.dataTransfer.files;
                    let file = files[0];

                    e.target.nextElementSibling.innerText = file.name;

                    let readFile = new FileReader();
                    readFile.readAsDataURL(file);
                    readFile.addEventListener("load", function () {

                        e.target.nextElementSibling.nextElementSibling.querySelector('img').src = readFile.result; 

                        e.target.nextElementSibling.nextElementSibling.querySelector('p').style.opacity=0;

                    });
                },
            }  
        });
        
        
        new Vue({
            el: '#app',
            data:{
                dbcheck:false,
                new_edit:false,
                img_names:[ '圖片01', '圖片02', '圖片03', '俯視圖', '客製化用圖'],

                p_number:'',
                p_name:'',
                p_original:null,
                p_sell:null,
                p_stock:null,
                product_number: '',
                auth_text:['正常','停權'],
                choiced:0,
                p_status:0,
                p_limit:0,
                on_off:0,
                p_exp:0,
                p_customized:0,
                p_customized_list:['是', '否'],
                on_off_list:['上架', '下架'],
                p_sort:0,
                p_sort_list:['大福', '小福'],
                p_ingredient:'',
                p_descript:'',

                group1_name:'請選擇圖片上傳',
                group2_name:'請選擇圖片上傳',
                group3_name:'請選擇圖片上傳',
                group4_name:'請選擇圖片上傳',
                group5_name:'請選擇圖片上傳',


                mainbtn: [  
                    {name:"會員管理", url: "./n-member.html"},
                    {name:"訂單管理", url: "./n-order.html"},
                    {name:"商品管理", url: "./n-product.html"},
                    {name:"客製化商品管理", url: "./n-customized.html"},
                    {name:"消息管理", url: "./n-news.html"},
                    {name:"折扣碼管理", url: "./n-discount.html"},
                    {name:"Q&A", url: "./n-faq.html"},
                ],
                titles: ['商品編號', '商品類別', '名稱', '原價', '售價', '庫存數量', '客製化禮盒', '上下架', ''],
                products:[
                    {
                        '商品編號':'1234567890',
                        '商品類別':0,
                        '名稱':'草莓大福',
                        '原價':111,
                        '售價':222,
                        '庫存數量':333,
                        '客製化禮盒':0,
                        '上下架':1,
                        '保存期限':0,
                        '商品狀態上市':0,
                        '商品狀態商品':0,
                        '成分':'1成分成分成分',
                        '說明':'1說明說明說明',
                    },
                    {
                        '商品編號':'1234567890',
                        '商品類別':1,
                        '名稱':'草莓大福',
                        '原價':111,
                        '售價':222,
                        '庫存數量':333,
                        '客製化禮盒':1,
                        '上下架':0,
                        '保存期限':0,
                        '商品狀態上市':0,
                        '商品狀態商品':0,
                        '成分':'2成分成分成分',
                        '說明':'2說明說明說明',
                    },
                    {
                        '商品編號':'1234567890',
                        '商品類別':0,
                        '名稱':'草莓大福',
                        '原價':111,
                        '售價':222,
                        '庫存數量':333,
                        '客製化禮盒':0,
                        '上下架':1,
                        '保存期限':0,
                        '商品狀態上市':0,
                        '商品狀態商品':0,
                        '成分':'3成分成分成分',
                        '說明':'3說明說明說明',
                    }
                ],
                pages:[
                    {page:"<", url: "#"},
                    {page:"1", url: "#"},
                    {page:"2", url: "#"},
                    {page:"3", url: "#"},
                    {page:"4", url: "#"},
                    {page:"5", url: "#"},
                    {page:"...", url: "#"},
                    {page:"20", url: "#"},
                    {page:">", url: "#"},
                ],
                current_edit:null,
            },

            methods: {
                edit(index){                    
                    this.current_edit = index;     

                    this.p_number = this.products[index].商品編號;
                    this.p_name = this.products[index].名稱;
                    this.p_original = this.products[index].原價;
                    this.p_sell = this.products[index].售價;
                    this.p_stock = this.products[index].庫存數量;                    

                    this.p_status = this.products[index].商品狀態上市;
                    this.p_limit = this.products[index].商品狀態商品;
                    this.on_off = this.products[index].上下架;
                    this.p_exp = this.products[index].保存期限;
                    this.p_customized = this.products[index].客製化禮盒;
                    this.p_sort = this.products[index].商品類別;

                    this.p_ingredient = this.products[index].成分;
                    this.p_descript = this.products[index].說明;


                },
                p_close(){       
                    this.dbcheck=true;
                    let edit_z = document.querySelector('.n-product_edit');
                    edit_z.style.opacity = 0;
                },  

                sss(){
                    this.current_edit = null;
                    this.dbcheck=false;
                    let edit_z = document.querySelector('.n-product_edit');
                    edit_z.style.opacity = 1;

                    this.new_edit = false;
                },

                ccc(){
                    this.dbcheck=false;
                    let edit_z = document.querySelector('.n-product_edit');
                    edit_z.style.opacity = 1;
                }, 
                p_save(){     

                    let n_index = this.$data.current_edit;

                    this.products[n_index].上下架 = this.on_off;
                    this.products[n_index].客製化禮盒 = this.p_customized;

                    this.products[n_index].名稱 = this.p_name;                    
                    this.products[n_index].原價 = this.p_original;
                    this.products[n_index].售價 = this.p_sell;
                    this.products[n_index].庫存數量 = this.p_stock;

                    this.products[n_index].商品類別 = this.p_sort;
                    this.products[n_index].商品編號 = this.p_number;

                    this.current_edit = null;
                },  
                upload_img(e){

                    var files = e.target.files || e.dataTransfer.files;
                    let file = files[0];

                    e.target.nextElementSibling.innerText = file.name;

                    let readFile = new FileReader();
                    readFile.readAsDataURL(file);
                    readFile.addEventListener("load", function () {

                        e.target.nextElementSibling.nextElementSibling.querySelector('img').src = readFile.result; 

                        e.target.nextElementSibling.nextElementSibling.querySelector('p').style.opacity=0;
                    
                    });
                },

                new_add(){
                    this.new_edit = true;
                    // this.current_edit = "notnull";
                },
                closeppp(){
                    // this.new_edit = false;

                    this.dbcheck=true;
                    let edit_z = document.querySelector('.n-product_edit');
                    edit_z.style.opacity = 0;
                },
                saveppp(p_number, p_sort, p_name, p_original, p_sell, p_stock, p_status, p_limit, on_off, p_exp, p_customized, p_ingredient, p_descript){
                    
                    this.new_edit = false;    

                    let ppp = 
                    {                              
                        '商品編號':p_number,
                        '商品類別':parseInt(p_sort),
                        '名稱':p_name,
                        '原價':parseInt(p_original),
                        '售價':parseInt(p_sell),
                        '庫存數量':parseInt(p_stock),
                        '客製化禮盒':parseInt(p_customized),
                        '上下架':parseInt(on_off),
                        '保存期限':parseInt(p_exp),
                        '商品狀態上市':parseInt(p_status),
                        '商品狀態商品':parseInt(p_limit),
                        '成分':p_ingredient,
                        '說明':p_descript,
                    }

                    console.log(ppp);

                    this.products.unshift(ppp);

                },
                log_out(){
                    location.href = "./n-login.html"
                },
                regular(e){

                    let str = (e.target.value).replace(/\D/g, "");
                    e.target.value = str;

                }


                
                
            },
            
        })
    </script>
</body>
</html>