<!DOCTYPE html>
<html lang="zh-tw">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../css/orderConfirmation.css" rel="stylesheet">
  <link rel="icon" href="../images/index/logo_footer.png">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.js"></script>
  <title>付款確認 - 小春堂</title>
  <script src="https://kit.fontawesome.com/8c3a8ab95b.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.js"></script>
  <script src="../js/orderConfirmation_vue.js"></script>
  <!-- <script src="../js/hamburger.js"></script> -->
  <!-- <script src="../js/navbar.js"></script> -->  
  <!-- <script src="../js/cart_vue.js"></script> -->
</head>

<body>
  <!-- ========== header ========== -->
  <div id="cart_app">

    <div class="navbar">
      <div class="navbar-logo">
        <a href="./homepage.html"><img src="../images/index/logo.png" alt=""></a>
      </div>
      <div class="navbar-icon">
      
      </div>
      
    </div>

    
  </div>

  <!-- ========== main ========== -->
  <div id="OC_app">
    <div class="OC_container">

      <!-- ========== 訂單處理階段 ========== -->
      <div class="OC_stage">

        <div class="OC_step OC_orderData">
          <div>
            <div class="OC_check">
              <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas"
                data-icon="check" class="svg-inline--fa fa-check fa-w-16" role="img" viewBox="0 0 512 512">
                <path fill="#ffffff"
                  d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z" />
              </svg>
            </div>
            <div class="OC_line1"></div>
          </div>
          <p>訂單資料</p>
        </div>

        <div class="OC_step OC_payment">
          <div>
            <div class="OC_check">
              <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas"
                data-icon="check" class="svg-inline--fa fa-check fa-w-16" role="img" viewBox="0 0 512 512">
                <path fill="#ffffff"
                  d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z" />
              </svg>
            </div>
            <div class="OC_line2"></div>
          </div>
          <p>付款資訊</p>
        </div>

        <div class="OC_step OC_confirm">
          <div>3</div>
          <p>訂單確認</p>
        </div>

      </div>

      <!-- ========== 訂單資訊 ========== -->
      <div class="OC_orderContent">

        <!-- 左邊 -->
        <div class="OC_left">
          <div class="OC_title">訂單資訊</div>

          <!-- 填寫訂單資料區塊 -->
          <div class="OC_orderInformation">

            <div class="OC_purchaser">訂購人資訊</div>

            <!-- 資料填寫 -->
            <form action="#" method="post">

              <!-- 姓名 -->
              <div class="OC_data">
                <div>姓名：</div>
                <input type="text" class='OC_deliverName' name="ordererName" v-model="orderer_data.orderer_name" disabled>
              </div>

              <!-- 手機號碼 -->
              <div class="OC_data">
                <div>手機：</div>
                <input type="text" class='OC_deliverPhone' name="ordererPhone" v-model="orderer_data.orderer_phone" disabled>
              </div>

              <!-- 地址 -->
              <div class="OC_data">
                <div>地址：</div>
                <input type="text" class='OC_deliverAddress' name="ordererAddress" v-model="orderer_data.orderer_address" disabled>
              </div>

              <!-- 運送方式 -->
              <div class="OC_transport">
                <div>運送方式：</div>
                <div>{{orderer_data.delivery_type}}</div>
              </div>

              <!-- 選宅配才顯示 -->
              <div class="OC_recipient">
                <div class="OC_recipientTitle">收件人資訊</div>

                <div class="OC_receiverData">
                  <div>姓名：</div>
                  <input type="text" class='OC_receiverName' v-model="delivery_data.delivery_name" name="receiverName" disabled>
                </div>
                <div class="OC_receiverData">
                  <div>手機：</div>
                  <input type="text" class='OC_receiverPhone' v-model="delivery_data.delivery_phone" name="receiverPhone" disabled>
                </div>
                <div class="OC_receiverData">
                  <div>地址：</div>
                  <input type="text" class='OC_receiverAddress' v-model="delivery_data.delivery_address" name="receiverAddress" disabled>
                </div>              
              </div>

              <!-- 付款方式 -->
              <div class="OC_payMoney">
                <div>付款方式：</div>
                <div>{{orderer_data.payment_type}}</div>
              </div>

              <!-- 選信用卡才顯示 -->
              <!-- <div class="OC_credit"> -->

                <!-- 卡號 -->
                <!-- <div class="OC_cardNumber OC_cardNumber1">
                  <div class="OC_00 OC_001">信用卡卡號：</div>
                  <div>
                    <input type="text"  v-model="card_data.cardNumber1" disabled>-
                    <input type="text"  v-model="card_data.cardNumber2" disabled>-
                    <input type="text"  v-model="card_data.cardNumber3" disabled>-
                    <input type="text"  v-model="card_data.cardNumber4" disabled>
                  </div>
                </div> -->

                <!-- 有效期限 -->
                <!-- <div class="OC_cardDate">
                  <div class="OC_01">卡片有效期限：</div>
                  <div>{{card_data.cardYear}} / {{card_data.cardMonth}}</div>
                </div> -->

                <!-- 認證碼 -->
                <!-- <div class="OC_cardNumber">
                  <div class="OC_00">卡片認證碼：</div>
                  <input type="text" v-model="card_data.cardCertification" disabled>
                </div>

              </div> -->

            </form>


          </div>

        </div>

        <!-- 右邊 -->
        <div class="OC_right">

          <!-- 金額細項 -->
          <div class="OC_cartTitle">購物車明細</div>

          <!-- 明細清單 -->
          <ul class="OC_detail">

            <!-- 一般商品 -->
            <li class="OC_item" v-for="(item, index) in itemList" id="item.id">
              <div class="OC_itemImg"><img :src="item.img"></div>

              <div class="OC_itemData">
                <p>{{item.itemName}}</p>
                <p>${{item.price}}元</p>
              </div>

              <div class="OC_itemQuantity">x {{item.quantity}}</div>
            </li>

            <!-- 禮盒 -->
            <li class="OC_item" v-for="(item, index) in customization" id="item.id">
              <div class="OC_itemImg"><img :src="item.img"></div>

              <div class="OC_itemData">
                <p>{{item.itemName}}</p>
                <p>${{item.price}}元</p>
              </div>

              <div class="OC_itemQuantity">x {{item.quantity}}</div>
            </li>


          </ul>

          <!-- 金額明細 -->
          <div class="OC_moneyDetail">
            <div>商品金額</div>
            <div>${{itemPrice}}元</div>
          </div>

          <div class="OC_moneyDetail">
            <div>運費</div>
            <div>${{shipping}}元</div>
          </div>

          <div class="OC_discount">
            <div>折扣碼</div>
            <div>-${{discount}}元</div>
          </div>

          <!-- 商品總金額 -->
          <div class="OC_totalPrice">
            <div>總金額</div>
            <div>${{total_price}}元</div>
          </div>

        </div>
      </div>
      <!-- 綠界表單 -->
      <!-- <form id="idFormAioCheckOut" method="post" action="../php/Ecpay_CreateOrder.php" style="display:none"> -->
        <form id="idFormAioCheckOut" method="post" action="" style="display:none">
          <label>動作 (Action):<input type="text" name="ServiceURL" value="https://payment-stage.ecpay.com.tw/Cashier/AioCheckOut/V5" class="form-control"/></label>
          <label>編號 (MerchantTradeNo):
              <input type="text" name="orderlist" value="" class="form-control" id='MerchantTradeNo'/>
              不可重複使用。英數字大小寫混合
          </label>
          <label class="col-xs-12">時間 (MerchantTradeDate):
              <input type="text" name="MerchantTradeDate" value="2017/06/30 00:00:00" class="form-control"/>
              yyyy/MM/dd HH:mm:ss
          </label>
          <label class="col-xs-12">類型 (PaymentType):
              <input type="text" name="PaymentType" value="aio" class="form-control"/>
              aio
          </label>
          <label class="col-xs-12">金額 (TotalAmount):
              <input type="text" name="total" :value="total_price" class="form-control"/>
              請帶整數，不可有小數點 僅限新台幣 金額不可為 0 元 CVS&BARCODE 最低限制為 30 元，最高限制為 30,000 元
          </label>
          <label class="col-xs-12">描述 (TradeDesc):
              <input type="text" name="TradeDesc" value="Desc" class="form-control"/>
          </label>
          <label class="col-xs-12">名稱 (ItemName):
              <input type="text"                          name="item_Name[]" value="" class="form-control"/>  
              <input type="text"                          name="item_Price[]" value="" class="form-control"/>
              <input type="text"                          name="item_Qty[]" value="" class="form-control"/>
              <input type="text" v-for='item in itemList' name="item_Name[]" :value="item.itemName" class="form-control"/>
              <input type="text" v-for='item in itemList' name="item_Price[]" :value="item.price" class="form-control"/>
              <input type="text" v-for='item in itemList' name="item_Qty[]" :value="item.quantity" class="form-control"/>
              <input type="text"                          name="cus_Name[]"  value="" class="form-control"/>
              <input type="text"                          name="cus_Price[]"  value="" class="form-control"/>
              <input type="text"                          name="cus_Qty[]"  value="" class="form-control"/>
              <input type="text" v-for='item in customization' name="cus_Name[]" :value="item.itemName" class="form-control"/>
              <input type="text" v-for='item in customization' name="cus_Price[]" :value="item.price" class="form-control"/>
              <input type="text" v-for='item in customization' name="cus_Qty[]" :value="item.quantity" class="form-control"/>
              商品名稱以符號 # 分
          </label>
          <label class="col-xs-12">回傳網址 (ReturnURL):
              <input type="text" name="ReturnURL" value="http://localhost/tfd102_g3/page/finish.html" class="form-control"/>
          </label>
          <label class="col-xs-12">付款方式 (ChoosePayment):
              <input type="text" name="ChoosePayment" value="Credit"/>
              Credit:信用卡及 AndroidPay AndroidPay: AndroidPay  WebATM:網路 ATM ATM:自動櫃員機 CVS:超商代碼 BARCODE:超商條碼 ALL:不指定
          </label>
      
          <input type="hidden" name="MerchantID" value="2000132" />
          <input type="hidden" name="HashKey" value="5294y06JbISpM5x9" />
          <input type="hidden" name="HashIV" value="v77hoKGq4kWxNNIS" />
      
          <button type="submit" class="btn btn-default" id='btn-default' style='display: none'>綠界線上支付</button>
      </form>
      <!--  -->


      <!-- 服務條款、退換貨規則 -->
      <div class="OC_terms">
        <div class="OC_itemCB" :class="{'OC_choose': terms}" @click="choose">
          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas"
            data-icon="check" class="svg-inline--fa fa-check fa-w-16" role="img" viewBox="0 0 512 512">
            <path fill="#ffffff"
              d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z" />
          </svg>
        </div>
        <p>我同意本網站的<a href="#">服務條款</a>與<a href="#">退換貨規則</a></p>
      </div>


      <!-- ========== 上、下一步 ========== -->
      <div class="OC_page">

        <!-- 上一頁 -->
        <a href="./payment.html" class="OC_previous">
          <div class="OC_previousImg">
            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas"
              data-icon="chevron-left" class="svg-inline--fa fa-chevron-left fa-w-10" role="img" viewBox="0 0 320 512">
              <path fill="#a3a3a3"
                d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z" />
            </svg>
          </div>
          <div class="OC_previousText">上一頁</div>
        </a>

        <!-- 下一頁 -->
        <a href="#" class="OC_next" @click="checkOK">
          <div class="OC_nextText">下一頁</div>
          <div class="OC_nextImg">
            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas"
              data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img"
              viewBox="0 0 320 512">
              <path fill="#ffffff"
                d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z" />
            </svg>
          </div>
        </a>
        <input type="button" value='提交' onclick="checkOut()" style='display:none'>
        <!-- <input type="button" value='提交' onclick="checkOut()"> -->

      </div>




    </div>
  </div>


  <!-- =======================footer======================= -->
  <div class="footer">
    <div class="footer-left">
      <div class='footer-policy'>
        <p><a href="../page/privacy.html">隱私政策</a></p>
        <p><a href="../page/terms.html">服務條款</a></p>
      </div>
    </div>
    <div class='footer-media'>
      <a href="https://www.instagram.com/"><i class="fab fa-instagram-square"></i></a>
      <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
      <a href="https://twitter.com/?lang=zh-tw"><i class="fab fa-twitter-square"></i></a>
    </div>
    <div class="footer-right">
      <p>本網站為緯育TibaMe前端設計工程師班第68期第三組學員專題成果作品，本平台僅供學習、展示之用。參考資源:snaq.me。若有侵權疑慮，您可以私訊[TibaMe-前端設計工程師養成班]，後續會由專人協助處理
      </p>
    </div>
  </div>
  <!-- =======================footer結束======================= -->
  <script>
    function checkOut(){
      
      let orderlist = new Date();
      orderlist = orderlist.getTime().toString().slice(-6);
      // console.log(orderlist);
      let orderer_data = JSON.parse(localStorage.getItem('orderer_data'));
      // console.log(info);
      orderer_data['order_number']=parseInt(orderlist);
      localStorage.setItem('orderer_data', JSON.stringify(orderer_data));
      
      

      let payment = $('.OC_payMoney > div:last-child').text();
      let shipping_address = $("input[name='ordererAddress']").val();
      let receiver_name = $("input[name='ordererName']").val();
      let receiver_phone = $("input[name='ordererPhone']").val();
      let payment_status;
        if(payment == '信用卡付款'){
          payment_status = 1;
        }else{
          payment_status = 0;
        }
      let discount_id = localStorage.getItem('discount');
      let item_list=JSON.parse(localStorage.getItem('item_List'));
      let customized_list = JSON.parse(localStorage.getItem('customized_List'));
      let account = '';
      if(localStorage.account){
        account = localStorage.account;
      }else if(sessionStorage.account){
        account = sessionStorage.account;
      };

      // 測用form
      $('#MerchantTradeNo').attr('value', orderlist);
      document.getElementById('btn-default').click();
  
      $.ajax({
            method: 'POST',
            url: '../php/order.php',
            data:{
              orderlist: orderlist,
              account: account,
              payment: payment,
              shipping_id: 2,
              store: 'blank',
              shipping_address: shipping_address,
              receiver_name: receiver_name,
              receiver_phone: receiver_phone,
              payment_status: payment_status,
              shipping_status: 1,
              order_status: 0,
              order_date: new Date(),
              discount_id: discount_id,
              item_List:  item_list,
              customized_List : customized_list,
              shipping : JSON.parse(localStorage.getItem('shipping')),
              total : localStorage.getItem('total')
            },
            dataType:'text',
            success: function (data) {      
              console.log('success');
            },
            error: function(exception) {
                alert("數據載入失敗: " + exception.status);
            }
      });     
    }
  </script>
</body>

</html>