<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>心理測驗 - 小春堂</title>
    <link rel="icon" href="../images/index/logo_footer.png">
    <link rel="stylesheet" href="../css/psycho.css">
    <link rel="stylesheet" href="../css/cart.css" >
    <script src="https://kit.fontawesome.com/8c3a8ab95b.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../js/psycho.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../js/hamburger.js"></script>
    <script src="../js/navbar.js"></script>
</head>

<body>
    <div class="memberShow"></div>
    <!-- navbar -->
	<div id="cart_app">
		<div class="navbar">
			<div class="navbar-logo">
                <a href="../index.html"><img src="../images/index/logo.png" alt=""></a>
			</div>
			<div class="navbar-icon">
				<a href="#"><i class="fas fa-user"></i></a>
				<a href="#" @click="open()"><i class="fas fa-shopping-cart"></i></a>
				<a href="#"></a>
			</div>
			<!-- 漢堡 -->
			<div class="ham_container">
				<div class="ham_bar1 ham_bar"></div>
				<div class="ham_bar2 ham_bar"></div>
				<div class="ham_bar3 ham_bar"></div>
			</div>
			<div id="ham_myNav" class="ham_overlay">
				<div class="ham_overlay-content">
					<div class='ham_jelly'></div>
					<div class="ham_select">
						<a href="../index.html">首頁</a>
						<a href="./about.html">關於我們</a>
						<a href="./news.html">最新消息</a>
						<a href="./shopping_choose.html">商品專區</a>
						<a href="./customized.html">客製化禮盒</a>
						<a href="./FAQ.html">Q&A</a>
						<a>會員中心</a>
					</div>
				</div>
			</div>
		</div>
		<div class="cart_cartBoard">
			<div class="cart_cart">
				<div class="cart_cartTitle">
					<p>購物車</p>
					<div class="cart_close" @click="close()">
						<div class="cart_left"></div>
						<div class="cart_right"></div>
					</div>
				</div>
				<!-- ========== 商品細項 ========== -->
				<ul class="cart_itemList">
					<!-- 購物車空值顯示 -->
					<div class="cart_NoItem">
						<div>
							<img src="../images/cart/shoppingcart_empty.png">
						</div>
						<p>購物車還是空的哦！</p>
					</div>
					<!-- 一般商品 -->
					<li class="cart_item" v-for="(item,index) in itemList" :id="item.id">
						<div class="cart_itemCB" :class="{'cart_choose': item.status}" @click="choose(item)">
							<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false"
								data-prefix="fas" data-icon="check" class="svg-inline--fa fa-check fa-w-16" role="img"
								viewBox="0 0 512 512">
								<path fill="#ffffff"
									d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z" />
							</svg>
						</div>
						<div class="cart_itemImg">
							<img :src="item.img">
						</div>
						<div class="cart_itemText">
							<p class="cart_itemName">{{item.itemName}}</p>
							<br>
							<p class="cart_itemAmount">$<span class="cart_price">{{item.price}}</span>元 /
								<span>{{item.item_Quantity}}</span>入
							</p>
							<div class="cart_itemQuantity">
								<button class="cart_less mainbtn" @click="sub(item)">&#45;</button>
								<input class="cart_quantity" type="text" v-model="item.quantity">
								<button class="cart_add mainbtn" @click="add(item)">&#43;</button>
							</div>
						</div>
						<div class="cart_itemDelete" @click="delete_Item(index)">
							<div class="cart_leftD"></div>
							<div class="cart_rightD"></div>
						</div>
					</li>

					<!-- 客制禮盒 -->
					<li class="cart_customization" v-for="(item,index) in customization" :id="item.id">
						<!-- 商品 -->
						<div class="cart_customizationItem">
							<div class="cart_itemCB" :class="{'cart_choose': item.status}" @click="choose(item)">
								<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false"
									data-prefix="fas" data-icon="check" class="svg-inline--fa fa-check fa-w-16"
									role="img" viewBox="0 0 512 512">
									<path fill="#ffffff"
										d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z" />
								</svg>
							</div>

							<div class="cart_itemImg">
								<img :src="item.img">
							</div>

							<div class="cart_itemText">
								<p class="cart_itemName">{{item.itemName}}</p>
								<br>
								<p class="cart_itemAmount">$<span>{{item.price}}</span>元</p>
								<div class="cart_itemQuantity">
									<button class="cart_less mainbtn" @click="sub(item)">-</button>
									<input class="cart_quantity" type="text" v-model="item.quantity">
									<button class="cart_add mainbtn" @click="add(item)">+</button>
								</div>
							</div>

							<div class="cart_itemRight">
								<div class="cart_itemDelete" @click="delete_Customization(index)">
									<div class="cart_leftD"></div>
									<div class="cart_rightD"></div>
								</div>
								<div class="cart_detailBtn">查看禮盒明細</div>
							</div>
						</div>

						<!-- 展開禮盒明細 -->
						<div class="cart_detailBorder">
							<div class="cart_detail">
								<div>
									<div class="cart_detailItem" v-for="item in item.detail">
										- {{item}}
									</div>
								</div>
								<div>
									<div class="cart_detailQuantity" v-for="item in item.detail_Quantity">
										x {{item}}
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>

				<div id="cart_deleteMany" @click="delete_All()"
					:style="{'background-color': delete_bgc, cursor: delete_cursor}">刪除多個</div>

				<div class="cart_total">
					<p>小計</p>
					<p>$<span>{{total_Price}}</span></p>
				</div>
			</div>

			<div class="cart_checkoutBorder"><a href="../page/checkout.html" class="cart_checkout" @click='stopGo'>前往結帳</a></div>

		</div>
	</div>
    <!-- nav結束 -->
    <!-- psycotest -->
    <div class='psychotest'>
        <a href="../index.html"><img src="../images/psycho/psycho_backToIndex.png" alt=""></a>
        <p>返回首頁</p>
    </div>
    <!-- ==================測驗起始畫面=================== -->
    <section class="psycho_beginScreen">
        <article>
            <div class="psycho_beginpic">
                <img src="../images/psycho/psycho_start_bookitem.png">
            </div>
            <h3>你和菓子的距離</h3>
            <h4>一分鐘心理測驗，看看你是哪種菓子精靈 !</h4>
            <div class="psycho_startbtn"><a href="#" class='mainbtn' onclick="return beginQuestion();">開始測驗</a></div>
        </article>
    </section>
    <!-- ============================================ -->

    <!-- ==================心理測驗題目=================== -->
    <section class="psycho_questionScreen">
        <div class="psycho_question01Screen">
            <div class="psycho_titleRange">
                <h3 id="psycho_title">1 . 此時的你在家享受著美好的假日，你認為此時窗外的景色是?</h3>
            </div>
            <div class="psychoQuestion01Range">
                <div class="psychoQuestion01"></div>
            </div>
            <div class="psychoQuestionAnsRange">
                <a href="#" class="psychoQuestionAsn_a psychoQuestionAns" onclick="return chgQuestion(true,'a');">
                    <div><span id="content1">晴朗的豔陽早晨</span></div>
                </a>
                <a href="#" class="psychoQuestionAsn_b psychoQuestionAns" onclick="return chgQuestion(true,'b');">
                    <div><span id="content2">浪漫的魔幻黃昏</span></div>
                </a>
                <a href="#" class="psychoQuestionAsn_c psychoQuestionAns" onclick="return chgQuestion(true,'c');">
                    <div><span id="content3">多雨的涼爽夜晚</span></div>
                </a>

            </div>
            <div class="psycho_nextbtndisplay">
                <div class="psycho_nextbtn" onclick="return chgQuestion();"><a href="#" class='mainbtn'>下一題</a></div>
            </div>
            <div class="psychoSchedule01">
                <div class="psychoScheduleTop" tabindex="3"></div>
                <div></div>
            </div>
        </div>



    </section>
    <!-- ============================================ -->

    <!-- ==================計算結果中=================== -->
    <section class="psycho_loadingScreen">
        <article class="psycho_loadingSetIn">
            <div>
                <div class="psycho_loadingpic">
                    <img src="../images/psycho/loading_bookitem.png">
                </div>
                <h3>測驗結果計算中...</h3>
            </div>

        </article>
    </section>
    <!-- ============================================ -->

    <!-- ==================測驗結果=================== -->
    <section class="psycho_resultScreen">
        <div class="psycho_resultBg"></div>
        <div class="psycho_resultContent">
            <h3>測驗結果出爐 !</h3>
            <div class="psycho_elvesContent">
                <p>你是...</p>
                <span class="psycho_elves_name">火之精靈</span>
                <span>最喜歡尋找特殊口味的和菓子，對和菓子的愛比誰都熱情</span>
                <div class="psycho_cardRange">
                    <div>
                        <div class="psycho_cardBack"></div>
                        <div class="psycho_cardFront"></div>
                    </div>
                </div>
                <p>下面是我們推薦適合您的和菓子，<br>
                    趕快點擊商品上方的愛心把喜歡的和菓子加入收藏吧!</p>
            </div>
            <!-- ==================收藏管理=================== -->
            <div class='psycho_collectScreen'>
                <div class='psychoLikePack'>
                    <img class='psychoLikeImg' src="../images/psycho/product_small.png">
                    <img class='psychoLikeHeart' onclick="return psychoLikeHeart(this);"
                        src="../images/psycho/favorites_icon_n.png">
                </div>
                <div class='psychoLikePack'>
                    <img class='psychoLikeImg' src="../images/psycho/product_small.png">
                    <img class='psychoLikeHeart' onclick="return psychoLikeHeart(this);"
                        src="../images/psycho/favorites_icon_n.png">
                </div>
                <div class='psychoLikePack'>
                    <img class='psychoLikeImg' src="../images/psycho/product_small.png">
                    <img class='psychoLikeHeart' onclick="return psychoLikeHeart(this);"
                        src="../images/psycho/favorites_icon_n.png">
                </div>
                <div class='psychoLikePack'>
                    <img class='psychoLikeImg' src="../images/psycho/product_small.png">
                    <img class='psychoLikeHeart' onclick="return psychoLikeHeart(this);"
                        src="../images/psycho/favorites_icon_n.png">
                </div>
                <div class='psychoLikePack'>
                    <img class='psychoLikeImg' src="../images/psycho/product_small.png">
                    <img class='psychoLikeHeart' onclick="return psychoLikeHeart(this);"
                        src="../images/psycho/favorites_icon_n.png">
                </div>
                <div class='psychoLikePack'>
                    <img class='psychoLikeImg' src="../images/psycho/product_small.png">
                    <img class='psychoLikeHeart' onclick="return psychoLikeHeart(this);"
                        src="../images/psycho/favorites_icon_n.png">
                </div>
                <div class='psychoLikePack'>
                    <img class='psychoLikeImg' src="../images/psycho/product_small.png">
                    <img class='psychoLikeHeart' onclick="return psychoLikeHeart(this);"
                        src="../images/psycho/favorites_icon_n.png">
                </div>
                <div class='psychoLikePack'>
                    <img class='psychoLikeImg' src="../images/psycho/product_small.png">
                    <img class='psychoLikeHeart' onclick="return psychoLikeHeart(this);"
                        src="../images/psycho/favorites_icon_n.png">
                </div>
                <div class='psychoLikePack'>
                    <img class='psychoLikeImg' src="../images/psycho/product_small.png">
                    <img class='psychoLikeHeart' onclick="return psychoLikeHeart(this);"
                        src="../images/psycho/favorites_icon_n.png">
                </div>
                <div class='psychoLikePack'>
                    <img class='psychoLikeImg' src="../images/psycho/product_small.png">
                    <img class='psychoLikeHeart' onclick="return psychoLikeHeart(this);"
                        src="../images/psycho/favorites_icon_n.png">
                </div>
            </div>

            <!-- ============================================ -->
            <div class="psycho_againbtn"><a href="./psycho.html" class="mainbtn">再測一次 !</a></div>
        </div>


    </section>
    <!-- ============================================ -->



</body>

</html>