<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>服務條款 - 小春堂</title>
    <link rel="icon" href="../images/index/logo_footer.png">
    <link rel="stylesheet" href="../css/terms.css">
    <link rel="stylesheet" href="../css/cart.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/8c3a8ab95b.js" crossorigin="anonymous"></script>
    
    <script src="../js/vue.js"></script>
	<script src="../js/cart_vue.js"></script>
    <script src="../js/hamburger.js"></script>
    <script src="../js/navbar.js"></script>
</head>

<body>
    <div class="memberShow"></div>
    <!-- navbar -->
	<div id="cart_app">
		<div class="navbar">
			<div class="navbar-logo">
				<a href="../index.html"><img src="../images/index/logo.png" alt=""></a>
			</div>
			<div class="navbar-icon">
				<a href="#"><i class="fas fa-user"></i></a>
				<a href="#" @click="open()"><i class="fas fa-shopping-cart"></i></a>
				<a href="#"></a>
			</div>
			<!-- 漢堡 -->
			<div class="ham_container">
				<div class="ham_bar1 ham_bar"></div>
				<div class="ham_bar2 ham_bar"></div>
				<div class="ham_bar3 ham_bar"></div>
			</div>
			<div id="ham_myNav" class="ham_overlay">
				<div class="ham_overlay-content">
					<div class='ham_jelly'></div>
					<div class="ham_select">
						<a href="../index.html">首頁</a>
						<a href="./about.html">關於我們</a>
						<a href="./news.html">最新消息</a>
						<a href="./shopping_choose.html">商品專區</a>
						<a href="./customized.html">客製化禮盒</a>
						<a href="./FAQ.html">Q&A</a>
						<a>會員中心</a>
                        <a href="#" class='nav_logOut'>會員登出 &nbsp<i class="fas fa-sign-out-alt"></i></a>
					</div>
				</div>
			</div>
		</div>

		<!-- 購物車 -->
        <div>
        <div class="cart_mask"></div>
        <div class="cart_cartBoard">
            <div class="cart_cart">
            <div class="cart_cartTitle">
                <p>購物車</p>
                <div class="cart_close" @click="close()">
                <div class="cart_left"></div>
                <div class="cart_right"></div>
                </div>
            </div>
            <!-- ========== 商品細項 ========== -->
            <ul class="cart_itemList">
                <!-- 購物車空值顯示 -->
                <div class="cart_NoItem">
                <div>
                    <img src="../images/cart/shoppingcart_empty.png">
                </div>
                <p>購物車還是空的哦！</p>
                </div>
                <!-- 一般商品 -->
                <li class="cart_item" v-for="(item,index) in itemList" :id="item.id">
                <div class="cart_itemCB" :class="{'cart_choose': item.status}" @click="choose(item)">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas"
                    data-icon="check" class="svg-inline--fa fa-check fa-w-16" role="img" viewBox="0 0 512 512">
                    <path fill="#ffffff"
                        d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z" />
                    </svg>
                </div>
                <div class="cart_itemImg">
                    <img :src="item.img">
                </div>
                <div class="cart_itemText">
                    <p class="cart_itemName">{{item.itemName}}</p>
                    <br>
                    <p class="cart_itemAmount">$<span class="cart_price">{{item.price}}</span>元
                    </p>
                    <div class="cart_itemQuantity">
                    <button class="cart_less mainbtn" @click="sub(item)">&#45;</button>
                    <input class="cart_quantity" type="text" v-model="item.quantity">
                    <button class="cart_add mainbtn" @click="add(item)">&#43;</button>
                    </div>
                </div>
                <div class="cart_itemDelete" @click="delete_Item(index)">
                    <div class="cart_leftD"></div>
                    <div class="cart_rightD"></div>
                </div>
                </li>
    
                <!-- 客制禮盒 -->
                <li class="cart_customization" v-for="(item,index) in customization" :id="item.id">
                <!-- 商品 -->
                <div class="cart_customizationItem">
                    <div class="cart_itemCB" :class="{'cart_choose': item.status}" @click="choose(item)">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas"
                        data-icon="check" class="svg-inline--fa fa-check fa-w-16" role="img" viewBox="0 0 512 512">
                        <path fill="#ffffff"
                        d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z" />
                    </svg>
                    </div>
    
                    <div class="cart_itemImg">
                    <img :src="item.img">
                    </div>
    
                    <div class="cart_itemText">
                    <p class="cart_itemName">{{item.itemName}}</p>
                    <br>
                    <p class="cart_itemAmount">$<span>{{item.price}}</span>元</p>
                    <div class="cart_itemQuantity">
                        <button class="cart_less mainbtn" @click="sub(item)">-</button>
                        <input class="cart_quantity" type="text" v-model="item.quantity">
                        <button class="cart_add mainbtn" @click="add(item)">+</button>
                    </div>
                    </div>
    
                    <div class="cart_itemRight">
                    <div class="cart_itemDelete" @click="delete_Customization(index)">
                        <div class="cart_leftD"></div>
                        <div class="cart_rightD"></div>
                    </div>
                    <div class="cart_detailBtn">查看禮盒明細</div>
                    </div>
                </div>
    
                <!-- 展開禮盒明細 -->
                <div class="cart_detailBorder">
                    <div class="cart_detail">
                    <div>
                        <div class="cart_detailItem" v-for="item in item.detail">
                        - {{item}}
                        </div>
                    </div>
                    <div>
                        <div class="cart_detailQuantity" v-for="item in item.detail_Quantity">
                        x {{item}}
                        </div>
                    </div>
                    </div>
                </div>
                </li>
            </ul>
    
            <div id="cart_deleteMany" @click="delete_All()"
                :style="{'background-color': delete_bgc, cursor: delete_cursor}">刪除多個</div>
    
            <div class="cart_total">
                <p>小計</p>
                <p>$<span>{{total_Price}}</span></p>
            </div>
            </div>
    
            <div class="cart_checkoutBorder"><a href="../page/checkout.html" class="cart_checkout" @click="stopGo">前往結帳</a></div>
    
        </div>
        </div>
	</div>
    <!-- nav結束 -->
    <!-- media -->
    <div class='mediacolumn'>
        <a href="https://www.instagram.com/"><i class="fab fa-instagram-square"></i></a>
        <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
        <a href="https://twitter.com/?lang=zh-tw"><i class="fab fa-twitter-square"></i></a>
    </div>
    <div class="terms_wrap">
        <div class="terms_title">
            <h1>小春堂服務條款</h1>
        </div>
        <div class="terms_content">
            <section class='terms_section'>
                <h2>一、認知與接受條款</h2>
                <ul>
                    <li>小春堂係依據本服務條款提供小春堂服務
                        (以下簡稱「本服務」)。當您完成小春堂之會員註冊手續、或開始使用本服務時，即表示已閱讀、瞭解並同意接受本服務條款之所有內容，並完全接受本服務現有與未來衍生的服務項目及內容。小春堂有權於任何時間修改或變更本服務條款之內容，修改後的服務條款內容將公佈網站上，小春堂將不會個別通知，建議您隨時注意該等修改或變更。您於任何修改或變更後繼續使用本服務時，視為您已閱讀、瞭解並同意接受該等修改或變更。若不同意上述的服務條款修訂或更新方式，或不接受本服務條款的其他任一約定，您應立即停止使用本服務。
                        若您為未滿二十歲，除應符合上述規定外，並應於您的家長（或監護人）閱讀、瞭解並同意本約定書之所有內容及其後修改變更後，方得使用或繼續使用小春堂網站。當您使用或繼續使用小春堂網站時，即表示您的家長（或監護人）已閱讀、瞭解並同意接受本約定書之所有內容及其後修改變更。
                        為了確保您的個人資料、隱私及消費者權益之保護，於交易過程中將使用您之個人資料，謹依個人資料保護法第8條規定告知以下事項：
                        蒐集之目的：蒐集之目的在於進行行銷業務、消費者、客戶管理與服務、網路購物及其他電子商務服務及與調查、統計與研究分析(法定特定目的項目編號為Ｏ四Ｏ、Ｏ九Ｏ、一四八、一五七)。小春堂將藉由加入會員之過程或進行交易之過程來蒐集個人資料。
                        蒐集之個人資料類別：小春堂於網站內蒐集的個人資料包括：
                        C001辨識個人者： 如會員之姓名、地址、電話、電子郵件等資訊。
                        C002辨識財務者： 如信用卡或金融機構帳戶資訊。
                        C011個人描述：例如：性別、出生年月日等。
                        利用期間、地區、對象及方式：
                        期間：您要求停止使用或小春堂停止提供服務之日為止。
                        地區：您的個人資料將使用於台灣地區。
                        利用對象及方式：您的個人資料蒐集除用於小春堂之會員管理、客戶管理之檢索查詢等功能外，亦將利用於辨識身份、金流服務、物流服務、行銷廣宣等。例示如下：
                        您以會員身份使用小春堂提供之各項服務時，於頁面中顯示您的資訊。
                        為遂行交易行為：您對購買商品時，關於商品配送、勞務提供、價金給付、回覆客戶之詢問、小春堂對會員之詢問、相關售後服務及其他遂行交易所必要之業務。
                        宣傳廣告或行銷等：提供會員各種電子雜誌等資訊、透過電子郵件、郵件、電話等提供與服務有關之資訊。將會員所瀏覽之內容或廣告，依客戶之個人屬性或購買紀錄、小春堂網站之瀏覽紀錄等項目，進行個人化作業、會員使用服務之分析、新服務之開發或既有服務之改善等。針對民調、活動、留言版等之意見，或其他服務關連事項，與會員進行聯繫。
                        回覆客戶之詢問：針對會員透過電子郵件、郵件、、傳真、電話或其他任何直接間接連絡方式向小春堂所提出之詢問進行回覆。
                        其他業務附隨之事項：附隨於上述a至d.之利用目的而為小春堂提供服務所必要之使用。
                        對於各別服務提供者之資訊提供：您對服務提供者之商品購買或申請其他交易時，小春堂於該交易所必要之範圍內，得將您的個人資料檔案提供予服務提供者，並由服務提供者負責管理該個人資料檔案。小春堂將以規約課予服務提供者依保障會員隱私權之原則處理個人資料之義務，但無法保證服務提供者會必然遵守。詳細內容，請向各別服務提供者洽詢。
                        其他：提供個別服務時，亦可能於上述規定之目的以外，利用個人資料。此時將在該個別服務之網頁載明其要旨。
                        會員就個人資料之權利：小春堂所蒐集個人資料之當事人，依個人資料保護法得對小春堂行使以下權利：
                        查詢或請求閱覽。
                        請求製給複製本。
                        請求補充或更正。
                        請求停止蒐集、處理或利用。
                        請求刪除。
                        您如欲行使上述權利，可與小春堂客服連絡進行申請。請注意！如拒絕提供加入會員所需必要之資料，將可能導致無法享受完整服務或完全無法使用該項服務。</li>
                </ul>
            </section>
            <section class='terms_section'>
                <h2>二、會員的註冊義務</h2>
                <p>為了能使用本服務，您同意以下事項：</p>
                <ul>
                    <li>依本服務註冊頁面之提示提供您本人正確、最新及完整的資料。維持並更新您個人資料，確保其為正確、最新及完整。若您提供任何錯誤或不實的資料，小春堂有權暫停或終止您的帳號，並拒絕您使用本服務之全部或一部。
                    </li>
                </ul>
            </section>
            <section class='terms_section'>
                <h2>三、小春堂隱私權政策</h2>
                <ul>
                    <li>關於您的會員註冊以及其他特定資料依本公司「隱私權政策」受到保護與規範。</li>
                </ul>
            </section>
            <section class='terms_section'>
                <h2>四、會員帳號、密碼及安全</h2>
                <ul>
                    <li>完成本服務的登記程序之後，您將取得一個特定之密碼及會員帳號，維持密碼及帳號之機密安全，是會員的責任。任何依照規定方法輸入會員帳號及密碼與登入資料一致時，無論是否由本人親自輸入，均將推定為會員本人所使用，利用該密碼及帳號所進行的一切行動，會員本人應負完全責任。
                        會員同意以下事項：
                        會員的密碼或帳號遭到盜用或有其他任何安全問題發生時，會員將立即通知小春堂
                        每次連線完畢，均結束會員的帳號使用。
                        會員的帳號、密碼及會員權益均僅供您個人使用及享有，不得轉借、轉讓他人或與他人合用。
                        帳號及密碼遭盜用、不當使用或其小春堂來無法辯識是否為本人親自使用之情況時，對此所致之損害，除證明係因可歸責於小春堂之事由所致，小春堂將不負任何責任。
                        小春堂若知悉會員之帳號密碼確係遭他人冒用時，將立即暫停該帳號之使用(含該帳號所生交易之處理)。</li>
                </ul>
            </section>
            <section class='terms_section'>
                <h2>五、使用者的守法義務及承諾</h2>
                <ul>
                    <li>您承諾絕不為任何非法目的或以任何非法方式使用本服務，並承諾遵守中華民國相關法規及一切使用網際網 路之國際慣例。
                        您若係中華民國以外之使用者，並同意遵守所屬國家或地域之法令。
                        您同意並保證不得利用本服務從事侵害他人權益或違法之行為，包括但不限於：
                        公布或傳送任何誹謗、侮辱、具威脅性、攻擊性、不雅、猥褻、不實、違反公共秩序或善良風俗或其他不法之文字、圖片或任何形式的檔案
                        侵害或毀損小春堂或他人名譽、隱私權、營業秘密、商標權、著作權、專利權、其他智慧財產權及其他權利
                        違反依法律或契約所應負之保密義務
                        冒用他人名義使用本服務
                        傳輸或散佈電腦病毒
                        從事未經小春堂事前授權的商業行為
                        刊載、傳輸、發送垃圾郵件、連鎖信、違法或未經小春堂許可之多層次傳銷訊息及廣告等；或儲存任何侵害他人智慧財產權或違反法令之資料
                        對本服務其他用戶或第三人產生困擾、不悅或違反一般網路禮節致生反感之行為
                        其他不符本服務所提供的使用目的之行為或小春堂有正當理由認為不適當之行為</li>
                </ul>
            </section>
            <section class='terms_section'>
                <h2>六、服務內容之變更與電子報及EDM發送</h2>
                <ul>
                    <li>您同意小春堂所提供本服務之範圍，小春堂均得視業務需要及實際情形，增減、變更或終止相關服務的項目或內容，且無需個別通知會員。
                        您同意小春堂得依實際執行情形，增加、修改或終止相關活動，並選擇最適方式告知會員。
                        您同意小春堂得不定期發送電子報或商品訊息(EDM)至您所登錄的電子信箱帳號。當您收到訊息後，表示拒絕接受行銷時，小春堂將停止繼續發送行銷訊息。</li>
                </ul>
            </section>
            <section class='terms_section'>
                <h2>七、服務之停止、中斷</h2>
                <ul>
                    <li>發生下列情形之一時，小春堂有權可以停止、中斷提供服務，且不負賠償責任：
                        小春堂網站電子通信設備進行必要之保養及施工時；
                        發生突發性之電子通信設備故障時；
                        小春堂網站申請之電子通信服務被停止，無法提供服務時；
                        由於天災等不可抗力之因素致使小春堂網站無法提供服務時。</li>
                </ul>
            </section>
            <section class='terms_section'>
                <h2>八、責任之限制與排除</h2>
                <ul>
                    <li>本服務所提供之各項功能，均依該功能當時之現況提供使用，小春堂對於其效能、速度、完整性、可靠性、安全性、正確性等，皆不負擔任何明示或默示之擔保責任。
                        小春堂並不保證本服務之網頁、伺服器、網域等所傳送的電子郵件或其內容不會含有電腦病毒等有害物；亦不保證郵件、檔案或資料之傳輸儲存均正確無誤不會斷線和出錯等，因各該郵件、檔案或資料傳送或儲存失敗、遺失或錯誤等所致之損害，小春堂不負賠償責任。
                    </li>
                </ul>
            </section>
            <section class='terms_section'>
                <h2>九、智慧財產權的保護</h2>
                <ul>
                    <li>小春堂所使用之軟體或程式、網站上所有內容，包括但不限於著作、圖片、檔案、資訊、資料、網站架構、網站畫面的安排、網頁設計，均由小春堂或其他權利人依法擁有其智慧財產權，包括但不限於商標權、專利權、著作權、營業秘密與專有技術等。任何人不得逕自使用、修改、重製、公開播送、改作、散布、發行、公開發表、進行還原工程、解編或反向組譯。若您欲引用或轉載前述軟體、程式或網站內容，必須依法取得小春堂或其他權利人的事前書面同意。尊重智慧財產權是會員應盡的義務，如有違反，會員應對小春堂負損害賠償責任（包括但不限於訴訟費用及律師費用等）。
                    </li>
                </ul>
            </section>
            <section class='terms_section'>
                <h2>十、會員對小春堂之授權</h2>
                <ul>
                    <li>對於會員所登錄或留存之個人資料，您同意小春堂網站得於合理之範圍內蒐集、處理、保存、傳遞及使用該等資料，以提供使用者其他資訊或服務、或作成會員統計資料、或進行關於網路行為之調查或研究，或為任何之合法使用。
                    </li>
                    <li>若您無合法權利得授權他人使用、修改、重製、公開播送、改作、散布、發行、公開發表某資料，並將前述權利轉授權第三人，請勿擅自將該資料上載、傳送、輸入或提供至小春堂。任何資料一經您上載、傳送、輸入或提供至小春堂時，視為您已允許小春堂無條件使用、修改、重製、公開播送、改作、散布、發行、公開發表該等資料，並得將前述權利轉授權他人，您對此絕無異議。您並應保證小春堂使用、修改、重製、公開播送、改作、散布、發行、公開發表、轉授權該等資料，不致侵害任何第三人之智慧財產權，否則應對小春堂負損害賠償責任（包括但不限於訴訟費用及律師費用等）。
                    </li>
                </ul>
            </section>
            <section class='terms_section'>
                <h2>十一、特別授權事項</h2>
                <ul>
                    <li>因使用本服務所提供之網路交易或活動，可能須透過宅配或貨運業者始能完成貨品(或贈品等)之配送或取回，因此，您同意並授權小春堂得視該次網路交易或活動之需求及目的，將由您所提供且為配送所必要之個人資料(如收件人姓名、配送地址、連絡電話等)，提供予宅配貨運業者及相關配合之廠商，以利完成該次貨品(或贈品等)之配送、取回。
                    </li>
                </ul>
            </section>
            <section class='terms_section'>
                <h2>十二、拒絕或終止會員的使用</h2>
                <ul>
                    <li>您同意小春堂得基於維護交易安全之考量，因任何理由，包含但不限於過久未使用或使用頻率過低，或違反本服務條款的明文規定及精神，終止您的密碼、帳號（或其任何部分）或本服務之使用，並將本服務內任何「會員內容」加以移除並刪除，亦得在已電話或電子郵件等方式通知之情形下，隨時終止本服務或任何部分。此外，您同意若本服務之使用被終止，小春堂對您或任何第三人均不承擔任何責任。
                    </li>
                </ul>
            </section>
        </div>
        <div class='terms_waterMark'>
            <img src="../images/index/news_watercolor_a.png">
            <img src="../images/index/news_watercolor_b.png">
            <img src="../images/index/news_watercolor_c.png">
            <img src="../images/index/news_watercolor_a.png">
            <img src="../images/index/news_watercolor_b.png">
        </div>


        <!-- =======================footer======================= -->
        <div class="footer">
            <div class="footer-left">
                <div class='footer-policy'>
                    <p><a href="../page/privacy.html">隱私政策</a></p>
                    <p><a href="../page/terms.html">服務條款</a></p>
                </div>
            </div>
            <div class='footer-media'>
                <a href="https://www.instagram.com/"><i class="fab fa-instagram-square"></i></a>
                <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
                <a href="https://twitter.com/?lang=zh-tw"><i class="fab fa-twitter-square"></i></a>
            </div>
            <div class="footer-right">
                <p>本網站為緯育TibaMe前端設計工程師班第68期第三組學員專題成果作品，本平台僅供學習、展示之用。參考資源:snaq.me。若有侵權疑慮，您可以私訊[TibaMe-前端設計工程師養成班]，後續會由專人協助處理
                </p>
            </div>
        </div>
        <!-- =======================footer結束======================= -->
</body>

</html>